Repository GoogleCloudPlatform/cloud-foundation-fabric, pull requests merged in 2022-09, with the labels that each got.

#793 FAST: fix typo in CI/CD stage outputs.
  fast/stages/00-cicd/outputs.tf
Labels: on: FAST

#796 Remove duplicate path component from doc_examples test names.
  tests/doc_examples/conftest.py
Labels: on:tools

#799 FAST: add support for project parents to bootstrap stage
  fast/stages/00-bootstrap/README.md
  fast/stages/00-bootstrap/automation.tf
  fast/stages/00-bootstrap/billing.tf
  fast/stages/00-bootstrap/log-export.tf
  fast/stages/00-bootstrap/organization.tf
  fast/stages/00-bootstrap/variables.tf
Labels: on: FAST

#800 FAST: add support for storage locations in stages 0 and 1
  fast/stages/00-bootstrap/README.md
  fast/stages/00-bootstrap/automation.tf
  fast/stages/00-bootstrap/billing.tf
  fast/stages/00-bootstrap/log-export.tf
  fast/stages/00-bootstrap/main.tf
  fast/stages/00-bootstrap/outputs.tf
  fast/stages/00-bootstrap/variables.tf
  fast/stages/01-resman/README.md
  fast/stages/01-resman/branch-data-platform.tf
  fast/stages/01-resman/branch-networking.tf
  fast/stages/01-resman/branch-project-factory.tf
  fast/stages/01-resman/branch-sandbox.tf
  fast/stages/01-resman/branch-security.tf
  fast/stages/01-resman/branch-teams.tf
  fast/stages/01-resman/main.tf
  fast/stages/01-resman/variables.tf
Labels: on: FAST

#700 FAST: GKE multitenant infrastructure
  examples/cloud-operations/binauthz/main.tf
  examples/gke-serverless/README.md
  examples/gke-serverless/multitenant-fleet/README.md
  examples/gke-serverless/multitenant-fleet/diagram.png
  examples/gke-serverless/multitenant-fleet/gke-clusters.tf
  examples/gke-serverless/multitenant-fleet/gke-hub.tf
  examples/gke-serverless/multitenant-fleet/gke-nodepools.tf
  examples/gke-serverless/multitenant-fleet/main.tf
  examples/gke-serverless/multitenant-fleet/outputs.tf
  examples/gke-serverless/multitenant-fleet/variables.tf
  fast/stages/00-bootstrap/README.md
  fast/stages/00-bootstrap/automation.tf
  fast/stages/00-bootstrap/organization.tf
  fast/stages/00-bootstrap/variables.tf
  fast/stages/01-resman/README.md
  fast/stages/01-resman/billing.tf
  fast/stages/01-resman/branch-data-platform.tf
  fast/stages/01-resman/branch-gke.tf
  fast/stages/01-resman/branch-networking.tf
  fast/stages/01-resman/main.tf
  fast/stages/01-resman/organization.tf
  fast/stages/01-resman/outputs.tf
  fast/stages/01-resman/variables.tf
  fast/stages/02-networking-nva/README.md
  fast/stages/02-networking-nva/main.tf
  fast/stages/02-networking-nva/spoke-dev.tf
  fast/stages/02-networking-nva/spoke-prod.tf
  fast/stages/02-networking-nva/variables.tf
  fast/stages/02-networking-peering/README.md
  fast/stages/02-networking-peering/data/subnets/dev/dev-gke-nodes-ew1.yaml
  fast/stages/02-networking-peering/main.tf
  fast/stages/02-networking-peering/spoke-dev.tf
  fast/stages/02-networking-peering/spoke-prod.tf
  fast/stages/02-networking-peering/variables.tf
  fast/stages/02-networking-vpn/README.md
  fast/stages/02-networking-vpn/data/subnets/dev/dev-gke-nodes-ew1.yaml
  fast/stages/02-networking-vpn/main.tf
  fast/stages/02-networking-vpn/spoke-dev.tf
  fast/stages/02-networking-vpn/spoke-prod.tf
  fast/stages/02-networking-vpn/variables.tf
  fast/stages/03-data-platform/dev/README.md
  fast/stages/03-data-platform/dev/main.tf
  fast/stages/03-gke-multitenant/README.md
  fast/stages/03-gke-multitenant/dev/README.md
  fast/stages/03-gke-multitenant/dev/diagram.png
  fast/stages/03-gke-multitenant/dev/main.tf
  fast/stages/03-gke-multitenant/dev/outputs.tf
  fast/stages/03-gke-multitenant/dev/variables.tf
  fast/stages/03-project-factory/dev/README.md
  modules/gke-cluster/README.md
  modules/gke-cluster/main.tf
  modules/gke-cluster/variables.tf
  modules/gke-hub/README.md
  modules/gke-nodepool/main.tf
  modules/project/service-accounts.tf
  tests/doc_examples/variables.tf
  tests/fast/stages/s02_networking_nva/fixture/main.tf
  tests/fast/stages/s02_networking_peering/fixture/main.tf
  tests/fast/stages/s02_networking_peering/test_plan.py
  tests/fast/stages/s02_networking_vpn/fixture/main.tf
Labels: on: FAST, size:xl

#804 GKE CI/CD
  fast/stages/01-resman/README.md
  fast/stages/01-resman/branch-data-platform.tf
  fast/stages/01-resman/branch-gke.tf
  fast/stages/01-resman/branch-project-factory.tf
  fast/stages/01-resman/branch-teams.tf
  fast/stages/01-resman/cicd-gke.tf
  fast/stages/01-resman/main.tf
  fast/stages/01-resman/outputs.tf
  fast/stages/01-resman/variables.tf
Labels: on: FAST

#802 Fix Data Platform example
  examples/data-solutions/data-platform-foundations/README.md
  examples/data-solutions/data-platform-foundations/schema.json
  examples/data-solutions/data-platform-foundations/state.json
  examples/data-solutions/data-platform-foundations/variables.tf
Labels: on:examples

#805 Change `modules/project` service_config default
  examples/cloud-operations/asset-inventory-feed-remediation/main.tf
  examples/cloud-operations/dns-fine-grained-iam/main.tf
  examples/cloud-operations/dns-shared-vpc/main.tf
  examples/cloud-operations/glb_and_armor/main.tf
  examples/cloud-operations/packer-image-builder/main.tf
  examples/cloud-operations/quota-monitoring/main.tf
  examples/data-solutions/cloudsql-multiregion/main.tf
  examples/data-solutions/data-playground/main.tf
  examples/data-solutions/gcs-to-bq-with-least-privileges/main.tf
  examples/data-solutions/sqlserver-alwayson/main.tf
  examples/gke-serverless/multitenant-fleet/main.tf
  examples/networking/hub-and-spoke-peering/main.tf
  examples/networking/hub-and-spoke-vpn/README.md
  examples/networking/hub-and-spoke-vpn/main.tf
  examples/networking/ilb-next-hop/main.tf
  examples/networking/private-cloud-function-from-onprem/main.tf
  fast/stages/02-networking-nva/landing.tf
  fast/stages/02-networking-nva/spoke-dev.tf
  fast/stages/02-networking-nva/spoke-prod.tf
  fast/stages/02-networking-peering/landing.tf
  fast/stages/02-networking-peering/spoke-dev.tf
  fast/stages/02-networking-peering/spoke-prod.tf
  fast/stages/02-networking-vpn/landing.tf
  fast/stages/02-networking-vpn/spoke-dev.tf
  fast/stages/02-networking-vpn/spoke-prod.tf
  modules/project/README.md
  modules/project/outputs.tf
  modules/project/variables.tf
Labels: on:modules

#807 FAST: refactor Gitlab template
  fast/assets/templates/workflow-gitlab.yaml
Labels: on: FAST

#834 Add support for service_label property in internal load balancer
  modules/net-ilb-l7/README.md
  modules/net-ilb-l7/forwarding-rule.tf
  modules/net-ilb-l7/variables.tf
  tests/modules/net_ilb_l7/fixture/variables.tf
Labels: on:modules

#835 Fix workflow-gitlab.yaml template rendering
  fast/assets/templates/workflow-gitlab.yaml
Labels: on:FAST

#824 Add simple composer 2 blueprint
  blueprints/README.md
  blueprints/data-solutions/README.md
  blueprints/data-solutions/composer-2/README.md
  blueprints/data-solutions/composer-2/backend.tf.sample
  blueprints/data-solutions/composer-2/composer.tf
  blueprints/data-solutions/composer-2/diagram.png
  blueprints/data-solutions/composer-2/main.tf
  blueprints/data-solutions/composer-2/outputs.tf
  blueprints/data-solutions/composer-2/variables.tf
  tests/blueprints/data_solutions/composer_2/__init__.py
  tests/blueprints/data_solutions/composer_2/fixture/main.tf
  tests/blueprints/data_solutions/composer_2/test_plan.py
Labels: on:modules

#840 Refactor net-address module for 1.3
  modules/net-address/README.md
  modules/net-address/main.tf
  modules/net-address/variables.tf
  tests/modules/net_address/fixture/main.tf
  tests/modules/net_address/fixture/variables.tf
  tests/modules/net_address/test_plan.py
Labels: on:modules

#841 FAST: revert 00-cicd provider changes
  fast/stages/00-cicd/versions.tf
Labels: on:FAST

#842 Comment redundant role in bootstrap stage, align IAM.md files, improve IAM tool
  fast/stages/00-bootstrap/IAM.md
  fast/stages/00-bootstrap/organization.tf
  fast/stages/01-resman/IAM.md
  tools/state_iam.py
Labels: on:FAST, on:tools

#845 added root password support for MS SQL Server
  modules/cloudsql-instance/README.md
  modules/cloudsql-instance/main.tf
  modules/cloudsql-instance/variables.tf
Labels: on:modules

#844 Management of GCP project default service accounts
  modules/project/README.md
  modules/project/service-accounts.tf
  modules/project/variables.tf
Labels: on:modules

#848 updated quota monitoring CF doc
  blueprints/cloud-operations/quota-monitoring/README.md
  blueprints/cloud-operations/quota-monitoring/cf/main.py
  blueprints/cloud-operations/quota-monitoring/explorer.png
  blueprints/cloud-operations/quota-monitoring/main.tf
Labels: on:blueprints

#846 COS based simple networking appliance
  modules/cloud-config-container/simple-nva/README.md
  modules/cloud-config-container/simple-nva/cloud-config.yaml
  modules/cloud-config-container/simple-nva/files/ipprefix_by_netmask.sh
  modules/cloud-config-container/simple-nva/files/policy_based_routing.sh
  modules/cloud-config-container/simple-nva/instance.tf
  modules/cloud-config-container/simple-nva/main.tf
  modules/cloud-config-container/simple-nva/outputs-instance.tf
  modules/cloud-config-container/simple-nva/outputs.tf
  modules/cloud-config-container/simple-nva/variables-instance.tf
  modules/cloud-config-container/simple-nva/variables.tf
  modules/cloud-config-container/simple-nva/versions.tf
Labels: on:modules
