Repository GoogleCloudPlatform/cloud-foundation-fabric, pull requests merged in 2022-10, with the labels that each got.

#853 Fixes NVA issue when health checks are not enabled
  modules/cloud-config-container/simple-nva/cloud-config.yaml
Labels: on:modules

#858 Default gcp-support to gcp-devops
  fast/stages/00-bootstrap/README.md
  fast/stages/00-bootstrap/variables.tf
Labels: on:FAST

#861 Leverage new shared VPC project config defaults across the repo
  CONTRIBUTING.md
  blueprints/cloud-operations/dns-shared-vpc/examples/shared-vpc-example/projects.tf
  blueprints/cloud-operations/network-dashboard/tests/test.tf
  blueprints/data-solutions/cloudsql-multiregion/main.tf
  blueprints/data-solutions/composer-2/main.tf
  blueprints/data-solutions/data-platform-foundations/02-load.tf
  blueprints/data-solutions/data-platform-foundations/03-orchestration.tf
  blueprints/data-solutions/data-platform-foundations/04-transformation.tf
  blueprints/data-solutions/gcs-to-bq-with-least-privileges/main.tf
  blueprints/data-solutions/sqlserver-alwayson/main.tf
  blueprints/gke/multi-cluster-mesh-gke-fleet-api/main.tf
  blueprints/networking/decentralized-firewall/main.tf
  blueprints/networking/filtering-proxy/main.tf
  blueprints/networking/shared-vpc-gke/main.tf
  fast/stages/02-networking-nva/landing.tf
  fast/stages/02-networking-nva/spoke-dev.tf
  fast/stages/02-networking-nva/spoke-prod.tf
  fast/stages/02-networking-peering/landing.tf
  fast/stages/02-networking-peering/spoke-dev.tf
  fast/stages/02-networking-peering/spoke-prod.tf
  fast/stages/02-networking-vpn/landing.tf
  fast/stages/02-networking-vpn/spoke-dev.tf
  fast/stages/02-networking-vpn/spoke-prod.tf
  modules/project/README.md
Labels: on:FAST, on:modules, on:blueprints

#860 Refactor compute-vm for Terraform 1.3
  .github/workflows/tests.yml
  blueprints/cloud-operations/adfs/main.tf
  blueprints/cloud-operations/asset-inventory-feed-remediation/main.tf
  blueprints/cloud-operations/glb_and_armor/main.tf
  blueprints/networking/filtering-proxy/main.tf
  blueprints/networking/ilb-next-hop/vms.tf
  blueprints/networking/nginx-reverse-proxy-cluster/main.tf
  blueprints/networking/onprem-google-access-dns/main.tf
  blueprints/networking/private-cloud-function-from-onprem/main.tf
  fast/stages/02-networking-nva/nva.tf
  fast/stages/02-networking-nva/test-resources.tf
  fast/stages/02-networking-peering/test-resources.tf
  fast/stages/02-networking-vpn/test-resources.tf
  modules/compute-vm/README.md
  modules/compute-vm/main.tf
  modules/compute-vm/variables.tf
  tests/modules/compute_vm/fixture/variables.tf
Labels: incompatible change, on:modules

#865 Enable FAST 00-cicd provider test
  .github/workflows/tests.yml
  tests/conftest.py
  tests/fast/stages/s00_cicd/test_providers.py
Labels: on:FAST, on:tools

#867 FAST: Replace NVAs in 02-networking-nva with COS-based VMs
  fast/stages/02-networking-nva/README.md
  fast/stages/02-networking-nva/nva.tf
  fast/stages/02-networking-nva/spoke-dev.tf
  fast/stages/02-networking-nva/spoke-prod.tf
Labels: on:FAST

#868 Refactor GKE module for Terraform 1.3
  blueprints/gke/binauthz/main.tf
  blueprints/gke/multi-cluster-mesh-gke-fleet-api/main.tf
  blueprints/gke/multitenant-fleet/gke-clusters.tf
  blueprints/networking/hub-and-spoke-peering/main.tf
  blueprints/networking/shared-vpc-gke/main.tf
  modules/gke-cluster/README.md
  modules/gke-cluster/main.tf
  modules/gke-cluster/outputs.tf
  modules/gke-cluster/variables.tf
  modules/gke-hub/README.md
  tests/blueprints/gke/shared_vpc_gke/__init__.py
  tests/blueprints/gke/shared_vpc_gke/fixture/main.tf
  tests/blueprints/gke/shared_vpc_gke/fixture/variables.tf
  tests/blueprints/gke/shared_vpc_gke/test_plan.py
  tests/modules/gke_cluster/fixture/main.tf
  tests/modules/gke_cluster/fixture/variables.tf
  tests/modules/gke_cluster/test_plan.py
Labels: on:FAST, incompatible change, on:modules, on:blueprints

#856 Maunope/network added firewall metrics
  blueprints/cloud-operations/network-dashboard/README.md
  blueprints/cloud-operations/network-dashboard/cloud-function/main.py
  blueprints/cloud-operations/network-dashboard/cloud-function/metrics.yaml
  blueprints/cloud-operations/network-dashboard/cloud-function/metrics/limits.py
  blueprints/cloud-operations/network-dashboard/cloud-function/metrics/metrics.py
  blueprints/cloud-operations/network-dashboard/cloud-function/metrics/vpc_firewalls.py
  blueprints/cloud-operations/network-dashboard/dashboards/quotas-utilization.json
Labels: on:blueprints

#873 Fix docker tag command and link to Cloud Shell in WP blueprint
  blueprints/third-party-solutions/wordpress/cloudrun/README.md
Labels: on:blueprints

#876 Make changelog tool slower to work around inconsistencies in API results
  CHANGELOG.md
  tools/changelog.py
Labels: on:tools

#872 added support 2nd generation cloud function
  blueprints/cloud-operations/network-dashboard/cloud-function/main.py
  blueprints/cloud-operations/network-dashboard/cloud-function/requirements.txt
  blueprints/cloud-operations/network-dashboard/main.tf
  blueprints/cloud-operations/network-dashboard/variables.tf
  modules/cloud-function/README.md
  modules/cloud-function/main.tf
  modules/cloud-function/outputs.tf
  modules/cloud-function/variables.tf
Labels: on:modules, on:blueprints

#880 Refactor net-vpc module for Terraform 1.3
  blueprints/cloud-operations/adfs/main.tf
  blueprints/cloud-operations/asset-inventory-feed-remediation/main.tf
  blueprints/cloud-operations/dns-fine-grained-iam/main.tf
  blueprints/cloud-operations/dns-shared-vpc/examples/shared-vpc-example/network.tf
  blueprints/cloud-operations/glb_and_armor/main.tf
  blueprints/cloud-operations/network-dashboard/tests/test.tf
  blueprints/cloud-operations/packer-image-builder/main.tf
  blueprints/cloud-operations/unmanaged-instances-healthcheck/main.tf
  blueprints/cloud-operations/vm-migration/single-project/main.tf
  blueprints/data-solutions/cloudsql-multiregion/main.tf
  blueprints/data-solutions/cmek-via-centralized-kms/main.tf
  blueprints/data-solutions/composer-2/main.tf
  blueprints/data-solutions/data-platform-foundations/02-load.tf
  blueprints/data-solutions/data-platform-foundations/03-orchestration.tf
  blueprints/data-solutions/data-platform-foundations/04-transformation.tf
  blueprints/data-solutions/data-playground/main.tf
  blueprints/data-solutions/gcs-to-bq-with-least-privileges/vpc.tf
  blueprints/data-solutions/sqlserver-alwayson/vpc.tf
  blueprints/gke/binauthz/main.tf
  blueprints/gke/multi-cluster-mesh-gke-fleet-api/vpc.tf
  blueprints/networking/decentralized-firewall/main.tf
  blueprints/networking/filtering-proxy/main.tf
  blueprints/networking/hub-and-spoke-peering/main.tf
  blueprints/networking/hub-and-spoke-vpn/net-dev.tf
  blueprints/networking/hub-and-spoke-vpn/net-landing.tf
  blueprints/networking/hub-and-spoke-vpn/net-prod.tf
  blueprints/networking/ilb-next-hop/vpc-left.tf
  blueprints/networking/ilb-next-hop/vpc-right.tf
  blueprints/networking/nginx-reverse-proxy-cluster/main.tf
  blueprints/networking/onprem-google-access-dns/main.tf
  blueprints/networking/private-cloud-function-from-onprem/main.tf
  blueprints/networking/shared-vpc-gke/main.tf
  blueprints/third-party-solutions/wordpress/cloudrun/cloudsql.tf
  fast/assets/schemas/subnet.schema.yaml
  fast/stages/02-networking-nva/data/subnets/dev/dev-dataplatform-ew1.yaml
  fast/stages/02-networking-nva/landing.tf
  fast/stages/02-networking-nva/spoke-dev.tf
  fast/stages/02-networking-nva/spoke-prod.tf
  fast/stages/02-networking-peering/landing.tf
  fast/stages/02-networking-peering/spoke-dev.tf
  fast/stages/02-networking-peering/spoke-prod.tf
  fast/stages/02-networking-separate-envs/spoke-dev.tf
  fast/stages/02-networking-separate-envs/spoke-prod.tf
  fast/stages/02-networking-vpn/landing.tf
  fast/stages/02-networking-vpn/spoke-dev.tf
  fast/stages/02-networking-vpn/spoke-prod.tf
  modules/net-vpc/README.md
  modules/net-vpc/main.tf
  modules/net-vpc/psa.tf
  modules/net-vpc/subnets.tf
  modules/net-vpc/variables.tf
  tests/modules/net_vpc/fixture/data/factory-subnet.yaml
  tests/modules/net_vpc/fixture/main.tf
  tests/modules/net_vpc/fixture/variables.tf
  tests/modules/net_vpc/test_plan.py
  tests/modules/net_vpc/test_plan_psa.py
  tests/modules/net_vpc/test_plan_subnets.py
Labels: on:FAST, incompatible change, on:modules, on:blueprints

#885 Improve handling of tf plugin cache in tests
  .github/workflows/tests.yml
  default-versions.tf
  tests/test-versions.tf
Labels: on:tools

#887 Disable parallel execution of tests and plugin cache
  .github/workflows/tests.yml
  default-versions.tf
Labels: on:tools

#890 Add auto_delete and instance_redistribution_type to compute-vm and compute-mig modules.
  blueprints/networking/nginx-reverse-proxy-cluster/main.tf
  modules/compute-mig/README.md
  modules/compute-mig/main.tf
  modules/compute-mig/variables.tf
  modules/compute-vm/README.md
  modules/compute-vm/main.tf
  modules/compute-vm/variables.tf
  tests/modules/compute_vm/fixture/variables.tf
  tests/modules/compute_vm/test_plan_disks.py
Labels: on:modules

#888 random password: let the cloudsql module generate it
  blueprints/third-party-solutions/wordpress/cloudrun/cloudsql.tf
  blueprints/third-party-solutions/wordpress/cloudrun/main.tf
  blueprints/third-party-solutions/wordpress/cloudrun/outputs.tf
Labels: on:blueprints

#889 Minor fixes to PSC hybrid blueprint readmes
  blueprints/networking/README.md
  blueprints/networking/psc-hybrid/psc-consumer/README.md
  blueprints/networking/psc-hybrid/psc-producer/README.md
Labels: on:blueprints

#884 Marcwo/bqfactory
  blueprints/factories/bigquery-factory/README.md
  blueprints/factories/bigquery-factory/main.tf
  blueprints/factories/bigquery-factory/variables.tf
  tests/blueprints/factories/bigquery_factory/__init__.py
  tests/blueprints/factories/bigquery_factory/fixture/main.tf
  tests/blueprints/factories/bigquery_factory/fixture/tables/table_a.yaml
  tests/blueprints/factories/bigquery_factory/fixture/variables.tf
  tests/blueprints/factories/bigquery_factory/fixture/views/view_a.yaml
  tests/blueprints/factories/bigquery_factory/test_plan.py
Labels: on:blueprints

#898 Update README.md
  fast/stages/00-bootstrap/README.md
  fast/stages/00-bootstrap/terraform.tfvars.sample
Labels: on:documentation

#900 Improve net dashboard variables
  blueprints/cloud-operations/network-dashboard/README.md
  blueprints/cloud-operations/network-dashboard/variables.tf
Labels: on:blueprints

#897 Project-factory: allow folder_id to be defined in defaults_file
  fast/stages/03-project-factory/dev/main.tf
Labels: on:blueprints

#891 Add internal_ips output to compute-vm module
  modules/compute-vm/README.md
  modules/compute-vm/outputs.tf
Labels: on:modules

#904 Add missing description field
  modules/cloud-identity-group/main.tf
Labels: on:modules

#903 Initial replacement for CI/CD stage
  fast/extras/00-cicd-github/README.md
  fast/extras/00-cicd-github/cicd-versions.tf
  fast/extras/00-cicd-github/github_token.png
  fast/extras/00-cicd-github/main.tf
  fast/extras/00-cicd-github/providers.tf
  fast/extras/00-cicd-github/variables.tf
  fast/extras/README.md
  fast/stages/00-cicd/README.md
  fast/stages/00-cicd/cicd.tf
  fast/stages/00-cicd/github.tf
  fast/stages/00-cicd/gitlab.tf
  fast/stages/00-cicd/outputs-files.tf
  fast/stages/00-cicd/outputs.tf
  fast/stages/00-cicd/variables.tf
  fast/stages/00-cicd/versions.tf
  fast/stages/README.md
  tests/fast/stages/s00_cicd/__init__.py
  tests/fast/stages/s00_cicd/test_providers.py
Labels: on:FAST

#909 GCS2BQ: Move images and templates in sub-folders
  blueprints/README.md
  blueprints/data-solutions/README.md
  blueprints/data-solutions/gcs-to-bq-with-least-privileges/README.md
  blueprints/data-solutions/gcs-to-bq-with-least-privileges/images/cloud_shell.png
  blueprints/data-solutions/gcs-to-bq-with-least-privileges/images/dataflow_console.png
  blueprints/data-solutions/gcs-to-bq-with-least-privileges/images/dataflow_execution.png
  blueprints/data-solutions/gcs-to-bq-with-least-privileges/images/diagram.png
  blueprints/data-solutions/gcs-to-bq-with-least-privileges/images/editor.png
  blueprints/data-solutions/gcs-to-bq-with-least-privileges/images/output.png
  blueprints/data-solutions/gcs-to-bq-with-least-privileges/images/second_output.png
  blueprints/data-solutions/gcs-to-bq-with-least-privileges/images/shell_button.png
  blueprints/data-solutions/gcs-to-bq-with-least-privileges/outputs.tf
  blueprints/data-solutions/gcs-to-bq-with-least-privileges/templates/bigquery.tftpl
  blueprints/data-solutions/gcs-to-bq-with-least-privileges/templates/dataflow.tftpl
Labels: on:blueprints

#899 Static routes monitoring metrics added to network dashboard BP
  .gitignore
  blueprints/cloud-operations/network-dashboard/README.md
  blueprints/cloud-operations/network-dashboard/cloud-function/main.py
  blueprints/cloud-operations/network-dashboard/cloud-function/metrics.yaml
  blueprints/cloud-operations/network-dashboard/cloud-function/metrics/firewall_policies.py
  blueprints/cloud-operations/network-dashboard/cloud-function/metrics/limits.py
  blueprints/cloud-operations/network-dashboard/cloud-function/metrics/metrics.py
  blueprints/cloud-operations/network-dashboard/cloud-function/metrics/routes.py
  blueprints/cloud-operations/network-dashboard/cloud-function/metrics/vpc_firewalls.py
  blueprints/cloud-operations/network-dashboard/dashboards/quotas-utilization.json
Labels: on:blueprints

#911 FAST: Additional PGA DNS records
  fast/stages/02-networking-nva/README.md
  fast/stages/02-networking-nva/dns-landing.tf
  fast/stages/02-networking-peering/README.md
  fast/stages/02-networking-peering/dns-landing.tf
  fast/stages/02-networking-separate-envs/README.md
  fast/stages/02-networking-separate-envs/dns-dev.tf
  fast/stages/02-networking-separate-envs/dns-prod.tf
  fast/stages/02-networking-vpn/README.md
  fast/stages/02-networking-vpn/dns-landing.tf
Labels: on:FAST

#918 Fix race condition in SimpleNVA
  modules/cloud-config-container/simple-nva/cloud-config.yaml
  modules/cloud-config-container/simple-nva/files/policy_based_routing.sh
Labels: on:modules

#916 Add support for DNS routing policies
  modules/dns/README.md
  modules/dns/main.tf
  modules/dns/variables.tf
  tests/modules/dns/fixture/variables.tf
  tests/modules/dns/test_plan.py
Labels: on:modules

#919 Rename workflow names
  .github/workflows/tests.yml
Labels: on:tools

#906 Added managed_prometheus to features
  blueprints/gke/multitenant-fleet/README.md
  blueprints/gke/multitenant-fleet/variables.tf
  fast/stages/03-gke-multitenant/dev/README.md
  fast/stages/03-gke-multitenant/dev/variables.tf
  modules/gke-cluster/README.md
  modules/gke-cluster/main.tf
  modules/gke-cluster/variables.tf
  tests/modules/gke_cluster/fixture/variables.tf
Labels: on:modules

#908 GKE module: autopilot fixes
  modules/gke-cluster/main.tf
Labels: on:modules

#921 Align documentation, move glb blueprint
  CHANGELOG.md
  README.md
  assets/images/cloud-shell-button.png
  blueprints/README.md
  blueprints/cloud-operations/README.md
  blueprints/cloud-operations/adfs/README.md
  blueprints/cloud-operations/workload-identity-federation/README.md
  blueprints/data-solutions/README.md
  blueprints/data-solutions/cloudsql-multiregion/README.md
  blueprints/data-solutions/cloudsql-multiregion/images/button.png
  blueprints/data-solutions/gcs-to-bq-with-least-privileges/README.md
  blueprints/data-solutions/gcs-to-bq-with-least-privileges/images/cloud_shell.png
  blueprints/gke/README.md
  blueprints/networking/README.md
  blueprints/networking/glb-and-armor/README.md
  blueprints/networking/glb-and-armor/architecture.png
  blueprints/networking/glb-and-armor/cloud_shell.png
  blueprints/networking/glb-and-armor/main.tf
  blueprints/networking/glb-and-armor/outputs.tf
  blueprints/networking/glb-and-armor/variables.tf
  blueprints/networking/nginx-reverse-proxy-cluster/README.md
  blueprints/third-party-solutions/README.md
  blueprints/third-party-solutions/wordpress/cloudrun/README.md
  blueprints/third-party-solutions/wordpress/cloudrun/images/button.png
  modules/README.md
  tests/blueprints/networking/glb_and_armor/__init__.py
  tests/blueprints/networking/glb_and_armor/fixture/main.tf
  tests/blueprints/networking/glb_and_armor/fixture/variables.tf
  tests/blueprints/networking/glb_and_armor/test_plan.py
Labels: on:blueprints, on:documentation

#923 Fix service account creation error in gke nodepool module
  blueprints/gke/binauthz/main.tf
  blueprints/gke/multi-cluster-mesh-gke-fleet-api/gke.tf
  blueprints/networking/shared-vpc-gke/main.tf
  modules/gke-hub/README.md
  modules/gke-nodepool/README.md
  modules/gke-nodepool/main.tf
  modules/gke-nodepool/variables.tf
  tests/modules/gke_nodepool/fixture/main.tf
  tests/modules/gke_nodepool/fixture/variables.tf
  tests/modules/gke_nodepool/test_plan.py
Labels: on:modules

#926 Fix backwards compatibility for vpc subnet descriptions
  modules/net-vpc/README.md
  modules/net-vpc/subnets.tf
  modules/net-vpc/variables.tf
Labels: on:modules

#932 feat(project-factory): introduce additive iam bindings to project-fac…
  blueprints/factories/project-factory/README.md
  blueprints/factories/project-factory/main.tf
  blueprints/factories/project-factory/variables.tf
Labels: on:blueprints
