Repository GoogleCloudPlatform/cloud-foundation-fabric, pull requests merged in 2022-08, with the labels that each got.

#764 Add dependency on shared vpc service project attachment to project module outputs
  modules/project/README.md
  modules/project/outputs.tf
  tests/modules/project/fixture/main.tf
  tests/modules/project/fixture/variables.tf
  tests/modules/project/test_plan_svpc.py
Labels: on:modules

#765 FAST: move region trigrams to a variable in network stages
  fast/stages/02-networking-nva/README.md
  fast/stages/02-networking-nva/variables.tf
  fast/stages/02-networking-peering/README.md
  fast/stages/02-networking-peering/main.tf
  fast/stages/02-networking-peering/spoke-dev.tf
  fast/stages/02-networking-peering/spoke-prod.tf
  fast/stages/02-networking-peering/variables.tf
  fast/stages/02-networking-vpn/README.md
  fast/stages/02-networking-vpn/main.tf
  fast/stages/02-networking-vpn/spoke-dev.tf
  fast/stages/02-networking-vpn/spoke-prod.tf
  fast/stages/02-networking-vpn/variables.tf
  tests/fast/stages/s02_networking_peering/fixture/main.tf
  tests/fast/stages/s02_networking_vpn/fixture/main.tf
Labels: on: FAST

#766 FAST: refactor teams branch
  fast/stages/01-resman/README.md
  fast/stages/01-resman/billing.tf
  fast/stages/01-resman/branch-networking.tf
  fast/stages/01-resman/branch-teams.tf
  fast/stages/01-resman/main.tf
  fast/stages/01-resman/organization.tf
  fast/stages/01-resman/outputs.tf
Labels: on: FAST

#771 Example of a multi-cluster mesh on GKE configuring managed control pl…
  .gitignore
  examples/cloud-operations/multi-cluster-mesh-gke-fleet-api/.gitignore
  examples/cloud-operations/multi-cluster-mesh-gke-fleet-api/README.md
  examples/cloud-operations/multi-cluster-mesh-gke-fleet-api/ansible/ansible.cfg
  examples/cloud-operations/multi-cluster-mesh-gke-fleet-api/ansible/inventory/hosts.ini
  examples/cloud-operations/multi-cluster-mesh-gke-fleet-api/ansible/playbook.yaml
  examples/cloud-operations/multi-cluster-mesh-gke-fleet-api/ansible/roles/install/tasks/endpoint-discovery-config.yaml
  examples/cloud-operations/multi-cluster-mesh-gke-fleet-api/ansible/roles/install/tasks/install.yaml
  examples/cloud-operations/multi-cluster-mesh-gke-fleet-api/ansible/roles/install/tasks/main.yaml
  examples/cloud-operations/multi-cluster-mesh-gke-fleet-api/ansible/roles/prerequisites/tasks/main.yaml
  examples/cloud-operations/multi-cluster-mesh-gke-fleet-api/ansible/roles/test/tasks/main.yaml
  examples/cloud-operations/multi-cluster-mesh-gke-fleet-api/ansible/roles/test/tasks/test.yaml
  examples/cloud-operations/multi-cluster-mesh-gke-fleet-api/architecture.png
  examples/cloud-operations/multi-cluster-mesh-gke-fleet-api/main.tf
  examples/cloud-operations/multi-cluster-mesh-gke-fleet-api/templates/gssh.sh.tpl
  examples/cloud-operations/multi-cluster-mesh-gke-fleet-api/templates/vars.yaml.tpl
  examples/cloud-operations/multi-cluster-mesh-gke-fleet-api/variables.tf
  tests/examples/cloud_operations/multi_cluster_mesh_gke_fleet_api/__init__.py
  tests/examples/cloud_operations/multi_cluster_mesh_gke_fleet_api/fixture/main.tf
  tests/examples/cloud_operations/multi_cluster_mesh_gke_fleet_api/fixture/variables.tf
  tests/examples/cloud_operations/multi_cluster_mesh_gke_fleet_api/test_plan.py
Labels: on:examples

#754 Add support to a public access to cloudsql-instance
  modules/cloudsql-instance/README.md
  modules/cloudsql-instance/main.tf
  modules/cloudsql-instance/variables.tf
  tests/modules/cloudsql_instance/fixture/main.tf
  tests/modules/cloudsql_instance/fixture/variables.tf
  tests/modules/cloudsql_instance/test_plan.py
Labels: enhancement, on:modules

#773 Refactor Cloud Run module
  modules/cloud-run/README.md
  modules/cloud-run/main.tf
  modules/cloud-run/variables.tf
  tests/modules/cloud_run/fixture/main.tf
  tests/modules/cloud_run/test_plan.py
Labels: incompatible change, on:modules

#738 Improve Data Playground example
  examples/data-solutions/README.md
  examples/data-solutions/data-playground/README.md
  examples/data-solutions/data-playground/diagram.png
  examples/data-solutions/data-playground/main.tf
  examples/data-solutions/data-playground/outputs.tf
  examples/data-solutions/data-playground/variables.tf
  tests/examples/data_solutions/data_playground/fixture/main.tf
  tests/examples/data_solutions/data_playground/test_plan.py
Labels: on:examples

#785 nginx-tls module
  modules/cloud-config-container/nginx-tls/README.md
  modules/cloud-config-container/nginx-tls/files/customize.sh
  modules/cloud-config-container/nginx-tls/files/default.conf
  modules/cloud-config-container/nginx-tls/main.tf
  modules/cloud-config-container/nginx-tls/outputs.tf
  modules/cloud-config-container/nginx-tls/variables.tf
  modules/cloud-config-container/nginx-tls/versions.tf
Labels: on:modules

#784 fix envoy-traffic-director config for xDS v3
  modules/cloud-config-container/envoy-traffic-director/README.md
  modules/cloud-config-container/envoy-traffic-director/files/customize.sh
  modules/cloud-config-container/envoy-traffic-director/files/envoy.yaml
  modules/cloud-config-container/envoy-traffic-director/variables.tf
Labels: on:modules

#786 Secret manager flag sensitive output
  modules/secret-manager/README.md
  modules/secret-manager/outputs.tf
Labels: on:modules

#787 Support manager role in cloud identity group module
  modules/cloud-identity-group/README.md
  modules/cloud-identity-group/main.tf
  modules/cloud-identity-group/variables.tf
  tests/modules/cloud_identity_group/fixture/main.tf
  tests/modules/cloud_identity_group/fixture/variables.tf
Labels: on:modules
