Repository GoogleCloudPlatform/cloud-foundation-fabric, pull requests merged in 2022-11, with the labels that each got.

#931 Refactor compute-mig module for Terraform 1.3
  blueprints/networking/filtering-proxy/main.tf
  blueprints/networking/glb-and-armor/main.tf
  fast/stages/02-networking-nva/nva.tf
  modules/compute-mig/README.md
  modules/compute-mig/autoscaler.tf
  modules/compute-mig/health-check.tf
  modules/compute-mig/main.tf
  modules/compute-mig/outputs.tf
  modules/compute-mig/stateful-config.tf
  modules/compute-mig/variables.tf
  tests/modules/compute_mig/fixture/main.tf
  tests/modules/compute_mig/fixture/variables.tf
  tests/modules/compute_mig/test_plan.py
Labels: on:FAST, incompatible change, on:modules, on:blueprints

#935 FAST: enable org policy API, fix run.allowedIngress value
  fast/stages/00-bootstrap/automation.tf
  fast/stages/01-resman/organization.tf
Labels: on:FAST

#936 Enable org policy service and add README notice to modules
  blueprints/data-solutions/data-platform-foundations/03-orchestration.tf
  blueprints/data-solutions/data-platform-foundations/README.md
  blueprints/data-solutions/data-playground/main.tf
  blueprints/factories/project-factory/README.md
  blueprints/factories/project-factory/main.tf
  modules/folder/README.md
  modules/organization/README.md
  modules/project/README.md
  tests/blueprints/data_solutions/data_platform_foundations/test_plan.py
  tests/blueprints/data_solutions/data_playground/test_plan.py
Labels: on:modules, on:blueprints

#940 Ensure the implementation of org policies is consistent
  modules/folder/organization-policies.tf
  modules/organization/organization-policies.tf
  modules/project/organization-policies.tf
  tests/modules/organization/test_plan_org_policies.py
Labels: on:modules

#942 Bump tftest and improve dns tests
  tests/conftest.py
  tests/modules/dns/fixture/variables.tf
  tests/modules/dns/test_plan.py
  tests/requirements.txt
Labels: on:tools

#945 Org policy factory
  modules/folder/README.md
  modules/folder/organization-policies.tf
  modules/folder/variables.tf
  modules/organization/README.md
  modules/organization/organization-policies.tf
  modules/organization/variables.tf
  modules/project/README.md
  modules/project/organization-policies.tf
  modules/project/variables.tf
  tests/modules/folder/fixture/main.tf
  tests/modules/folder/fixture/variables.tf
  tests/modules/folder/test_plan_org_policies.py
  tests/modules/organization/fixture/main.tf
  tests/modules/organization/fixture/variables.tf
  tests/modules/organization/test_plan_org_policies.py
  tests/modules/project/fixture/main.tf
  tests/modules/project/fixture/variables.tf
  tests/modules/project/test_plan_org_policies.py
  tests/requirements.txt
Labels: on:modules, on:blueprints

#947 Use org policy factory for resman stage
  fast/stages/01-resman/README.md
  fast/stages/01-resman/data/org-policies/compute.yaml
  fast/stages/01-resman/data/org-policies/iam.yaml
  fast/stages/01-resman/data/org-policies/serverless.yaml
  fast/stages/01-resman/data/org-policies/sql.yaml
  fast/stages/01-resman/data/org-policies/storage.yaml
  fast/stages/01-resman/organization.tf
  fast/stages/01-resman/variables.tf
Labels: on:FAST

#948 Use display_name instead of description for FAST service accounts
  fast/stages/00-bootstrap/automation.tf
  fast/stages/00-bootstrap/cicd.tf
  fast/stages/01-resman/branch-data-platform.tf
  fast/stages/01-resman/branch-gke.tf
  fast/stages/01-resman/branch-networking.tf
  fast/stages/01-resman/branch-project-factory.tf
  fast/stages/01-resman/branch-sandbox.tf
  fast/stages/01-resman/branch-security.tf
  fast/stages/01-resman/branch-teams.tf
  fast/stages/01-resman/cicd-data-platform.tf
  fast/stages/01-resman/cicd-gke.tf
  fast/stages/01-resman/cicd-networking.tf
  fast/stages/01-resman/cicd-project-factory.tf
  fast/stages/01-resman/cicd-security.tf
Labels: on:FAST

#943 Update bootstrap README.md with unique project id requirements
  fast/stages/00-bootstrap/README.md
Labels: on:FAST, on:documentation

#949 Refactor VPC firewall module for Terraform 1.3
  blueprints/cloud-operations/packer-image-builder/main.tf
  blueprints/cloud-operations/vm-migration/single-project/main.tf
  blueprints/data-solutions/cloudsql-multiregion/main.tf
  blueprints/data-solutions/cmek-via-centralized-kms/main.tf
  blueprints/data-solutions/data-platform-foundations/02-load.tf
  blueprints/data-solutions/data-platform-foundations/03-orchestration.tf
  blueprints/data-solutions/data-platform-foundations/04-transformation.tf
  blueprints/data-solutions/data-playground/main.tf
  blueprints/data-solutions/gcs-to-bq-with-least-privileges/vpc.tf
  blueprints/data-solutions/sqlserver-alwayson/vpc.tf
  blueprints/gke/multi-cluster-mesh-gke-fleet-api/vpc.tf
  blueprints/networking/filtering-proxy/main.tf
  blueprints/networking/hub-and-spoke-peering/main.tf
  blueprints/networking/hub-and-spoke-vpn/net-dev.tf
  blueprints/networking/hub-and-spoke-vpn/net-landing.tf
  blueprints/networking/hub-and-spoke-vpn/net-prod.tf
  blueprints/networking/ilb-next-hop/vpc-left.tf
  blueprints/networking/ilb-next-hop/vpc-right.tf
  blueprints/networking/nginx-reverse-proxy-cluster/main.tf
  blueprints/networking/onprem-google-access-dns/main.tf
  blueprints/networking/shared-vpc-gke/main.tf
  fast/assets/schemas/firewall_rules.schema.yaml
  fast/stages/02-networking-nva/data/firewall-rules/dev/rules.yaml
  fast/stages/02-networking-nva/data/firewall-rules/landing-trusted/rules.yaml
  fast/stages/02-networking-nva/data/firewall-rules/landing-untrusted/rules.yaml
  fast/stages/02-networking-nva/landing.tf
  fast/stages/02-networking-nva/spoke-dev.tf
  fast/stages/02-networking-nva/spoke-prod.tf
  fast/stages/02-networking-peering/data/firewall-rules/dev/rules.yaml
  fast/stages/02-networking-peering/data/firewall-rules/landing/rules.yaml
  fast/stages/02-networking-peering/landing.tf
  fast/stages/02-networking-peering/spoke-dev.tf
  fast/stages/02-networking-peering/spoke-prod.tf
  fast/stages/02-networking-separate-envs/data/firewall-rules/dev/rules.yaml
  fast/stages/02-networking-separate-envs/spoke-dev.tf
  fast/stages/02-networking-separate-envs/spoke-prod.tf
  fast/stages/02-networking-vpn/data/firewall-rules/dev/rules.yaml
  fast/stages/02-networking-vpn/data/firewall-rules/landing/rules.yaml
  fast/stages/02-networking-vpn/landing.tf
  fast/stages/02-networking-vpn/spoke-dev.tf
  fast/stages/02-networking-vpn/spoke-prod.tf
  modules/gke-hub/README.md
  modules/net-vpc-firewall/README.md
  modules/net-vpc-firewall/default-rules.tf
  modules/net-vpc-firewall/main.tf
  modules/net-vpc-firewall/outputs.tf
  modules/net-vpc-firewall/variables.tf
  tests/blueprints/cloud_operations/vm_migration/single_project/test_plan.py
  tests/conftest.py
  tests/modules/net_vpc_firewall/fixture/config/firewall/load_balancers.yaml
  tests/modules/net_vpc_firewall/fixture/main.tf
  tests/modules/net_vpc_firewall/fixture/test.rules.tfvars
  tests/modules/net_vpc_firewall/fixture/variables.tf
  tests/modules/net_vpc_firewall/test_plan.py
Labels: on:FAST, incompatible change, on:modules, on:blueprints

#952 Remove duplicate GLB+CA blueprint folder
  blueprints/cloud-operations/glb_and_armor/README.md
  blueprints/cloud-operations/glb_and_armor/architecture.png
  blueprints/cloud-operations/glb_and_armor/cloud_shell.png
  blueprints/cloud-operations/glb_and_armor/main.tf
  blueprints/cloud-operations/glb_and_armor/outputs.tf
  blueprints/cloud-operations/glb_and_armor/variables.tf
Labels: on:blueprints

#956 FAST: bootstrap and extra stage CI/CD improvements and fixes
  fast/assets/templates/workflow-github.yaml
  fast/assets/templates/workflow-sourcerepo.yaml
  fast/extras/00-cicd-github/README.md
  fast/extras/00-cicd-github/main.tf
  fast/extras/00-cicd-github/outputs.tf
  fast/extras/00-cicd-github/variables.tf
  fast/stages/00-bootstrap/outputs-files.tf
Labels: on:FAST

#960 Fix README typo in firewall module
  modules/net-vpc-firewall/README.md
Labels: on:modules

#961 Remove extra file from root
  stages.png
Labels: on:documentation

#958 Add support for org policy custom constraints
  modules/organization/README.md
  modules/organization/org-policy-custom-constraints.tf
  modules/organization/organization-policies.tf
  modules/organization/variables.tf
  tests/modules/organization/fixture/main.tf
  tests/modules/organization/fixture/test.orgpolicy-custom-constraints.tfvars
  tests/modules/organization/fixture/variables.tf
  tests/modules/organization/test_plan_org_policies.py
  tests/modules/organization/test_plan_org_policies_modules.py
  tests/modules/organization/validate_policies.py
Labels: on:modules

#966 FAST: improve GitHub workflow, stage 01 output fixes
  fast/assets/templates/workflow-github.yaml
  fast/stages/00-bootstrap/IAM.md
  fast/stages/01-resman/IAM.md
  fast/stages/01-resman/outputs-files.tf
Labels: on:FAST

#964 prefix variable consistency across modules
  CONTRIBUTING.md
  modules/cloud-function/README.md
  modules/cloud-function/variables.tf
  modules/cloud-run/README.md
  modules/cloud-run/variables.tf
  modules/cloudsql-instance/README.md
  modules/cloudsql-instance/variables.tf
  modules/data-catalog-policy-tag/README.md
  modules/data-catalog-policy-tag/variables.tf
  modules/gcs/README.md
  modules/gcs/main.tf
  modules/gcs/variables.tf
  modules/iam-service-account/README.md
  modules/iam-service-account/main.tf
  modules/iam-service-account/variables.tf
  modules/net-vpc-peering/README.md
  modules/net-vpc-peering/main.tf
  modules/net-vpc-peering/variables.tf
  modules/project/README.md
  modules/project/variables.tf
Labels: on:modules

#970 Update logging sinks to tf1.3 in resman modules
  fast/stages/00-bootstrap/organization.tf
  modules/folder/README.md
  modules/folder/logging.tf
  modules/folder/variables.tf
  modules/organization/README.md
  modules/organization/logging.tf
  modules/organization/variables.tf
  modules/project/README.md
  modules/project/logging.tf
  modules/project/variables.tf
  tests/modules/folder/fixture/test.logging-sinks.tfvars
  tests/modules/folder/test_plan_logging.py
  tests/modules/organization/fixture/test.logging-sinks.tfvars
  tests/modules/organization/test_plan_logging.py
  tests/modules/project/fixture/test.logging-sinks.tfvars
  tests/modules/project/fixture/variables.tf
  tests/modules/project/test_plan_logging.py
Labels: on:modules

#974 Refactor net-ilb-l7 module for Terraform 1.3
  modules/net-ilb-l7/README.md
  modules/net-ilb-l7/backend-service.tf
  modules/net-ilb-l7/backend-services.tf
  modules/net-ilb-l7/forwarding-rule.tf
  modules/net-ilb-l7/health-check.tf
  modules/net-ilb-l7/health-checks.tf
  modules/net-ilb-l7/main.tf
  modules/net-ilb-l7/outputs.tf
  modules/net-ilb-l7/ssl-certificates.tf
  modules/net-ilb-l7/target-proxy.tf
  modules/net-ilb-l7/url-map.tf
  modules/net-ilb-l7/urlmap.tf
  modules/net-ilb-l7/variables-backend-service.tf
  modules/net-ilb-l7/variables-health-check.tf
  modules/net-ilb-l7/variables-urlmap.tf
  modules/net-ilb-l7/variables.tf
  tests/modules/net_ilb_l7/fixture/main.tf
  tests/modules/net_ilb_l7/fixture/test.defaults.tfvars
  tests/modules/net_ilb_l7/fixture/test.groups.tfvars
  tests/modules/net_ilb_l7/fixture/test.health-checks-custom.tfvars
  tests/modules/net_ilb_l7/fixture/test.health-checks-external.tfvars
  tests/modules/net_ilb_l7/fixture/test.https.tfvars
  tests/modules/net_ilb_l7/fixture/test.negs.tfvars
  tests/modules/net_ilb_l7/fixture/test.ssl.tfvars
  tests/modules/net_ilb_l7/fixture/test.urlmaps.tfvars
  tests/modules/net_ilb_l7/fixture/variables.tf
  tests/modules/net_ilb_l7/test_plan.py
Labels: incompatible change, on:modules

#975 Add validation for health check port specification to ILB L7 module
  modules/net-ilb-l7/variables-health-check.tf
Labels: on:modules

#968 Enforce PROXY protocol in `filtering-proxy-psc` blueprint
  blueprints/networking/filtering-proxy-psc/main.tf
  blueprints/networking/filtering-proxy-psc/squid.conf
Labels: on:blueprints

#976 FAST: fixes to GitHub workflow and 02/net outputs
  fast/assets/templates/workflow-github.yaml
  fast/stages/02-networking-nva/outputs.tf
  fast/stages/02-networking-peering/outputs.tf
  fast/stages/02-networking-separate-envs/outputs.tf
  fast/stages/02-networking-vpn/outputs.tf
Labels: on:FAST

#978 Worker pool support for `cloud-function`
  modules/cloud-function/README.md
  modules/cloud-function/main.tf
  modules/cloud-function/variables.tf
Labels: on:modules

#983 Add support for serverless NEGs to ILB L7 module
  modules/net-ilb-l7/README.md
  modules/net-ilb-l7/main.tf
  modules/net-ilb-l7/outputs.tf
  modules/net-ilb-l7/variables.tf
  tests/modules/net_ilb_l7/fixture/test.negs.tfvars
Labels: incompatible change, on:modules

#980 Have Squid log to /dev/stdout to stream logs to Cloud Logging
  blueprints/networking/filtering-proxy-psc/main.tf
  blueprints/networking/filtering-proxy-psc/squid.conf
  modules/cloud-config-container/squid/cloud-config.yaml
  modules/cloud-config-container/squid/docker/Dockerfile
  modules/cloud-config-container/squid/docker/cloudbuild.yaml
  modules/cloud-config-container/squid/squid.conf
  tests/blueprints/networking/filtering_proxy_psc/test_plan.py
Labels: on:modules, on:blueprints

#965 Add triggers to Cloud Functions v2
  blueprints/cloud-operations/asset-inventory-feed-remediation/main.tf
  blueprints/cloud-operations/network-dashboard/main.tf
  blueprints/cloud-operations/quota-monitoring/main.tf
  blueprints/cloud-operations/scheduled-asset-inventory-export-bq/main.tf
  blueprints/cloud-operations/unmanaged-instances-healthcheck/main.tf
  blueprints/networking/private-cloud-function-from-onprem/main.tf
  blueprints/serverless/api-gateway/main.tf
  modules/cloud-function/README.md
  modules/cloud-function/main.tf
  modules/cloud-function/outputs.tf
  modules/cloud-function/variables.tf
  tests/modules/cloud_function_v2/test_plan.py
Labels: incompatible change, on:modules

#988 Merge cloud function v1 and v2 tests
  tests/modules/cloud_function/fixture/main.tf
  tests/modules/cloud_function/fixture/variables.tf
  tests/modules/cloud_function/test_plan.py
  tests/modules/cloud_function_v2/__init__.py
  tests/modules/cloud_function_v2/fixture/bundle/main.py
  tests/modules/cloud_function_v2/fixture/main.tf
  tests/modules/cloud_function_v2/fixture/variables.tf
  tests/modules/cloud_function_v2/test_plan.py
Labels: on:modules

#984 Apigee module and blueprint
  .gitignore
  README.md
  blueprints/cloud-operations/apigee/README.md
  blueprints/cloud-operations/apigee/diagram1.png
  blueprints/cloud-operations/apigee/diagram2.png
  blueprints/cloud-operations/apigee/functions/export/index.js
  blueprints/cloud-operations/apigee/functions/export/package-lock.json
  blueprints/cloud-operations/apigee/functions/export/package.json
  blueprints/cloud-operations/apigee/functions/gcs2bq/index.js
  blueprints/cloud-operations/apigee/functions/gcs2bq/package-lock.json
  blueprints/cloud-operations/apigee/functions/gcs2bq/package.json
  blueprints/cloud-operations/apigee/functions/gcs2bq/schema.json
  blueprints/cloud-operations/apigee/main.tf
  blueprints/cloud-operations/apigee/outputs.tf
  blueprints/cloud-operations/apigee/package-lock.json
  blueprints/cloud-operations/apigee/send-requests.sh
  blueprints/cloud-operations/apigee/templates/create-datastore.sh.tpl
  blueprints/cloud-operations/apigee/templates/deploy-apiproxy.sh.tpl
  blueprints/cloud-operations/apigee/terraform.tfvars.sample
  blueprints/cloud-operations/apigee/variables.tf
  blueprints/cloud-operations/apigee/versions.tf
  modules/README.md
  modules/apigee-organization/README.md
  modules/apigee-organization/main.tf
  modules/apigee-organization/outputs.tf
  modules/apigee-organization/variables.tf
  modules/apigee-x-instance/README.md
  modules/apigee-x-instance/outputs.tf
  modules/apigee-x-instance/variables.tf
  modules/apigee/README.md
  modules/apigee/main.tf
  modules/apigee/outputs.tf
  modules/apigee/variables.tf
  modules/apigee/versions.tf
  modules/project/service-accounts.tf
  tests/blueprints/cloud_operations/apigee/__init__.py
  tests/blueprints/cloud_operations/apigee/fixture/main.tf
  tests/blueprints/cloud_operations/apigee/fixture/test.regular.tfvars
  tests/blueprints/cloud_operations/apigee/fixture/variables.tf
  tests/blueprints/cloud_operations/apigee/test_plan.py
  tests/conftest.py
  tests/modules/apigee/__init__.py
  tests/modules/apigee/fixture/main.tf
  tests/modules/apigee/fixture/test.all.tfvars
  tests/modules/apigee/fixture/test.env_only.tfvars
  tests/modules/apigee/fixture/test.envgroup_only.tfvars
  tests/modules/apigee/fixture/test.instance_only.tfvars
  tests/modules/apigee/fixture/test.no_instances.tfvars
  tests/modules/apigee/fixture/test.organization_only.tfvars
  tests/modules/apigee/fixture/variables.tf
  tests/modules/apigee/test_plan.py
  tests/modules/apigee_organization/fixture/main.tf
  tests/modules/apigee_organization/test_plan.py
  tests/modules/apigee_x_instance/fixture/main.tf
  tests/modules/apigee_x_instance/test_plan.py
Labels: incompatible change, on:modules, on:blueprints

#991 Allow cross-project backend services in ILB L7 module
  modules/net-ilb-l7/README.md
  modules/net-ilb-l7/backend-service.tf
  modules/net-ilb-l7/health-check.tf
  modules/net-ilb-l7/main.tf
  modules/net-ilb-l7/variables-backend-service.tf
  modules/net-ilb-l7/variables-health-check.tf
  modules/net-ilb-l7/variables.tf
Labels: on:modules

#979 Add network tags support to the organization module
  modules/organization/README.md
  modules/organization/outputs.tf
  modules/organization/tags.tf
  modules/organization/variables.tf
  tests/modules/organization/fixture/main.tf
  tests/modules/organization/fixture/test.network_tags.tfvars
  tests/modules/organization/fixture/test.resource_tags.tfvars
  tests/modules/organization/fixture/variables.tf
  tests/modules/organization/test_plan_tags.py
Labels: on:modules

#987 Add tests to factory examples
  blueprints/cloud-operations/iam-delegated-role-grants/README.md
  blueprints/data-solutions/data-platform-foundations/README.md
  blueprints/networking/hub-and-spoke-vpn/README.md
  modules/__experimental/net-dns-policy-address/README.md
  modules/endpoints/README.md
  modules/folder/README.md
  modules/folder/organization-policies.tf
  modules/kms/README.md
  modules/net-vpc-firewall/README.md
  modules/net-vpc/README.md
  modules/organization/README.md
  modules/organization/org-policy-custom-constraints.tf
  modules/organization/organization-policies.tf
  modules/project/README.md
  modules/project/organization-policies.tf
  modules/projects-data-source/README.md
  tests/examples/conftest.py
  tests/examples/test_plan.py
  tests/modules/organization/test_plan_org_policies_modules.py
Labels: on:documentation

#994 Add schemas to Pubsub topic module.
  modules/pubsub/README.md
  modules/pubsub/main.tf
  modules/pubsub/outputs.tf
  modules/pubsub/variables.tf
Labels: on:modules

#995 Push container images to GitHub instead of Google Container Registry
  .github/workflows/container-image-squid.yml
  .github/workflows/container-image-strongswan.yml
  .github/workflows/container-image-toolbox.yml
  .github/workflows/container-image.yml
Labels: on:modules, on:blueprints

#998 Add missing `write_package` permission
  .github/workflows/container-image.yml
Labels: on:tools

#1004 Use `actions/labeler` to automatically label pull requests
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: on:tools

#1005 Only set partitioned table when sink type is bigquery
  modules/folder/logging.tf
  modules/organization/logging.tf
  modules/project/logging.tf
Labels: on:modules

#999 Default nodepool creation fix
  modules/gke-cluster/main.tf
Labels: on:modules

#1007 fast README, one line fix: 00-cicd stage got moved to extras/
  fast/stages/00-bootstrap/README.md
Labels: on:FAST, on:documentation

#1008 Use partial for all cf init functions
  blueprints/cloud-operations/network-dashboard/cf/plugins/__init__.py
  blueprints/cloud-operations/network-dashboard/cf/requirements.txt
Labels: on:blueprints

#1006 Add settings for autoscaling to Bigtable module.
  modules/bigtable-instance/README.md
  modules/bigtable-instance/main.tf
  modules/bigtable-instance/variables.tf
Labels: on:modules, on:documentation

#1012 Fix tag outputs in organization module
  modules/organization/README.md
  modules/organization/outputs.tf
Labels: on:modules

#1009 [Data Playground Blueprint] Fix encryption
  blueprints/data-solutions/data-playground/main.tf
  tests/blueprints/data_solutions/data_playground/test_plan.py
Labels: on:blueprints, on:documentation

#1016 Fix memory/cpu typo in gke cluster module
  modules/gke-cluster/main.tf
Labels: on:modules

#1018 Apigee instance doc examples
  modules/apigee/README.md
  tests/modules/apigee/fixture/test.all.tfvars
Labels: on:modules

#1001 Binauthz blueprint fixes related to project creation
  blueprints/gke/binauthz/main.tf
  tests/blueprints/gke/binauthz/fixture/variables.tf
Labels: on:blueprints

#1000 ADFS blueprint fixes
  blueprints/cloud-operations/adfs/ansible/playbook.yaml
  blueprints/cloud-operations/adfs/main.tf
  tests/blueprints/cloud_operations/adfs/fixture/variables.tf
Labels: on:blueprints

#1017 Fix auto-labeling
  .github/labeler.yml
Labels: on:tools

#1019 Added endpoint attachments to Apigee module
  blueprints/cloud-operations/apigee/main.tf
  modules/apigee/README.md
  modules/apigee/main.tf
  modules/apigee/variables.tf
  tests/modules/apigee/fixture/main.tf
  tests/modules/apigee/fixture/test.all.tfvars
  tests/modules/apigee/fixture/test.endpoint_attachment_only.tfvars
  tests/modules/apigee/fixture/variables.tf
  tests/modules/apigee/test_plan.py
Labels: on:modules, on:blueprints

#1021 Add OpenContainers annotations to published container images
  .github/workflows/container-image.yml
Labels: on:tools

#1022 Replace `set-output` with env variable and remove single quotes on labels
  .github/workflows/container-image.yml
Labels: on:tools

#1024 Fix Apigee PAYG environment node config
  blueprints/cloud-operations/apigee/README.md
  blueprints/cloud-operations/apigee/variables.tf
  modules/apigee/README.md
  modules/apigee/main.tf
  modules/apigee/variables.tf
  tests/blueprints/cloud_operations/apigee/fixture/variables.tf
  tests/modules/apigee/fixture/variables.tf
Labels: on:modules, on:blueprints

#1025 fix apigee PAYG env node config dynamic block
  modules/apigee/main.tf
  tests/modules/apigee/fixture/test.env_only.tfvars
Labels: on:modules

#1027 Update VPN-HA module to tf1.3 (wip)
  blueprints/networking/hub-and-spoke-vpn/vpn-dev-r1.tf
  blueprints/networking/hub-and-spoke-vpn/vpn-prod-r1.tf
  blueprints/networking/private-cloud-function-from-onprem/main.tf
  fast/stages/02-networking-nva/README.md
  fast/stages/02-networking-nva/variables.tf
  fast/stages/02-networking-nva/vpn-onprem.tf
  fast/stages/02-networking-peering/README.md
  fast/stages/02-networking-peering/variables.tf
  fast/stages/02-networking-peering/vpn-onprem.tf
  fast/stages/02-networking-separate-envs/README.md
  fast/stages/02-networking-separate-envs/variables.tf
  fast/stages/02-networking-separate-envs/vpn-onprem-dev.tf
  fast/stages/02-networking-separate-envs/vpn-onprem-prod.tf
  fast/stages/02-networking-vpn/README.md
  fast/stages/02-networking-vpn/variables.tf
  fast/stages/02-networking-vpn/vpn-onprem.tf
  fast/stages/02-networking-vpn/vpn-spoke-dev.tf
  fast/stages/02-networking-vpn/vpn-spoke-prod-ew1.tf
  fast/stages/02-networking-vpn/vpn-spoke-prod-ew4.tf
  modules/net-vpn-ha/README.md
  modules/net-vpn-ha/main.tf
  modules/net-vpn-ha/outputs.tf
  modules/net-vpn-ha/variables.tf
  tests/examples/variables.tf
Labels: on:FAST, on:modules, on:blueprints

#1028 Align rest of vpn modules with #1027
  blueprints/networking/hub-and-spoke-peering/main.tf
  blueprints/networking/hub-and-spoke-vpn/vpn-dev-r1.tf
  blueprints/networking/hub-and-spoke-vpn/vpn-prod-r1.tf
  blueprints/networking/onprem-google-access-dns/main.tf
  blueprints/networking/private-cloud-function-from-onprem/main.tf
  fast/stages/02-networking-nva/vpn-onprem.tf
  fast/stages/02-networking-peering/vpn-onprem.tf
  fast/stages/02-networking-separate-envs/vpn-onprem-dev.tf
  fast/stages/02-networking-separate-envs/vpn-onprem-prod.tf
  fast/stages/02-networking-vpn/vpn-onprem.tf
  fast/stages/02-networking-vpn/vpn-spoke-dev.tf
  fast/stages/02-networking-vpn/vpn-spoke-prod-ew1.tf
  fast/stages/02-networking-vpn/vpn-spoke-prod-ew4.tf
  modules/cloud-config-container/onprem/README.md
  modules/net-vpn-dynamic/README.md
  modules/net-vpn-dynamic/main.tf
  modules/net-vpn-dynamic/outputs.tf
  modules/net-vpn-dynamic/variables.tf
  modules/net-vpn-ha/README.md
  modules/net-vpn-ha/main.tf
  modules/net-vpn-ha/variables.tf
  modules/net-vpn-static/README.md
  modules/net-vpn-static/main.tf
  modules/net-vpn-static/variables.tf
Labels: incompatible change, on:modules
