Repository GoogleCloudPlatform/cloud-foundation-fabric, pull requests merged in 2022-12, with the labels that each got.

#1031 Fix default_rules_config description in firewall module
  modules/net-vpc-firewall/README.md
  modules/net-vpc-firewall/variables.tf
Labels: on:modules

#1026 add lifecycle ignore_changes for apigee PAYG env
  modules/apigee/main.tf
Labels: on:modules

#1036 Fix status ingress/egress policies in vpc-sc module
  modules/vpc-sc/README.md
  modules/vpc-sc/service-perimeters-regular.tf
  modules/vpc-sc/variables.tf
Labels: incompatible change, on:modules

#1032 FAST: fix VPC-SC example in security documentation
  fast/stages/02-security/README.md
Labels: on:FAST

#982 Adding Secondary IP Utilization calculation
  blueprints/cloud-operations/network-dashboard/cloud-function/main.py
  blueprints/cloud-operations/network-dashboard/cloud-function/metrics.yaml
  blueprints/cloud-operations/network-dashboard/cloud-function/metrics/metrics.py
  blueprints/cloud-operations/network-dashboard/cloud-function/metrics/secondarys.py
  blueprints/cloud-operations/network-dashboard/cloud-function/metrics/subnets.py
  blueprints/cloud-operations/network-dashboard/dashboards/quotas-utilization.json
Labels: on:blueprints

#1023 Small fix: uniform region in Fast in networking-nva
  fast/stages/02-networking-nva/README.md
  fast/stages/02-networking-nva/diagram.svg
  fast/stages/02-networking-nva/variables.tf
Labels: on:FAST, incompatible change

#1043 added reverse lookup feature to module dns #1042
  modules/dns/README.md
  modules/dns/main.tf
  modules/dns/variables.tf
Labels: on:modules

#1040 Fix name in google_pubsub_schema resource
  modules/pubsub/main.tf
Labels: on:modules

#1049 Add ssl certs to cloudsql instance
  modules/cloudsql-instance/README.md
  modules/cloudsql-instance/main.tf
  modules/cloudsql-instance/outputs.tf
  modules/cloudsql-instance/variables.tf
Labels: on:modules

#1048 Document new testing approach
  .github/workflows/linting.yml
  .github/workflows/tests.yml
  CONTRIBUTING.md
Labels: on:tools, on:documentation

#1051 FAST: add instructions for billing export to stage 0 README
  fast/stages/00-bootstrap/README.md
Labels: on:FAST

#1020 Networking dashboard and discovery tool refactor
  blueprints/cloud-operations/network-dashboard/README.md
  blueprints/cloud-operations/network-dashboard/cloud-function/main.py
  blueprints/cloud-operations/network-dashboard/cloud-function/metrics.yaml
  blueprints/cloud-operations/network-dashboard/cloud-function/metrics/firewall_policies.py
  blueprints/cloud-operations/network-dashboard/cloud-function/metrics/ilb_fwrules.py
  blueprints/cloud-operations/network-dashboard/cloud-function/metrics/instances.py
  blueprints/cloud-operations/network-dashboard/cloud-function/metrics/limits.py
  blueprints/cloud-operations/network-dashboard/cloud-function/metrics/metrics.py
  blueprints/cloud-operations/network-dashboard/cloud-function/metrics/networks.py
  blueprints/cloud-operations/network-dashboard/cloud-function/metrics/peerings.py
  blueprints/cloud-operations/network-dashboard/cloud-function/metrics/routers.py
  blueprints/cloud-operations/network-dashboard/cloud-function/metrics/routes.py
  blueprints/cloud-operations/network-dashboard/cloud-function/metrics/secondarys.py
  blueprints/cloud-operations/network-dashboard/cloud-function/metrics/subnets.py
  blueprints/cloud-operations/network-dashboard/cloud-function/metrics/vpc_firewalls.py
  blueprints/cloud-operations/network-dashboard/cloud-function/requirements.txt
  blueprints/cloud-operations/network-dashboard/dashboards/quotas-utilization.json
  blueprints/cloud-operations/network-dashboard/deploy-cloud-function/README.md
  blueprints/cloud-operations/network-dashboard/deploy-cloud-function/diagram-scope.png
  blueprints/cloud-operations/network-dashboard/deploy-cloud-function/diagram.png
  blueprints/cloud-operations/network-dashboard/deploy-cloud-function/main.tf
  blueprints/cloud-operations/network-dashboard/deploy-cloud-function/outputs.tf
  blueprints/cloud-operations/network-dashboard/deploy-cloud-function/variables.tf
  blueprints/cloud-operations/network-dashboard/main.tf
  blueprints/cloud-operations/network-dashboard/src/README.md
  blueprints/cloud-operations/network-dashboard/src/custom-quotas.sample
  blueprints/cloud-operations/network-dashboard/src/main.py
  blueprints/cloud-operations/network-dashboard/src/plugins/__init__.py
  blueprints/cloud-operations/network-dashboard/src/plugins/core-discover-cai-nodes.py
  blueprints/cloud-operations/network-dashboard/src/plugins/discover-cai-compute.py
  blueprints/cloud-operations/network-dashboard/src/plugins/discover-compute-quota.py
  blueprints/cloud-operations/network-dashboard/src/plugins/discover-compute-routerstatus.py
  blueprints/cloud-operations/network-dashboard/src/plugins/discover-group-networks.py
  blueprints/cloud-operations/network-dashboard/src/plugins/discover-metric-descriptors.py
  blueprints/cloud-operations/network-dashboard/src/plugins/monitoring.py
  blueprints/cloud-operations/network-dashboard/src/plugins/series-firewall-policies.py
  blueprints/cloud-operations/network-dashboard/src/plugins/series-firewall-rules.py
  blueprints/cloud-operations/network-dashboard/src/plugins/series-networks.py
  blueprints/cloud-operations/network-dashboard/src/plugins/series-peering-groups.py
  blueprints/cloud-operations/network-dashboard/src/plugins/series-routes.py
  blueprints/cloud-operations/network-dashboard/src/plugins/series-subnets.py
  blueprints/cloud-operations/network-dashboard/src/plugins/utils.py
  blueprints/cloud-operations/network-dashboard/src/requirements.txt
  blueprints/cloud-operations/network-dashboard/src/tools/remove-descriptors.py
  blueprints/cloud-operations/network-dashboard/tests/README.md
  blueprints/cloud-operations/network-dashboard/tests/test.tf
  blueprints/cloud-operations/network-dashboard/tests/variables.tf
  blueprints/cloud-operations/network-dashboard/variables.tf
  blueprints/cloud-operations/network-dashboard/versions.tf
Labels: on:blueprints

#1056 Feature - CloudSQL pre-allocation private IP range and GKE Cluster ignore_change lifecycle hook.
  modules/cloudsql-instance/README.md
  modules/cloudsql-instance/main.tf
  modules/cloudsql-instance/variables.tf
  modules/gke-cluster/main.tf
  modules/gke-cluster/variables.tf
Labels: on:modules

#1062 Fixes for GKE
  blueprints/networking/shared-vpc-gke/main.tf
  modules/gke-cluster/main.tf
  modules/gke-nodepool/README.md
  modules/gke-nodepool/main.tf
  modules/gke-nodepool/variables.tf
Labels: on:modules, on:blueprints

#1066 Refactor GCS module and tests for Terraform 1.3
  modules/gcs/README.md
  modules/gcs/main.tf
  modules/gcs/variables.tf
  tests/modules/gcs/common.tfvars
  tests/modules/gcs/fixture/main.tf
  tests/modules/gcs/fixture/variables.tf
  tests/modules/gcs/iam.tfvars
  tests/modules/gcs/iam.yaml
  tests/modules/gcs/prefix.tfvars
  tests/modules/gcs/prefix.yaml
  tests/modules/gcs/test_plan.py
  tests/modules/gcs/tftest.yaml
Labels: on:modules

#1067 Corrected load balancing scheme in backend service
  modules/net-glb/backend-service.tf
Labels: on:modules

#1063 Network dashboard: PSA ranges support, starting with Cloud SQL
  blueprints/cloud-operations/network-dashboard/src/plugins/discover-cai.py
  blueprints/cloud-operations/network-dashboard/src/plugins/series-psa.py
Labels: on:blueprints

#1057 Adding new file FAQ and an image
  fast/stages/FAQ.md
  fast/stages/IaC_SA.png
Labels: on:FAST, on:documentation

#1068 Added endpoint_attachment_hosts output to apigee module
  modules/apigee/README.md
  modules/apigee/outputs.tf
Labels: on:modules

#1069 Allow tables with several column families in Bigtable
  modules/bigtable-instance/README.md
  modules/bigtable-instance/main.tf
  modules/bigtable-instance/variables.tf
  tests/modules/bigtable_instance/fixture/main.tf
Labels: on:modules

#1073 Allow setting no ranges in firewall module custom rules
  blueprints/data-solutions/sqlserver-alwayson/vpc.tf
  modules/net-vpc-firewall/README.md
  modules/net-vpc-firewall/main.tf
  modules/net-vpc-firewall/variables.tf
  tests/modules/net_vpc_firewall/auto-rules.tfvars
  tests/modules/net_vpc_firewall/auto-rules.yaml
  tests/modules/net_vpc_firewall/common.tfvars
  tests/modules/net_vpc_firewall/custom-rules.tfvars
  tests/modules/net_vpc_firewall/custom-rules.yaml
  tests/modules/net_vpc_firewall/data/cidr_template.yaml
  tests/modules/net_vpc_firewall/data/firewall/load_balancers.yaml
  tests/modules/net_vpc_firewall/factory.tfvars
  tests/modules/net_vpc_firewall/factory.yaml
  tests/modules/net_vpc_firewall/fixture/main.tf
  tests/modules/net_vpc_firewall/fixture/test.rules.tfvars
  tests/modules/net_vpc_firewall/fixture/variables.tf
  tests/modules/net_vpc_firewall/test_plan.py_
  tests/modules/net_vpc_firewall/tftest.yaml
Labels: on:modules, on:blueprints

#1071 Moved apigee bigquery analytics blueprint, added apigee network patterns
  .gitignore
  blueprints/apigee/README.md
  blueprints/apigee/bigquery-analytics/README.md
  blueprints/apigee/bigquery-analytics/diagram1.png
  blueprints/apigee/bigquery-analytics/diagram2.png
  blueprints/apigee/bigquery-analytics/functions/export/index.js
  blueprints/apigee/bigquery-analytics/functions/export/package-lock.json
  blueprints/apigee/bigquery-analytics/functions/export/package.json
  blueprints/apigee/bigquery-analytics/functions/gcs2bq/index.js
  blueprints/apigee/bigquery-analytics/functions/gcs2bq/package-lock.json
  blueprints/apigee/bigquery-analytics/functions/gcs2bq/package.json
  blueprints/apigee/bigquery-analytics/functions/gcs2bq/schema.json
  blueprints/apigee/bigquery-analytics/main.tf
  blueprints/apigee/bigquery-analytics/outputs.tf
  blueprints/apigee/bigquery-analytics/package-lock.json
  blueprints/apigee/bigquery-analytics/send-requests.sh
  blueprints/apigee/bigquery-analytics/templates/create-datastore.sh.tpl
  blueprints/apigee/bigquery-analytics/templates/deploy-apiproxy.sh.tpl
  blueprints/apigee/bigquery-analytics/terraform.tfvars.sample
  blueprints/apigee/bigquery-analytics/variables.tf
  blueprints/apigee/bigquery-analytics/versions.tf
  blueprints/apigee/network-patterns/nb-glb-psc-neg-sb-psc-ilbl7-hybrid-neg/README.md
  blueprints/apigee/network-patterns/nb-glb-psc-neg-sb-psc-ilbl7-hybrid-neg/apigee.tf
  blueprints/apigee/network-patterns/nb-glb-psc-neg-sb-psc-ilbl7-hybrid-neg/apigee_nb.tf
  blueprints/apigee/network-patterns/nb-glb-psc-neg-sb-psc-ilbl7-hybrid-neg/apigee_sb.tf
  blueprints/apigee/network-patterns/nb-glb-psc-neg-sb-psc-ilbl7-hybrid-neg/apiproxy.tf
  blueprints/apigee/network-patterns/nb-glb-psc-neg-sb-psc-ilbl7-hybrid-neg/bundle/apiproxy/proxies/default.xml
  blueprints/apigee/network-patterns/nb-glb-psc-neg-sb-psc-ilbl7-hybrid-neg/bundle/apiproxy/test.xml
  blueprints/apigee/network-patterns/nb-glb-psc-neg-sb-psc-ilbl7-hybrid-neg/diagram.png
  blueprints/apigee/network-patterns/nb-glb-psc-neg-sb-psc-ilbl7-hybrid-neg/onprem.tf
  blueprints/apigee/network-patterns/nb-glb-psc-neg-sb-psc-ilbl7-hybrid-neg/outputs.tf
  blueprints/apigee/network-patterns/nb-glb-psc-neg-sb-psc-ilbl7-hybrid-neg/templates/deploy-apiproxy.sh.tpl
  blueprints/apigee/network-patterns/nb-glb-psc-neg-sb-psc-ilbl7-hybrid-neg/templates/targets/default.xml.tpl
  blueprints/apigee/network-patterns/nb-glb-psc-neg-sb-psc-ilbl7-hybrid-neg/terraform.tfvars.sample
  blueprints/apigee/network-patterns/nb-glb-psc-neg-sb-psc-ilbl7-hybrid-neg/variables.tf
  blueprints/apigee/network-patterns/nb-glb-psc-neg-sb-psc-ilbl7-hybrid-neg/versions.tf
  blueprints/apigee/network-patterns/nb-glb-psc-neg-sb-psc-ilbl7-hybrid-neg/vpn.tf
  tests/blueprints/apigee/bigquery-analytics/__init__.py
  tests/blueprints/apigee/bigquery-analytics/basic.tfvars
  tests/blueprints/apigee/bigquery-analytics/basic.yaml
  tests/blueprints/apigee/bigquery-analytics/tftest.yaml
  tests/blueprints/apigee/network-patterns/nb-glb-psc-neg-sb-psc-ilbl7-hybrid-neg/__init__.py
  tests/blueprints/apigee/network-patterns/nb-glb-psc-neg-sb-psc-ilbl7-hybrid-neg/basic.tfvars
  tests/blueprints/apigee/network-patterns/nb-glb-psc-neg-sb-psc-ilbl7-hybrid-neg/basic.yaml
  tests/blueprints/apigee/network-patterns/nb-glb-psc-neg-sb-psc-ilbl7-hybrid-neg/tftest.yaml
Labels: on:blueprints, on:documentation

#1074 Adding new section for Authentication issues
  fast/stages/FAQ.md
Labels: on:documentation

#1075 Add cluster replicas to Bigtable module.
  modules/bigtable-instance/README.md
  modules/bigtable-instance/main.tf
  modules/bigtable-instance/variables.tf
  tests/modules/bigtable_instance/fixture/main.tf
Labels: incompatible change, on:modules
