Repository GoogleCloudPlatform/cloud-foundation-fabric, pull requests merged in 2023-10, with the labels that each got.

#1717 Apigee module fix try
  modules/apigee/main.tf
  tests/modules/apigee/env_only.yaml
  tests/modules/apigee/env_only_with_api_proxy_type.yaml
  tests/modules/apigee/env_only_with_deployment_type.yaml
Labels: on:modules

#1719 Add GLB HTTP to HTTPS redirect example
  modules/net-lb-app-ext/README.md
  modules/net-lb-app-ext/variables-urlmap.tf
Labels: on:modules

#1722 Add support for org policies to project factory
  blueprints/factories/project-factory/README.md
  blueprints/factories/project-factory/factory.tf
  blueprints/factories/project-factory/main.tf
  tests/blueprints/factories/project_factory/examples/example.yaml
Labels: on:blueprints

#1723 Add storage billing model
  modules/bigquery-dataset/README.md
  modules/bigquery-dataset/main.tf
  modules/bigquery-dataset/variables.tf
Labels: on:modules

#1728 Fix dnssec keys lookup
  blueprints/cloud-operations/dns-fine-grained-iam/README.md
  blueprints/cloud-operations/dns-shared-vpc/README.md
  blueprints/networking/decentralized-firewall/README.md
  blueprints/networking/filtering-proxy-psc/README.md
  blueprints/networking/filtering-proxy/README.md
  blueprints/networking/hub-and-spoke-vpn/README.md
  blueprints/networking/private-cloud-function-from-onprem/README.md
  blueprints/networking/shared-vpc-gke/README.md
  blueprints/serverless/cloud-run-corporate/README.md
  modules/dns/README.md
  modules/dns/main.tf
  modules/dns/outputs.tf
  modules/service-directory/README.md
  tests/fast/stages/s2_networking_a_peering/stage.yaml
  tests/fast/stages/s2_networking_b_vpn/stage.yaml
  tests/fast/stages/s2_networking_c_nva/stage.yaml
  tests/fast/stages/s2_networking_d_separate_envs/stage.yaml
  tests/fast/stages/s2_networking_e_nva_bgp/stage.yaml
  tests/modules/dns/examples/peering-zone.yaml
  tests/modules/dns/examples/public-zone.yaml
  tests/modules/dns/examples/reverse-zone.yaml
Labels: on:modules

#1725 Fix data platform roles
  blueprints/data-solutions/data-platform-foundations/02-load.tf
  blueprints/data-solutions/data-platform-foundations/03-composer.tf
  blueprints/data-solutions/data-platform-foundations/03-orchestration.tf
  blueprints/data-solutions/data-platform-foundations/05-datawarehouse.tf
  blueprints/data-solutions/data-platform-foundations/README.md
  blueprints/data-solutions/data-platform-foundations/demo/datapipeline.py
  blueprints/data-solutions/data-platform-foundations/demo/datapipeline_dc_tags.py
  blueprints/data-solutions/data-platform-foundations/demo/datapipeline_dc_tags_flex.py
  blueprints/data-solutions/data-platform-foundations/demo/datapipeline_flex.py
  blueprints/data-solutions/data-platform-foundations/demo/delete_table.py
  blueprints/data-solutions/data-platform-foundations/locals-05-datawarehouse.tf
  blueprints/data-solutions/data-platform-foundations/main.tf
  blueprints/data-solutions/data-platform-foundations/variables.tf
  fast/stages/3-data-platform/dev/IAM.md
  fast/stages/3-data-platform/dev/README.md
  fast/stages/3-data-platform/dev/main.tf
  fast/stages/3-data-platform/dev/variables.tf
  fast/stages/CLEANUP.md
Labels: on:FAST, on:blueprints, on:documentation

#1730 Minimal Data Platform - Fix
  blueprints/data-solutions/data-platform-minimal/02-composer.tf
  blueprints/data-solutions/data-platform-minimal/02-processing.tf
  blueprints/data-solutions/data-platform-minimal/README.md
Labels: on:blueprints

#1734 Update to lint.sh and wording to some tf
  fast/stages-multitenant/0-bootstrap-tenant/identity-providers.tf
  fast/stages/0-bootstrap/identity-providers.tf
  tools/lint.sh
Labels: on:FAST, on:tools

#1732 Added FQDN Network Policy feature on GKE Cluster
  modules/gke-cluster-standard/README.md
  modules/gke-cluster-standard/main.tf
  modules/gke-cluster-standard/variables.tf
Labels: on:modules

#1737 Enforce mandatory types in all variables
  modules/bigtable-instance/README.md
  modules/bigtable-instance/variables.tf
  modules/data-catalog-policy-tag/README.md
  modules/data-catalog-policy-tag/variables.tf
  modules/net-swp/README.md
  modules/net-swp/variables.tf
  tools/check_documentation.py
Labels: on:tools, on:modules

#1744 Append "s" to pubsub backoff times
  modules/pubsub/main.tf
Labels: on:modules

#1745 Add missing fields to Cloud Storage bucket
  modules/gcs/README.md
  modules/gcs/main.tf
  modules/gcs/variables.tf
Labels: on:modules

#1746 Module autopilot bug fixes
  modules/gke-cluster-autopilot/README.md
  modules/gke-cluster-autopilot/main.tf
  modules/gke-cluster-autopilot/variables.tf
Labels: on:modules

#1754 Fix typo in GKE nodepool taints
  modules/gke-nodepool/main.tf
Labels: on:modules

#1752 Add outputs to BigQuery dataset module
  modules/bigquery-dataset/README.md
  modules/bigquery-dataset/outputs.tf
  modules/bigquery-dataset/variables.tf
Labels: on:modules

#1756 Exposed stack_type variable in compute_vm module
  modules/compute-vm/README.md
  modules/compute-vm/main.tf
  modules/compute-vm/variables.tf
Labels: on:modules

#1760 Add support for psa peered domains to fast stages
  fast/stages/2-networking-a-peering/README.md
  fast/stages/2-networking-a-peering/variables.tf
  fast/stages/2-networking-b-vpn/README.md
  fast/stages/2-networking-b-vpn/variables.tf
  fast/stages/2-networking-c-nva/README.md
  fast/stages/2-networking-c-nva/variables.tf
  fast/stages/2-networking-d-separate-envs/README.md
  fast/stages/2-networking-d-separate-envs/variables.tf
  fast/stages/2-networking-e-nva-bgp/README.md
  fast/stages/2-networking-e-nva-bgp/variables.tf
Labels: on:FAST

#1757 Add autoclass to GCS
  modules/gcs/README.md
  modules/gcs/main.tf
  modules/gcs/variables.tf
  tests/modules/gcs/examples/iam-authoritative.yaml
  tests/modules/gcs/examples/iam-bindings-additive.yaml
  tests/modules/gcs/examples/iam-bindings.yaml
  tests/modules/gcs/examples/simple.yaml
Labels: on:modules

#1762 Make subnets depend on proxy only subnets
  modules/net-vpc/README.md
  modules/net-vpc/outputs.tf
Labels: on:modules

#1765 [#1764] net-lb-int: add support for dual stack and multiple forwarding rules
  blueprints/data-solutions/sqlserver-alwayson/README.md
  blueprints/data-solutions/sqlserver-alwayson/outputs.tf
  blueprints/data-solutions/sqlserver-alwayson/vpc.tf
  blueprints/networking/filtering-proxy-psc/main.tf
  blueprints/networking/filtering-proxy/main.tf
  blueprints/networking/glb-hybrid-neg-internal/glb.tf
  blueprints/networking/glb-hybrid-neg-internal/main.tf
  blueprints/networking/ilb-next-hop/gateways.tf
  blueprints/networking/ilb-next-hop/outputs.tf
  blueprints/networking/ilb-next-hop/vpc-left.tf
  blueprints/networking/ilb-next-hop/vpc-right.tf
  fast/stages/2-networking-c-nva/nva.tf
  fast/stages/2-networking-c-nva/spoke-dev.tf
  fast/stages/2-networking-c-nva/spoke-prod.tf
  modules/net-lb-int/README.md
  modules/net-lb-int/groups.tf
  modules/net-lb-int/health-check.tf
  modules/net-lb-int/main.tf
  modules/net-lb-int/outputs.tf
  modules/net-lb-int/variables.tf
  tests/modules/net_lb_int/defaults.yaml
  tests/modules/net_lb_int/forwarding-rule.tfvars
  tests/modules/net_lb_int/forwarding-rule.yaml
Labels: on:FAST, on:modules, on:blueprints

#1769 Remove incompatible balancing_mode
  modules/net-lb-app-ext/variables-backend-service.tf
  modules/net-lb-app-int/variables-backend-service.tf
  modules/net-lb-ext/README.md
  modules/net-lb-ext/variables.tf
  modules/net-lb-int/README.md
  modules/net-lb-int/main.tf
  modules/net-lb-int/variables.tf
  modules/net-lb-proxy-int/variables.tf
  tests/modules/net_lb_int/defaults.tfvars
  tests/modules/net_lb_int/forwarding-rule.tfvars
Labels: on:modules

#1771 Fix resource manager tag bindings in compute-vm module
  modules/compute-vm/README.md
  modules/compute-vm/main.tf
  modules/compute-vm/tags.tf
  modules/compute-vm/variables.tf
  tests/modules/compute_vm/examples/tag-bindings.yaml
Labels: on:modules

#1773 Add service usage consumer role to IaC SAs, refactor delegated grants in FAST
  fast/stages/0-bootstrap/IAM.md
  fast/stages/0-bootstrap/automation.tf
  fast/stages/1-resman/IAM.md
  fast/stages/1-resman/branch-data-platform.tf
  fast/stages/1-resman/branch-gke.tf
  fast/stages/1-resman/branch-networking.tf
  fast/stages/1-resman/branch-project-factory.tf
  fast/stages/1-resman/branch-sandbox.tf
  fast/stages/1-resman/branch-security.tf
  fast/stages/1-resman/branch-teams.tf
  fast/stages/1-resman/branch-tenants.tf
  fast/stages/2-networking-a-peering/README.md
  fast/stages/2-networking-a-peering/spoke-dev.tf
  fast/stages/2-networking-a-peering/spoke-prod.tf
  fast/stages/2-networking-b-vpn/README.md
  fast/stages/2-networking-b-vpn/spoke-dev.tf
  fast/stages/2-networking-b-vpn/spoke-prod.tf
  fast/stages/2-networking-c-nva/README.md
  fast/stages/2-networking-c-nva/spoke-dev.tf
  fast/stages/2-networking-c-nva/spoke-prod.tf
  fast/stages/2-networking-d-separate-envs/README.md
  fast/stages/2-networking-d-separate-envs/spoke-dev.tf
  fast/stages/2-networking-d-separate-envs/spoke-prod.tf
  fast/stages/2-networking-e-nva-bgp/README.md
  fast/stages/2-networking-e-nva-bgp/spoke-dev.tf
  fast/stages/2-networking-e-nva-bgp/spoke-prod.tf
  tests/fast/stages/s0_bootstrap/simple.yaml
Labels: on:FAST, on:documentation

#1775 Add gcp org policy constraints file to bootstrap stage
  fast/stages/0-bootstrap/data/org-policies/gcp.yaml
  modules/folder/organization-policies.tf
  modules/organization/organization-policies.tf
  modules/project/organization-policies.tf
Labels: on:FAST, on:modules

#1780 Add sink for workspace logs to bootstrap stage
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/variables.tf
  tests/fast/stages/s0_bootstrap/simple.yaml
Labels: on:FAST

#1774 Added ProtectedApplication feature to GKE Backup
  modules/gke-cluster-standard/README.md
  modules/gke-cluster-standard/main.tf
  modules/gke-cluster-standard/variables.tf
  tests/modules/gke_cluster_standard/examples/backup.yaml
Labels: on:modules

#1786 net-lb-ext: add support for multiple forwarding rules (IPs) and dual-stack (IPv4/IPv6)
  modules/net-lb-ext/README.md
  modules/net-lb-ext/groups.tf
  modules/net-lb-ext/health-check.tf
  modules/net-lb-ext/main.tf
  modules/net-lb-ext/outputs.tf
  modules/net-lb-ext/variables.tf
  tests/modules/net_lb_ext/defaults.tfvars
  tests/modules/net_lb_ext/defaults.yaml
  tests/modules/net_lb_ext/dual-stack.tfvars
  tests/modules/net_lb_ext/dual-stack.yaml
  tests/modules/net_lb_ext/forwarding-rule.tfvars
  tests/modules/net_lb_ext/forwarding-rule.yaml
  tests/modules/net_lb_ext/tftest.yaml
Labels: on:modules

#1788 FAST: adds support for wif provider pubkey
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/identity-providers.tf
  fast/stages/0-bootstrap/variables.tf
Labels: on:FAST

#1792 Removed unnecessary try statements from apigee module outputs
  modules/apigee/outputs.tf
Labels: on:modules

#1796 Make extended shared vpc attributes optional in project factory
  blueprints/factories/project-factory/README.md
  blueprints/factories/project-factory/factory.tf
Labels: on:blueprints

#1795 Allow users to optonally specify address names
  modules/net-address/README.md
  modules/net-address/main.tf
  modules/net-address/variables.tf
Labels: on:modules

#1802 Less verbose project factory stage outputs
  fast/stages/3-project-factory/dev/README.md
  fast/stages/3-project-factory/dev/outputs.tf
Labels: on:FAST

#1809 FAST: Add VPC serverless connector NAT ranges to hierarchical fw
  fast/stages/2-networking-a-peering/data/hierarchical-ingress-rules.yaml
  fast/stages/2-networking-b-vpn/data/hierarchical-ingress-rules.yaml
  fast/stages/2-networking-c-nva/data/hierarchical-ingress-rules.yaml
  fast/stages/2-networking-d-separate-envs/data/hierarchical-ingress-rules.yaml
  fast/stages/2-networking-e-nva-bgp/data/hierarchical-ingress-rules.yaml
Labels: on:FAST

#1810 FAST: Add access transparency logs to the default sinks
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/variables.tf
Labels: on:FAST

#1798 Fix Apigee add-ons configuration
  modules/apigee/main.tf
Labels: on:modules

#1750 AI models support
  modules/gke-cluster-standard/README.md
  modules/gke-cluster-standard/main.tf
  modules/gke-cluster-standard/variables.tf
  modules/gke-nodepool/README.md
  modules/gke-nodepool/main.tf
  modules/gke-nodepool/variables.tf
  tests/modules/gke_nodepool/examples/guest-accelerator.yaml
Labels: on:modules

#1806 Updating network dashboard: fixing Cloud SQL problem, fixing 1 metric…
  blueprints/cloud-operations/network-dashboard/dashboards/quotas-utilization.json
  blueprints/cloud-operations/network-dashboard/deploy-cloud-function/main.tf
  blueprints/cloud-operations/network-dashboard/src/plugins/core-discover-cai-nodes.py
  blueprints/cloud-operations/network-dashboard/src/plugins/discover-cai.py
  blueprints/cloud-operations/network-dashboard/src/plugins/monitoring.py
Labels: on:blueprints

#1814 Allow specifying arbitrary project roles for service accounts in project factory
  blueprints/factories/project-factory/README.md
  blueprints/factories/project-factory/factory.tf
  blueprints/factories/project-factory/main.tf
  blueprints/factories/project-factory/variables.tf
Labels: incompatible change, on:blueprints

#1815 Fix logic for default source range in firewall ingress rules
  modules/net-vpc-firewall/README.md
  modules/net-vpc-firewall/main.tf
  tests/modules/net_vpc_firewall/examples/factory.yaml
Labels: on:modules

#1818 FAST: rename VPC-related files to `net-*`
  fast/stages/2-networking-a-peering/README.md
  fast/stages/2-networking-a-peering/net-dev.tf
  fast/stages/2-networking-a-peering/net-landing.tf
  fast/stages/2-networking-a-peering/net-prod.tf
  fast/stages/2-networking-b-vpn/README.md
  fast/stages/2-networking-b-vpn/net-dev.tf
  fast/stages/2-networking-b-vpn/net-landing.tf
  fast/stages/2-networking-b-vpn/net-prod.tf
  fast/stages/2-networking-c-nva/README.md
  fast/stages/2-networking-c-nva/net-dev.tf
  fast/stages/2-networking-c-nva/net-landing.tf
  fast/stages/2-networking-c-nva/net-prod.tf
  fast/stages/2-networking-d-separate-envs/README.md
  fast/stages/2-networking-d-separate-envs/net-dev.tf
  fast/stages/2-networking-d-separate-envs/net-prod.tf
  fast/stages/2-networking-e-nva-bgp/README.md
  fast/stages/2-networking-e-nva-bgp/net-dev.tf
  fast/stages/2-networking-e-nva-bgp/net-landing.tf
  fast/stages/2-networking-e-nva-bgp/net-prod.tf
Labels: on:FAST

#1813 empty gpu sharing config fix
  modules/gke-nodepool/main.tf
  tests/modules/gke_nodepool/examples/guest-accelerator.yaml
Labels: on:modules

#1820 Added iam_bindings and iam_bindings_additive to apigee module
  modules/apigee/README.md
  modules/apigee/iam.tf
  modules/apigee/main.tf
  modules/apigee/variables.tf
  tests/modules/apigee/all_psc_mode.yaml
  tests/modules/apigee/all_vpc_mode.yaml
Labels: on:modules

#1821 [net-address] enable ipv6
  blueprints/apigee/hybrid-gke/glb.tf
  blueprints/gke/autopilot/glbs.tf
  blueprints/third-party-solutions/phpipam/glb.tf
  modules/net-address/README.md
  modules/net-address/main.tf
  modules/net-address/variables.tf
  modules/net-lb-app-ext/README.md
  tests/modules/net_address/examples/ipv6.yaml
Labels: on:modules, on:blueprints

#1822 Billing budget factory
  modules/billing-account/README.md
  modules/billing-account/budgets.tf
  modules/billing-account/factory.tf
  modules/billing-account/variables.tf
Labels: on:modules

#1817 KMS module: Import job feature
  modules/kms/README.md
  modules/kms/main.tf
  modules/kms/outputs.tf
  modules/kms/variables.tf
  tests/modules/kms/examples/import-job.yaml
Labels: on:modules

#1825 Handling SQL IP address issue
  blueprints/cloud-operations/network-dashboard/src/plugins/discover-cai.py
Labels: on:blueprints

#1826 Add public_access_prevention field to GCS module
  modules/gcs/README.md
  modules/gcs/main.tf
  modules/gcs/variables.tf
Labels: on:modules
