Repository GoogleCloudPlatform/cloud-foundation-fabric, pull requests merged in 2023-11, with the labels that each got.

#1833 Net VPC Peering: added stack_type field
  modules/net-vpc-peering/README.md
  modules/net-vpc-peering/main.tf
  modules/net-vpc-peering/variables.tf
Labels: on:modules

#1832 [Minimal Data Platform] Fix Landing and curated IAM
  blueprints/data-solutions/data-platform-minimal/01-landing.tf
  blueprints/data-solutions/data-platform-minimal/03-curated.tf
  blueprints/data-solutions/data-platform-minimal/IAM.md
Labels: on:blueprints, on:documentation

#1836 Avoid map-related casting errors in project factory
  blueprints/factories/project-factory/README.md
  blueprints/factories/project-factory/factory.tf
  blueprints/factories/project-factory/variables.tf
  fast/stages/3-project-factory/dev/README.md
  fast/stages/3-project-factory/dev/main.tf
  fast/stages/3-project-factory/dev/variables.tf
  tests/blueprints/factories/project_factory/examples/example.yaml
Labels: on:FAST, incompatible change, on:blueprints

#1838 Simplify #1836 fix, Avoid map-related casting errors in project factory
  blueprints/factories/project-factory/factory.tf
Labels: on:blueprints

#1839 Added create_before_destroy = true for self-managed certificates
  modules/net-lb-app-ext/main.tf
Labels: on:modules

#1837 Added envoy as SNI dynamic forward proxy to cloud-config-container
  modules/cloud-config-container/envoy-sni-dyn-fwd-proxy/README.md
  modules/cloud-config-container/envoy-sni-dyn-fwd-proxy/files/envoy.yaml
  modules/cloud-config-container/envoy-sni-dyn-fwd-proxy/main.tf
  modules/cloud-config-container/envoy-sni-dyn-fwd-proxy/outputs.tf
  modules/cloud-config-container/envoy-sni-dyn-fwd-proxy/variables.tf
  modules/cloud-config-container/envoy-sni-dyn-fwd-proxy/versions.tf
Labels: on:modules

#1823 Add end-to-end tests for project module
  modules/compute-vm/README.md
  modules/project/README.md
  modules/project/logging.tf
  modules/project/service-agents.yaml
  tests/examples/test_plan.py
  tests/examples/variables.tf
  tests/examples_e2e/README.md
  tests/examples_e2e/setup_module/e2e_tests.tfvars.tftpl
  tests/examples_e2e/setup_module/main.tf
  tests/examples_e2e/setup_module/variables.tf
  tests/examples_e2e/test_plan.py
  tests/examples_e2e/variables.tf
  tests/fixtures.py
  tests/modules/project/examples/basic.yaml
  tests/modules/project/examples/data.yaml
  tests/modules/project/examples/iam-authoritative.yaml
  tests/modules/project/examples/iam-bindings-additive.yaml
  tests/modules/project/examples/iam-bindings.yaml
  tests/modules/project/examples/iam-group.yaml
  tests/modules/project/examples/logging-data-access.yaml
  tests/modules/project/examples/logging.yaml
  tests/modules/project/examples/org-policies.yaml
  tests/modules/project/examples/shared-vpc-auto-grants.yaml
  tests/modules/project/examples/shared-vpc.yaml
Labels: on:modules

#1841 Fix modules to support new Apigee X environment types
  .gitignore
  modules/apigee/README.md
  modules/apigee/main.tf
  modules/apigee/variables.tf
Labels: on:modules

#1844 Allow disabling IAM for sink identity in resource manager modules
  modules/folder/README.md
  modules/folder/logging.tf
  modules/folder/variables.tf
  modules/organization/README.md
  modules/organization/logging.tf
  modules/organization/variables.tf
Labels: on:modules

#1846 Add support for IAM to vpc sc module
  modules/vpc-sc/README.md
  modules/vpc-sc/iam.tf
  modules/vpc-sc/variables.tf
Labels: on:modules

#1847 Fix validation and dynamic block for optional gpu_driver
  modules/gke-nodepool/main.tf
  modules/gke-nodepool/variables.tf
Labels: on:modules

#1851 Support multilevel data and allow overriding project id in project factory
  blueprints/factories/project-factory/README.md
  blueprints/factories/project-factory/factory.tf
  blueprints/factories/project-factory/main.tf
  tests/blueprints/factories/project_factory/examples/example.yaml
Labels: on:blueprints

#1848 Dataproc module bug fix
  blueprints/factories/project-factory/README.md
  blueprints/factories/project-factory/factory.tf
  blueprints/factories/project-factory/main.tf
  modules/dataproc/README.md
  modules/dataproc/main.tf
  modules/dataproc/variables.tf
  tests/blueprints/factories/project_factory/examples/example.yaml
Labels: on:modules, on:blueprints

#1845 Extend `cluster_autoscaling` fields in gke-cluster-standard
  modules/gke-cluster-standard/README.md
  modules/gke-cluster-standard/main.tf
  modules/gke-cluster-standard/variables.tf
Labels: on:modules

#1739 Added CMEK for Secret auto managed
  blueprints/data-solutions/sqlserver-alwayson/secrets.tf
  blueprints/data-solutions/vertex-mlops/ci-cd.tf
  modules/secret-manager/README.md
  modules/secret-manager/main.tf
  modules/secret-manager/variables.tf
Labels: on:modules, on:blueprints

#1858 Removed options that are not applicable to this load balancer
  modules/net-lb-app-int/README.md
  modules/net-lb-app-int/backend-service.tf
  modules/net-lb-app-int/variables-backend-service.tf
Labels: on:modules

#1856 Sql user features
  blueprints/data-solutions/cloudsql-multiregion/cloudsql.tf
  blueprints/third-party-solutions/phpipam/cloudsql.tf
  blueprints/third-party-solutions/wordpress/cloudrun/cloudsql.tf
  modules/cloudsql-instance/README.md
  modules/cloudsql-instance/main.tf
  modules/cloudsql-instance/variables.tf
Labels: on:modules, on:blueprints

#1860 Organization module end-to-end tests
  modules/organization/README.md
  modules/organization/iam.tf
  tests/examples/conftest.py
  tests/examples_e2e/setup_module/e2e_tests.tfvars.tftpl
  tests/modules/organization/examples/basic.yaml
  tests/modules/organization/examples/logging.yaml
  tests/modules/organization/examples/network-tags.yaml
  tests/modules/organization/examples/roles.yaml
  tests/modules/organization/examples/tags.yaml
  tests/pytest.ini
Labels: on:modules

#1864 End to end tests for GCS
  fast/stages/2-security/README.md
  fast/stages/2-security/variables.tf
  modules/gcs/README.md
  modules/kms/README.md
  modules/kms/variables.tf
  tests/examples/conftest.py
  tests/examples_e2e/setup_module/main.tf
  tests/modules/gcs/assets/example-file.csv
  tests/modules/gcs/examples/cmek.yaml
  tests/modules/gcs/examples/iam-authoritative.yaml
  tests/modules/gcs/examples/iam-bindings-additive.yaml
  tests/modules/gcs/examples/iam-bindings.yaml
  tests/modules/gcs/examples/lifecycle.yaml
  tests/modules/gcs/examples/notification.yaml
  tests/modules/gcs/examples/object-upload.yaml
  tests/modules/gcs/examples/retention-logging.yaml
  tests/modules/gcs/examples/simple.yaml
Labels: on:FAST, on:modules

#1859 Net dash cfv2
  blueprints/cloud-operations/network-dashboard/deploy-cloud-function/README.md
  blueprints/cloud-operations/network-dashboard/deploy-cloud-function/main.tf
  blueprints/cloud-operations/network-dashboard/deploy-cloud-function/outputs.tf
  blueprints/cloud-operations/network-dashboard/deploy-cloud-function/variables.tf
  blueprints/cloud-operations/network-dashboard/src/main.py
Labels: on:blueprints

#1870 End to end tests for Cloud Run + permadiff fixes
  modules/cloud-run/README.md
  modules/cloud-run/main.tf
  modules/cloud-run/variables.tf
  tests/examples_e2e/setup_module/main.tf
  tests/fixtures.py
  tests/modules/cloud_run/examples/audit-logs.yaml
  tests/modules/cloud_run/examples/connector.yaml
  tests/modules/cloud_run/examples/eventarc.yaml
  tests/modules/cloud_run/examples/secrets.yaml
  tests/modules/cloud_run/examples/service-account-external.yaml
  tests/modules/cloud_run/examples/service-account.yaml
  tests/modules/cloud_run/examples/simple.yaml
  tests/modules/cloud_run/examples/trigger-service-account-external.yaml
  tests/modules/cloud_run/examples/trigger-service-account.yaml
Labels: on:modules

#1868 Fix/dlpagent
  blueprints/data-solutions/data-platform-foundations/README.md
  blueprints/data-solutions/data-platform-minimal/README.md
  modules/project/README.md
  modules/project/service-agents.yaml
Labels: on:modules

#1873 Add DLP Service Agent role
  blueprints/data-solutions/data-platform-minimal/04-common.tf
  blueprints/data-solutions/data-platform-minimal/README.md
Labels: on:blueprints

#1869 added missing sql parameters
  modules/cloudsql-instance/README.md
  modules/cloudsql-instance/main.tf
  modules/cloudsql-instance/variables.tf
Labels: on:modules

#1878 Fix permissions assignments
  modules/cloud-config-container/cos-generic-metadata/cloud-config.yaml
Labels: on:modules

#1787 F5 blueprint
  blueprints/third-party-solutions/README.md
  blueprints/third-party-solutions/f5-bigip/README.md
  blueprints/third-party-solutions/f5-bigip/f5-bigip-ha-active/README.md
  blueprints/third-party-solutions/f5-bigip/f5-bigip-ha-active/diagram.png
  blueprints/third-party-solutions/f5-bigip/f5-bigip-ha-active/diagram.svg
  blueprints/third-party-solutions/f5-bigip/f5-bigip-ha-active/load_balancers.tf
  blueprints/third-party-solutions/f5-bigip/f5-bigip-ha-active/main.tf
  blueprints/third-party-solutions/f5-bigip/f5-bigip-ha-active/outputs.tf
  blueprints/third-party-solutions/f5-bigip/f5-bigip-ha-active/startup-script.tpl
  blueprints/third-party-solutions/f5-bigip/f5-bigip-ha-active/variables.tf
  tests/blueprints/third_party_solutions/f5_bigip/f5_bigip_ha_active/examples/active-active-instances.yaml
  tests/blueprints/third_party_solutions/f5_bigip/f5_bigip_ha_active/examples/multiple-fw-rules.yaml
  tests/blueprints/third_party_solutions/f5_bigip/f5_bigip_ha_active/examples/public-load-balancers.yaml
  tests/blueprints/third_party_solutions/f5_bigip/f5_bigip_ha_active/examples/secret-manager.yaml
  tests/blueprints/third_party_solutions/f5_bigip/f5_bigip_ha_active/examples/shared-config.yaml
  tests/blueprints/third_party_solutions/f5_bigip/f5_bigip_ha_active/examples/single-instance.yaml
Labels: on:blueprints, on:documentation

#1879 Output all neg ids in app lbs
  modules/net-lb-app-ext/README.md
  modules/net-lb-app-ext/outputs.tf
  modules/net-lb-app-int/README.md
  modules/net-lb-app-int/outputs.tf
Labels: on:modules

#1881 Support boot disk KMS key in GKE cluster modules
  modules/gke-cluster-autopilot/README.md
  modules/gke-cluster-autopilot/main.tf
  modules/gke-cluster-autopilot/variables.tf
  modules/gke-cluster-standard/README.md
  modules/gke-cluster-standard/main.tf
  modules/gke-cluster-standard/variables.tf
  tests/modules/gke_cluster_autopilot/network_tags.tfvars
Labels: on:modules

#1882 Fixes/improvements to F5 HA blueprint
  blueprints/third-party-solutions/f5-bigip/f5-bigip-ha-active/README.md
  blueprints/third-party-solutions/f5-bigip/f5-bigip-ha-active/variables.tf
Labels: on:blueprints

#1885 Fixed envoy file, it has extra character that was preventing envoy to start
  modules/cloud-config-container/envoy-sni-dyn-fwd-proxy/files/envoy.yaml
Labels: on:modules

#1883 F5 deployment blueprint
  blueprints/third-party-solutions/README.md
  blueprints/third-party-solutions/f5-bigip/README.md
  blueprints/third-party-solutions/f5-bigip/f5-bigip-ha-active-deployment/README.md
  blueprints/third-party-solutions/f5-bigip/f5-bigip-ha-active-deployment/backends.tf
  blueprints/third-party-solutions/f5-bigip/f5-bigip-ha-active-deployment/clients.tf
  blueprints/third-party-solutions/f5-bigip/f5-bigip-ha-active-deployment/data/my_key.pub
  blueprints/third-party-solutions/f5-bigip/f5-bigip-ha-active-deployment/diagram-flow.png
  blueprints/third-party-solutions/f5-bigip/f5-bigip-ha-active-deployment/diagram-flow.svg
  blueprints/third-party-solutions/f5-bigip/f5-bigip-ha-active-deployment/diagram.png
  blueprints/third-party-solutions/f5-bigip/f5-bigip-ha-active-deployment/diagram.svg
  blueprints/third-party-solutions/f5-bigip/f5-bigip-ha-active-deployment/load-balancer.tf
  blueprints/third-party-solutions/f5-bigip/f5-bigip-ha-active-deployment/main.tf
  blueprints/third-party-solutions/f5-bigip/f5-bigip-ha-active-deployment/outputs.tf
  blueprints/third-party-solutions/f5-bigip/f5-bigip-ha-active-deployment/variables.tf
Labels: on:blueprints, on:documentation

#1874 Added PSC support to CloudSQL Module
  blueprints/data-solutions/cloudsql-multiregion/cloudsql.tf
  blueprints/third-party-solutions/phpipam/cloudsql.tf
  blueprints/third-party-solutions/wordpress/cloudrun/cloudsql.tf
  modules/cloudsql-instance/README.md
  modules/cloudsql-instance/main.tf
  modules/cloudsql-instance/outputs.tf
  modules/cloudsql-instance/variables.tf
Labels: on:modules, on:blueprints

#1886 Fixes to F5 blueprint docs
  blueprints/third-party-solutions/f5-bigip/README.md
  blueprints/third-party-solutions/f5-bigip/f5-bigip-ha-active-deployment/diagram.png
  blueprints/third-party-solutions/f5-bigip/f5-bigip-ha-active-deployment/diagram.svg
  blueprints/third-party-solutions/f5-bigip/f5-bigip-ha-active/README.md
Labels: on:blueprints

#1861 Added external data configuration support to BigQuery Module
  modules/bigquery-dataset/README.md
  modules/bigquery-dataset/main.tf
  modules/bigquery-dataset/variables.tf
Labels: on:modules

#1893 E2E and examples tests for net-vpc module
  modules/net-vpc/README.md
  modules/net-vpc/routes.tf
  tests/examples_e2e/setup_module/main.tf
  tests/modules/net_vpc/examples/dns-policies.yaml
  tests/modules/net_vpc/examples/factory.yaml
  tests/modules/net_vpc/examples/firewall_policy_enforcement_order.yaml
  tests/modules/net_vpc/examples/googleapis.yaml
  tests/modules/net_vpc/examples/ipv6.yaml
  tests/modules/net_vpc/examples/proxy-only-subnets.yaml
  tests/modules/net_vpc/examples/psa-routes.yaml
  tests/modules/net_vpc/examples/psa.yaml
  tests/modules/net_vpc/examples/routes.yaml
  tests/modules/net_vpc/examples/shared-vpc.yaml
  tests/modules/net_vpc/examples/simple.yaml
  tests/modules/net_vpc/examples/subnet-iam.yaml
  tests/modules/net_vpc/examples/subnet-options.yaml
Labels: on:modules
