Repository GoogleCloudPlatform/cloud-foundation-fabric, pull requests merged in 2023-08, with the labels that each got.

#1556 autodq parsing proposal
  modules/dataplex-autodq/README.md
  modules/dataplex-autodq/main.tf
  modules/dataplex-autodq/variables.tf
Labels: on:modules

#1513 optional description in modules/net-vpc-swp
  modules/net-vpc-swp/README.md
  modules/net-vpc-swp/main.tf
  modules/net-vpc-swp/variables.tf
  tests/modules/net_vpc_swp/examples/basic.yaml
  tests/modules/net_vpc_swp/examples/rules.yaml
  tests/modules/net_vpc_swp/examples/tls.yaml
Labels: on:modules

#1545 add dataplex autodq base module
  README.md
  modules/README.md
  modules/dataplex-datascan/README.md
  modules/dataplex-datascan/iam.tf
  modules/dataplex-datascan/main.tf
  modules/dataplex-datascan/outputs.tf
  modules/dataplex-datascan/rules_parsing.tf
  modules/dataplex-datascan/variables.tf
  modules/dataplex-datascan/versions.tf
  tests/modules/dataplex_datascan/datascan_test_inputs.tfvars
  tests/modules/dataplex_datascan/datascan_test_inputs.yaml
  tests/modules/dataplex_datascan/examples/datascan_cron.yaml
  tests/modules/dataplex_datascan/examples/datascan_dq.yaml
  tests/modules/dataplex_datascan/examples/datascan_entity.yaml
  tests/modules/dataplex_datascan/examples/datascan_iam.yaml
  tests/modules/dataplex_datascan/examples/datascan_profiling.yaml
  tests/modules/dataplex_datascan/tftest.yaml
Labels: on:modules, on:documentation

#1560 Removed unused attribute in variable of ha-vpn-over-blueprint blueprint
  blueprints/networking/ha-vpn-over-interconnect/README.md
  blueprints/networking/ha-vpn-over-interconnect/overlay.tf
  blueprints/networking/ha-vpn-over-interconnect/variables.tf
Labels: on:blueprints

#1561 Removed unused attribute in peer_gateway_config variable
  modules/net-ipsec-over-interconnect/README.md
  modules/net-ipsec-over-interconnect/main.tf
  modules/net-ipsec-over-interconnect/variables.tf
Labels: on:modules

#1564 Fixed error of inconsistent conditional result types when evaluating …
  modules/net-ipsec-over-interconnect/main.tf
  modules/net-ipsec-over-interconnect/outputs.tf
Labels: on:modules

#1563 Update FAST CI/CD workflows so it can work with ID_TOKEN and Gitlab 15+
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/cicd.tf
  fast/stages/0-bootstrap/identity-providers.tf
  fast/stages/0-bootstrap/outputs.tf
  fast/stages/0-bootstrap/templates/workflow-gitlab.yaml
  fast/stages/0-bootstrap/variables.tf
  fast/stages/1-resman/README.md
  fast/stages/1-resman/outputs.tf
  fast/stages/1-resman/templates/workflow-gitlab.yaml
  fast/stages/1-resman/variables.tf
Labels: on:FAST

#1566 Remove unused ASN numbers from CloudNAT to avoid provider errors
  fast/stages/2-networking-a-peering/landing.tf
  fast/stages/2-networking-a-peering/spoke-dev.tf
  fast/stages/2-networking-a-peering/spoke-prod.tf
  fast/stages/2-networking-b-vpn/landing.tf
  fast/stages/2-networking-b-vpn/spoke-dev.tf
  fast/stages/2-networking-b-vpn/spoke-prod.tf
  fast/stages/2-networking-c-nva/landing.tf
  fast/stages/2-networking-d-separate-envs/spoke-dev.tf
  fast/stages/2-networking-d-separate-envs/spoke-prod.tf
  fast/stages/2-networking-e-nva-bgp/landing.tf
Labels: on:FAST

#1567 Allow custom route descriptions in net-vpc module
  modules/net-vpc/README.md
  modules/net-vpc/routes.tf
  modules/net-vpc/variables.tf
  tests/modules/net_vpc/examples/routes.yaml
Labels: on:modules

#1568 Add support for ipv6 to net-vpc module
  modules/net-vpc/README.md
  modules/net-vpc/main.tf
  modules/net-vpc/outputs.tf
  modules/net-vpc/subnets.tf
  modules/net-vpc/variables.tf
  tests/modules/net_vpc/examples/ipv6.yaml
Labels: on:modules

#1569 Add support for cost management to GKE module
  modules/gke-cluster-autopilot/README.md
  modules/gke-cluster-autopilot/main.tf
  modules/gke-cluster-autopilot/variables.tf
  modules/gke-cluster-standard/README.md
  modules/gke-cluster-standard/main.tf
  modules/gke-cluster-standard/variables.tf
Labels: on:modules

#1572 More module descriptions
  blueprints/data-solutions/data-platform-foundations/README.md
  blueprints/data-solutions/data-platform-foundations/variables.tf
  blueprints/data-solutions/data-platform-minimal/README.md
  blueprints/data-solutions/data-platform-minimal/variables.tf
  fast/stages/3-data-platform/dev/README.md
  fast/stages/3-data-platform/dev/variables.tf
  modules/bigquery-dataset/README.md
  modules/bigquery-dataset/main.tf
  modules/bigquery-dataset/variables.tf
  modules/data-catalog-policy-tag/README.md
  modules/data-catalog-policy-tag/iam.tf
  modules/data-catalog-policy-tag/main.tf
  modules/data-catalog-policy-tag/variables.tf
  modules/logging-bucket/README.md
  modules/logging-bucket/main.tf
  modules/logging-bucket/variables.tf
  modules/net-address/README.md
  modules/net-address/main.tf
  modules/net-address/variables.tf
  modules/net-cloudnat/README.md
  modules/net-vpn-ha/README.md
  modules/net-vpn-ha/main.tf
  modules/net-vpn-ha/variables.tf
  modules/net-vpn-static/README.md
Labels: on:FAST, incompatible change, on:modules, on:blueprints

#1576 Refactor firewall policy module
  modules/net-vpc-firewall-policy/README.md
  modules/net-vpc-firewall-policy/factory.tf
  modules/net-vpc-firewall-policy/hierarchical.tf
  modules/net-vpc-firewall-policy/main.tf
  modules/net-vpc-firewall-policy/net-global.tf
  modules/net-vpc-firewall-policy/net-regional.tf
  modules/net-vpc-firewall-policy/outputs.tf
  modules/net-vpc-firewall-policy/variables.tf
  tests/modules/net_vpc_firewall_policy/examples/factory.yaml
  tests/modules/net_vpc_firewall_policy/examples/global-net.yaml
  tests/modules/net_vpc_firewall_policy/examples/hierarchical.yaml
  tests/modules/net_vpc_firewall_policy/examples/regional-net.yaml
Labels: incompatible change, on:modules

#1580 Apigee addons
  blueprints/apigee/bigquery-analytics/README.md
  blueprints/apigee/hybrid-gke/README.md
  blueprints/apigee/network-patterns/nb-glb-psc-neg-sb-psc-ilbl7-hybrid-neg/README.md
  modules/apigee/README.md
  modules/apigee/main.tf
  modules/apigee/variables.tf
Labels: on:modules

#1579 Enable team CI/CD impersonation
  fast/stages/1-resman/README.md
  fast/stages/1-resman/branch-teams.tf
  fast/stages/1-resman/cicd-teams.tf
  fast/stages/1-resman/main.tf
  fast/stages/1-resman/outputs-files.tf
  fast/stages/1-resman/outputs-gcs.tf
  fast/stages/1-resman/outputs.tf
  fast/stages/1-resman/variables.tf
Labels: on:FAST

#1582 feat(modules/cloud-run): add gen2 exec env support
  modules/cloud-run/README.md
  modules/cloud-run/main.tf
  modules/cloud-run/variables.tf
  tests/modules/cloud_run/examples/gen2.yaml
Labels: on:modules

#1583 Fix module path for teams cicd
  fast/stages/1-resman/cicd-teams.tf
Labels: on:FAST

#1578 Fix: Instance level stateful disk config
  modules/compute-mig/README.md
  modules/compute-mig/stateful-config.tf
  modules/compute-vm/README.md
  modules/compute-vm/variables.tf
  tests/modules/compute_mig/examples/stateful.yaml
Labels: on:modules

#1587 Fix factory rules key in net firewall policy module
  modules/net-firewall-policy/factory.tf
  tests/modules/net_firewall_policy/examples/factory.yaml
Labels: incompatible change, on:modules

#1588 feat: 🎸 (modules/cloudsql-instance): enable require_ssl cert support
  modules/cloudsql-instance/README.md
  modules/cloudsql-instance/main.tf
  modules/cloudsql-instance/variables.tf
Labels: on:modules

#1591 feat: 🎸 (modules/cloudsql-instance):add project_id for ssl cert
  modules/cloudsql-instance/main.tf
Labels: on:modules

#1593 Fix FAST CI/CD for Gitlab
  fast/assets/templates/workflow-gitlab.yaml
  fast/stages-multitenant/0-bootstrap-tenant/README.md
  fast/stages-multitenant/0-bootstrap-tenant/cicd.tf
  fast/stages-multitenant/0-bootstrap-tenant/identity-providers.tf
  fast/stages-multitenant/0-bootstrap-tenant/outputs.tf
  fast/stages-multitenant/0-bootstrap-tenant/templates/workflow-gitlab.yaml
  fast/stages-multitenant/0-bootstrap-tenant/variables.tf
  fast/stages-multitenant/1-resman-tenant/README.md
  fast/stages-multitenant/1-resman-tenant/outputs.tf
  fast/stages-multitenant/1-resman-tenant/templates/workflow-gitlab.yaml
  fast/stages-multitenant/1-resman-tenant/variables.tf
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/cicd.tf
  fast/stages/0-bootstrap/identity-providers.tf
  fast/stages/0-bootstrap/outputs.tf
  fast/stages/0-bootstrap/templates/workflow-gitlab.yaml
  fast/stages/0-bootstrap/variables.tf
  fast/stages/1-resman/README.md
  fast/stages/1-resman/outputs.tf
  fast/stages/1-resman/templates/workflow-gitlab.yaml
  fast/stages/1-resman/variables.tf
Labels: on:FAST

#1594 Add support for conditions to `iam_members` module variables
  modules/data-catalog-policy-tag/README.md
  modules/data-catalog-policy-tag/iam.tf
  modules/data-catalog-policy-tag/variables.tf
  modules/dataplex-datascan/README.md
  modules/dataplex-datascan/iam.tf
  modules/dataplex-datascan/variables.tf
  modules/dataproc/README.md
  modules/dataproc/iam.tf
  modules/dataproc/variables.tf
  modules/folder/README.md
  modules/folder/iam.tf
  modules/folder/variables.tf
  modules/iam-service-account/README.md
  modules/iam-service-account/iam.tf
  modules/iam-service-account/variables.tf
  modules/kms/README.md
  modules/kms/iam.tf
  modules/kms/variables.tf
  modules/net-vpc/README.md
  modules/net-vpc/subnets.tf
  modules/net-vpc/variables.tf
  modules/organization/README.md
  modules/organization/iam.tf
  modules/organization/variables.tf
  modules/project/README.md
  modules/project/iam.tf
  modules/project/variables.tf
  modules/source-repository/README.md
  modules/source-repository/iam.tf
  modules/source-repository/variables.tf
  tests/modules/project/examples/iam-members.yaml
Labels: on:modules

#1597 fix null object exception in bootstrap output when using cloudsource
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/outputs.tf
Labels: on:FAST

#1598 feat(cloud-run): add startup cpu boost option
  modules/cloud-run/README.md
  modules/cloud-run/main.tf
  modules/cloud-run/variables.tf
Labels: on:modules

#1599 Fixing some typos
  .gitignore
  blueprints/data-solutions/data-playground/README.md
  blueprints/gke/binauthz/README.md
  fast/stages/2-networking-c-nva/README.md
  fast/stages/2-networking-e-nva-bgp/README.md
  modules/bigtable-instance/README.md
  modules/bigtable-instance/outputs.tf
  modules/projects-data-source/README.md
  modules/projects-data-source/variables.tf
Labels: on:modules

#1600 fix(cloud-run): move cpu boost annotation to revision
  modules/cloud-run/main.tf
Labels: on:modules

#1590 GCVE module first release
  README.md
  modules/README.md
  modules/gcve-private-cloud/README.md
  modules/gcve-private-cloud/main.tf
  modules/gcve-private-cloud/outputs.tf
  modules/gcve-private-cloud/variables.tf
  modules/gcve-private-cloud/versions.tf
  tests/modules/gcve_private_cloud/examples/basic.yaml
  tests/modules/gcve_private_cloud/examples/custom.yaml
Labels: on:modules

#1610 Fix: use existing variable to optionally name fw policies
  fast/stages/2-networking-a-peering/README.md
  fast/stages/2-networking-a-peering/main.tf
  fast/stages/2-networking-a-peering/variables.tf
  fast/stages/2-networking-b-vpn/README.md
  fast/stages/2-networking-b-vpn/main.tf
  fast/stages/2-networking-b-vpn/variables.tf
  fast/stages/2-networking-c-nva/README.md
  fast/stages/2-networking-c-nva/main.tf
  fast/stages/2-networking-c-nva/variables.tf
  fast/stages/2-networking-d-separate-envs/README.md
  fast/stages/2-networking-d-separate-envs/main.tf
  fast/stages/2-networking-d-separate-envs/variables.tf
  fast/stages/2-networking-e-nva-bgp/README.md
  fast/stages/2-networking-e-nva-bgp/main.tf
  fast/stages/2-networking-e-nva-bgp/variables.tf
Labels: on:FAST

#1609 Use cloud run bindings for cf v2 invoker role, refactor iam handling in cf v2 and cloud run
  modules/cloud-function-v2/README.md
  modules/cloud-function-v2/main.tf
  modules/cloud-function-v2/outputs.tf
  modules/cloud-run/main.tf
  tests/modules/cloud_function_v2/examples/iam.yaml
  tests/modules/cloud_run/examples/trigger-service-account-external.yaml
  tests/modules/cloud_run/examples/trigger-service-account.yaml
Labels: incompatible change, on:modules

#1584 add support for object upload to gcs module
  modules/gcs/README.md
  modules/gcs/main.tf
  modules/gcs/outputs.tf
  modules/gcs/variables.tf
  tests/modules/gcs/examples/object-upload.yaml
Labels: on:modules

#1614 Fix net-firewall-policy factory name and action
  modules/net-firewall-policy/factory.tf
Labels: on:modules

#1620 Remove net-firewall-policy match variable validation
  modules/net-firewall-policy/README.md
  modules/net-firewall-policy/variables.tf
Labels: on:modules

#1619 Adding support for NAT in Apigee
  blueprints/apigee/bigquery-analytics/README.md
  blueprints/apigee/hybrid-gke/README.md
  blueprints/apigee/network-patterns/nb-glb-psc-neg-sb-psc-ilbl7-hybrid-neg/README.md
  modules/apigee/README.md
  modules/apigee/main.tf
  modules/apigee/outputs.tf
  modules/apigee/variables.tf
Labels: on:modules

#1623 Fix role name for delegated grants in FAST bootstrap
  fast/stages/0-bootstrap/organization.tf
Labels: on:FAST

#1613 Cloud SQL activation policy selectable
  modules/cloudsql-instance/README.md
  modules/cloudsql-instance/main.tf
  modules/cloudsql-instance/variables.tf
Labels: on:modules

#1630 [Fix] Add explicit dependency between CR peers and NCC RA spoke creation
  modules/ncc-spoke-ra/main.tf
Labels: on:modules

#1631 Allow single hfw policy association in folder and organization modules
  fast/stages/2-networking-a-peering/main.tf
  fast/stages/2-networking-b-vpn/main.tf
  fast/stages/2-networking-c-nva/main.tf
  fast/stages/2-networking-d-separate-envs/main.tf
  fast/stages/2-networking-e-nva-bgp/main.tf
  modules/folder/README.md
  modules/folder/main.tf
  modules/folder/variables.tf
  modules/organization/README.md
  modules/organization/main.tf
  modules/organization/variables.tf
Labels: on:FAST, on:modules

#1633 Do not set default ASN number
  modules/net-cloudnat/README.md
  modules/net-cloudnat/main.tf
  modules/net-cloudnat/variables.tf
Labels: on:modules

#1634 [revert(revert(patch))] Remove unused ASN numbers for CloudNAT in FAST
  fast/stages/2-networking-a-peering/landing.tf
  fast/stages/2-networking-a-peering/spoke-dev.tf
  fast/stages/2-networking-a-peering/spoke-prod.tf
  fast/stages/2-networking-b-vpn/landing.tf
  fast/stages/2-networking-b-vpn/spoke-dev.tf
  fast/stages/2-networking-b-vpn/spoke-prod.tf
  fast/stages/2-networking-c-nva/landing.tf
  fast/stages/2-networking-d-separate-envs/spoke-dev.tf
  fast/stages/2-networking-d-separate-envs/spoke-prod.tf
  fast/stages/2-networking-e-nva-bgp/landing.tf
Labels: on:FAST

#1632 Vpc sc allow null for identity type
  modules/vpc-sc/README.md
  modules/vpc-sc/variables.tf
  tests/modules/vpc_sc/examples/regular.yaml
Labels: on:modules

#1636 Delete api gateway blueprint
  CHANGELOG.md
  blueprints/README.md
  blueprints/serverless/README.md
  blueprints/serverless/api-gateway/README.md
  blueprints/serverless/api-gateway/diagram.png
  blueprints/serverless/api-gateway/function/index.js
  blueprints/serverless/api-gateway/function/package-lock.json
  blueprints/serverless/api-gateway/function/package.json
  blueprints/serverless/api-gateway/main.tf
  blueprints/serverless/api-gateway/outputs.tf
  blueprints/serverless/api-gateway/spec.yaml
  blueprints/serverless/api-gateway/variables.tf
Labels: on:blueprints, on:documentation

#1637 GRPC variable is misnamed "GRCP" in `modules/cloud-run/variables.tf`, causing liveness probe and startup probe to fail
  modules/cloud-run/README.md
  modules/cloud-run/variables.tf
Labels: on:modules

#1640 Simplify linting output in workflow
  .github/workflows/linting.yml
  CONTRIBUTING.md
  tools/check_documentation.py
  tools/check_links.py
  tools/check_names.py
  tools/validate_metadata.py
Labels: on:tools, on:documentation

#1641 Lint script
  tools/lint.sh
Labels: on:tools

#1625 gke-cluster-autopilot: add logging configuration
  modules/gke-cluster-autopilot/README.md
  modules/gke-cluster-autopilot/main.tf
  modules/gke-cluster-autopilot/outputs.tf
  modules/gke-cluster-autopilot/variables.tf
  tests/modules/gke_cluster_autopilot/examples/logging-config.yaml
Labels: on:modules

#1638 gke-cluster-standard: change logging configuration
  blueprints/gke/multitenant-fleet/README.md
  blueprints/gke/multitenant-fleet/variables.tf
  fast/stages/3-gke-multitenant/dev/README.md
  fast/stages/3-gke-multitenant/dev/variables.tf
  modules/gke-cluster-standard/README.md
  modules/gke-cluster-standard/main.tf
  modules/gke-cluster-standard/variables.tf
  tests/modules/gke_cluster_standard/examples/logging-config-disable-all.yaml
  tests/modules/gke_cluster_standard/examples/logging-config-enable-all.yaml
Labels: on:FAST, on:modules, on:blueprints
