Repository GoogleCloudPlatform/cloud-foundation-fabric, pull requests merged in 2023-02, with the labels that each got.

#1124 Removed unused file package-lock.json
  blueprints/apigee/bigquery-analytics/package-lock.json
Labels: on:blueprints

#1127 Skip node config for autopilot
  CHANGELOG.md
  modules/gke-cluster/main.tf
Labels: on:modules, on:documentation

#1038 Vertex Pipelines MLOps framework blueprint
  blueprints/README.md
  blueprints/cloud-operations/apigee/bundle-export.zip
  blueprints/cloud-operations/apigee/bundle-gcs2bq.zip
  blueprints/data-solutions/README.md
  blueprints/data-solutions/vertex-mlops/README.md
  blueprints/data-solutions/vertex-mlops/ci-cd.tf
  blueprints/data-solutions/vertex-mlops/images/mlops_projects.png
  blueprints/data-solutions/vertex-mlops/main.tf
  blueprints/data-solutions/vertex-mlops/notebooks.tf
  blueprints/data-solutions/vertex-mlops/outputs.tf
  blueprints/data-solutions/vertex-mlops/terraform.tfvars.sample
  blueprints/data-solutions/vertex-mlops/variables.tf
  tests/blueprints/data_solutions/vertex_mlops/__init__.py
  tests/blueprints/data_solutions/vertex_mlops/fixture/main.tf
  tests/blueprints/data_solutions/vertex_mlops/test_plan.py
Labels: on:blueprints, on:documentation

#1129 Update KMS blueprint
  blueprints/data-solutions/cmek-via-centralized-kms/README.md
  blueprints/data-solutions/cmek-via-centralized-kms/main.tf
  blueprints/data-solutions/cmek-via-centralized-kms/variables.tf
  tests/blueprints/data_solutions/cmek_via_centralized_kms/fixture/main.tf
  tests/blueprints/data_solutions/cmek_via_centralized_kms/fixture/variables.tf
Labels: on:blueprints

#1105 [Feature] Update data platform blue print with Dataflow Flex template
  blueprints/data-solutions/data-platform-foundations/03-composer.tf
  blueprints/data-solutions/data-platform-foundations/03-orchestration.tf
  blueprints/data-solutions/data-platform-foundations/IAM.md
  blueprints/data-solutions/data-platform-foundations/README.md
  blueprints/data-solutions/data-platform-foundations/demo/README.md
  blueprints/data-solutions/data-platform-foundations/demo/dataflow-csv2bq/.gitignore
  blueprints/data-solutions/data-platform-foundations/demo/dataflow-csv2bq/Dockerfile
  blueprints/data-solutions/data-platform-foundations/demo/dataflow-csv2bq/README.md
  blueprints/data-solutions/data-platform-foundations/demo/dataflow-csv2bq/cloudbuild.yaml
  blueprints/data-solutions/data-platform-foundations/demo/dataflow-csv2bq/src/csv2bq.py
  blueprints/data-solutions/data-platform-foundations/demo/dataflow-csv2bq/src/requirements.txt
  blueprints/data-solutions/data-platform-foundations/demo/datapipeline_dc_tags_flex.py
  blueprints/data-solutions/data-platform-foundations/demo/datapipeline_flex.py
  blueprints/data-solutions/data-platform-foundations/images/df_demo_pipeline.png
  blueprints/data-solutions/data-platform-foundations/outputs.tf
  tests/blueprints/data_solutions/data_platform_foundations/test_plan.py
Labels: on:blueprints, on:documentation

#1132 Add descriptive name as optional argument
  blueprints/factories/project-factory/README.md
  blueprints/factories/project-factory/main.tf
  blueprints/factories/project-factory/variables.tf
Labels: on:blueprints

#1134 Fix stage 1 output file names and stage links script
  fast/stage-links.sh
  fast/stages/1-resman/outputs.tf
Labels: on:FAST

#1135 Post PR message in GitHub workflow on init or validate failure
  fast/stages-multitenant/0-bootstrap-tenant/templates/workflow-github.yaml
  fast/stages-multitenant/1-resman-tenant/templates/workflow-github.yaml
  fast/stages/0-bootstrap/templates/workflow-github.yaml
  fast/stages/1-resman/templates/workflow-github.yaml
Labels: on:FAST

#1133 Align VPN peer interface to module in FAST net VPN stage
  fast/stages/2-networking-c-nva/vpn-onprem.tf
Labels: on:FAST

#1142 Fix bq factory docs
  blueprints/factories/bigquery-factory/README.md
  blueprints/factories/bigquery-factory/main.tf
  blueprints/factories/bigquery-factory/variables.tf
  tests/blueprints/factories/bigquery_factory/__init__.py
  tests/blueprints/factories/bigquery_factory/examples/simple.yaml
  tests/blueprints/factories/bigquery_factory/fixture/main.tf
  tests/blueprints/factories/bigquery_factory/fixture/tables/table_a.yaml
  tests/blueprints/factories/bigquery_factory/fixture/variables.tf
  tests/blueprints/factories/bigquery_factory/fixture/views/view_a.yaml
  tests/blueprints/factories/bigquery_factory/test_plan.py
Labels: on:blueprints

#1147 Fix gke-cluster dns config feature
  modules/gke-cluster/README.md
  modules/gke-cluster/main.tf
  modules/gke-cluster/variables.tf
  tests/modules/gke_cluster/examples/dns.yaml
Labels: on:modules

#1140 CloudSQL Backup Configuration: Support Point In Time Recovery
  modules/cloudsql-instance/README.md
  modules/cloudsql-instance/main.tf
  modules/cloudsql-instance/variables.tf
Labels: on:modules

#1131 Add Autopilot Support for cluster_autoscaling Configuration in GKE Module
  modules/gke-cluster/main.tf
Labels: on:modules

#1146 Serverless networking program
  blueprints/serverless/cloud-run-explore/README.md
  blueprints/serverless/cloud-run-explore/images/architecture.png
  blueprints/serverless/cloud-run-explore/images/forbidden.png
  blueprints/serverless/cloud-run-explore/images/service-running.png
  blueprints/serverless/cloud-run-explore/images/use-case-1.png
  blueprints/serverless/cloud-run-explore/images/use-case-2.png
  blueprints/serverless/cloud-run-explore/images/use-case-3.png
  blueprints/serverless/cloud-run-explore/images/use-case-4.png
  blueprints/serverless/cloud-run-explore/images/use-case-5.png
  blueprints/serverless/cloud-run-explore/main.tf
  blueprints/serverless/cloud-run-explore/outputs.tf
  blueprints/serverless/cloud-run-explore/variables.tf
Labels: on:blueprints

#1154 Workaround to mitigate provider issue 9164
  blueprints/data-solutions/data-playground/main.tf
Labels: on:blueprints

#1156 Add 'max_time_travel_hours ' support on BQ module
  modules/bigquery-dataset/README.md
  modules/bigquery-dataset/main.tf
  modules/bigquery-dataset/variables.tf
Labels: on:modules

#1158 changed pod_range reference to include secondary_pod_range issue #1157
  modules/gke-nodepool/main.tf
Labels: on:modules

#1145 FAST stage docs cleanup
  fast/stage-links.sh
  fast/stages/0-bootstrap/README.md
  fast/stages/1-resman/README.md
  fast/stages/2-networking-a-peering/README.md
  fast/stages/2-networking-b-vpn/README.md
  fast/stages/2-networking-c-nva/README.md
  fast/stages/2-networking-d-separate-envs/README.md
  fast/stages/2-security/README.md
  fast/stages/3-data-platform/dev/README.md
  fast/stages/3-gke-multitenant/dev/README.md
  fast/stages/CLEANUP.md
  fast/stages/COMPANION.md
  fast/stages/FAQ.md
Labels: on:FAST, on:documentation

#1160 Allow additive IAM grants by robots name
  modules/project/README.md
  modules/project/iam.tf
  tests/modules/project/examples/iam-additive-members.yaml
  tests/modules/project/examples/iam-additive.yaml
Labels: on:modules

#1163 Projects-data-source module new version
  modules/projects-data-source/README.md
  modules/projects-data-source/main.tf
  modules/projects-data-source/outputs.tf
  modules/projects-data-source/variables.tf
  modules/projects-data-source/versions.tf
Labels: on:modules

#1162 Fix Terraform formatting and add module_prefix attribute to modules_config
  fast/extras/0-cicd-github/README.md
  fast/extras/0-cicd-github/main.tf
  fast/extras/0-cicd-github/variables.tf
Labels: on:FAST

#1164 fix module_prefix in fast extras 0-cicd-github
  fast/extras/0-cicd-github/main.tf
Labels: on:FAST

#1153 net-vpc - add missing iam properties to factory_subnets
  modules/net-vpc/README.md
  modules/net-vpc/subnets.tf
  tests/modules/net_vpc/examples/factory.yaml
Labels: on:modules

#1167 Simplify org policies
  blueprints/data-solutions/data-playground/main.tf
  blueprints/data-solutions/shielded-folder/data/org-policies/compute.yaml
  blueprints/data-solutions/shielded-folder/data/org-policies/iam.yaml
  blueprints/data-solutions/shielded-folder/data/org-policies/serverless.yaml
  blueprints/data-solutions/shielded-folder/data/org-policies/sql.yaml
  blueprints/data-solutions/shielded-folder/data/org-policies/storage.yaml
  blueprints/data-solutions/vertex-mlops/main.tf
  blueprints/factories/project-factory/README.md
  blueprints/factories/project-factory/sample-data/projects/project.yaml
  blueprints/factories/project-factory/variables.tf
  blueprints/gke/multitenant-fleet/main.tf
  blueprints/networking/filtering-proxy/main.tf
  fast/stages-multitenant/1-resman-tenant/branch-sandbox.tf
  fast/stages-multitenant/1-resman-tenant/data/org-policies/compute.yaml
  fast/stages-multitenant/1-resman-tenant/data/org-policies/iam.yaml
  fast/stages-multitenant/1-resman-tenant/data/org-policies/serverless.yaml
  fast/stages-multitenant/1-resman-tenant/data/org-policies/sql.yaml
  fast/stages-multitenant/1-resman-tenant/data/org-policies/storage.yaml
  fast/stages/1-resman/branch-sandbox.tf
  fast/stages/1-resman/data/org-policies/compute.yaml
  fast/stages/1-resman/data/org-policies/iam.yaml
  fast/stages/1-resman/data/org-policies/serverless.yaml
  fast/stages/1-resman/data/org-policies/sql.yaml
  fast/stages/1-resman/data/org-policies/storage.yaml
  fast/stages/1-resman/organization.tf
  fast/stages/3-project-factory/dev/data/projects/project.yaml.sample
  modules/folder/README.md
  modules/folder/organization-policies.tf
  modules/folder/variables.tf
  modules/organization/README.md
  modules/organization/organization-policies.tf
  modules/organization/variables.tf
  modules/project/README.md
  modules/project/organization-policies.tf
  modules/project/variables.tf
  tests/blueprints/factories/project_factory/fixture/projects/project.yaml
  tests/fast/stages/s3_project_factory/data/projects/project.yaml
  tests/modules/folder/examples/org-policies.yaml
  tests/modules/folder/org_policies_boolean.tfvars
  tests/modules/folder/org_policies_list.tfvars
  tests/modules/organization/examples/basic.yaml
  tests/modules/organization/org_policies_boolean.tfvars
  tests/modules/organization/org_policies_list.tfvars
  tests/modules/organization/test_plan_org_policies_modules.py
  tests/modules/project/examples/org-policies.yaml
  tests/modules/project/org_policies_boolean.tfvars
  tests/modules/project/org_policies_list.tfvars
Labels: on:FAST, on:modules, on:blueprints

#1165 DataPlatform: Support project creation
  blueprints/data-solutions/data-platform-foundations/01-dropoff.tf
  blueprints/data-solutions/data-platform-foundations/02-load.tf
  blueprints/data-solutions/data-platform-foundations/03-orchestration.tf
  blueprints/data-solutions/data-platform-foundations/04-transformation.tf
  blueprints/data-solutions/data-platform-foundations/05-datawarehouse.tf
  blueprints/data-solutions/data-platform-foundations/06-common.tf
  blueprints/data-solutions/data-platform-foundations/07-exposure.tf
  blueprints/data-solutions/data-platform-foundations/IAM.md
  blueprints/data-solutions/data-platform-foundations/README.md
  blueprints/data-solutions/data-platform-foundations/demo/datapipeline_dc_tags.py
  blueprints/data-solutions/data-platform-foundations/demo/delete_table.py
  blueprints/data-solutions/data-platform-foundations/variables.tf
  fast/stages/3-data-platform/dev/main.tf
  tests/blueprints/data_solutions/data_platform_foundations/fixture/main.tf
  tests/blueprints/data_solutions/data_platform_foundations/test_plan.py
Labels: on:FAST, on:blueprints, on:documentation

#1171 Modifications related to autopilot and workload identity. Added workl…
  modules/gke-cluster/README.md
  modules/gke-cluster/main.tf
  modules/gke-cluster/outputs.tf
Labels: on:modules

#1172 Allow to not use any health check
  modules/net-ilb-l7/backend-service.tf
Labels: on:modules

#1178 adding meshconfig.googleapis.com to JIT list.
  modules/gke-hub/README.md
  modules/project/README.md
  modules/project/service-accounts.tf
Labels: on:modules

#1179 Added a PSC GCLB example
  blueprints/networking/README.md
  blueprints/networking/psc-glb-and-armor/README.md
  blueprints/networking/psc-glb-and-armor/consumer.tf
  blueprints/networking/psc-glb-and-armor/diagram.png
  blueprints/networking/psc-glb-and-armor/outputs.tf
  blueprints/networking/psc-glb-and-armor/producer.tf
  blueprints/networking/psc-glb-and-armor/variables.tf
Labels: on:blueprints, on:documentation

#1175 Serverless networking program
  blueprints/serverless/cloud-run-corporate/README.md
  blueprints/serverless/cloud-run-corporate/images/service-running-1.png
  blueprints/serverless/cloud-run-corporate/images/service-running-4.png
  blueprints/serverless/cloud-run-corporate/images/use-case-1.png
  blueprints/serverless/cloud-run-corporate/images/use-case-2.png
  blueprints/serverless/cloud-run-corporate/images/use-case-3.1.png
  blueprints/serverless/cloud-run-corporate/images/use-case-3.2.png
  blueprints/serverless/cloud-run-corporate/images/use-case-3.3.png
  blueprints/serverless/cloud-run-corporate/images/use-case-3.4.png
  blueprints/serverless/cloud-run-corporate/images/use-case-4.png
  blueprints/serverless/cloud-run-corporate/main.tf
  blueprints/serverless/cloud-run-corporate/outputs.tf
  blueprints/serverless/cloud-run-corporate/provider.tf
  blueprints/serverless/cloud-run-corporate/variables.tf
Labels: on:blueprints

#1177 Implemented conditional dynamic blocks for `google_access_context_manager_service_perimeter` `spec` and `status`
  modules/vpc-sc/service-perimeters-bridge.tf
Labels: on:modules

#1182 Bump actions versions
  .github/workflows/linting.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
Labels: on:tools

#1184 Allow multiple peer gateways in VPN HA module
  blueprints/apigee/network-patterns/nb-glb-psc-neg-sb-psc-ilbl7-hybrid-neg/vpn.tf
  blueprints/networking/hub-and-spoke-vpn/vpn-dev-r1.tf
  blueprints/networking/hub-and-spoke-vpn/vpn-prod-r1.tf
  blueprints/networking/private-cloud-function-from-onprem/main.tf
  blueprints/serverless/cloud-run-corporate/main.tf
  fast/stages/2-networking-a-peering/vpn-onprem.tf
  fast/stages/2-networking-b-vpn/vpn-onprem.tf
  fast/stages/2-networking-b-vpn/vpn-spoke-dev.tf
  fast/stages/2-networking-b-vpn/vpn-spoke-prod-primary.tf
  fast/stages/2-networking-b-vpn/vpn-spoke-prod-secondary.tf
  fast/stages/2-networking-c-nva/vpn-onprem.tf
  fast/stages/2-networking-d-separate-envs/vpn-onprem-dev.tf
  fast/stages/2-networking-d-separate-envs/vpn-onprem-prod.tf
  modules/net-vpn-ha/README.md
  modules/net-vpn-ha/main.tf
  modules/net-vpn-ha/variables.tf
Labels: on:FAST, incompatible change, on:modules, on:blueprints

#1186 Fix Workload Identity for ASM in GKE hub module
  modules/gke-hub/main.tf
  tests/modules/gke_hub/test_plan.py
Labels: on:modules

#1188 Add reference to Cloud Run blueprints
  blueprints/serverless/README.md
Labels: on:documentation

#1189 Update healthchecker deps (dependabot alerts)
  blueprints/cloud-operations/unmanaged-instances-healthcheck/function/healthchecker/go.mod
  blueprints/cloud-operations/unmanaged-instances-healthcheck/function/healthchecker/go.sum
Labels: on:blueprints

#1191 Fix external gateway in VPN HA module
  modules/net-vpn-ha/main.tf
Labels: on:modules

#1190 Dataproc Module
  modules/dataproc/README.md
  modules/dataproc/iam.tf
  modules/dataproc/main.tf
  modules/dataproc/output.tf
  modules/dataproc/variables.tf
  modules/dataproc/versions.tf
Labels: on:modules

#1193 Add reference to Cloud Run blueprints
  blueprints/README.md
Labels: on:documentation

#1194 Fix HTTPS health check mismapped to HTTP in compute-mig and net-ilb modules
  modules/compute-mig/health-check.tf
  modules/net-ilb/health-check.tf
Labels: on:modules
