Repository GoogleCloudPlatform/cloud-foundation-fabric, pull requests merged in 2023-01, with the labels that each got.

#1080 Added device_name field to compute-vm attached_disks parameter
  modules/compute-vm/README.md
  modules/compute-vm/main.tf
  modules/compute-vm/variables.tf
Labels: on:modules

#1078 Fixed delete_rule in compute-mig module for stateful disks
  modules/compute-mig/README.md
  modules/compute-mig/main.tf
  tests/modules/compute_mig/test_plan.py
Labels: on:modules

#1081 Apigee hybrid on GKE
  .gitignore
  blueprints/apigee/README.md
  blueprints/apigee/hybrid-gke/README.md
  blueprints/apigee/hybrid-gke/ansible.tf
  blueprints/apigee/hybrid-gke/ansible/ansible.cfg
  blueprints/apigee/hybrid-gke/ansible/inventory/hosts.ini
  blueprints/apigee/hybrid-gke/ansible/playbook.yaml
  blueprints/apigee/hybrid-gke/ansible/roles/apigee-hybrid/tasks/main.yaml
  blueprints/apigee/hybrid-gke/ansible/roles/apigee-hybrid/templates/overrides.yaml.j2
  blueprints/apigee/hybrid-gke/ansible/roles/prerequisites/tasks/main.yaml
  blueprints/apigee/hybrid-gke/apigee.tf
  blueprints/apigee/hybrid-gke/diagram.png
  blueprints/apigee/hybrid-gke/gke.tf
  blueprints/apigee/hybrid-gke/main.tf
  blueprints/apigee/hybrid-gke/mgmt.tf
  blueprints/apigee/hybrid-gke/templates/deploy-apiproxy.sh.tpl
  blueprints/apigee/hybrid-gke/templates/gssh.sh.tpl
  blueprints/apigee/hybrid-gke/terraform.tfvars.sample
  blueprints/apigee/hybrid-gke/variables.tf
  blueprints/apigee/hybrid-gke/vpc.tf
  tests/blueprints/apigee/hybrid-gke/__init__.py
  tests/blueprints/apigee/hybrid-gke/basic.tfvars
  tests/blueprints/apigee/hybrid-gke/basic.yaml
  tests/blueprints/apigee/hybrid-gke/tftest.yaml
Labels: on:blueprints, on:documentation

#1084 Fixes in Apigee blueprints README files
  blueprints/README.md
  blueprints/apigee/README.md
  blueprints/apigee/network-patterns/README.md
  blueprints/apigee/network-patterns/nb-glb-psc-neg-sb-psc-ilbl7-hybrid-neg/README.md
Labels: on:documentation

#1085 fix restricted services not being added to the perimeter configurations
  fast/stages/02-security/vpc-sc.tf
Labels: on:FAST

#1091 Fix check_documentation output
  tools/check_documentation.py
Labels: on:tools

#1089 Update Data Platform
  blueprints/data-solutions/data-platform-foundations/03-composer.tf
  blueprints/data-solutions/data-platform-foundations/03-orchestration.tf
  blueprints/data-solutions/data-platform-foundations/05-datawarehouse.tf
  blueprints/data-solutions/data-platform-foundations/IAM.md
  blueprints/data-solutions/data-platform-foundations/README.md
  blueprints/data-solutions/data-platform-foundations/images/overview_diagram.png
  blueprints/data-solutions/data-platform-foundations/outputs.tf
  blueprints/data-solutions/data-platform-foundations/variables.tf
  fast/stages/03-data-platform/dev/README.md
  fast/stages/03-data-platform/dev/main.tf
  fast/stages/03-data-platform/dev/variables.tf
  tests/blueprints/data_solutions/data_platform_foundations/test_plan.py
Labels: on:FAST, on:blueprints, on:documentation

#1093 Added tags to gke-cluster module
  modules/gke-cluster/README.md
  modules/gke-cluster/main.tf
  modules/gke-cluster/variables.tf
  tests/modules/gke_cluster/fixture/main.tf
  tests/modules/gke_cluster/fixture/variables.tf
Labels: on:modules

#1096 [VPC-SC] Add support for scoped Policies
  modules/vpc-sc/README.md
  modules/vpc-sc/main.tf
  modules/vpc-sc/variables.tf
Labels: on:modules

#1098 Add shared-vpc support on data-playground blueprint
  blueprints/data-solutions/data-playground/README.md
  blueprints/data-solutions/data-playground/main.tf
  blueprints/data-solutions/data-playground/outputs.tf
  blueprints/data-solutions/data-playground/variables.tf
  modules/project/service-accounts.tf
  tests/blueprints/data_solutions/data_playground/test_plan.py
Labels: on:modules, on:blueprints

#1099 Fix destroy in stage 1 outputs
  fast/stages/01-resman/outputs.tf
Labels: on:FAST

#1102 Improvements in apigee hybrid-gke: now using workload identity and GLB
  blueprints/apigee/hybrid-gke/README.md
  blueprints/apigee/hybrid-gke/ansible.tf
  blueprints/apigee/hybrid-gke/ansible/roles/apigee-hybrid/tasks/k8s_service_accounts.yaml
  blueprints/apigee/hybrid-gke/ansible/roles/apigee-hybrid/tasks/main.yaml
  blueprints/apigee/hybrid-gke/ansible/roles/apigee-hybrid/templates/overrides.yaml.j2
  blueprints/apigee/hybrid-gke/apigee.tf
  blueprints/apigee/hybrid-gke/diagram.png
  blueprints/apigee/hybrid-gke/glb.tf
  blueprints/apigee/hybrid-gke/main.tf
  blueprints/apigee/hybrid-gke/mgmt.tf
  blueprints/apigee/hybrid-gke/outputs.tf
  blueprints/apigee/hybrid-gke/templates/deploy-apiproxy.sh.tpl
  tests/blueprints/apigee/hybrid-gke/basic.yaml
Labels: on:blueprints

#1107 Check linting for Python dashboard files
  .github/workflows/linting.yml
  blueprints/cloud-operations/network-dashboard/src/main.py
  blueprints/cloud-operations/network-dashboard/src/plugins/discover-cai.py
  blueprints/cloud-operations/network-dashboard/src/plugins/series-psa.py
Labels: on:tools, on:blueprints

#1097 Use terraform resource to activate Anthos Service Mesh
  blueprints/gke/multi-cluster-mesh-gke-fleet-api/ansible/roles/install/tasks/install.yaml
  blueprints/gke/multitenant-fleet/README.md
  modules/gke-hub/README.md
  modules/gke-hub/main.tf
  tests/blueprints/gke/multi_cluster_mesh_gke_fleet_api/test_plan.py
  tests/modules/gke_hub/fixture/variables.tf
  tests/modules/gke_hub/test_plan.py
Labels: on:modules, on:blueprints

#1106 Network Dashboard: PSA support for Filestore and Memorystore
  blueprints/cloud-operations/network-dashboard/dashboards/quotas-utilization.json
  blueprints/cloud-operations/network-dashboard/deploy-cloud-function/README.md
  blueprints/cloud-operations/network-dashboard/deploy-cloud-function/variables.tf
  blueprints/cloud-operations/network-dashboard/src/plugins/discover-cai.py
  blueprints/cloud-operations/network-dashboard/src/plugins/series-psa.py
Labels: on:blueprints

#1115 add new parameters support in apigee module
  modules/apigee/README.md
  modules/apigee/main.tf
  modules/apigee/variables.tf
  tests/modules/apigee/fixture/test.env_only_with_api_proxy_type.tfvars
  tests/modules/apigee/fixture/test.env_only_with_deployment_type.tfvars
  tests/modules/apigee/fixture/variables.tf
  tests/modules/apigee/test_plan.py
Labels: on:modules

#1116 Include cloudbuild API in project module
  blueprints/data-solutions/data-platform-foundations/README.md
  modules/project/service-accounts.tf
  tests/blueprints/apigee/bigquery-analytics/basic.yaml
  tests/blueprints/cloud_operations/asset_inventory_feed_remediation/test_plan.py
  tests/blueprints/cloud_operations/scheduled_asset_inventory_export_bq/test_plan.py
  tests/blueprints/cloud_operations/unmanaged_instances_healthcheck/test_plan.py
  tests/blueprints/data_solutions/data_platform_foundations/test_plan.py
  tests/blueprints/gke/binauthz/test_plan.py
  tests/blueprints/networking/private_cloud_function_from_onprem/test_plan.py
  tests/blueprints/serverless/api_gateway/test_plan.py
  tests/fast/stages/s00_bootstrap/simple.yaml
Labels: on:modules

#1118 Add missing logging admin role for initial user
  fast/stages/00-bootstrap/organization.tf
Labels: on:FAST

#1111 In the apigee module now both the /22 and /28 peering IP ranges are p…
  blueprints/apigee/bigquery-analytics/README.md
  blueprints/apigee/bigquery-analytics/main.tf
  blueprints/apigee/bigquery-analytics/terraform.tfvars.sample
  blueprints/apigee/bigquery-analytics/variables.tf
  blueprints/apigee/network-patterns/nb-glb-psc-neg-sb-psc-ilbl7-hybrid-neg/README.md
  blueprints/apigee/network-patterns/nb-glb-psc-neg-sb-psc-ilbl7-hybrid-neg/apigee.tf
  blueprints/apigee/network-patterns/nb-glb-psc-neg-sb-psc-ilbl7-hybrid-neg/variables.tf
  modules/apigee/README.md
  modules/apigee/main.tf
  modules/apigee/variables.tf
  tests/blueprints/apigee/bigquery-analytics/basic.tfvars
  tests/blueprints/apigee/bigquery-analytics/basic.yaml
  tests/blueprints/apigee/network-patterns/nb-glb-psc-neg-sb-psc-ilbl7-hybrid-neg/basic.yaml
  tests/modules/apigee/fixture/test.all.tfvars
  tests/modules/apigee/fixture/test.instance_only.tfvars
  tests/modules/apigee/fixture/variables.tf
Labels: incompatible change, on:modules, on:blueprints
