Repository GoogleCloudPlatform/cloud-foundation-fabric, pull requests merged in 2023-07, with the labels that each got.

#1489 Disable googleapi routes creation when vpc is not created in net-vpc module
  modules/net-vpc/README.md
  modules/net-vpc/routes.tf
  modules/net-vpc/variables.tf
Labels: incompatible change, on:modules

#1488 Fix and improve quota monitor blueprint
  blueprints/cloud-operations/quota-monitoring/README.md
  blueprints/cloud-operations/quota-monitoring/cf/main.py
  blueprints/cloud-operations/quota-monitoring/cf/requirements.txt
  blueprints/cloud-operations/quota-monitoring/explorer.png
  blueprints/cloud-operations/quota-monitoring/main.tf
  blueprints/cloud-operations/quota-monitoring/src/main.py
  blueprints/cloud-operations/quota-monitoring/src/requirements.txt
  blueprints/cloud-operations/quota-monitoring/tools/descriptors.py
  blueprints/cloud-operations/quota-monitoring/variables.tf
Labels: incompatible change, on:blueprints

#1492 Peering dashboard
  fast/stages/2-networking-a-peering/data/dashboards/vpc_and_vpc_peering_group_quotas.json
  fast/stages/2-networking-b-vpn/data/dashboards/vpc_and_vpc_peering_group_quotas.json
  fast/stages/2-networking-c-nva/data/dashboards/vpc_and_vpc_peering_group_quotas.json
  fast/stages/2-networking-d-separate-envs/data/dashboards/vpc_and_vpc_peering_group_quotas.json
  fast/stages/2-networking-e-nva-bgp/data/dashboards/vpc_and_vpc_peering_group_quotas.json
  tests/fast/stages/s2_networking_a_peering/stage.yaml
  tests/fast/stages/s2_networking_b_vpn/stage.yaml
  tests/fast/stages/s2_networking_c_nva/stage.yaml
  tests/fast/stages/s2_networking_d_separate_envs/stage.yaml
  tests/fast/stages/s2_networking_e_nva_bgp/stage.yaml
Labels: on:FAST

#1470 FAST: initial implementation of lightweight tenants
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/organization.tf
  fast/stages/0-bootstrap/outputs.tf
  fast/stages/0-bootstrap/variables.tf
  fast/stages/1-resman/README.md
  fast/stages/1-resman/branch-tenants.tf
  fast/stages/1-resman/organization.tf
  fast/stages/1-resman/outputs-tenants.tf
  fast/stages/1-resman/variables.tf
Labels: on:FAST

#1497 Implement proper support for data access logs in resource manager modules
  modules/folder/README.md
  modules/folder/iam.tf
  modules/folder/logging.tf
  modules/folder/outputs.tf
  modules/folder/variables.tf
  modules/organization/README.md
  modules/organization/firewall-policies.tf
  modules/organization/iam.tf
  modules/organization/logging.tf
  modules/organization/organization-policies.tf
  modules/organization/outputs.tf
  modules/organization/variables.tf
  modules/project/README.md
  modules/project/iam.tf
  modules/project/logging.tf
  modules/project/variables.tf
  tests/modules/folder/examples/iam-policy.yaml
  tests/modules/folder/examples/logging-data-access.yaml
  tests/modules/organization/audit_config.tfvars
  tests/modules/organization/audit_config.yaml
  tests/modules/organization/examples/iam-policy.yaml
  tests/modules/organization/examples/logging-data-access.yaml
  tests/modules/organization/test_plan_org_policies_modules.py
  tests/modules/organization/tftest.yaml
  tests/modules/project/examples/iam-policy.yaml
  tests/modules/project/examples/logging-data-access.yaml
Labels: incompatible change, on:modules

#1498 Return only bucket name of composer, not full url to dags folder
  blueprints/data-solutions/data-platform-minimal/outputs.tf
Labels: on:blueprints

#1479 Update ncc-spoke-ra module to explicity request ncc hub id when referencing existing hubs
  modules/ncc-spoke-ra/README.md
  modules/ncc-spoke-ra/main.tf
  modules/ncc-spoke-ra/variables.tf
Labels: on:modules

#1503 Move IAM grant to function level for trigger SA
  modules/cloud-function-v2/main.tf
Labels: on:modules

#1506 Document architectural decisions
  fast/docs/0-bootstram-user-iam.md
  fast/docs/README.md
Labels: on:documentation

#1509 Add output to org module with custom constraint details and depends_on
  modules/organization/README.md
  modules/organization/outputs.tf
Labels: on:modules

#1510 Refactoring of dns module
  blueprints/cloud-operations/dns-fine-grained-iam/README.md
  blueprints/cloud-operations/dns-fine-grained-iam/main.tf
  blueprints/cloud-operations/dns-shared-vpc/README.md
  blueprints/cloud-operations/dns-shared-vpc/main.tf
  blueprints/factories/project-factory/README.md
  blueprints/factories/project-factory/main.tf
  blueprints/networking/__need_fixing/onprem-google-access-dns/main.tf
  blueprints/networking/decentralized-firewall/README.md
  blueprints/networking/decentralized-firewall/main.tf
  blueprints/networking/filtering-proxy-psc/README.md
  blueprints/networking/filtering-proxy-psc/consumer.tf
  blueprints/networking/filtering-proxy/README.md
  blueprints/networking/filtering-proxy/main.tf
  blueprints/networking/hub-and-spoke-vpn/README.md
  blueprints/networking/hub-and-spoke-vpn/net-dev.tf
  blueprints/networking/hub-and-spoke-vpn/net-landing.tf
  blueprints/networking/hub-and-spoke-vpn/net-prod.tf
  blueprints/networking/private-cloud-function-from-onprem/README.md
  blueprints/networking/private-cloud-function-from-onprem/main.tf
  blueprints/networking/shared-vpc-gke/README.md
  blueprints/networking/shared-vpc-gke/main.tf
  blueprints/serverless/cloud-run-corporate/README.md
  blueprints/serverless/cloud-run-corporate/main.tf
  fast/stages/2-networking-a-peering/dns-dev.tf
  fast/stages/2-networking-a-peering/dns-landing.tf
  fast/stages/2-networking-a-peering/dns-prod.tf
  fast/stages/2-networking-b-vpn/dns-dev.tf
  fast/stages/2-networking-b-vpn/dns-landing.tf
  fast/stages/2-networking-b-vpn/dns-prod.tf
  fast/stages/2-networking-c-nva/dns-dev.tf
  fast/stages/2-networking-c-nva/dns-landing.tf
  fast/stages/2-networking-c-nva/dns-prod.tf
  fast/stages/2-networking-d-separate-envs/dns-dev.tf
  fast/stages/2-networking-d-separate-envs/dns-prod.tf
  fast/stages/2-networking-e-nva-bgp/dns-dev.tf
  fast/stages/2-networking-e-nva-bgp/dns-landing.tf
  fast/stages/2-networking-e-nva-bgp/dns-prod.tf
  modules/dns/README.md
  modules/dns/main.tf
  modules/dns/outputs.tf
  modules/dns/variables.tf
  modules/service-directory/README.md
  tests/blueprints/factories/project_factory/examples/example.yaml
  tests/fast/stages/s2_networking_a_peering/stage.yaml
  tests/fast/stages/s2_networking_b_vpn/stage.yaml
  tests/fast/stages/s2_networking_c_nva/stage.yaml
  tests/fast/stages/s2_networking_d_separate_envs/stage.yaml
  tests/fast/stages/s2_networking_e_nva_bgp/stage.yaml
  tests/modules/dns/examples/forwarding-zone.yaml
  tests/modules/dns/examples/peering-zone.yaml
  tests/modules/dns/examples/private-zone.yaml
  tests/modules/dns/examples/public-zone.yaml
  tests/modules/dns/examples/reverse-zone.yaml
  tests/modules/dns/examples/routing-policies.yaml
  tests/modules/dns/no_clients.tfvars
  tests/modules/dns/no_clients.yaml
  tests/modules/dns/null_forwarders.tfvars
  tests/modules/dns/null_forwarders.yaml
  tests/modules/dns/tftest.yaml
  tests/modules/service_directory/examples/dns.yaml
Labels: on:FAST, on:modules, on:blueprints

#1512 enable-logging flag can only be true for public zones
  modules/dns/README.md
  modules/dns/main.tf
  modules/dns/variables.tf
Labels: on:modules

#1514 Fix FAST stage links script for GKE stage
  fast/stage-links.sh
Labels: on:FAST

#1520 feat(cloudsql-instance): Add query insights config
  modules/cloudsql-instance/README.md
  modules/cloudsql-instance/main.tf
  modules/cloudsql-instance/variables.tf
  tests/modules/cloudsql_instance/examples/insights.yaml
Labels: on:modules

#1519 Improve Dataplex
  modules/cloud-dataplex/README.md
  modules/cloud-dataplex/main.tf
  modules/cloud-dataplex/outputs.tf
  modules/cloud-dataplex/variables.tf
  modules/project/README.md
  modules/project/service-agents.yaml
Labels: on:modules

#1523 Fix in event_filters of trigger_config
  modules/cloud-function-v2/README.md
  modules/cloud-function-v2/main.tf
  modules/cloud-function-v2/variables.tf
Labels: on:modules

#1535 Renamed output.tf in net-vlan-attachment
  modules/net-vlan-attachment/README.md
  modules/net-vlan-attachment/outputs.tf
Labels: on:modules

#1536 Update and refactor artifact registry module
  blueprints/data-solutions/data-platform-foundations/03-orchestration.tf
  blueprints/data-solutions/vertex-mlops/ci-cd.tf
  blueprints/gke/autopilot/main.tf
  blueprints/gke/binauthz/main.tf
  modules/artifact-registry/README.md
  modules/artifact-registry/main.tf
  modules/artifact-registry/variables.tf
  tests/modules/artifact_registry/examples/remote-virtual.yaml
Labels: on:modules, on:blueprints

#1540 Fixes in cloud function v2 module for trigger service account
  modules/cloud-function-v2/main.tf
Labels: on:modules

#1538 Extend tfdoc to generate TOCs
  modules/artifact-registry/README.md
  modules/cloud-run/README.md
  modules/compute-vm/README.md
  modules/folder/README.md
  modules/net-lb-app-ext/README.md
  modules/net-lb-app-int/README.md
  modules/net-vpc/README.md
  modules/organization/README.md
  modules/project/README.md
  tools/check_documentation.py
  tools/tfdoc.py
Labels: on:tools

#1544 Minimal tfdoc refactoring for legibility
  tools/check_documentation.py
  tools/tfdoc.py
Labels: on:tools

#1546 rename cloud-dataplex to dataplex
  README.md
  modules/README.md
  modules/dataplex/README.md
  modules/dataplex/main.tf
  modules/dataplex/outputs.tf
  modules/dataplex/variables.tf
  modules/dataplex/versions.tf
  tests/modules/dataplex/examples/dataplex_lake.tfvars
  tests/modules/dataplex/examples/dataplex_lake.yaml
Labels: on:modules, on:documentation

#1542 Grant IAM rights to service identities in host project
  blueprints/factories/project-factory/README.md
  blueprints/factories/project-factory/main.tf
  blueprints/factories/project-factory/sample-data/projects/project.yaml
  blueprints/factories/project-factory/variables.tf
  modules/project/README.md
  modules/project/outputs.tf
  modules/project/shared-vpc.tf
  modules/project/sharedvpc-agent-iam.yaml
  modules/project/variables.tf
  tests/blueprints/factories/project_factory/examples/example.yaml
  tests/modules/project/examples/shared-vpc-auto-grants.yaml
Labels: on:modules, on:blueprints

#1547 Peering module refactor
  blueprints/networking/hub-and-spoke-peering/main.tf
  fast/stages/2-networking-a-peering/README.md
  fast/stages/2-networking-a-peering/peerings.tf
  fast/stages/2-networking-a-peering/variables-peerings.tf
  fast/stages/2-networking-e-nva-bgp/spoke-dev.tf
  fast/stages/2-networking-e-nva-bgp/spoke-prod.tf
  modules/net-vpc-peering/README.md
  modules/net-vpc-peering/main.tf
  modules/net-vpc-peering/variables.tf
  tests/modules/net_vpc_peering/__init__.py
  tests/modules/net_vpc_peering/examples/route-config.yaml
Labels: on:FAST, incompatible change, on:modules, on:blueprints

#1550 Fix in validation of healthchecks variable
  modules/net-lb-int/README.md
  modules/net-lb-int/variables.tf
Labels: on:modules

#1552 Add image path output to ar module
  modules/artifact-registry/README.md
  modules/artifact-registry/outputs.tf
Labels: on:modules

#1551 Fix in validation of healthchecks variable
  modules/net-lb-app-ext/variables-health-check.tf
  modules/net-lb-app-int/variables-health-check.tf
  modules/net-lb-ext/README.md
  modules/net-lb-ext/variables.tf
Labels: on:modules

#1548 Minor fixes in Vertex Ai MLOPs blueprint
  blueprints/data-solutions/vertex-mlops/main.tf
Labels: on:blueprints

#1554 Fix in IAM bindings of cloud function v2 module
  modules/cloud-function-v2/main.tf
Labels: on:modules

#1553 Added module for Regional Internal Proxy Load Balancer
  README.md
  modules/README.md
  modules/net-lb-proxy-int/README.md
  modules/net-lb-proxy-int/backend-service.tf
  modules/net-lb-proxy-int/groups.tf
  modules/net-lb-proxy-int/health-check.tf
  modules/net-lb-proxy-int/main.tf
  modules/net-lb-proxy-int/outputs.tf
  modules/net-lb-proxy-int/variables.tf
  modules/net-lb-proxy-int/versions.tf
Labels: on:modules, on:documentation
