Repository GoogleCloudPlatform/cloud-foundation-fabric, pull requests merged in 2023-12, with the labels that each got.

#1891 artifact-registry: Support cleanup policies
  modules/artifact-registry/README.md
  modules/artifact-registry/main.tf
  modules/artifact-registry/variables.tf
  tests/modules/artifact_registry/examples/cleanup-policies.yaml
Labels: on:modules

#1895 Add support for firewall tags to compute-vm module
  modules/compute-vm/README.md
  modules/compute-vm/main.tf
  modules/compute-vm/tags.tf
  modules/compute-vm/variables.tf
Labels: on:modules

#1900 Patch Github actions ci google-github-actions/auth@v0 --> v2
  fast/stages/0-bootstrap/templates/workflow-github.yaml
  fast/stages/1-resman/templates/workflow-github.yaml
Labels: on:FAST

#1901 Add IPv6 to HA VPN module + test inventories
  modules/net-vpn-ha/README.md
  modules/net-vpn-ha/main.tf
  modules/net-vpn-ha/variables.tf
  tests/modules/net_vpn_ha/__init__.py
  tests/modules/net_vpn_ha/examples/gcp-to-gcp.yaml
  tests/modules/net_vpn_ha/examples/gcp-to-onprem.yaml
  tests/modules/net_vpn_ha/examples/ipv6.yaml
Labels: on:modules

#1903 Enable sole tenancy (`node_affinities`) on compute_vm
  modules/compute-vm/README.md
  modules/compute-vm/main.tf
  modules/compute-vm/variables.tf
  tests/modules/compute_vm/examples/sole-tenancy.yaml
Labels: on:modules

#1906 gke-cluster-standard : Set optional shielded_instance_config block in cluster_autoscaling.auto_provisioning_defaults
  modules/gke-cluster-standard/README.md
  modules/gke-cluster-standard/variables.tf
Labels: on:modules

#1916 Add triggerer configuration for Composer
  blueprints/data-solutions/composer-2/README.md
  blueprints/data-solutions/composer-2/composer.tf
  blueprints/data-solutions/composer-2/main.tf
  blueprints/data-solutions/composer-2/outputs.tf
  blueprints/data-solutions/composer-2/variables.tf
Labels: on:blueprints

#1912 Custom role factories for organization and project modules
  blueprints/data-solutions/shielded-folder/main.tf
  fast/stages-multitenant/1-resman-tenant/README.md
  fast/stages-multitenant/1-resman-tenant/root_node.tf
  fast/stages-multitenant/1-resman-tenant/variables.tf
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/data/custom-roles/organization_iam_admin.yaml
  fast/stages/0-bootstrap/data/custom-roles/service_project_network_admin.yaml
  fast/stages/0-bootstrap/data/custom-roles/tenant_network_admin.yaml
  fast/stages/0-bootstrap/organization.tf
  fast/stages/0-bootstrap/outputs.tf
  fast/stages/0-bootstrap/variables.tf
  modules/folder/README.md
  modules/folder/organization-policies.tf
  modules/folder/variables.tf
  modules/organization/README.md
  modules/organization/iam.tf
  modules/organization/org-policy-custom-constraints.tf
  modules/organization/organization-policies.tf
  modules/organization/outputs.tf
  modules/organization/variables.tf
  modules/project/README.md
  modules/project/iam.tf
  modules/project/organization-policies.tf
  modules/project/outputs.tf
  modules/project/variables.tf
  tests/modules/folder/test_plan_org_policies.py
  tests/modules/organization/examples/custom-roles.yaml
  tests/modules/organization/test_plan_org_policies.py
  tests/modules/organization/test_plan_org_policies_modules.py
  tests/modules/project/test_plan_org_policies.py
Labels: on:FAST, incompatible change, on:modules, on:blueprints

#1917 Added the possibility to configure maintenance window and deny maintenance period in Cloud SQL module module
  modules/cloudsql-instance/README.md
  modules/cloudsql-instance/main.tf
  modules/cloudsql-instance/variables.tf
Labels: on:modules

#1918 Added missing parameters in kubelet and linux node configuration
  modules/gke-nodepool/README.md
  modules/gke-nodepool/main.tf
  modules/gke-nodepool/variables.tf
Labels: on:modules

#1924 Update quota monitor blueprint to support project discovery
  blueprints/cloud-operations/quota-monitoring/README.md
  blueprints/cloud-operations/quota-monitoring/main.tf
  blueprints/cloud-operations/quota-monitoring/src/main.py
  blueprints/cloud-operations/quota-monitoring/variables.tf
Labels: on:blueprints

#1923 Removed deprecated variable and added labels
  modules/bigtable-instance/README.md
  modules/bigtable-instance/main.tf
  modules/bigtable-instance/outputs.tf
  modules/bigtable-instance/variables.tf
Labels: on:modules

#1905 gke-cluster-standard : Support upgrade_settings for node auto provisioner
  modules/gke-cluster-standard/README.md
  modules/gke-cluster-standard/main.tf
  modules/gke-cluster-standard/variables.tf
Labels: on:modules

#1926 Add support for policy based routes to net-vpc
  modules/net-vpc/README.md
  modules/net-vpc/routes.tf
  modules/net-vpc/variables.tf
  tests/modules/net_vpc/examples/pbr.yaml
Labels: on:modules

#1928 Fix health check autocreation and id output in passthrough LB modules
  modules/net-lb-ext/README.md
  modules/net-lb-ext/health-check.tf
  modules/net-lb-ext/outputs.tf
  modules/net-lb-int/README.md
  modules/net-lb-int/health-check.tf
  modules/net-lb-int/outputs.tf
  modules/net-lb-proxy-int/README.md
  modules/net-lb-proxy-int/health-check.tf
  modules/net-lb-proxy-int/outputs.tf
Labels: incompatible change, on:modules

#1931 Quota monitor blueprint: don't fail quota fetch on deleted project
  blueprints/cloud-operations/quota-monitoring/src/main.py
Labels: on:blueprints

#1933 Add project-scoped secure tags
  modules/organization/README.md
  modules/organization/variables-tags.tf
  modules/organization/variables.tf
  modules/project/README.md
  modules/project/tags.tf
  modules/project/variables-tags.tf
  modules/project/variables.tf
Labels: on:modules

#1935 E2E tests fixes
  modules/net-vpc/subnets.tf
  modules/project/README.md
  tests/modules/project/examples/shared-vpc-host-project-iam.yaml
Labels: on:modules

#1936 Move squid to __need_fixing
  blueprints/README.md
  blueprints/networking/README.md
  blueprints/networking/__need_fixing/README.md
  blueprints/networking/__need_fixing/filtering-proxy-psc/README.md
  blueprints/networking/__need_fixing/filtering-proxy-psc/consumer.tf
  blueprints/networking/__need_fixing/filtering-proxy-psc/main.tf
  blueprints/networking/__need_fixing/filtering-proxy-psc/squid.conf
  blueprints/networking/__need_fixing/filtering-proxy-psc/startup.sh
  blueprints/networking/__need_fixing/filtering-proxy-psc/variables.tf
  blueprints/networking/__need_fixing/filtering-proxy/README.md
  blueprints/networking/__need_fixing/filtering-proxy/main.tf
  blueprints/networking/__need_fixing/filtering-proxy/outputs.tf
  blueprints/networking/__need_fixing/filtering-proxy/squid.png
  blueprints/networking/__need_fixing/filtering-proxy/variables.tf
  modules/cloud-config-container/README.md
  modules/cloud-config-container/__need_fixing/squid/README.md
  modules/cloud-config-container/__need_fixing/squid/cloud-config.yaml
  modules/cloud-config-container/__need_fixing/squid/docker/Dockerfile
  modules/cloud-config-container/__need_fixing/squid/docker/cloudbuild.yaml
  modules/cloud-config-container/__need_fixing/squid/docker/entrypoint.sh
  modules/cloud-config-container/__need_fixing/squid/main.tf
  modules/cloud-config-container/__need_fixing/squid/outputs.tf
  modules/cloud-config-container/__need_fixing/squid/squid.conf
  modules/cloud-config-container/__need_fixing/squid/variables.tf
  modules/cloud-config-container/__need_fixing/squid/versions.tf
Labels: on:modules, on:blueprints, on:documentation

#1938 Add debug step for JWT tokens
  fast/stages/0-bootstrap/templates/workflow-github.yaml
Labels: on:FAST

#1940 Add kernels.googleusercontent.com zone in dns response policy
  fast/stages/2-networking-a-peering/data/dns-policy-rules.yaml
  fast/stages/2-networking-b-vpn/data/dns-policy-rules.yaml
  fast/stages/2-networking-c-nva/data/dns-policy-rules.yaml
  fast/stages/2-networking-d-separate-envs/data/dns-policy-rules.yaml
  fast/stages/2-networking-e-nva-bgp/data/dns-policy-rules.yaml
  tests/fast/stages/s2_networking_a_peering/stage.yaml
  tests/fast/stages/s2_networking_b_vpn/stage.yaml
  tests/fast/stages/s2_networking_c_nva/stage.yaml
  tests/fast/stages/s2_networking_d_separate_envs/stage.yaml
  tests/fast/stages/s2_networking_e_nva_bgp/stage.yaml
Labels: on:FAST

#1943 Revert "Add debug step for JWT tokens"
  fast/stages/0-bootstrap/templates/workflow-github.yaml
Labels: on:FAST

#1942 Blueprints naming convention update
  .gitignore
  blueprints/README.md
  blueprints/cloud-operations/README.md
  blueprints/cloud-operations/compute-quota-monitoring/README.md
  blueprints/cloud-operations/compute-quota-monitoring/backend.tf.sample
  blueprints/cloud-operations/compute-quota-monitoring/cloud-shell-readme.txt
  blueprints/cloud-operations/compute-quota-monitoring/diagram.png
  blueprints/cloud-operations/compute-quota-monitoring/explorer.png
  blueprints/cloud-operations/compute-quota-monitoring/main.tf
  blueprints/cloud-operations/compute-quota-monitoring/outputs.tf
  blueprints/cloud-operations/compute-quota-monitoring/src/main.py
  blueprints/cloud-operations/compute-quota-monitoring/src/requirements.txt
  blueprints/cloud-operations/compute-quota-monitoring/tools/descriptors.py
  blueprints/cloud-operations/compute-quota-monitoring/variables.tf
  blueprints/cloud-operations/network-quota-monitoring/LICENSE
  blueprints/cloud-operations/network-quota-monitoring/README.md
  blueprints/cloud-operations/network-quota-monitoring/dashboards/quotas-utilization.json
  blueprints/cloud-operations/network-quota-monitoring/deploy-cloud-function/README.md
  blueprints/cloud-operations/network-quota-monitoring/deploy-cloud-function/diagram-scope.png
  blueprints/cloud-operations/network-quota-monitoring/deploy-cloud-function/diagram.png
  blueprints/cloud-operations/network-quota-monitoring/deploy-cloud-function/main.tf
  blueprints/cloud-operations/network-quota-monitoring/deploy-cloud-function/outputs.tf
  blueprints/cloud-operations/network-quota-monitoring/deploy-cloud-function/variables.tf
  blueprints/cloud-operations/network-quota-monitoring/metric.png
  blueprints/cloud-operations/network-quota-monitoring/src/README.md
  blueprints/cloud-operations/network-quota-monitoring/src/custom-quotas.sample
  blueprints/cloud-operations/network-quota-monitoring/src/main.py
  blueprints/cloud-operations/network-quota-monitoring/src/plugins/__init__.py
  blueprints/cloud-operations/network-quota-monitoring/src/plugins/core-discover-cai-nodes.py
  blueprints/cloud-operations/network-quota-monitoring/src/plugins/discover-cai.py
  blueprints/cloud-operations/network-quota-monitoring/src/plugins/discover-compute-quota.py
  blueprints/cloud-operations/network-quota-monitoring/src/plugins/discover-compute-routerstatus.py
  blueprints/cloud-operations/network-quota-monitoring/src/plugins/discover-group-networks.py
  blueprints/cloud-operations/network-quota-monitoring/src/plugins/discover-metric-descriptors.py
  blueprints/cloud-operations/network-quota-monitoring/src/plugins/monitoring.py
  blueprints/cloud-operations/network-quota-monitoring/src/plugins/series-firewall-policies.py
  blueprints/cloud-operations/network-quota-monitoring/src/plugins/series-firewall-rules.py
  blueprints/cloud-operations/network-quota-monitoring/src/plugins/series-networks.py
  blueprints/cloud-operations/network-quota-monitoring/src/plugins/series-peering-groups.py
  blueprints/cloud-operations/network-quota-monitoring/src/plugins/series-psa.py
  blueprints/cloud-operations/network-quota-monitoring/src/plugins/series-routes.py
  blueprints/cloud-operations/network-quota-monitoring/src/plugins/series-subnets.py
  blueprints/cloud-operations/network-quota-monitoring/src/plugins/utils.py
  blueprints/cloud-operations/network-quota-monitoring/src/requirements.txt
  blueprints/cloud-operations/network-quota-monitoring/src/tools/remove-descriptors.py
Labels: on:blueprints, on:documentation

#1939 Networking Sandbox Blueprint
  blueprints/README.md
  blueprints/networking/README.md
  blueprints/networking/vpc-connectivity-lab/README.md
  blueprints/networking/vpc-connectivity-lab/diagram.excalidraw
  blueprints/networking/vpc-connectivity-lab/diagram.png
  blueprints/networking/vpc-connectivity-lab/diagram.svg
  blueprints/networking/vpc-connectivity-lab/dns-hub.tf
  blueprints/networking/vpc-connectivity-lab/main.tf
  blueprints/networking/vpc-connectivity-lab/nva.tf
  blueprints/networking/vpc-connectivity-lab/outputs.tf
  blueprints/networking/vpc-connectivity-lab/test-resources.tf
  blueprints/networking/vpc-connectivity-lab/variables.tf
  blueprints/networking/vpc-connectivity-lab/vpc-ext.tf
  blueprints/networking/vpc-connectivity-lab/vpc-hub.tf
  blueprints/networking/vpc-connectivity-lab/vpc-peering-a.tf
  blueprints/networking/vpc-connectivity-lab/vpc-peering-b.tf
  blueprints/networking/vpc-connectivity-lab/vpc-vpn-a.tf
  blueprints/networking/vpc-connectivity-lab/vpc-vpn-b.tf
Labels: on:blueprints, on:documentation

#1945 Fix GitHub CI/CD provider
  fast/stages-multitenant/0-bootstrap-tenant/templates/workflow-github.yaml
  fast/stages-multitenant/1-resman-tenant/templates/workflow-github.yaml
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/identity-providers.tf
  fast/stages/0-bootstrap/templates/workflow-github.yaml
  fast/stages/0-bootstrap/variables.tf
  fast/stages/1-resman/README.md
  fast/stages/1-resman/templates/workflow-github.yaml
  fast/stages/1-resman/variables.tf
Labels: on:FAST

#1948 Fix GCVE network policy
  modules/gcve-private-cloud/README.md
  modules/gcve-private-cloud/main.tf
  modules/gcve-private-cloud/outputs.tf
  tests/modules/gcve_private_cloud/examples/network-policy.yaml
Labels: on:modules

#1949 Update REFERENCES.md
  REFERENCES.md
Labels: on:documentation

#1902 First version of Cloud Run module v2
  README.md
  modules/README.md
  modules/cloud-run-v2/README.md
  modules/cloud-run-v2/main.tf
  modules/cloud-run-v2/outputs.tf
  modules/cloud-run-v2/variables-vpcconnector.tf
  modules/cloud-run-v2/variables.tf
  modules/cloud-run-v2/versions.tf
  modules/cloud-run-v2/vpcconnector.tf
Labels: on:modules, on:documentation

#1950 Add version check
  .github/workflows/linting.yml
Labels: on:tools

#1899 Read-only service accounts for automation and CI/CD
  fast/assets/templates/workflow-github.yaml
  fast/assets/templates/workflow-gitlab.yaml
  fast/docs/0-cicd-plan-sa.md
  fast/docs/1-network-ranges.md
  fast/stages-multitenant/0-bootstrap-tenant/README.md
  fast/stages-multitenant/0-bootstrap-tenant/cicd.tf
  fast/stages-multitenant/0-bootstrap-tenant/identity-providers.tf
  fast/stages-multitenant/0-bootstrap-tenant/templates/workflow-github.yaml
  fast/stages-multitenant/0-bootstrap-tenant/templates/workflow-gitlab.yaml
  fast/stages-multitenant/0-bootstrap-tenant/variables.tf
  fast/stages-multitenant/1-resman-tenant/README.md
  fast/stages-multitenant/1-resman-tenant/cicd-data-platform.tf
  fast/stages-multitenant/1-resman-tenant/cicd-gke.tf
  fast/stages-multitenant/1-resman-tenant/cicd-networking.tf
  fast/stages-multitenant/1-resman-tenant/cicd-project-factory.tf
  fast/stages-multitenant/1-resman-tenant/cicd-security.tf
  fast/stages-multitenant/1-resman-tenant/templates/workflow-github.yaml
  fast/stages-multitenant/1-resman-tenant/templates/workflow-gitlab.yaml
  fast/stages-multitenant/1-resman-tenant/variables.tf
  fast/stages/0-bootstrap/IAM.md
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/automation.tf
  fast/stages/0-bootstrap/billing.tf
  fast/stages/0-bootstrap/cicd.tf
  fast/stages/0-bootstrap/data/custom-roles/organization_admin_viewer.yaml
  fast/stages/0-bootstrap/data/custom-roles/storage_viewer.yaml
  fast/stages/0-bootstrap/data/custom-roles/tag_viewer.yaml
  fast/stages/0-bootstrap/identity-providers.tf
  fast/stages/0-bootstrap/log-export.tf
  fast/stages/0-bootstrap/organization-iam.tf
  fast/stages/0-bootstrap/organization.tf
  fast/stages/0-bootstrap/outputs.tf
  fast/stages/0-bootstrap/templates/workflow-github.yaml
  fast/stages/0-bootstrap/templates/workflow-gitlab.yaml
  fast/stages/1-resman/README.md
  fast/stages/1-resman/branch-data-platform.tf
  fast/stages/1-resman/branch-gke.tf
  fast/stages/1-resman/branch-networking.tf
  fast/stages/1-resman/branch-project-factory.tf
  fast/stages/1-resman/branch-security.tf
  fast/stages/1-resman/branch-teams.tf
  fast/stages/1-resman/branch-tenants.tf
  fast/stages/1-resman/cicd-data-platform.tf
  fast/stages/1-resman/cicd-gke.tf
  fast/stages/1-resman/cicd-networking.tf
  fast/stages/1-resman/cicd-project-factory.tf
  fast/stages/1-resman/cicd-security.tf
  fast/stages/1-resman/cicd-teams.tf
  fast/stages/1-resman/main.tf
  fast/stages/1-resman/outputs.tf
  fast/stages/1-resman/templates/workflow-github.yaml
  fast/stages/1-resman/templates/workflow-gitlab.yaml
  fast/stages/1-resman/variables.tf
  tests/fast/stages/s0_bootstrap/simple.yaml
  tests/fast/stages/s1_resman/common.tfvars
  tests/fixtures.py
Labels: on:FAST, on:documentation

#1914 Allow per-module terraform fixtures
  modules/net-lb-app-ext/README.md
  tests/examples/conftest.py
  tests/examples/test_plan.py
  tests/examples_e2e/test_plan.py
  tests/fixtures.py
  tests/fixtures/compute-mig-ab.tf
  tools/tfdoc.py
Labels: on:tools

#1955 Add version check to tools/lint.sh
  tools/lint.sh
Labels: on:tools
