Repository GoogleCloudPlatform/cloud-foundation-fabric, pull requests merged in 2023-09, with the labels that each got.

#1645 gke-cluster-autopilot: add validation for release_channel input variable
  modules/gke-cluster-autopilot/README.md
  modules/gke-cluster-autopilot/main.tf
  modules/gke-cluster-autopilot/variables.tf
Labels: on:modules

#1646 gke-cluster-autopilot: add monitoring configuration
  modules/gke-cluster-autopilot/README.md
  modules/gke-cluster-autopilot/main.tf
  modules/gke-cluster-autopilot/variables.tf
  tests/modules/gke_cluster_autopilot/examples/monitoring-config-control-plane.yaml
Labels: on:modules

#1650 Make net-vpc variables non-nullable
  modules/net-vpc/README.md
  modules/net-vpc/variables.tf
Labels: on:modules

#1642 New phpIPAM serverless third parties solution in blueprints
  blueprints/data-solutions/cloudsql-multiregion/README.md
  blueprints/data-solutions/composer-2/README.md
  blueprints/serverless/cloud-run-explore/README.md
  blueprints/third-party-solutions/README.md
  blueprints/third-party-solutions/phpipam/README.md
  blueprints/third-party-solutions/phpipam/cloudsql.tf
  blueprints/third-party-solutions/phpipam/diagrams/phpipam.excalidraw
  blueprints/third-party-solutions/phpipam/glb.tf
  blueprints/third-party-solutions/phpipam/ilb.tf
  blueprints/third-party-solutions/phpipam/images/phpipam.png
  blueprints/third-party-solutions/phpipam/images/phpipam_admin.png
  blueprints/third-party-solutions/phpipam/images/phpipam_db.png
  blueprints/third-party-solutions/phpipam/images/phpipam_home.png
  blueprints/third-party-solutions/phpipam/images/phpipam_install.png
  blueprints/third-party-solutions/phpipam/main.tf
  blueprints/third-party-solutions/phpipam/outputs.tf
  blueprints/third-party-solutions/phpipam/terraform.tfvars.sample
  blueprints/third-party-solutions/phpipam/variables.tf
  modules/project/service-agents.yaml
  tests/fast/stages/s2_networking_a_peering/stage.yaml
  tests/fast/stages/s2_networking_b_vpn/stage.yaml
  tests/fast/stages/s2_networking_c_nva/stage.yaml
  tests/fast/stages/s2_networking_d_separate_envs/stage.yaml
  tests/fast/stages/s2_networking_e_nva_bgp/stage.yaml
Labels: on:modules, on:blueprints, on:documentation

#1658 Change type of `iam_bindings` variable to allow multiple conditional bindings
  fast/stages/0-bootstrap/organization.tf
  modules/__docs/20230816-iam-refactor.md
  modules/data-catalog-policy-tag/README.md
  modules/data-catalog-policy-tag/iam.tf
  modules/data-catalog-policy-tag/variables.tf
  modules/dataplex-datascan/README.md
  modules/dataplex-datascan/iam.tf
  modules/dataplex-datascan/variables.tf
  modules/dataproc/README.md
  modules/dataproc/iam.tf
  modules/dataproc/variables.tf
  modules/dns/README.md
  modules/dns/variables.tf
  modules/folder/README.md
  modules/folder/iam.tf
  modules/folder/variables.tf
  modules/iam-service-account/README.md
  modules/iam-service-account/iam.tf
  modules/iam-service-account/variables.tf
  modules/kms/README.md
  modules/kms/iam.tf
  modules/kms/variables.tf
  modules/organization/README.md
  modules/organization/iam.tf
  modules/organization/variables.tf
  modules/project/README.md
  modules/project/iam.tf
  modules/project/variables.tf
  modules/source-repository/README.md
  modules/source-repository/iam.tf
  modules/source-repository/variables.tf
  tests/modules/project/examples/iam-bindings.yaml
Labels: on:FAST, incompatible change, on:modules, on:documentation

#1651 add AIRFLOW_VAR_ prefix to environment variables in data-platform blueprints
  blueprints/data-solutions/data-platform-foundations/03-composer.tf
  blueprints/data-solutions/data-platform-foundations/demo/datapipeline.py
  blueprints/data-solutions/data-platform-foundations/demo/datapipeline_dc_tags.py
  blueprints/data-solutions/data-platform-foundations/demo/datapipeline_dc_tags_flex.py
  blueprints/data-solutions/data-platform-foundations/demo/datapipeline_flex.py
  blueprints/data-solutions/data-platform-foundations/demo/delete_table.py
  blueprints/data-solutions/data-platform-minimal/02-composer.tf
  blueprints/data-solutions/data-platform-minimal/demo/dag_bq_gcs2bq.py
  blueprints/data-solutions/data-platform-minimal/demo/dag_dataflow_gcs2bq.py
  blueprints/data-solutions/data-platform-minimal/demo/dag_dataproc_gcs2bq.py
  blueprints/data-solutions/data-platform-minimal/demo/dag_delete_table.py
  blueprints/data-solutions/data-platform-minimal/demo/dag_orchestrate_pyspark.py
Labels: on:blueprints

#1663 [#1661] Make FAST stage 1 resman tf destroy more reliable
  fast/stages/1-resman/outputs.tf
Labels: on:FAST

#1662 merge labels from data_merges in project factory
  blueprints/factories/project-factory/main.tf
  tests/blueprints/factories/project_factory/examples/example.yaml
Labels: on:blueprints

#1664 Align pf stage sample data to new format
  fast/stages/3-project-factory/dev/README.md
  fast/stages/3-project-factory/dev/data/defaults.yaml
  fast/stages/3-project-factory/dev/data/projects/project.yaml.sample
  fast/stages/3-project-factory/dev/data/projects/test-project.yaml
  fast/stages/3-project-factory/dev/main.tf
  fast/stages/3-project-factory/dev/variables.tf
Labels: on:FAST

#1667 fix(compute-mig): add mode property to compute_region_autoscaler
  modules/compute-mig/autoscaler.tf
Labels: on:modules

#1668 fix(compute-mig): add correct type optionality for metrics in autosca…
  modules/compute-mig/README.md
  modules/compute-mig/variables.tf
Labels: on:modules

#1669 Fix for partner interconnect
  modules/net-vlan-attachment/README.md
  modules/net-vlan-attachment/main.tf
Labels: on:modules

#1666 added support for global proxy only subnets
  modules/net-vpc/README.md
  modules/net-vpc/outputs.tf
  modules/net-vpc/subnets.tf
  modules/net-vpc/variables.tf
  tests/modules/net_vpc/examples/factory.yaml
  tests/modules/net_vpc/examples/proxy-only-subnets.yaml
Labels: on:modules

#1672 Added possibility to use gcs push endpoint on pubsub subscription
  modules/pubsub/README.md
  modules/pubsub/main.tf
  modules/pubsub/variables.tf
Labels: on:modules

#1676 fixed up nit from PR 1666
  modules/net-vpc/subnets.tf
Labels: on:modules

#1675 GKE Autopilot module: add network tags
  modules/gke-cluster-autopilot/README.md
  modules/gke-cluster-autopilot/main.tf
  modules/gke-cluster-autopilot/variables.tf
  tests/modules/gke_cluster_autopilot/network_tags.tfvars
  tests/modules/gke_cluster_autopilot/network_tags.yaml
  tests/modules/gke_cluster_autopilot/tftest.yaml
Labels: on:modules

#1678 Allow only one of `secondary_range_blocks` or `secondary_range_names` when creating GKE clusters.
  blueprints/apigee/hybrid-gke/gke.tf
  blueprints/gke/autopilot/cluster.tf
  fast/stages/3-gke-multitenant/dev/README.md
  fast/stages/3-gke-multitenant/dev/variables.tf
  modules/gke-cluster-autopilot/README.md
  modules/gke-cluster-autopilot/main.tf
  modules/gke-cluster-autopilot/variables.tf
  modules/gke-cluster-standard/README.md
  modules/gke-cluster-standard/main.tf
  modules/gke-cluster-standard/variables.tf
Labels: on:FAST, on:modules, on:blueprints

#1679 Add lineage on Minimal Data Platform blueprint
  blueprints/data-solutions/data-platform-minimal/01-landing.tf
  blueprints/data-solutions/data-platform-minimal/02-composer.tf
  blueprints/data-solutions/data-platform-minimal/02-processing.tf
  blueprints/data-solutions/data-platform-minimal/03-curated.tf
  blueprints/data-solutions/data-platform-minimal/README.md
  blueprints/data-solutions/data-platform-minimal/demo/README.md
  blueprints/data-solutions/data-platform-minimal/demo/dag_bq_gcs2bq.py
  blueprints/data-solutions/data-platform-minimal/demo/dag_dataproc_gcs2bq.py
  blueprints/data-solutions/data-platform-minimal/demo/dag_orchestrate_pyspark.py
  blueprints/data-solutions/data-platform-minimal/variables.tf
Labels: on:blueprints

#1680 Upgrades to `monitoring_config` in `gke-cluster-*`, docs update, and cosmetics fixes to GKE cluster modules
  blueprints/gke/autopilot/cluster.tf
  blueprints/gke/multitenant-fleet/README.md
  blueprints/gke/multitenant-fleet/variables.tf
  fast/stages/3-gke-multitenant/dev/README.md
  fast/stages/3-gke-multitenant/dev/variables.tf
  modules/gke-cluster-autopilot/README.md
  modules/gke-cluster-autopilot/main.tf
  modules/gke-cluster-autopilot/outputs.tf
  modules/gke-cluster-autopilot/variables.tf
  modules/gke-cluster-standard/README.md
  modules/gke-cluster-standard/main.tf
  modules/gke-cluster-standard/variables.tf
  tests/modules/gke_cluster_standard/examples/monitoring-config-control-plane.yaml
  tests/modules/gke_cluster_standard/examples/monitoring-config-disable-all.yaml
Labels: on:FAST, on:modules, on:blueprints

#1681 Embed subnet-level IAM in the variables controlling creation of subnets
  blueprints/networking/shared-vpc-gke/main.tf
  fast/stages/2-networking-a-peering/landing.tf
  fast/stages/2-networking-a-peering/spoke-dev.tf
  fast/stages/2-networking-a-peering/spoke-prod.tf
  fast/stages/2-networking-b-vpn/landing.tf
  fast/stages/2-networking-b-vpn/spoke-dev.tf
  fast/stages/2-networking-b-vpn/spoke-prod.tf
  fast/stages/2-networking-c-nva/landing.tf
  fast/stages/2-networking-c-nva/spoke-dev.tf
  fast/stages/2-networking-c-nva/spoke-prod.tf
  fast/stages/2-networking-d-separate-envs/spoke-dev.tf
  fast/stages/2-networking-d-separate-envs/spoke-prod.tf
  fast/stages/2-networking-e-nva-bgp/landing.tf
  fast/stages/2-networking-e-nva-bgp/spoke-dev.tf
  fast/stages/2-networking-e-nva-bgp/spoke-prod.tf
  modules/net-vpc/README.md
  modules/net-vpc/subnets.tf
  modules/net-vpc/variables.tf
Labels: on:FAST, on:modules, on:blueprints

#1683 Fix subnet iam_bindings to use arbitrary keys
  modules/net-vpc/README.md
  modules/net-vpc/subnets.tf
  modules/net-vpc/variables.tf
  tests/modules/net_vpc/examples/subnet-iam.yaml
Labels: on:modules

#1685 Fix psa routing variable in FAST net stages
  fast/stages/2-networking-a-peering/README.md
  fast/stages/2-networking-a-peering/variables.tf
  fast/stages/2-networking-b-vpn/README.md
  fast/stages/2-networking-b-vpn/variables.tf
  fast/stages/2-networking-c-nva/README.md
  fast/stages/2-networking-c-nva/variables.tf
  fast/stages/2-networking-d-separate-envs/README.md
  fast/stages/2-networking-d-separate-envs/variables.tf
  fast/stages/2-networking-e-nva-bgp/README.md
  fast/stages/2-networking-e-nva-bgp/variables.tf
Labels: on:FAST

#1686 CONTRIBUTING guide: fix broken links and update "running tests for specific examples" section
  CONTRIBUTING.md
Labels: on:documentation

#1684 Update resource-level IAM interface for kms and pubsub modules
  blueprints/cloud-operations/asset-inventory-feed-remediation/main.tf
  blueprints/cloud-operations/quota-monitoring/main.tf
  blueprints/cloud-operations/scheduled-asset-inventory-export-bq/main.tf
  blueprints/data-solutions/cmek-via-centralized-kms/main.tf
  blueprints/data-solutions/gcs-to-bq-with-least-privileges/kms.tf
  blueprints/data-solutions/shielded-folder/README.md
  blueprints/data-solutions/shielded-folder/kms.tf
  blueprints/data-solutions/shielded-folder/variables.tf
  blueprints/gke/binauthz/main.tf
  fast/stages/2-security/README.md
  fast/stages/2-security/core-dev.tf
  fast/stages/2-security/core-prod.tf
  fast/stages/2-security/main.tf
  fast/stages/2-security/variables.tf
  modules/cloudsql-instance/README.md
  modules/kms/README.md
  modules/kms/iam.tf
  modules/kms/main.tf
  modules/kms/tags.tf
  modules/kms/variables.tf
  modules/pubsub/README.md
  modules/pubsub/iam.tf
  modules/pubsub/main.tf
  modules/pubsub/outputs.tf
  modules/pubsub/variables.tf
  tests/modules/kms/examples/basic.yaml
  tests/modules/kms/examples/purpose.yaml
  tests/modules/pubsub/examples/simple.yaml
  tests/modules/pubsub/examples/subscription-iam.yaml
  tests/modules/pubsub/examples/subscriptions.yaml
Labels: on:FAST, incompatible change, on:modules, on:blueprints

#1687 Add IAM variables template to ADR
  modules/__docs/20230816-iam-refactor.md
Labels: on:documentation

#1688 Fix repd disk attachment in compute-vm module
  modules/compute-vm/main.tf
  tests/modules/compute_vm/examples/disk-options.yaml
Labels: on:modules

#1692 Allow using no service account in compute-vm
  blueprints/apigee/hybrid-gke/mgmt.tf
  blueprints/cloud-operations/adfs/main.tf
  blueprints/cloud-operations/dns-fine-grained-iam/main.tf
  blueprints/data-solutions/cloudsql-multiregion/gce.tf
  blueprints/data-solutions/sqlserver-alwayson/instances.tf
  blueprints/gke/autopilot/mgmt.tf
  blueprints/gke/multi-cluster-mesh-gke-fleet-api/vm.tf
  blueprints/networking/__need_fixing/nginx-reverse-proxy-cluster/main.tf
  blueprints/networking/__need_fixing/onprem-google-access-dns/main.tf
  blueprints/networking/filtering-proxy-psc/consumer.tf
  blueprints/networking/filtering-proxy-psc/main.tf
  blueprints/networking/filtering-proxy/main.tf
  blueprints/networking/glb-hybrid-neg-internal/nva.tf
  blueprints/networking/glb-hybrid-neg-internal/spoke.tf
  blueprints/networking/hub-and-spoke-peering/main.tf
  blueprints/networking/ilb-next-hop/gateways.tf
  blueprints/networking/ilb-next-hop/vms.tf
  blueprints/networking/shared-vpc-gke/main.tf
  modules/compute-vm/README.md
  modules/compute-vm/main.tf
  modules/compute-vm/outputs.tf
  modules/compute-vm/test.tfvars
  modules/compute-vm/variables.tf
  modules/net-lb-ext/README.md
  modules/net-lb-int/README.md
  modules/net-vpn-dynamic/README.md
  tests/modules/compute_vm/examples/defaults.yaml
  tests/modules/compute_vm/examples/sa-custom.yaml
  tests/modules/compute_vm/examples/sa-default.yaml
  tests/modules/compute_vm/examples/sa-managed.yaml
  tests/modules/compute_vm/examples/sa-none.yaml
  tests/modules/compute_vm/examples/sas.yaml
  tests/modules/compute_vm/examples/template.yaml
Labels: incompatible change, on:modules, on:blueprints

#1694 Fix apigee addons config conditional expression
  modules/apigee/main.tf
Labels: on:modules

#1695 Rename FAST globals output file
  fast/stage-links.sh
  fast/stages-multitenant/0-bootstrap-tenant/README.md
  fast/stages-multitenant/0-bootstrap-tenant/outputs.tf
  fast/stages/0-bootstrap/cicd.tf
  fast/stages/0-bootstrap/outputs-files.tf
  fast/stages/0-bootstrap/outputs-gcs.tf
  fast/stages/1-resman/README.md
  fast/stages/1-resman/main.tf
  fast/stages/2-networking-a-peering/README.md
  fast/stages/2-networking-b-vpn/README.md
  fast/stages/2-networking-c-nva/README.md
  fast/stages/2-networking-d-separate-envs/README.md
  fast/stages/2-networking-e-nva-bgp/README.md
  fast/stages/2-security/README.md
  fast/stages/3-data-platform/dev/README.md
  fast/stages/3-gke-multitenant/dev/README.md
  fast/stages/3-project-factory/dev/README.md
  fast/stages/COMPANION.md
Labels: on:FAST, incompatible change, on:documentation

#1690 Rename instance attachment to match versions 23 and earlier
  modules/apigee/main.tf
Labels: incompatible change, on:modules

#1698 FAST: move organization policies to stage 0
  fast/README.md
  fast/docs/0-org-policies.md
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/data/org-policies/compute.yaml
  fast/stages/0-bootstrap/data/org-policies/iam.yaml
  fast/stages/0-bootstrap/data/org-policies/serverless.yaml
  fast/stages/0-bootstrap/data/org-policies/sql.yaml
  fast/stages/0-bootstrap/data/org-policies/storage.yaml
  fast/stages/0-bootstrap/organization-iam.tf
  fast/stages/0-bootstrap/organization.tf
  fast/stages/0-bootstrap/outputs.tf
  fast/stages/0-bootstrap/variables.tf
  fast/stages/1-resman/README.md
  fast/stages/1-resman/branch-data-platform.tf
  fast/stages/1-resman/branch-sandbox.tf
  fast/stages/1-resman/organization.tf
  fast/stages/1-resman/variables.tf
  fast/stages/README.md
Labels: on:FAST, incompatible change, on:documentation

#1703 Add bug fix to allow to use Secret Manager secrets to mount files in …
  modules/cloud-function-v1/main.tf
  modules/cloud-function-v2/main.tf
Labels: on:modules

#1707 Only apply org policies when bootstrap user is not set
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/organization.tf
  fast/stages/CLEANUP.md
Labels: on:FAST, on:documentation

#1709 Add bug fix in bucket local variable
  modules/cloud-function-v1/README.md
  modules/cloud-function-v1/main.tf
  modules/cloud-function-v1/variables.tf
  modules/cloud-function-v2/README.md
  modules/cloud-function-v2/main.tf
  modules/cloud-function-v2/variables.tf
  tests/modules/cloud_function_v1/examples/bucket-creation.yaml
  tests/modules/cloud_function_v2/examples/bucket-creation.yaml
Labels: on:modules

#1711 [FAST] Fix tenant folder tag
  fast/stages/1-resman/branch-tenants.tf
Labels: on:FAST

#1715 Fix indentation in FAST hierarchical firewall rules
  fast/stages/2-networking-a-peering/data/hierarchical-ingress-rules.yaml
  fast/stages/2-networking-b-vpn/data/hierarchical-ingress-rules.yaml
  fast/stages/2-networking-c-nva/data/hierarchical-ingress-rules.yaml
  fast/stages/2-networking-d-separate-envs/data/hierarchical-ingress-rules.yaml
  fast/stages/2-networking-e-nva-bgp/data/hierarchical-ingress-rules.yaml
Labels: on:FAST

#1718 FAST: add example of custom org policy condition to bootstrap README
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/organization.tf
Labels: on:FAST
