Repository GoogleCloudPlatform/cloud-foundation-fabric, pull requests merged in 2023-04, with the labels that each got.

#1293 Refactor cloud run module to use optionals and support all features
  blueprints/serverless/cloud-run-corporate/main.tf
  blueprints/serverless/cloud-run-explore/main.tf
  modules/cloud-run/README.md
  modules/cloud-run/main.tf
  modules/cloud-run/variables.tf
  tests/modules/cloud_run/examples/audit-logs.yaml
  tests/modules/cloud_run/examples/connector.yaml
  tests/modules/cloud_run/examples/eventarc.yaml
  tests/modules/cloud_run/examples/revision-annotations.yaml
  tests/modules/cloud_run/examples/secrets.yaml
  tests/modules/cloud_run/examples/service-account-external.yaml
  tests/modules/cloud_run/examples/service-account.yaml
  tests/modules/cloud_run/examples/simple.yaml
  tests/modules/cloud_run/examples/traffic.yaml
  tests/modules/cloud_run/fixture/main.tf
  tests/modules/cloud_run/test_plan.py
Labels: on:modules, on:blueprints

#1297 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: on:documentation

#1298 Add sample vtysh file to remove warnings
  modules/cloud-config-container/simple-nva/files/frr/vtysh.conf
  modules/cloud-config-container/simple-nva/main.tf
Labels: on:modules

#1299 Fix urlmap in ILB L7 module
  modules/net-ilb-l7/urlmap.tf
  tests/modules/net_ilb_l7/common.tfvars
  tests/modules/net_ilb_l7/defaults.tfvars
  tests/modules/net_ilb_l7/defaults.yaml
  tests/modules/net_ilb_l7/fixture/main.tf
  tests/modules/net_ilb_l7/fixture/test.defaults.tfvars
  tests/modules/net_ilb_l7/fixture/test.groups.tfvars
  tests/modules/net_ilb_l7/fixture/test.health-checks-custom.tfvars
  tests/modules/net_ilb_l7/fixture/test.health-checks-external.tfvars
  tests/modules/net_ilb_l7/fixture/test.https.tfvars
  tests/modules/net_ilb_l7/fixture/test.negs.tfvars
  tests/modules/net_ilb_l7/fixture/test.ssl.tfvars
  tests/modules/net_ilb_l7/fixture/test.urlmaps.tfvars
  tests/modules/net_ilb_l7/fixture/variables.tf
  tests/modules/net_ilb_l7/groups.tfvars
  tests/modules/net_ilb_l7/groups.yaml
  tests/modules/net_ilb_l7/health-checks-custom.tfvars
  tests/modules/net_ilb_l7/health-checks-custom.yaml
  tests/modules/net_ilb_l7/health-checks-external.tfvars
  tests/modules/net_ilb_l7/health-checks-external.yaml
  tests/modules/net_ilb_l7/https.tfvars
  tests/modules/net_ilb_l7/https.yaml
  tests/modules/net_ilb_l7/negs.tfvars
  tests/modules/net_ilb_l7/negs.yaml
  tests/modules/net_ilb_l7/ssl.tfvars
  tests/modules/net_ilb_l7/ssl.yaml
  tests/modules/net_ilb_l7/test_plan.py
  tests/modules/net_ilb_l7/tftest.yaml
  tests/modules/net_ilb_l7/urlmaps.tfvars
  tests/modules/net_ilb_l7/urlmaps.yaml
Labels: on:modules

#1300 Fix vtysh
  modules/cloud-config-container/simple-nva/main.tf
Labels: on:modules

#1301 Add ability to run vtysh from simple-nva vm directly when frr is active
  modules/cloud-config-container/simple-nva/main.tf
Labels: on:modules

#1307 Bump Terraform version
  .github/workflows/linting.yml
  .github/workflows/tests.yml
  default-versions.tf
Labels: on:tools

#1311 Fixed type in readme for FAST stages
  fast/stages/README.md
Labels: on:documentation

#1310 Use labels var in cloud-run module
  modules/cloud-run/main.tf
Labels: on:modules

#1315 Fix stage links script for multitenant stages
  fast/stage-links.sh
Labels: on:FAST

#1305 add missing enable_addons reference in gke blueprint for multitenant-…
  blueprints/gke/multitenant-fleet/gke-clusters.tf
Labels: on:blueprints

#1318 Allow longer org prefix plus tenant prefix
  fast/stages-multitenant/0-bootstrap-tenant/README.md
  fast/stages-multitenant/1-resman-tenant/variables.tf
  fast/stages/0-bootstrap/README.md
Labels: on:FAST

#1319 Fixed wait_time in locust script
  blueprints/gke/autopilot/bundle/locust/image/locust-files/test.py
Labels: on:blueprints

#1320 issue #1303: net-vpc-firewall module supporting source and destination ranges
  modules/net-vpc-firewall/README.md
  modules/net-vpc-firewall/main.tf
  modules/net-vpc-firewall/variables.tf
Labels: on:modules

#1323 fix: create log-export-dataset on shielded-folder when no ecryption keys are defined
  blueprints/data-solutions/shielded-folder/log-export.tf
Labels: on:blueprints

#1309 [DataPlatform] Fix data-eng role on orchestration project
  blueprints/data-solutions/data-platform-foundations/03-orchestration.tf
  blueprints/data-solutions/data-platform-foundations/IAM.md
  blueprints/data-solutions/data-platform-foundations/README.md
Labels: on:blueprints, on:documentation

#1326 Remove net-interconnect-attachment-direct
  modules/net-interconnect-attachment-direct/README.md
  modules/net-interconnect-attachment-direct/main.tf
  modules/net-interconnect-attachment-direct/outputs.tf
  modules/net-interconnect-attachment-direct/variables.tf
  modules/net-interconnect-attachment-direct/versions.tf
  tests/modules/net_interconnect_attachment_direct/__init__.py
  tests/modules/net_interconnect_attachment_direct/fixture/main.tf
  tests/modules/net_interconnect_attachment_direct/fixture/variables.tf
  tests/modules/net_interconnect_attachment_direct/test_plan.py
Labels: on:modules

#1328 Strip org name from deploy key repo in FAST cicd stage
  fast/extras/0-cicd-github/main.tf
Labels: on:FAST

#1331 IAP for Cloud Run GA
  blueprints/serverless/cloud-run-explore/README.md
  blueprints/serverless/cloud-run-explore/main.tf
Labels: on:blueprints

#1332 Add CMEK support on Secret manager module
  modules/secret-manager/README.md
  modules/secret-manager/main.tf
  modules/secret-manager/variables.tf
Labels: on:modules

#1334 Rename mlops blueprint providers file
  blueprints/data-solutions/vertex-mlops/blueprint-providers.tf
Labels: on:blueprints

#1335 Inconsistent conditional result types error in net-vpc module
  modules/net-vpc/subnets.tf
Labels: on:modules

#1336 Certificate renewal through terraform
  modules/net-ilb-l7/main.tf
Labels: on:modules

#1338 Set all resource requests to the autopilot minimum as the existing va…
  blueprints/gke/autopilot/bundle/locust/master.yaml
  blueprints/gke/autopilot/bundle/locust/workers.yaml
  blueprints/gke/autopilot/bundle/monitoring/custom-stackdriver-metrics-adapter.yaml
  blueprints/gke/autopilot/bundle/monitoring/frontend.yaml
  blueprints/gke/autopilot/bundle/monitoring/grafana.yaml
  blueprints/gke/autopilot/bundle/monitoring/kube-state-metrics.yaml
Labels: on:blueprints

#1337 Improve Vertex mlops blueprint
  blueprints/data-solutions/bq-ml/README.md
  blueprints/data-solutions/data-playground/README.md
  blueprints/data-solutions/vertex-mlops/README.md
  blueprints/data-solutions/vertex-mlops/blueprint-providers.tf
  blueprints/data-solutions/vertex-mlops/ci-cd.tf
  blueprints/data-solutions/vertex-mlops/main.tf
  blueprints/data-solutions/vertex-mlops/metadata.yaml
  blueprints/data-solutions/vertex-mlops/notebooks.tf
  blueprints/data-solutions/vertex-mlops/outputs.tf
  blueprints/data-solutions/vertex-mlops/terraform.tfvars.sample
  blueprints/data-solutions/vertex-mlops/variables.tf
  blueprints/data-solutions/vertex-mlops/vertex.tf
  modules/project/service-agents.yaml
Labels: on:modules, on:blueprints

#1342 Add directory to vertex-mlops blueprint metadata
  blueprints/data-solutions/vertex-mlops/metadata.yaml
Labels: on:blueprints

#1344 Add logging details to bootstrap outputs
  fast/stages-multitenant/0-bootstrap-tenant/README.md
  fast/stages-multitenant/0-bootstrap-tenant/outputs.tf
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/outputs.tf
Labels: on:FAST

#1345 chore: update metadata schema
  blueprints/data-solutions/vertex-mlops/metadata.yaml
Labels: on:blueprints
