Repository GoogleCloudPlatform/cloud-foundation-fabric, pull requests merged in 2023-05, with the labels that each got.

#1348 Ignore entire node config in standard cluster
  modules/gke-cluster-standard/main.tf
Labels: on:modules

#1349 Enhance GKE Backup Configuration Support
  modules/gke-cluster-autopilot/README.md
  modules/gke-cluster-autopilot/main.tf
  modules/gke-cluster-autopilot/variables.tf
  modules/gke-cluster-standard/README.md
  modules/gke-cluster-standard/main.tf
  modules/gke-cluster-standard/variables.tf
Labels: on:modules

#1346 FAST: shorten stage 3 prefixes, enforce prefix length in stage 3s
  blueprints/data-solutions/data-platform-foundations/03-orchestration.tf
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/variables.tf
  fast/stages/3-data-platform/dev/README.md
  fast/stages/3-data-platform/dev/main.tf
  fast/stages/3-data-platform/dev/variables.tf
  fast/stages/3-gke-multitenant/dev/README.md
  fast/stages/3-gke-multitenant/dev/main.tf
  fast/stages/3-gke-multitenant/dev/variables.tf
Labels: on:FAST, incompatible change, on:blueprints

#1353 fix in IAM binding of Apigee BigQuery analytics blueprint
  blueprints/apigee/bigquery-analytics/main.tf
Labels: on:blueprints

#1352 Switch FAST networking stages to network policies for Google domains
  fast/stages/2-networking-a-peering/README.md
  fast/stages/2-networking-a-peering/data/dns-policy-rules.yaml
  fast/stages/2-networking-a-peering/dns-dev.tf
  fast/stages/2-networking-a-peering/dns-landing.tf
  fast/stages/2-networking-a-peering/dns-prod.tf
  fast/stages/2-networking-a-peering/variables.tf
  fast/stages/2-networking-b-vpn/README.md
  fast/stages/2-networking-b-vpn/data/dns-policy-rules.yaml
  fast/stages/2-networking-b-vpn/dns-dev.tf
  fast/stages/2-networking-b-vpn/dns-landing.tf
  fast/stages/2-networking-b-vpn/dns-prod.tf
  fast/stages/2-networking-b-vpn/variables.tf
  fast/stages/2-networking-c-nva/README.md
  fast/stages/2-networking-c-nva/data/dns-policy-rules.yaml
  fast/stages/2-networking-c-nva/dns-dev.tf
  fast/stages/2-networking-c-nva/dns-landing.tf
  fast/stages/2-networking-c-nva/dns-prod.tf
  fast/stages/2-networking-c-nva/variables.tf
  fast/stages/2-networking-d-separate-envs/README.md
  fast/stages/2-networking-d-separate-envs/data/dns-policy-rules.yaml
  fast/stages/2-networking-d-separate-envs/dns-dev.tf
  fast/stages/2-networking-d-separate-envs/dns-prod.tf
  fast/stages/2-networking-d-separate-envs/variables.tf
  fast/stages/2-networking-e-nva-bgp/README.md
  fast/stages/2-networking-e-nva-bgp/data/dns-policy-rules.yaml
  fast/stages/2-networking-e-nva-bgp/dns-dev.tf
  fast/stages/2-networking-e-nva-bgp/dns-landing.tf
  fast/stages/2-networking-e-nva-bgp/dns-prod.tf
  fast/stages/2-networking-e-nva-bgp/variables.tf
  modules/dns-response-policy/README.md
  modules/dns-response-policy/main.tf
  modules/dns-response-policy/variables.tf
  tests/fast/stages/s2_networking_a_peering/stage.yaml
  tests/fast/stages/s2_networking_b_vpn/stage.yaml
  tests/fast/stages/s2_networking_c_nva/stage.yaml
  tests/fast/stages/s2_networking_d_separate_envs/stage.yaml
  tests/fast/stages/s2_networking_e_nva_bgp/stage.yaml
  tests/modules/dns_response_policy/examples/complex.yaml
Labels: on:FAST, incompatible change, on:modules

#1308 Add cloud dataplex module
  modules/cloud-dataplex/README.md
  modules/cloud-dataplex/main.tf
  modules/cloud-dataplex/outputs.tf
  modules/cloud-dataplex/variables.tf
  modules/cloud-dataplex/versions.tf
  tests/modules/cloud_dataplex/examples/dataplex_lake.tfvars
  tests/modules/cloud_dataplex/examples/dataplex_lake.yaml
Labels: on:modules

#1329 fix: Change net-glb serve_while_stale type to number
  modules/net-glb/README.md
  modules/net-glb/variables-backend-service.tf
  modules/net-glb/variables.tf
Labels: on:modules

#1355 Fix Shielded Folder - VertexML interoperability
  blueprints/data-solutions/shielded-folder/README.md
  blueprints/data-solutions/shielded-folder/kms.tf
  blueprints/data-solutions/shielded-folder/outputs.tf
  blueprints/data-solutions/vertex-mlops/README.md
  blueprints/data-solutions/vertex-mlops/main.tf
  blueprints/data-solutions/vertex-mlops/outputs.tf
Labels: on:blueprints

#1357 Add module link to README
  README.md
  modules/README.md
Labels: on:documentation

#1359 Blueprint metadata validator
  .github/workflows/linting.yml
  blueprints/data-solutions/vertex-mlops/metadata.yaml
  tools/bpmetadataschema.json
  tools/requirements.txt
  tools/validate_metadata.py
Labels: on:tools, on:blueprints

#1358 update variables files for gke nodepool taints
  blueprints/gke/multitenant-fleet/README.md
  blueprints/gke/multitenant-fleet/variables.tf
  fast/stages/3-gke-multitenant/dev/README.md
  fast/stages/3-gke-multitenant/dev/variables.tf
Labels: on:FAST, on:blueprints

#1364 Cloud Run services in service projects
  blueprints/serverless/cloud-run-corporate/README.md
  blueprints/serverless/cloud-run-corporate/images/use-case-3.4.png
  blueprints/serverless/cloud-run-corporate/main.tf
  blueprints/serverless/cloud-run-corporate/outputs.tf
  blueprints/serverless/cloud-run-corporate/variables.tf
Labels: on:blueprints

#1362 Add Minimal Data Platform blueprint
  blueprints/README.md
  blueprints/data-solutions/README.md
  blueprints/data-solutions/data-platform-foundations/README.md
  blueprints/data-solutions/data-platform-minimal/01-landing.tf
  blueprints/data-solutions/data-platform-minimal/02-composer.tf
  blueprints/data-solutions/data-platform-minimal/02-dataproc.tf
  blueprints/data-solutions/data-platform-minimal/02-processing.tf
  blueprints/data-solutions/data-platform-minimal/03-curated.tf
  blueprints/data-solutions/data-platform-minimal/04-common.tf
  blueprints/data-solutions/data-platform-minimal/IAM.md
  blueprints/data-solutions/data-platform-minimal/README.md
  blueprints/data-solutions/data-platform-minimal/demo/orchestrate_pyspark.py
  blueprints/data-solutions/data-platform-minimal/demo/pyspark_sort.py
  blueprints/data-solutions/data-platform-minimal/images/diagram.png
  blueprints/data-solutions/data-platform-minimal/images/dlp_diagram.png
  blueprints/data-solutions/data-platform-minimal/images/kms_diagram.png
  blueprints/data-solutions/data-platform-minimal/main.tf
  blueprints/data-solutions/data-platform-minimal/outputs.tf
  blueprints/data-solutions/data-platform-minimal/variables.tf
Labels: on:blueprints, on:documentation

#1367 fix routes priority typo
  fast/stages/2-networking-e-nva-bgp/ncc.tf
  modules/ncc-spoke-ra/versions.tf
Labels: on:FAST, on:modules

#1373 Made available CPUs configurable in Cloud Functions module
  modules/cloud-function/README.md
  modules/cloud-function/main.tf
  modules/cloud-function/variables.tf
Labels: on:modules

#1374 added the export_public_ip_routes variable in the net-vpc-peering mod…
  modules/net-vpc-peering/README.md
  modules/net-vpc-peering/main.tf
  modules/net-vpc-peering/variables.tf
Labels: on:modules

#1372 Cloud NAT rules support
  modules/net-cloudnat/README.md
  modules/net-cloudnat/main.tf
  modules/net-cloudnat/variables.tf
  tests/modules/net_cloudnat/examples/rules.yaml
Labels: on:modules

#1376 fixed permissions for security stage SA
  fast/stages/1-resman/branch-security.tf
Labels: on:FAST

#1375 Several updates
  CONTRIBUTING.md
  blueprints/apigee/network-patterns/nb-glb-psc-neg-sb-psc-ilbl7-hybrid-neg/README.md
  blueprints/cloud-operations/network-dashboard/deploy-cloud-function/README.md
  blueprints/cloud-operations/network-dashboard/deploy-cloud-function/variables.tf
  blueprints/cloud-operations/quota-monitoring/README.md
  blueprints/cloud-operations/terraform-cloud-dynamic-credentials/gcp-workload-identity-provider/main.tf
  blueprints/cloud-operations/unmanaged-instances-healthcheck/function/healthchecker/configuration.go
  blueprints/cloud-operations/vm-migration/host-target-projects/README.md
  blueprints/cloud-operations/vm-migration/host-target-projects/variables.tf
  blueprints/cloud-operations/vm-migration/host-target-sharedvpc/README.md
  blueprints/cloud-operations/vm-migration/host-target-sharedvpc/variables.tf
  blueprints/cloud-operations/vm-migration/single-project/README.md
  blueprints/cloud-operations/vm-migration/single-project/variables.tf
  blueprints/data-solutions/bq-ml/demo/README.md
  blueprints/data-solutions/bq-ml/demo/bmql_pipeline.ipynb
  blueprints/data-solutions/cloudsql-multiregion/README.md
  blueprints/data-solutions/data-platform-foundations/04-transformation.tf
  blueprints/data-solutions/data-platform-foundations/demo/dataflow-csv2bq/src/csv2bq.py
  blueprints/data-solutions/data-playground/README.md
  blueprints/data-solutions/data-playground/variables.tf
  blueprints/factories/bigquery-factory/README.md
  blueprints/gke/multitenant-fleet/README.md
  blueprints/gke/multitenant-fleet/variables.tf
  blueprints/networking/filtering-proxy-psc/squid.conf
  blueprints/networking/psc-hybrid/README.md
  blueprints/networking/psc-hybrid/variables.tf
  blueprints/serverless/cloud-run-corporate/README.md
  blueprints/third-party-solutions/README.md
  blueprints/third-party-solutions/openshift/README.md
  blueprints/third-party-solutions/openshift/tf/README.md
  blueprints/third-party-solutions/openshift/tf/variables.tf
  fast/stages/0-bootstrap/README.md
  fast/stages/2-networking-a-peering/README.md
  fast/stages/2-networking-b-vpn/README.md
  fast/stages/2-networking-c-nva/README.md
  fast/stages/2-networking-d-separate-envs/README.md
  fast/stages/2-networking-e-nva-bgp/README.md
  fast/stages/2-networking-e-nva-bgp/ncc.tf
  fast/stages/2-security/README.md
  fast/stages/2-security/variables.tf
  fast/stages/3-data-platform/dev/README.md
  fast/stages/3-gke-multitenant/dev/README.md
  fast/stages/3-gke-multitenant/dev/variables.tf
  modules/binauthz/README.md
  modules/cloud-config-container/README.md
  modules/cloud-config-container/__need_fixing/onprem/docker-images/strongswan/entrypoint.sh
  modules/cloud-config-container/__need_fixing/onprem/docker-images/strongswan/ipsec-vti.sh
  modules/cloud-config-container/squid/squid.conf
  modules/cloud-run/README.md
  modules/compute-vm/README.md
  modules/endpoints/README.md
  modules/endpoints/variables.tf
  modules/gke-cluster-standard/main.tf
  modules/gke-hub/README.md
  modules/gke-hub/variables.tf
  modules/net-glb/README.md
  modules/projects-data-source/README.md
  modules/projects-data-source/variables.tf
  tests/modules/cloud_config_container_mysql/test_plan.py
  tools/state_iam.py
Labels: on:FAST, on:tools, on:modules, on:blueprints, on:documentation

#1378 Updates to blueprints/data-solutions/shielded-folder
  blueprints/data-solutions/shielded-folder/README.md
  blueprints/data-solutions/shielded-folder/variables.tf
  blueprints/data-solutions/vertex-mlops/README.md
  blueprints/data-solutions/vertex-mlops/metadata.yaml
  blueprints/data-solutions/vertex-mlops/variables.tf
Labels: on:blueprints

#1380 Minimal Data Platform - Make components optional
  blueprints/data-solutions/data-platform-minimal/01-landing.tf
  blueprints/data-solutions/data-platform-minimal/02-composer.tf
  blueprints/data-solutions/data-platform-minimal/02-dataproc.tf
  blueprints/data-solutions/data-platform-minimal/02-processing.tf
  blueprints/data-solutions/data-platform-minimal/03-curated.tf
  blueprints/data-solutions/data-platform-minimal/04-common.tf
  blueprints/data-solutions/data-platform-minimal/README.md
  blueprints/data-solutions/data-platform-minimal/demo/orchestrate_pyspark.py
  blueprints/data-solutions/data-platform-minimal/outputs.tf
  blueprints/data-solutions/data-platform-minimal/variables.tf
Labels: on:blueprints

#1382 chore: update mlops blueprint metadata
  blueprints/data-solutions/vertex-mlops/metadata.yaml
Labels: on:blueprints

#1383 Allows groups from other orgs/domains
  fast/stages-multitenant/0-bootstrap-tenant/main.tf
  fast/stages-multitenant/1-resman-tenant/main.tf
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/main.tf
  fast/stages/0-bootstrap/variables.tf
  fast/stages/1-resman/README.md
  fast/stages/1-resman/main.tf
  fast/stages/1-resman/variables.tf
Labels: on:FAST

#1385 Add conditional org admin role to sandbox SA
  fast/stages/1-resman/README.md
  fast/stages/1-resman/branch-sandbox.tf
Labels: on:FAST

#1386 Support CMEK encryption in logging-bucket module
  modules/logging-bucket/README.md
  modules/logging-bucket/main.tf
  modules/logging-bucket/variables.tf
Labels: on:modules

#1388 Firewall Validator fix target_service_accounts ref
  blueprints/networking/decentralized-firewall/validator/firewallSchema.yaml
  blueprints/networking/decentralized-firewall/validator/firewallSchemaAutoApprove.yaml
Labels: on:blueprints

#1391 fix(stages): only add sandbox SA when `sandbox` feature is enabled
  fast/stages/1-resman/branch-sandbox.tf
Labels: on:FAST

#1394 Allow setting identities in VPC SC module egress policies
  fast/stages/1-resman/services.yaml
  modules/vpc-sc/variables.tf
Labels: on:FAST, on:modules

#1395 allow to configure stack type in GKE autopilot
  modules/gke-cluster-autopilot/README.md
  modules/gke-cluster-autopilot/main.tf
  modules/gke-cluster-autopilot/variables.tf
  modules/gke-cluster-standard/README.md
  modules/gke-cluster-standard/main.tf
  modules/gke-cluster-standard/variables.tf
Labels: on:modules

#1404 Add trigger SA for Cloud Run
  modules/cloud-run/README.md
  modules/cloud-run/main.tf
  modules/cloud-run/variables.tf
  tests/modules/cloud_run/examples/trigger-service-account-external.yaml
  tests/modules/cloud_run/examples/trigger-service-account.yaml
Labels: on:modules

#1390 HA VPN over Interconnect modules and blueprint
  README.md
  blueprints/README.md
  blueprints/networking/ha-vpn-over-interconnect/README.md
  blueprints/networking/ha-vpn-over-interconnect/outputs.tf
  blueprints/networking/ha-vpn-over-interconnect/overlay.tf
  blueprints/networking/ha-vpn-over-interconnect/underlay.tf
  blueprints/networking/ha-vpn-over-interconnect/variables.tf
  modules/net-dedicated-vlan-attachment/README.md
  modules/net-dedicated-vlan-attachment/main.tf
  modules/net-dedicated-vlan-attachment/output.tf
  modules/net-dedicated-vlan-attachment/variables.tf
  modules/net-dedicated-vlan-attachment/versions.tf
  modules/net-ipsec-over-interconnect/README.md
  modules/net-ipsec-over-interconnect/main.tf
  modules/net-ipsec-over-interconnect/outputs.tf
  modules/net-ipsec-over-interconnect/variables.tf
  modules/net-ipsec-over-interconnect/versions.tf
Labels: on:modules, on:blueprints, on:documentation

#1407 Multiple Updates in READMEs and wording
  CHANGELOG.md
  blueprints/networking/ha-vpn-over-interconnect/README.md
  modules/net-dedicated-vlan-attachment/README.md
  modules/net-dedicated-vlan-attachment/variables.tf
Labels: on:modules, on:documentation
