Repository GoogleCloudPlatform/cloud-foundation-fabric, pull requests merged in 2023-06, with the labels that each got.

#1411 Add networksecurity to JIT identity list
  modules/project/service-agents.yaml
Labels: on:modules

#1414 Bump GH TF version to coincide with module requirements
  fast/stages/0-bootstrap/templates/workflow-github.yaml
Labels: on:FAST

#1403 add alloydb module
  README.md
  modules/README.md
  modules/alloydb-instance/README.md
  modules/alloydb-instance/main.tf
  modules/alloydb-instance/outputs.tf
  modules/alloydb-instance/variables.tf
  modules/alloydb-instance/versions.tf
  tests/modules/alloydb_instance/examples/alloydb_instance.tfvars
  tests/modules/alloydb_instance/examples/alloydb_instance.yaml
Labels: on:modules, on:documentation

#1417 Remove hardcoded description from instance groups created under net-ilb
  modules/net-ilb/README.md
  modules/net-ilb/groups.tf
  modules/net-ilb/variables.tf
Labels: on:modules

#1418 Network Load Balancer module
  README.md
  modules/README.md
  modules/net-nlb/README.md
  modules/net-nlb/groups.tf
  modules/net-nlb/health-check.tf
  modules/net-nlb/main.tf
  modules/net-nlb/outputs.tf
  modules/net-nlb/variables.tf
  modules/net-nlb/versions.tf
Labels: on:modules, on:documentation

#1419 Fix NLB module
  modules/net-nlb/README.md
  modules/net-nlb/health-check.tf
  modules/net-nlb/main.tf
  modules/net-nlb/outputs.tf
  modules/net-nlb/variables.tf
Labels: on:modules

#1416 Fix and improve GCS2BQ blueprint
  blueprints/data-solutions/gcs-to-bq-with-least-privileges/README.md
  blueprints/data-solutions/gcs-to-bq-with-least-privileges/main.tf
  blueprints/data-solutions/gcs-to-bq-with-least-privileges/terraform.tfvars.sample
  blueprints/data-solutions/gcs-to-bq-with-least-privileges/variables.tf
  blueprints/data-solutions/gcs-to-bq-with-least-privileges/vpc.tf
Labels: on:blueprints

#1412 Add VPN monitoring alerts to 2-networking and VPN usage chart
  fast/stages/2-networking-a-peering/README.md
  fast/stages/2-networking-a-peering/data/dashboards/vpn.json
  fast/stages/2-networking-a-peering/monitoring-vpn-onprem.tf
  fast/stages/2-networking-a-peering/variables.tf
  fast/stages/2-networking-b-vpn/README.md
  fast/stages/2-networking-b-vpn/data/dashboards/vpn.json
  fast/stages/2-networking-b-vpn/monitoring-vpn.tf
  fast/stages/2-networking-b-vpn/variables.tf
  fast/stages/2-networking-c-nva/README.md
  fast/stages/2-networking-c-nva/data/dashboards/vpn.json
  fast/stages/2-networking-c-nva/monitoring-vpn-onprem.tf
  fast/stages/2-networking-c-nva/variables.tf
  fast/stages/2-networking-d-separate-envs/README.md
  fast/stages/2-networking-d-separate-envs/data/dashboards/vpn.json
  fast/stages/2-networking-d-separate-envs/monitoring-vpn-onprem.tf
  fast/stages/2-networking-d-separate-envs/variables.tf
  fast/stages/2-networking-e-nva-bgp/README.md
  fast/stages/2-networking-e-nva-bgp/data/dashboards/vpn.json
  fast/stages/2-networking-e-nva-bgp/monitoring-vpn-onprem.tf
  fast/stages/2-networking-e-nva-bgp/variables.tf
  tests/fast/stages/s2_networking_a_peering/stage.yaml
  tests/fast/stages/s2_networking_b_vpn/stage.yaml
  tests/fast/stages/s2_networking_c_nva/stage.yaml
  tests/fast/stages/s2_networking_d_separate_envs/stage.yaml
  tests/fast/stages/s2_networking_e_nva_bgp/stage.yaml
Labels: on:FAST

#1425 Small fixes
  fast/plugins/2-networking-serverless-connector/README.md
  fast/plugins/2-networking-serverless-connector/local-serverless-connector-outputs.tf
  fast/plugins/2-networking-serverless-connector/local-serverless-connector.tf
  fast/stages/1-resman/data/org-policies/serverless.yaml
  fast/stages/2-networking-c-nva/landing.tf
  fast/stages/2-networking-e-nva-bgp/landing.tf
  modules/cloud-run/README.md
  modules/cloud-run/variables.tf
  modules/net-vpc/README.md
  modules/net-vpc/routes.tf
  modules/net-vpc/variables.tf
Labels: on:FAST, on:modules

#1426 Add custom tag support to FAST
  fast/stages/1-resman/README.md
  fast/stages/1-resman/organization.tf
  fast/stages/1-resman/variables.tf
  modules/organization/organization-policies.tf
  tests/modules/organization/test_plan_org_policies_modules.py
Labels: on:FAST, on:modules

#1429 Use RFC6598 addresses for pods and subnets
  fast/stages/2-networking-a-peering/data/subnets/dev/dev-dataplatform-ew1.yaml
  fast/stages/2-networking-b-vpn/data/subnets/dev/dev-dataplatform-ew1.yaml
  fast/stages/2-networking-c-nva/data/subnets/dev/dev-dataplatform-ew1.yaml
  fast/stages/2-networking-d-separate-envs/data/subnets/dev/dev-dataplatform-ew1.yaml
  fast/stages/2-networking-e-nva-bgp/data/subnets/dev/dev-dataplatform-ew1.yaml
Labels: on:FAST

#1428 Added support for PSC negs in net-ilb-l7 module
  modules/net-ilb-l7/README.md
  modules/net-ilb-l7/backend-service.tf
  modules/net-ilb-l7/main.tf
  modules/net-ilb-l7/variables.tf
Labels: on:modules

#1432 Make internal/external addresses optional in compute-vm
  blueprints/data-solutions/sqlserver-alwayson/instances.tf
  fast/stages/2-networking-e-nva-bgp/nva.tf
  modules/compute-vm/README.md
  modules/compute-vm/variables.tf
Labels: on:FAST, on:modules, on:blueprints

#1434 Add subnets id output, expand net-address outputs
  modules/net-address/README.md
  modules/net-address/outputs.tf
  modules/net-vpc/README.md
  modules/net-vpc/outputs.tf
Labels: on:modules

#1427 Updating hub-and-spoke peering blueprint to use HA VPN.
  blueprints/networking/hub-and-spoke-peering/README.md
  blueprints/networking/hub-and-spoke-peering/main.tf
Labels: on:blueprints

#1420 Move net-dedicated-vlan-attachment module to net-vlan-attachment and …
  README.md
  blueprints/networking/ha-vpn-over-interconnect/underlay.tf
  modules/net-dedicated-vlan-attachment/README.md
  modules/net-ipsec-over-interconnect/README.md
  modules/net-vlan-attachment/README.md
  modules/net-vlan-attachment/main.tf
  modules/net-vlan-attachment/output.tf
  modules/net-vlan-attachment/variables.tf
  modules/net-vlan-attachment/versions.tf
Labels: on:modules, on:blueprints, on:documentation

#1436 Ignore Cloud Run system annotations/labels
  modules/cloud-run/main.tf
Labels: on:modules

#1440 enable_logging variable was not being used
  modules/dns/README.md
  modules/dns/main.tf
  modules/dns/variables.tf
Labels: on:modules

#1443 Fix repo names check in extra FAST stage
  fast/extras/0-cicd-github/variables.tf
Labels: on:FAST

#1444 Fixing typos
  blueprints/data-solutions/data-platform-minimal/README.md
  blueprints/networking/README.md
  blueprints/serverless/README.md
  blueprints/serverless/cloud-run-corporate/README.md
Labels: on:documentation

#1445 Bump TF version in all workflow templates to coincide with module requirements
  fast/assets/templates/workflow-github.yaml
  fast/assets/templates/workflow-sourcerepo.yaml
  fast/stages-multitenant/0-bootstrap-tenant/templates/workflow-github.yaml
  fast/stages-multitenant/0-bootstrap-tenant/templates/workflow-sourcerepo.yaml
  fast/stages-multitenant/1-resman-tenant/templates/workflow-github.yaml
  fast/stages-multitenant/1-resman-tenant/templates/workflow-sourcerepo.yaml
  fast/stages/0-bootstrap/templates/workflow-sourcerepo.yaml
  fast/stages/1-resman/templates/workflow-github.yaml
  fast/stages/1-resman/templates/workflow-sourcerepo.yaml
Labels: on:FAST

#1447 Refactored apigee module and adjusted the blueprints accordingly
  blueprints/apigee/bigquery-analytics/README.md
  blueprints/apigee/bigquery-analytics/main.tf
  blueprints/apigee/bigquery-analytics/terraform.tfvars.sample
  blueprints/apigee/bigquery-analytics/variables.tf
  blueprints/apigee/network-patterns/nb-glb-psc-neg-sb-psc-ilbl7-hybrid-neg/apigee.tf
  blueprints/apigee/network-patterns/nb-glb-psc-neg-sb-psc-ilbl7-hybrid-neg/terraform.tfvars.sample
  modules/apigee/README.md
  modules/apigee/main.tf
  modules/apigee/variables.tf
  tests/modules/apigee/all.tfvars
  tests/modules/apigee/all.yaml
  tests/modules/apigee/instance_only.tfvars
  tests/modules/apigee/instance_only.yaml
Labels: incompatible change, on:modules, on:blueprints

#1450 Split Cloud Function module in separate v1 and v2 modules
  README.md
  blueprints/apigee/bigquery-analytics/main.tf
  blueprints/cloud-operations/asset-inventory-feed-remediation/main.tf
  blueprints/cloud-operations/network-dashboard/deploy-cloud-function/main.tf
  blueprints/cloud-operations/quota-monitoring/main.tf
  blueprints/cloud-operations/scheduled-asset-inventory-export-bq/main.tf
  blueprints/cloud-operations/unmanaged-instances-healthcheck/main.tf
  blueprints/networking/private-cloud-function-from-onprem/main.tf
  blueprints/serverless/api-gateway/main.tf
  modules/README.md
  modules/cloud-function-v1/README.md
  modules/cloud-function-v1/main.tf
  modules/cloud-function-v1/outputs.tf
  modules/cloud-function-v1/variables.tf
  modules/cloud-function-v1/versions.tf
  modules/cloud-function-v2/README.md
  modules/cloud-function-v2/main.tf
  modules/cloud-function-v2/outputs.tf
  modules/cloud-function-v2/variables.tf
  modules/cloud-function-v2/versions.tf
  tests/modules/cloud_function/common.tfvars
  tests/modules/cloud_function/fixture/common.tfvars
  tests/modules/cloud_function/fixture/main.tf
  tests/modules/cloud_function/fixture/variables.tf
  tests/modules/cloud_function/test_plan.py
  tests/modules/cloud_function_v1/examples/iam.yaml
  tests/modules/cloud_function_v1/examples/multiple_functions.yaml
  tests/modules/cloud_function_v2/examples/iam.yaml
  tests/modules/cloud_function_v2/examples/multiple_functions.yaml
Labels: on:modules, on:blueprints, on:documentation

#1446 fixup(project-factory): Use the correct KMS Service Agents attribute …
  blueprints/factories/project-factory/README.md
  fast/stages/3-project-factory/dev/main.tf
  tests/blueprints/factories/project_factory/examples/example.yaml
Labels: on:FAST

#1452 feat(artifact-registry): Add support for CMEK
  modules/artifact-registry/README.md
  modules/artifact-registry/main.tf
  modules/artifact-registry/variables.tf
Labels: on:modules

#1449 Added iam for DNS managed zone to dns module
  modules/dns/README.md
  modules/dns/main.tf
  modules/dns/variables.tf
  tests/modules/dns/examples/private-zone.yaml
  tests/modules/dns/examples/public-zone.yaml
Labels: on:modules

#1453 data-platform-minimal - correct typo
  blueprints/data-solutions/data-platform-minimal/02-processing.tf
Labels: on:blueprints

#1454 data-platform-minimal - 02-processing.tf typo
  blueprints/data-solutions/data-platform-minimal/02-processing.tf
Labels: on:blueprints

#1451 Improve Minimal Data Platform blueprint
  blueprints/data-solutions/data-platform-minimal/02-composer.tf
  blueprints/data-solutions/data-platform-minimal/02-processing.tf
  blueprints/data-solutions/data-platform-minimal/README.md
  blueprints/data-solutions/data-platform-minimal/demo/README.md
  blueprints/data-solutions/data-platform-minimal/demo/dag_dataflow_gcs2bq.py
  blueprints/data-solutions/data-platform-minimal/demo/dag_dataproc_gcs2bq.py
  blueprints/data-solutions/data-platform-minimal/demo/dag_delete_table.py
  blueprints/data-solutions/data-platform-minimal/demo/dag_orchestrate_pyspark.py
  blueprints/data-solutions/data-platform-minimal/demo/data/customers.csv
  blueprints/data-solutions/data-platform-minimal/demo/data/customers.json
  blueprints/data-solutions/data-platform-minimal/demo/data/customers_schema.json
  blueprints/data-solutions/data-platform-minimal/demo/data/customers_udf.js
  blueprints/data-solutions/data-platform-minimal/demo/pyspark_gcs2bq.py
  blueprints/data-solutions/data-platform-minimal/outputs.tf
Labels: on:blueprints

#1458 Fixing typos
  blueprints/data-solutions/shielded-folder/main.tf
  modules/organization/README.md
  modules/organization/variables.tf
Labels: on:modules, on:blueprints

#1460 Added validation for edge_availability_domain value
  modules/net-vlan-attachment/README.md
  modules/net-vlan-attachment/variables.tf
Labels: on:modules

#1439 modules/vpc-sc: google_access_context_manager_service_perimeter add support for method_selectors/permission
  modules/vpc-sc/README.md
  modules/vpc-sc/service-perimeters-regular.tf
  modules/vpc-sc/variables.tf
Labels: on:modules

#1467 Add support for resource policies to compute vm module
  modules/compute-vm/README.md
  modules/compute-vm/main.tf
  modules/compute-vm/resource-policies.tf
  modules/compute-vm/tags.tf
  modules/compute-vm/variables.tf
  tests/modules/compute_vm/examples/instance-schedule-create.yaml
  tests/modules/compute_vm/examples/instance-schedule-id.yaml
  tests/modules/compute_vm/examples/snapshot-schedule-create.yaml
Labels: on:modules

#1468 Dependencies update for API Gateway blueprint
  blueprints/serverless/api-gateway/function/package-lock.json
  blueprints/serverless/api-gateway/function/package.json
Labels: on:blueprints

#1473 Improve Minimal Data Platform Blueprint
  blueprints/data-solutions/data-platform-minimal/01-landing.tf
  blueprints/data-solutions/data-platform-minimal/02-processing.tf
  blueprints/data-solutions/data-platform-minimal/03-curated.tf
  blueprints/data-solutions/data-platform-minimal/IAM.md
  blueprints/data-solutions/data-platform-minimal/README.md
  blueprints/data-solutions/data-platform-minimal/demo/README.md
  blueprints/data-solutions/data-platform-minimal/demo/dag_bq_gcs2bq.py
  blueprints/data-solutions/data-platform-minimal/images/diagram.png
  blueprints/data-solutions/data-platform-minimal/outputs.tf
  blueprints/data-solutions/data-platform-minimal/variables.tf
Labels: on:blueprints, on:documentation

#1456 add missing variable image_uri
  modules/dataproc/README.md
  modules/dataproc/variables.tf
Labels: on:modules

#1475 Minimal Data Platform - Shared VPC
  blueprints/data-solutions/data-platform-minimal/02-dataproc.tf
  blueprints/data-solutions/data-platform-minimal/02-processing.tf
  blueprints/data-solutions/data-platform-minimal/README.md
Labels: on:blueprints

#1482 Add region to quota monitor cloud function
  blueprints/cloud-operations/quota-monitoring/main.tf
Labels: on:blueprints

#1474 data-platform-minimal - support web_server_network_access_control
  blueprints/data-solutions/data-platform-minimal/02-composer.tf
  blueprints/data-solutions/data-platform-minimal/README.md
  blueprints/data-solutions/data-platform-minimal/variables.tf
Labels: on:blueprints

#1477 Changing the IP range of pods from 100.64.48.0/20 to 100.65.16.0/20 Fixes #1461
  fast/stages/2-networking-a-peering/data/subnets/dev/dev-dataplatform-ew1.yaml
  fast/stages/2-networking-a-peering/data/subnets/dev/dev-gke-nodes-ew1.yaml
  fast/stages/2-networking-b-vpn/data/subnets/dev/dev-dataplatform-ew1.yaml
  fast/stages/2-networking-b-vpn/data/subnets/dev/dev-gke-nodes-ew1.yaml
  fast/stages/2-networking-c-nva/data/subnets/dev/dev-dataplatform-ew1.yaml
  fast/stages/2-networking-d-separate-envs/data/subnets/dev/dev-dataplatform-ew1.yaml
  fast/stages/2-networking-e-nva-bgp/data/subnets/dev/dev-dataplatform-ew1.yaml
Labels: on:FAST

#1483 Updating a few files to fix typos
  CHANGELOG.md
  blueprints/data-solutions/data-platform-foundations/README.md
  blueprints/data-solutions/data-platform-foundations/outputs.tf
  blueprints/data-solutions/data-platform-minimal/README.md
  blueprints/data-solutions/data-platform-minimal/outputs.tf
  fast/stages/3-data-platform/dev/README.md
  fast/stages/3-data-platform/dev/outputs.tf
Labels: on:FAST, on:blueprints, on:documentation

#1478 FAST: short_name_is_prefix for multi-tenant
  fast/stages-multitenant/0-bootstrap-tenant/README.md
  fast/stages-multitenant/0-bootstrap-tenant/main.tf
  fast/stages-multitenant/0-bootstrap-tenant/variables.tf
Labels: on:FAST

#1480 Add bigquery authorized resources
  modules/bigquery-dataset/README.md
  modules/bigquery-dataset/main.tf
  modules/bigquery-dataset/outputs.tf
  modules/bigquery-dataset/variables.tf
  tests/modules/bigquery_dataset/examples/authorized_resources.yaml
  tests/modules/bigquery_dataset/examples/authorized_resources_views.yaml
  tests/modules/bigquery_dataset/examples/simple.yaml
Labels: on:modules

#1486 Allow external editing of group instances in lb modules
  modules/net-lb-app-ext/README.md
  modules/net-lb-app-ext/variables.tf
  modules/net-lb-app-int/README.md
  modules/net-lb-app-int/variables.tf
  modules/net-lb-ext/README.md
  modules/net-lb-ext/variables.tf
  modules/net-lb-int/README.md
  modules/net-lb-int/variables.tf
Labels: on:modules

#1487 Fix primary gke/dp ranges in FAST subnets
  fast/stages/2-networking-a-peering/data/subnets/dev/dev-dataplatform-ew1.yaml
  fast/stages/2-networking-a-peering/data/subnets/dev/dev-gke-nodes-ew1.yaml
  fast/stages/2-networking-b-vpn/data/subnets/dev/dev-dataplatform-ew1.yaml
  fast/stages/2-networking-b-vpn/data/subnets/dev/dev-gke-nodes-ew1.yaml
  fast/stages/2-networking-c-nva/data/subnets/dev/dev-dataplatform-ew1.yaml
  fast/stages/2-networking-d-separate-envs/data/subnets/dev/dev-dataplatform-ew1.yaml
  fast/stages/2-networking-e-nva-bgp/data/subnets/dev/dev-dataplatform-ew1.yaml
Labels: on:FAST
