Repository GoogleCloudPlatform/cloud-foundation-fabric, pull requests merged in 2023-03, with the labels that each got.

#1199 [Dataproc module] Fix Variables
  modules/dataproc/README.md
  modules/dataproc/main.tf
  modules/dataproc/variables.tf
Labels: on:modules

#1201 Add missing tfvars template to the tfc blueprint
  blueprints/cloud-operations/terraform-cloud-dynamic-credentials/gcp-workload-identity-provider/terraform.auto.tfvars.template
Labels: on:blueprints

#1204 Fix url_redirect issue on net-glb module
  modules/net-glb/urlmap.tf
Labels: on:modules

#1150 Blueprint: GLB hybrid NEG internal
  blueprints/README.md
  blueprints/networking/README.md
  blueprints/networking/glb-hybrid-neg-internal/README.md
  blueprints/networking/glb-hybrid-neg-internal/data/nva-startup-script.tftpl
  blueprints/networking/glb-hybrid-neg-internal/diagram.png
  blueprints/networking/glb-hybrid-neg-internal/diagram.svg
  blueprints/networking/glb-hybrid-neg-internal/glb.tf
  blueprints/networking/glb-hybrid-neg-internal/main.tf
  blueprints/networking/glb-hybrid-neg-internal/nva.tf
  blueprints/networking/glb-hybrid-neg-internal/outputs.tf
  blueprints/networking/glb-hybrid-neg-internal/spoke.tf
  blueprints/networking/glb-hybrid-neg-internal/variables.tf
Labels: on:blueprints, on:documentation

#1205 Fix issue with GKE cluster notifications topic & static output for pubsub module
  modules/gke-cluster/main.tf
  modules/pubsub/README.md
  modules/pubsub/main.tf
  modules/pubsub/outputs.tf
Labels: on:modules

#1206 Dataproc module. Fix output.
  modules/dataproc/outputs.tf
Labels: on:modules

#1208 Fix outdated go deps, dependabot alerts
  blueprints/cloud-operations/unmanaged-instances-healthcheck/function/restarter/go.mod
  blueprints/cloud-operations/unmanaged-instances-healthcheck/function/restarter/go.sum
  tools/tfeditor/go.mod
  tools/tfeditor/go.sum
Labels: on:tools, on:blueprints

#1207 Allow preventing creation of billing IAM roles in FAST, add instructions on delayed billing association
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/billing.tf
  fast/stages/0-bootstrap/organization.tf
  fast/stages/0-bootstrap/variables.tf
  fast/stages/1-resman/README.md
  fast/stages/1-resman/billing.tf
  fast/stages/1-resman/organization.tf
  fast/stages/1-resman/variables.tf
  fast/stages/2-networking-a-peering/README.md
  fast/stages/2-networking-b-vpn/README.md
  fast/stages/2-networking-c-nva/README.md
  fast/stages/2-networking-d-separate-envs/README.md
  fast/stages/2-security/README.md
Labels: on:FAST

#1209 Billing exclusion support for FAST mt resman
  fast/stages-multitenant/0-bootstrap-tenant/README.md
  fast/stages-multitenant/0-bootstrap-tenant/automation-sas.tf
  fast/stages-multitenant/0-bootstrap-tenant/automation.tf
  fast/stages-multitenant/0-bootstrap-tenant/billing.tf
  fast/stages-multitenant/0-bootstrap-tenant/organization.tf
  fast/stages-multitenant/0-bootstrap-tenant/variables.tf
  fast/stages-multitenant/1-resman-tenant/README.md
  fast/stages-multitenant/1-resman-tenant/variables.tf
  fast/stages/0-bootstrap/README.md
  fast/stages/1-resman/README.md
  tools/tfdoc.py
Labels: on:FAST, on:tools

#1211 Add support for proxy and psc subnets to net-vpc module factory
  fast/stages/2-networking-a-peering/README.md
  fast/stages/2-networking-a-peering/spoke-dev.tf
  fast/stages/2-networking-a-peering/spoke-prod.tf
  fast/stages/2-networking-a-peering/variables.tf
  fast/stages/2-networking-b-vpn/README.md
  fast/stages/2-networking-b-vpn/spoke-dev.tf
  fast/stages/2-networking-b-vpn/spoke-prod.tf
  fast/stages/2-networking-b-vpn/variables.tf
  fast/stages/2-networking-c-nva/README.md
  fast/stages/2-networking-c-nva/main.tf
  fast/stages/2-networking-c-nva/spoke-dev.tf
  fast/stages/2-networking-c-nva/spoke-prod.tf
  fast/stages/2-networking-c-nva/variables.tf
  fast/stages/2-networking-d-separate-envs/README.md
  fast/stages/2-networking-d-separate-envs/main.tf
  fast/stages/2-networking-d-separate-envs/spoke-dev.tf
  fast/stages/2-networking-d-separate-envs/spoke-prod.tf
  fast/stages/2-networking-d-separate-envs/variables.tf
  modules/net-vpc/README.md
  modules/net-vpc/subnets.tf
  tests/modules/net_vpc/examples/factory.yaml
  tools/plan_summary.py
Labels: on:FAST, on:tools, incompatible change, on:modules

#1212 feat: skip committing unchanged files in 0-cicd-github
  fast/extras/0-cicd-github/main.tf
Labels: on:FAST

#1203 Update subnet sample yaml files to use subnet_secondary_ranges
  fast/stages/2-networking-a-peering/data/subnets/dev/dev-dataplatform-ew1.yaml
  fast/stages/2-networking-a-peering/data/subnets/dev/dev-gke-nodes-ew1.yaml
  fast/stages/2-networking-b-vpn/data/subnets/dev/dev-dataplatform-ew1.yaml
  fast/stages/2-networking-b-vpn/data/subnets/dev/dev-gke-nodes-ew1.yaml
  fast/stages/2-networking-d-separate-envs/data/subnets/dev/dev-dataplatform-ew1.yaml
Labels: on:FAST

#1213 feat: Add Pull Request support to 0-cicd-github
  fast/extras/0-cicd-github/README.md
  fast/extras/0-cicd-github/main.tf
  fast/extras/0-cicd-github/variables.tf
Labels: on:FAST

#1215 Try plugin cache, split examples tests
  .github/workflows/tests.yml
Labels: on:tools

#1216 Use composite action for test workflow prerequisite steps
  .github/actions/fabric-tests/action.yml
  .github/workflows/tests.yml
Labels: on:tools

#1217 Added autopilot blueprint
  .gitignore
  blueprints/README.md
  blueprints/gke/README.md
  blueprints/gke/autopilot/README.md
  blueprints/gke/autopilot/ansible.tf
  blueprints/gke/autopilot/ansible/ansible.cfg
  blueprints/gke/autopilot/ansible/inventory/hosts.ini
  blueprints/gke/autopilot/ansible/playbook.yaml
  blueprints/gke/autopilot/bundle/app/hpa.yaml.j2
  blueprints/gke/autopilot/bundle/app/ingress.yaml
  blueprints/gke/autopilot/bundle/app/kustomization.yaml
  blueprints/gke/autopilot/bundle/app/namespace.yaml
  blueprints/gke/autopilot/bundle/app/nginx.yaml
  blueprints/gke/autopilot/bundle/locust/image/Dockerfile
  blueprints/gke/autopilot/bundle/locust/image/locust-files/test.py
  blueprints/gke/autopilot/bundle/locust/image/run.sh
  blueprints/gke/autopilot/bundle/locust/ingress.yaml
  blueprints/gke/autopilot/bundle/locust/kustomization.yaml.j2
  blueprints/gke/autopilot/bundle/locust/master.yaml
  blueprints/gke/autopilot/bundle/locust/namespace.yaml
  blueprints/gke/autopilot/bundle/locust/workers.yaml
  blueprints/gke/autopilot/bundle/monitoring/custom-stackdriver-metrics-adapter.yaml
  blueprints/gke/autopilot/bundle/monitoring/dashboards/k8s-global.json
  blueprints/gke/autopilot/bundle/monitoring/dashboards/k8s-namespaces.json
  blueprints/gke/autopilot/bundle/monitoring/dashboards/k8s-nodes.json
  blueprints/gke/autopilot/bundle/monitoring/dashboards/k8s-pods.json
  blueprints/gke/autopilot/bundle/monitoring/dashboards/locust.json
  blueprints/gke/autopilot/bundle/monitoring/dashboards/nginx.json
  blueprints/gke/autopilot/bundle/monitoring/frontend.yaml
  blueprints/gke/autopilot/bundle/monitoring/grafana.yaml
  blueprints/gke/autopilot/bundle/monitoring/ingress.yaml
  blueprints/gke/autopilot/bundle/monitoring/kube-state-metrics.yaml
  blueprints/gke/autopilot/bundle/monitoring/kustomization.yaml.j2
  blueprints/gke/autopilot/bundle/monitoring/namespace.yaml
  blueprints/gke/autopilot/cluster.tf
  blueprints/gke/autopilot/diagram.png
  blueprints/gke/autopilot/glbs.tf
  blueprints/gke/autopilot/main.tf
  blueprints/gke/autopilot/mgmt.tf
  blueprints/gke/autopilot/outputs.tf
  blueprints/gke/autopilot/templates/gssh.sh.tpl
  blueprints/gke/autopilot/variables.tf
  blueprints/gke/autopilot/vpc.tf
Labels: on:blueprints, on:documentation

#1221 FAQ on installing Fast on a non-empty org
  fast/stages/FAQ.md
Labels: on:documentation

#1222 Manage billing.creator role authoritatively in FAST bootstrap.
  fast/stages/0-bootstrap/organization.tf
  tests/fast/stages/s0_bootstrap/simple.yaml
Labels: on:FAST

#1224 Fix JIT notebook service account.
  blueprints/data-solutions/bq-ml/README.md
  blueprints/data-solutions/data-playground/README.md
  blueprints/data-solutions/vertex-mlops/README.md
  modules/project/service-accounts.tf
Labels: on:modules

#1225 Fix on bqml demo
  blueprints/data-solutions/bq-ml/demo/bmql_pipeline.ipynb
Labels: on:blueprints

#1230 Update contributing guide with new test framework
  CONTRIBUTING.md
  tests/examples/test_plan.py
Labels: on:documentation

#1219 Network Connectivity Center module
  modules/ncc-spoke-ra/README.md
  modules/ncc-spoke-ra/main.tf
  modules/ncc-spoke-ra/outputs.tf
  modules/ncc-spoke-ra/variables.tf
Labels: on:modules

#1231 Simplify testing workflow
  .github/actions/fabric-tests/action.yml
  .github/workflows/tests.yml
Labels: on:tools

#1232 Network firewall policy module
  README.md
  modules/README.md
  modules/net-vpc-firewall-policy/README.md
  modules/net-vpc-firewall-policy/main.tf
  modules/net-vpc-firewall-policy/variables.tf
  modules/net-vpc-firewall-policy/versions.tf
Labels: on:modules, on:documentation

#1234 Fixed connection tracking configuration on LB backend in net-ilb module
  modules/net-ilb/main.tf
Labels: on:modules

#1226 Fix policy_based_routing.sh script on simple-nva module
  modules/cloud-config-container/simple-nva/cloud-config.yaml
  modules/cloud-config-container/simple-nva/files/policy_based_routing.sh
  modules/dataproc/README.md
Labels: on:modules

#1239 Allow overriding name in net-vpc subnet factory
  modules/net-vpc/README.md
  modules/net-vpc/subnets.tf
  tests/modules/net_vpc/examples/factory.yaml
Labels: on:modules

#1218 Small fixes on Network Dashboard cloud function code
  blueprints/cloud-operations/network-dashboard/src/main.py
  blueprints/cloud-operations/network-dashboard/src/plugins/discover-cai.py
  blueprints/cloud-operations/network-dashboard/src/plugins/discover-compute-quota.py
Labels: on:blueprints

#1241 Allow using existing boot disk in compute-vm module
  blueprints/apigee/network-patterns/nb-glb-psc-neg-sb-psc-ilbl7-hybrid-neg/onprem.tf
  blueprints/networking/filtering-proxy-psc/consumer.tf
  blueprints/networking/filtering-proxy-psc/main.tf
  blueprints/networking/filtering-proxy/main.tf
  blueprints/networking/glb-and-armor/main.tf
  fast/stages/2-networking-c-nva/nva.tf
  modules/compute-mig/README.md
  modules/compute-vm/README.md
  modules/compute-vm/main.tf
  modules/compute-vm/variables.tf
  modules/net-glb/README.md
  tests/modules/compute_vm/examples/cmek.yaml
Labels: on:FAST, incompatible change, on:modules, on:blueprints

#1242 Remove container image workflows
  .github/workflows/container-image-squid.yml
  .github/workflows/container-image-strongswan.yml
  .github/workflows/container-image-toolbox.yml
  .github/workflows/container-image.yml
Labels: on:tools

#1243 Autopilot fixes
  blueprints/gke/autopilot/README.md
  blueprints/gke/autopilot/bundle/app/nginx.yaml
  blueprints/gke/autopilot/bundle/locust/workers.yaml
  blueprints/gke/autopilot/main.tf
  blueprints/gke/autopilot/mgmt.tf
  blueprints/gke/autopilot/variables.tf
  blueprints/gke/autopilot/vpc.tf
Labels: on:blueprints

#1245 Composer-2 - Fix 1236
  blueprints/data-solutions/composer-2/README.md
  blueprints/data-solutions/composer-2/variables.tf
Labels: on:blueprints

#1246 Delay creation of SVPC host bindings until APIs and JIT SAs are done
  modules/project/shared-vpc.tf
Labels: on:modules

#1247 Fast: resman: location and storage class added to GKE GCS buckets
  fast/stages/1-resman/branch-gke.tf
Labels: on:FAST

#1248 Add link to public serverless networking guide
  blueprints/serverless/README.md
  blueprints/serverless/cloud-run-corporate/README.md
  blueprints/serverless/cloud-run-explore/README.md
Labels: on:documentation

#1257 Fixes related to boot_disk in compute-vm module
  CONTRIBUTING.md
  blueprints/apigee/hybrid-gke/mgmt.tf
  blueprints/cloud-operations/adfs/main.tf
  blueprints/cloud-operations/unmanaged-instances-healthcheck/main.tf
  blueprints/data-solutions/cloudsql-multiregion/gce.tf
  blueprints/data-solutions/cmek-via-centralized-kms/main.tf
  blueprints/data-solutions/sqlserver-alwayson/instances.tf
  blueprints/gke/autopilot/mgmt.tf
  blueprints/gke/multi-cluster-mesh-gke-fleet-api/vm.tf
  blueprints/networking/__need_fixing/nginx-reverse-proxy-cluster/main.tf
  blueprints/networking/__need_fixing/onprem-google-access-dns/main.tf
  blueprints/networking/ilb-next-hop/gateways.tf
  blueprints/networking/private-cloud-function-from-onprem/main.tf
  modules/cloud-config-container/__need_fixing/onprem/README.md
  modules/cloud-config-container/coredns/README.md
  modules/cloud-config-container/nginx-tls/README.md
  modules/cloud-config-container/nginx/README.md
  modules/cloud-config-container/simple-nva/README.md
  modules/net-ilb/README.md
Labels: on:blueprints, on:documentation

#1255 Change `target_vpcs` variable in firewall policy module to support dynamic values
  modules/net-vpc-firewall-policy/README.md
  modules/net-vpc-firewall-policy/main.tf
  modules/net-vpc-firewall-policy/variables.tf
Labels: incompatible change, on:modules

#1259 Add support for `iam_additive` and simplify factory interface in net VPC module
  modules/net-vpc/README.md
  modules/net-vpc/subnets.tf
  modules/net-vpc/variables.tf
  tests/modules/net_vpc/examples/subnet-iam.yaml
Labels: on:modules

#1261 Fix variable terraform.tfvars.sample
  blueprints/data-solutions/data-platform-foundations/README.md
  blueprints/data-solutions/data-platform-foundations/terraform.tfvars.sample
Labels: on:blueprints

#1258 Add backend service names to outputs for net-glb and net-ilb-l7
  modules/net-glb/README.md
  modules/net-glb/outputs.tf
  modules/net-ilb-l7/README.md
  modules/net-ilb-l7/outputs.tf
Labels: on:modules

#1263 Widen scope for prod project factory SA to dev
  fast/stages/1-resman/branch-data-platform.tf
  fast/stages/1-resman/branch-gke.tf
  fast/stages/1-resman/branch-networking.tf
  fast/stages/1-resman/branch-project-factory.tf
  fast/stages/1-resman/branch-sandbox.tf
  fast/stages/1-resman/branch-security.tf
  fast/stages/1-resman/branch-teams.tf
  fast/stages/2-networking-a-peering/spoke-dev.tf
  fast/stages/2-networking-b-vpn/spoke-dev.tf
  fast/stages/2-networking-c-nva/spoke-dev.tf
  fast/stages/2-networking-d-separate-envs/README.md
  fast/stages/2-networking-d-separate-envs/spoke-dev.tf
  fast/stages/2-networking-d-separate-envs/spoke-prod.tf
  fast/stages/2-networking-d-separate-envs/variables.tf
  fast/stages/2-security/core-dev.tf
  fast/stages/2-security/core-prod.tf
  tests/fast/stages/s2_networking_d_separate_envs/common.tfvars
Labels: on:FAST

#1265 Fix FAST hub and spoke with VPN networking stage
  fast/stages/2-networking-b-vpn/vpn-spoke-dev.tf
  fast/stages/2-networking-b-vpn/vpn-spoke-prod.tf
Labels: on:FAST

#1268 simple-nva: add ability to parse BGP configs as strings.
  modules/cloud-config-container/simple-nva/README.md
  modules/cloud-config-container/simple-nva/main.tf
  modules/cloud-config-container/simple-nva/variables.tf
Labels: on:modules

#1267 Improvements to NCC-RA spoke module.
  modules/ncc-spoke-ra/README.md
  modules/ncc-spoke-ra/main.tf
  modules/ncc-spoke-ra/variables.tf
Labels: on:modules

#1269 Ignore changes to metadata.0.annotations in Cloud Run module
  modules/cloud-run/main.tf
Labels: on:modules

#1272 Removed repeated command in script used to deploy API proxy
  blueprints/apigee/bigquery-analytics/templates/deploy-apiproxy.sh.tpl
Labels: on:blueprints

#1273 Small fixes to FAST Networking stage with NVAs
  fast/stages/2-networking-c-nva/README.md
  fast/stages/2-networking-c-nva/data/nva-startup-script.tftpl
  fast/stages/2-networking-c-nva/nva.tf
  fast/stages/2-networking-c-nva/test-resources.tf
Labels: on:FAST

#1276 DNS Response Policy module
  README.md
  modules/README.md
  modules/dns-response-policy/README.md
  modules/dns-response-policy/main.tf
  modules/dns-response-policy/outputs.tf
  modules/dns-response-policy/variables.tf
  modules/dns-response-policy/versions.tf
  tests/modules/dns_response_policy/examples/nocreate.yaml
  tests/modules/dns_response_policy/examples/simple.yaml
Labels: on:modules, on:documentation

#1278 DNS policy module fixes
  modules/dns-response-policy/README.md
  modules/dns-response-policy/outputs.tf
  modules/dns-response-policy/variables.tf
Labels: on:modules

#1282 Added local firewall management (iptables) on the NVA for dealing with COS default deny on inbound connections
  modules/cloud-config-container/simple-nva/README.md
  modules/cloud-config-container/simple-nva/cloud-config.yaml
  modules/cloud-config-container/simple-nva/main.tf
  modules/cloud-config-container/simple-nva/variables.tf
Labels: on:modules

#1283 Fixed permissions of files created
  blueprints/apigee/bigquery-analytics/main.tf
  blueprints/apigee/hybrid-gke/ansible.tf
  blueprints/apigee/hybrid-gke/apigee.tf
  blueprints/apigee/network-patterns/nb-glb-psc-neg-sb-psc-ilbl7-hybrid-neg/apiproxy.tf
  blueprints/cloud-operations/adfs/main.tf
  blueprints/gke/autopilot/ansible.tf
  blueprints/gke/binauthz/main.tf
  blueprints/gke/multi-cluster-mesh-gke-fleet-api/ansible.tf
Labels: on:blueprints

#1289 Network Dashboard improvements and bug fixing
  blueprints/cloud-operations/network-dashboard/README.md
  blueprints/cloud-operations/network-dashboard/src/README.md
  blueprints/cloud-operations/network-dashboard/src/plugins/discover-group-networks.py
  blueprints/cloud-operations/network-dashboard/src/plugins/series-firewall-rules.py
  blueprints/cloud-operations/network-dashboard/src/plugins/series-networks.py
  blueprints/cloud-operations/network-dashboard/src/plugins/series-routes.py
Labels: incompatible change, on:blueprints

#1294 Add Cloud Batch service identity
  modules/project/service-accounts.tf
Labels: on:modules

#1285 Update hierarchical_rules.schema.yaml
  fast/assets/schemas/hierarchical_rules.schema.yaml
Labels: on:FAST

#1295 Load all service agents identities from yaml
  modules/project/service-accounts.tf
  modules/project/service-agents.yaml
Labels: on:modules
