Repository GoogleCloudPlatform/cloud-foundation-fabric, pull requests merged in 2024-03, with the labels that each got.

#2122 Define service attachment interface for lb modules and implement in internal LBs
  modules/net-lb-app-int/README.md
  modules/net-lb-app-int/main.tf
  modules/net-lb-app-int/outputs.tf
  modules/net-lb-app-int/variables.tf
  modules/net-lb-ext/main.tf
  modules/net-lb-ext/outputs.tf
  modules/net-lb-int/README.md
  modules/net-lb-int/main.tf
  modules/net-lb-int/outputs.tf
  modules/net-lb-int/variables.tf
  tests/blueprints/third_party_solutions/f5_bigip/f5_bigip_ha_active/examples/active-active-instances.yaml
  tests/blueprints/third_party_solutions/f5_bigip/f5_bigip_ha_active/examples/multiple-fw-rules.yaml
  tests/blueprints/third_party_solutions/f5_bigip/f5_bigip_ha_active/examples/public-load-balancers.yaml
  tests/blueprints/third_party_solutions/f5_bigip/f5_bigip_ha_active/examples/secret-manager.yaml
  tests/blueprints/third_party_solutions/f5_bigip/f5_bigip_ha_active/examples/shared-config.yaml
  tests/blueprints/third_party_solutions/f5_bigip/f5_bigip_ha_active/examples/single-instance.yaml
  tests/examples/variables.tf
  tests/modules/net_lb_ext/defaults.yaml
  tests/modules/net_lb_ext/dual-stack.yaml
  tests/modules/net_lb_ext/examples/dual_stack.yaml
  tests/modules/net_lb_ext/examples/e2e.yaml
  tests/modules/net_lb_ext/examples/ext_migs.yaml
  tests/modules/net_lb_ext/examples/fwd_rules.yaml
  tests/modules/net_lb_ext/examples/migs.yaml
  tests/modules/net_lb_ext/forwarding-rule.yaml
  tests/modules/net_lb_int/defaults.yaml
  tests/modules/net_lb_int/forwarding-rule.yaml
Labels: on:modules

#2124 Update docs about role automatically granted to dataform SA
  modules/project/README.md
  modules/project/service-agents.yaml
Labels: on:modules

#2125 Add support for PSC network attachments and interfaces in modules
  modules/compute-vm/README.md
  modules/compute-vm/main.tf
  modules/compute-vm/variables.tf
  modules/net-address/README.md
  modules/net-address/main.tf
  modules/net-address/outputs.tf
  modules/net-address/variables.tf
  modules/net-vpc/README.md
  modules/net-vpc/outputs.tf
  modules/net-vpc/subnets.tf
  modules/net-vpc/variables.tf
  tests/modules/net_address/examples/network-attachments.yaml
  tests/modules/net_vpc/examples/network-attachments.yaml
Labels: on:modules

#2129 Remove ignore_changes as terraform-provider-google#16804 is closed
  modules/net-vpc/subnets.tf
Labels: on:modules

#2134 Add links to factories doc
  blueprints/factories/README.md
  modules/organization/README.md
  modules/project/README.md
  modules/project/outputs.tf
Labels: incompatible change, on:modules, on:documentation

#2135 Rename `modules/cloudsql-instance` deletion protection variables
  blueprints/third-party-solutions/phpipam/cloudsql.tf
  blueprints/third-party-solutions/wordpress/cloudrun/cloudsql.tf
  modules/cloudsql-instance/README.md
  modules/cloudsql-instance/main.tf
  modules/cloudsql-instance/variables.tf
Labels: on:modules, on:blueprints

#2133 Updated diagram to better reflect code naming.
  blueprints/networking/psc-glb-and-armor/diagram.png
Labels: on:blueprints

#2136 Update FAST state IAM files
  fast/stages/0-bootstrap/IAM.md
  fast/stages/1-resman/IAM.md
  fast/stages/2-networking-a-peering/IAM.md
  fast/stages/2-networking-b-vpn/IAM.md
  fast/stages/2-security/IAM.md
  tools/state_iam.py
Labels: on:tools, on:documentation

#2138 Updating README.md file for fixing some typo
  README.md
Labels: on:documentation

#2143 Update README.md (Fixed typos in /cloud-foundation-fabric/tree/master/blueprints/cloud-operations)
  blueprints/cloud-operations/README.md
Labels: on:documentation

#2144 Update actions to latest versions
  .github/actions/fabric-tests/action.yml
  .github/workflows/daily-tag.yml
  .github/workflows/linting.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
Labels: on:tools

#2147 Add test reports to checks
  .github/actions/post-fabric-tests/action.yml
  .github/workflows/tests.yml
Labels: on:tools

#2152 Add folder factory to project-factory module
  modules/project-factory/README.md
  modules/project-factory/factory-folders.tf
  modules/project-factory/factory-projects.tf
  modules/project-factory/main.tf
  modules/project-factory/outputs.tf
  modules/project-factory/variables.tf
  tests/modules/project_factory/examples/example.yaml
Labels: on:modules

#2162 Support automation/controlling projects and resources in project factory
  modules/project-factory/README.md
  modules/project-factory/automation.tf
  modules/project-factory/factory-budgets.tf
  modules/project-factory/factory-folders.tf
  modules/project-factory/factory-projects.tf
  modules/project-factory/folders.tf
  modules/project-factory/main.tf
  tests/modules/project_factory/examples/example.yaml
Labels: on:modules

#2164 Updated CONTRIBUTING.md with a guide to cut a new release
  CONTRIBUTING.md
Labels: on:documentation

#2166 feat(net-cloudnat): add `tcp_time_wait` to `config_timeouts`
  modules/net-cloudnat/README.md
  modules/net-cloudnat/main.tf
  modules/net-cloudnat/variables.tf
Labels: on:modules

#2170 Support optional secondary ranges in net-cloudnat module
  modules/net-cloudnat/README.md
  modules/net-cloudnat/main.tf
  modules/net-cloudnat/variables.tf
Labels: on:modules

#2171 Fix subnet configuration in cloud nat module
  blueprints/cloud-operations/packer-image-builder/main.tf
  modules/net-cloudnat/README.md
  modules/net-cloudnat/main.tf
  modules/net-cloudnat/variables.tf
  tests/modules/net_cloudnat/examples/subnets.yaml
Labels: incompatible change, on:modules, on:blueprints

#2172 Fix subnet names in FAST net stage c nva
  fast/stages/2-networking-c-nva/data/subnets/dmz/dmz-ew1.yaml
  fast/stages/2-networking-c-nva/data/subnets/dmz/dmz-ew4.yaml
  fast/stages/2-networking-c-nva/nva.tf
  fast/stages/2-networking-c-nva/test-resources.tf
Labels: on:FAST

#2175 feat(gke-cluster-standard): Set optionnal `default_node_pool` configuration
  modules/gke-cluster-standard/README.md
  modules/gke-cluster-standard/main.tf
  modules/gke-cluster-standard/variables.tf
  tests/modules/gke_hub/examples/full.yaml
Labels: on:modules

#2178 Add missing permission to org viewer custom role in FAST stage 0
  fast/stages/0-bootstrap/data/custom-roles/organization_admin_viewer.yaml
  fast/stages/0-bootstrap/templates/workflow-github.yaml
  fast/stages/0-bootstrap/templates/workflow-sourcerepo.yaml
  fast/stages/1-resman/templates/workflow-github.yaml
  fast/stages/1-resman/templates/workflow-sourcerepo.yaml
Labels: on:FAST

#2177 add cmek option for cloud_run_v2
  modules/cloud-run-v2/README.md
  modules/cloud-run-v2/job.tf
  modules/cloud-run-v2/service.tf
  modules/cloud-run-v2/variables.tf
Labels: on:modules

#2182 Fix default nodepool defaults in gke standard module
  modules/gke-cluster-standard/README.md
  modules/gke-cluster-standard/main.tf
  modules/gke-cluster-standard/variables.tf
  tests/modules/gke_hub/examples/full.yaml
Labels: incompatible change, on:modules
