Repository GoogleCloudPlatform/cloud-foundation-fabric, pull requests merged in 2024-12, with the labels that each got.

#2744 Fix parent id lookup for networking and security in resource management stage
  fast/stages/1-resman/stage-2-networking.tf
  fast/stages/1-resman/stage-2-security.tf
  tests/fast/stages/s1_resman/simple.tfvars
  tests/fast/stages/s1_resman/simple.yaml
Labels: on:FAST

#2745 Add optional automated MD5 generation to net-vlan-attachment module
  blueprints/networking/ha-vpn-over-interconnect/README.md
  modules/net-vlan-attachment/README.md
  modules/net-vlan-attachment/main.tf
  modules/net-vlan-attachment/outputs.tf
  modules/net-vlan-attachment/variables.tf
Labels: on:modules, on:blueprints

#2748 Add ability to autogenerate md5 keys in net-vpn-ha
  blueprints/apigee/network-patterns/nb-glb-psc-neg-sb-psc-ilbl7-hybrid-neg/README.md
  blueprints/networking/private-cloud-function-from-onprem/README.md
  blueprints/networking/vpc-connectivity-lab/README.md
  blueprints/serverless/cloud-run-corporate/README.md
  modules/net-vpn-ha/README.md
  modules/net-vpn-ha/main.tf
  modules/net-vpn-ha/outputs.tf
  modules/net-vpn-ha/variables.tf
  tests/fast/stages/s2_networking_a_simple/simple.yaml
  tests/fast/stages/s2_networking_a_simple/vpn.yaml
  tests/fast/stages/s2_networking_b_nva/ncc-ra.yaml
  tests/fast/stages/s2_networking_b_nva/regional.yaml
  tests/fast/stages/s2_networking_b_nva/simple.yaml
  tests/fast/stages/s2_networking_c_separate_envs/simple.yaml
  tests/modules/net_vpn_ha/examples/gcp-to-gcp.yaml
  tests/modules/net_vpn_ha/examples/gcp-to-onprem.yaml
  tests/modules/net_vpn_ha/examples/ipv6.yaml
Labels: on:modules, on:blueprints

#2750 Add disk encyption key to the google_compute_instance_template - Sovereign support
  modules/compute-vm/main.tf
Labels: on:modules

#2740 Add support for password validation policy to cloudsql module
  modules/cloudsql-instance/README.md
  modules/cloudsql-instance/main.tf
  modules/cloudsql-instance/variables.tf
Labels: on:modules

#2764 Ignore ssl certificates if none are passed in net-lb-app-int module
  modules/net-lb-app-int/main.tf
Labels: on:modules

#2765 Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
Labels: on:tools

#2766 Allow optional creation of billing resources in FAST boostrap stage
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/billing.tf
  fast/stages/0-bootstrap/outputs.tf
  fast/stages/0-bootstrap/variables.tf
Labels: on:FAST

#2767 Fix workspace logs sink in FAST bootstrap stage
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/variables.tf
Labels: on:FAST

#2769 Support customizable resource names to fast stage 1
  .github/workflows/linting.yml
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/variables.tf
  fast/stages/1-resman/README.md
  fast/stages/1-resman/stage-2-network-security.tf
  fast/stages/1-resman/stage-2-networking.tf
  fast/stages/1-resman/stage-2-project-factory.tf
  fast/stages/1-resman/stage-2-security.tf
  fast/stages/1-resman/stage-3.tf
  fast/stages/1-resman/stage-cicd.tf
  fast/stages/1-resman/variables.tf
Labels: on:FAST, on:tools

#2772 Fix for perma-diff when using PSC NEGs.
  modules/net-lb-app-ext-regional/negs.tf
  modules/net-lb-app-ext/negs.tf
  modules/net-lb-app-int-cross-region/main.tf
  modules/net-lb-app-int/README.md
  modules/net-lb-app-int/main.tf
  modules/net-lb-proxy-int/main.tf
Labels: on:modules

#2774 [FAST] Remove unused stage 1 CICD variables
  fast/stages/1-resman/README.md
  fast/stages/1-resman/variables-stages.tf
  tests/fast/stages/s1_resman/simple.yaml
Labels: on:FAST

#2721 New BindPlane OP Management console on GKE SecOps blueprint
  blueprints/secops/README.md
  blueprints/secops/bindplane-gke/OWNERS
  blueprints/secops/bindplane-gke/README.md
  blueprints/secops/bindplane-gke/bindplane-deployment/main.tf
  blueprints/secops/bindplane-gke/bindplane-deployment/variables.tf
  blueprints/secops/bindplane-gke/config/values.yaml.tpl
  blueprints/secops/bindplane-gke/images/cloud-shell-button.png
  blueprints/secops/bindplane-gke/images/diagram.png
  blueprints/secops/bindplane-gke/images/login.png
  blueprints/secops/bindplane-gke/main.tf
  blueprints/secops/bindplane-gke/outputs.tf
  blueprints/secops/bindplane-gke/ssl.tf
  blueprints/secops/bindplane-gke/variables.tf
  tools/lockfile/main.tf
Labels: on:tools, on:blueprints

#2776 Add support for log views and log scopes
  modules/logging-bucket/README.md
  modules/logging-bucket/iam.tf
  modules/logging-bucket/main.tf
  modules/logging-bucket/outputs.tf
  modules/logging-bucket/variables.tf
  modules/project/README.md
  modules/project/logging.tf
  modules/project/variables-observability.tf
  modules/project/variables.tf
  tests/modules/logging_bucket/examples/views.yaml
  tests/modules/project/examples/log-scopes.yaml
Labels: on:modules

#2778 Fix failing tests for OpenTofu
  tests/examples/test_plan.py
Labels: on:tools

#2780 Fix handling of SSL certificates in external load balancer modules
  modules/net-lb-app-ext-regional/main.tf
  modules/net-lb-app-ext/main.tf
  modules/net-lb-app-int/main.tf
Labels: on:modules

#2781 Fix bindplane cos module
  modules/cloud-config-container/bindplane/README.md
  modules/cloud-config-container/bindplane/cloud-config.yaml
  modules/cloud-config-container/bindplane/main.tf
  modules/cloud-config-container/bindplane/variables.tf
Labels: on:modules

#2783 Update net-lb-app-ext security_settings variables
  modules/net-lb-app-ext/README.md
  modules/net-lb-app-ext/variables-backend-service.tf
Labels: on:modules

#2784 Fix validation message in cas module
  modules/certificate-authority-service/variables.tf
Labels: on:modules

#2786 Make PSA connection more robust
  modules/net-vpc/psa.tf
Labels: on:modules

#2787 Leverage environments for folder and project creation in FAST resman and security
  fast/stages/1-resman/README.md
  fast/stages/1-resman/moved/v36.0.1-v37.0.0.tf
  fast/stages/1-resman/outputs.tf
  fast/stages/1-resman/stage-2-networking.tf
  fast/stages/1-resman/stage-2-security.tf
  fast/stages/2-security/README.md
  fast/stages/2-security/certs.tf
  fast/stages/2-security/core-dev.tf
  fast/stages/2-security/core-prod.tf
  fast/stages/2-security/kms.tf
  fast/stages/2-security/main.tf
  fast/stages/2-security/moved/v36.0.1-v37.0.0.tf
  fast/stages/2-security/outputs.tf
  fast/stages/2-security/variables-fast.tf
  fast/stages/2-security/variables.tf
  tests/fast/stages/s1_resman/simple.yaml
  tests/fast/stages/s2_security/simple.tfvars
  tests/fast/stages/s2_security/simple.yaml
Labels: on:FAST

#2790 Fix cycle in the autopilot-cluster blueprint
  blueprints/gke/patterns/autopilot-cluster/cluster.tf
Labels: on:blueprints

#2791 Fabric e2e fixes
  blueprints/data-solutions/bq-ml/README.md
  blueprints/data-solutions/data-playground/README.md
  blueprints/data-solutions/vertex-mlops/README.md
  modules/project/service-agents.yaml
  tests/examples_e2e/setup_module/jit.tf.json
  tests/examples_e2e/setup_module/main.tf
  tools/build_service_agents.py
Labels: on:tools, on:modules, on:blueprints

#2792 fix non-empty plan after apply for vertex mlops
  blueprints/data-solutions/vertex-mlops/vertex.tf
Labels: on:blueprints
