Repository GoogleCloudPlatform/cloud-foundation-fabric, pull requests merged in 2024-08, with the labels that each got.

#2463 Typo in README: well know -> well-known
  blueprints/factories/README.md
Labels: on:blueprints

#2464 Fix peering routes config in fast a network stage
  fast/stages/2-networking-a-simple/spoke-peerings.tf
Labels: on:FAST

#2466 [FAST] Sets projects_data_path optional, as in the project factory module
  fast/stages/3-project-factory/dev/README.md
  fast/stages/3-project-factory/dev/variables.tf
Labels: on:FAST

#2470 Make policyReader binding additive in bootstrap
  fast/stages/0-bootstrap/organization-iam.tf
  tests/fast/stages/s0_bootstrap/checklist.yaml
  tests/fast/stages/s0_bootstrap/simple.yaml
Labels: on:FAST

#2471 Rename 1-vpc-sc stage to 1-vpcsc
  fast/stage-links.sh
  fast/stages/1-vpcsc/IAM.md
  fast/stages/1-vpcsc/README.md
  fast/stages/1-vpcsc/data/access-levels/geo.yaml
  fast/stages/1-vpcsc/data/restricted-services.yaml
  fast/stages/1-vpcsc/diagram.png
  fast/stages/1-vpcsc/main.tf
  fast/stages/1-vpcsc/outputs.tf
  fast/stages/1-vpcsc/variables-fast.tf
  fast/stages/1-vpcsc/variables.tf
  fast/stages/README.md
  tests/fast/stages/s1_vpcsc/simple.yaml
  tests/fast/stages/s1_vpcsc/tftest.yaml
Labels: on:FAST

#2472 Fix grammar in net-vpc-peering preconditions
  modules/net-vpc-peering/main.tf
Labels: on:modules

#2475 Cloud run v2 output uri
  modules/cloud-run-v2/README.md
  modules/cloud-run-v2/outputs.tf
Labels: on:modules

#2476 Cloud run v2 custom audiences
  modules/cloud-run-v2/README.md
  modules/cloud-run-v2/service.tf
  modules/cloud-run-v2/variables.tf
Labels: on:modules

#2474 [fix] Pass optional location variable at certificates creation
  modules/certificate-manager/main.tf
Labels: on:modules

#2477 VPC-SC factory JSON Schemas
  fast/stages/1-vpcsc/data/access-levels/geo.yaml
  modules/vpc-sc/README.md
  modules/vpc-sc/schemas/access-level.schema.json
  modules/vpc-sc/schemas/egress-policy.schema.json
  modules/vpc-sc/schemas/ingress-policy.schema.json
Labels: on:FAST, on:modules

#2480 Add support for PSC global access to net-address
  modules/net-address/README.md
  modules/net-address/psc.tf
  modules/net-address/variables.tf
  tests/modules/net_address/examples/psc-global.yaml
Labels: on:modules

#2481 Adds a new certification authority service (CAS) module
  README.md
  modules/README.md
  modules/certificate-authority-service/README.md
  modules/certificate-authority-service/iam.tf
  modules/certificate-authority-service/main.tf
  modules/certificate-authority-service/outputs.tf
  modules/certificate-authority-service/variables-iam.tf
  modules/certificate-authority-service/variables.tf
  modules/certificate-authority-service/versions.tf
  tests/examples/variables.tf
  tests/modules/certificate_authority_service/examples/basic.yaml
  tests/modules/certificate_authority_service/examples/custom_cas.yaml
  tests/modules/certificate_authority_service/examples/existing_ca.yaml
  tests/modules/certificate_authority_service/examples/iam.yaml
  tests/modules/cloud_run/examples/service-account-external.yaml
  tests/modules/folder/examples/assured-workload.yaml
  tests/modules/folder/examples/iam.yaml
  tests/modules/net_vpc/examples/shared-vpc.yaml
  tests/modules/pubsub/examples/simple.yaml
  tests/modules/pubsub/examples/subscription-iam.yaml
Labels: on:modules

#2482 [FAST] Rename netsec stage to nsec
  fast/stage-links.sh
  fast/stages/1-resman/README.md
  fast/stages/1-resman/branch-networking.tf
  fast/stages/1-resman/branch-nsec.tf
  fast/stages/1-resman/cicd-netsec.tf
  fast/stages/1-resman/iam.tf
  fast/stages/1-resman/outputs.tf
  fast/stages/1-resman/variables.tf
  fast/stages/3-network-security/README.md
Labels: on:FAST

#2483 Add boostrap output with log destination ids
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/outputs.tf
Labels: on:FAST

#2486 Fix failing tests for CloudSQL
  modules/cloudsql-instance/README.md
Labels: on:modules

#2487 example testing improvements
  tests/examples/conftest.py
  tests/examples/test_plan.py
  tests/examples/utils.py
  tests/examples_e2e/conftest.py
  tests/examples_e2e/test_plan.py
  tools/tfdoc.py
Labels: on:tools

#2488 Introduce YAML schema validation for YAML examples
  modules/project-factory/README.md
  modules/project-factory/schemas/project.schema.json
  modules/vpc-sc/README.md
  tests/examples/conftest.py
  tests/examples/test_plan.py
  tests/examples/utils.py
  tests/requirements.txt
Labels: on:modules

#2489 Extend test collector to include yaml files under tests/schemas/ and fast data files
  modules/vpc-sc/schemas/access-level.schema.json
  tests/collectors.py
  tests/schemas/vpc-sc/fail-access-level-invalid-member-prefix.yaml
  tests/schemas/vpc-sc/fail-access-level-no-member-prefix.yaml
  tests/schemas/vpc-sc/pass-access-level-member-prefix.yaml
Labels: on:modules

#2491 Organization module factory schemas
  .vscode/settings.json
  fast/stages/0-bootstrap/data/custom-roles/gcve_network_admin.yaml
  fast/stages/0-bootstrap/data/custom-roles/network_firewall_policies_admin.yaml
  fast/stages/0-bootstrap/data/custom-roles/ngfw_enterprise_admin.yaml
  fast/stages/0-bootstrap/data/custom-roles/organization_admin_viewer.yaml
  fast/stages/0-bootstrap/data/custom-roles/organization_iam_admin.yaml
  fast/stages/0-bootstrap/data/custom-roles/service_project_network_admin.yaml
  fast/stages/0-bootstrap/data/custom-roles/storage_viewer.yaml
  fast/stages/0-bootstrap/data/custom-roles/tag_viewer.yaml
  fast/stages/0-bootstrap/data/custom-roles/tenant_network_admin.yaml
  fast/stages/0-bootstrap/data/org-policies/compute.yaml
  fast/stages/0-bootstrap/data/org-policies/gcp.yaml
  fast/stages/0-bootstrap/data/org-policies/iam.yaml
  fast/stages/0-bootstrap/data/org-policies/serverless.yaml
  fast/stages/0-bootstrap/data/org-policies/sql.yaml
  fast/stages/0-bootstrap/data/org-policies/storage.yaml
  modules/organization/README.md
  modules/organization/schemas/custom-role.schema.json
  modules/organization/schemas/org-policies.schema.json
  modules/organization/schemas/org-policy-custom-constraint.schema.json
  modules/project/README.md
Labels: on:FAST, on:modules

#2494 Additional module schemas
  fast/stages/0-bootstrap/data/custom-roles/gcve_network_admin.yaml
  fast/stages/0-bootstrap/data/custom-roles/network_firewall_policies_admin.yaml
  fast/stages/0-bootstrap/data/custom-roles/ngfw_enterprise_admin.yaml
  fast/stages/0-bootstrap/data/custom-roles/organization_admin_viewer.yaml
  fast/stages/0-bootstrap/data/custom-roles/organization_iam_admin.yaml
  fast/stages/0-bootstrap/data/custom-roles/service_project_network_admin.yaml
  fast/stages/0-bootstrap/data/custom-roles/storage_viewer.yaml
  fast/stages/0-bootstrap/data/custom-roles/tag_viewer.yaml
  fast/stages/0-bootstrap/data/custom-roles/tenant_network_admin.yaml
  fast/stages/0-bootstrap/data/org-policies/compute.yaml
  fast/stages/0-bootstrap/data/org-policies/gcp.yaml
  fast/stages/0-bootstrap/data/org-policies/iam.yaml
  fast/stages/0-bootstrap/data/org-policies/serverless.yaml
  fast/stages/0-bootstrap/data/org-policies/sql.yaml
  fast/stages/0-bootstrap/data/org-policies/storage.yaml
  fast/stages/0-bootstrap/schemas/custom-role.schema.json
  fast/stages/0-bootstrap/schemas/org-policies.schema.json
  fast/stages/1-resman/data/org-policies/sandbox/compute.yaml
  fast/stages/1-resman/data/org-policies/sandbox/sql.yaml
  fast/stages/1-resman/schemas/org-policies.schema.json
  fast/stages/1-vpcsc/data/access-levels/geo.yaml
  fast/stages/1-vpcsc/schemas/access-level.schema.json
  fast/stages/1-vpcsc/schemas/egress-policy.schema.json
  fast/stages/1-vpcsc/schemas/ingress-policy.schema.json
  fast/stages/2-networking-a-simple/data/subnets/dev/dev-dataplatform.yaml
  fast/stages/2-networking-a-simple/data/subnets/dev/dev-default.yaml
  fast/stages/2-networking-a-simple/data/subnets/dev/dev-gke-nodes.yaml
  fast/stages/2-networking-a-simple/data/subnets/landing/landing-default.yaml
  fast/stages/2-networking-a-simple/data/subnets/prod/prod-default.yaml
  fast/stages/2-networking-a-simple/schemas/subnet.schema.json
  fast/stages/2-networking-b-nva/data/subnets/dev/dev-dataplatform.yaml
  fast/stages/2-networking-b-nva/data/subnets/dev/dev-default-pri.yaml
  fast/stages/2-networking-b-nva/data/subnets/dev/dev-default-sec.yaml
  fast/stages/2-networking-b-nva/data/subnets/dev/dev-gke-nodes.yaml
  fast/stages/2-networking-b-nva/data/subnets/dmz/dmz-default-pri.yaml
  fast/stages/2-networking-b-nva/data/subnets/dmz/dmz-default-sec.yaml
  fast/stages/2-networking-b-nva/data/subnets/landing/landing-default-pri.yaml
  fast/stages/2-networking-b-nva/data/subnets/landing/landing-default-sec.yaml
  fast/stages/2-networking-b-nva/data/subnets/prod/prod-default-ew1.yaml
  fast/stages/2-networking-b-nva/data/subnets/prod/prod-default-ew4.yaml
  fast/stages/2-networking-b-nva/schemas/subnet.schema.json
  fast/stages/2-networking-c-separate-envs/data/subnets/dev/dev-dataplatform.yaml
  fast/stages/2-networking-c-separate-envs/data/subnets/dev/dev-default.yaml
  fast/stages/2-networking-c-separate-envs/data/subnets/dev/dev-gke-nodes.yaml
  fast/stages/2-networking-c-separate-envs/data/subnets/prod/prod-default.yaml
  fast/stages/2-networking-c-separate-envs/schemas/subnet.schema.json
  modules/billing-account/README.md
  modules/billing-account/schemas/budget.schema.json
  modules/folder/README.md
  modules/folder/schemas/org-policies.schema.json
  modules/net-vpc/README.md
  modules/net-vpc/schemas/subnet.schema.json
  modules/project-factory/schemas/budget.schema.json
  modules/project/README.md
  modules/project/schemas/custom-role.schema.json
  modules/project/schemas/org-policies.schema.json
  modules/project/schemas/quotas.schema.json
Labels: on:FAST, on:modules

#2495 ensure dns_keys output freshness
  modules/dns/main.tf
Labels: on:modules

#2493 [fix] Fixes errors in certificate-authority-service module
  modules/certificate-authority-service/README.md
  modules/certificate-authority-service/main.tf
  modules/certificate-authority-service/variables.tf
Labels: on:modules

#2496 [fix] certificate authority service returning bad pool id
  modules/certificate-authority-service/main.tf
Labels: on:modules

#2497 Net vpc firewall factory schema
  fast/stages/2-networking-a-simple/data/firewall-rules/dev/default-ingress.yaml
  fast/stages/2-networking-a-simple/data/firewall-rules/dev/rules.yaml
  fast/stages/2-networking-a-simple/data/firewall-rules/landing/default-ingress.yaml
  fast/stages/2-networking-a-simple/data/firewall-rules/landing/rules.yaml
  fast/stages/2-networking-a-simple/data/firewall-rules/prod/default-ingress.yaml
  fast/stages/2-networking-a-simple/schemas/firewall-rules.schema.json
  fast/stages/2-networking-b-nva/data/firewall-rules/dev/default-ingress.yaml
  fast/stages/2-networking-b-nva/data/firewall-rules/dev/rules.yaml
  fast/stages/2-networking-b-nva/data/firewall-rules/dmz/bgp.yaml
  fast/stages/2-networking-b-nva/data/firewall-rules/dmz/default-ingress.yaml
  fast/stages/2-networking-b-nva/data/firewall-rules/dmz/rules.yaml
  fast/stages/2-networking-b-nva/data/firewall-rules/landing/bgp.yaml
  fast/stages/2-networking-b-nva/data/firewall-rules/landing/default-ingress.yaml
  fast/stages/2-networking-b-nva/data/firewall-rules/landing/rules.yaml
  fast/stages/2-networking-b-nva/data/firewall-rules/prod/default-ingress.yaml
  fast/stages/2-networking-b-nva/schemas/firewall-rules.schema.json
  fast/stages/2-networking-c-separate-envs/data/firewall-rules/dev/default-ingress.yaml
  fast/stages/2-networking-c-separate-envs/data/firewall-rules/dev/rules.yaml
  fast/stages/2-networking-c-separate-envs/data/firewall-rules/prod/default-ingress.yaml
  fast/stages/2-networking-c-separate-envs/schemas/firewall-rules.schema.json
  modules/net-vpc-firewall/README.md
  modules/net-vpc-firewall/schemas/firewall-rules.schema.json
Labels: on:FAST, on:modules

#2498 DNS rpz module factory schema
  fast/stages/2-networking-a-simple/data/dns-policy-rules.yaml
  fast/stages/2-networking-a-simple/schemas/dns-response-policy-rules.json
  fast/stages/2-networking-b-nva/data/dns-policy-rules.yaml
  fast/stages/2-networking-b-nva/schemas/dns-response-policy-rules.json
  fast/stages/2-networking-c-separate-envs/data/dns-policy-rules.yaml
  fast/stages/2-networking-c-separate-envs/schemas/dns-response-policy-rules.json
  modules/dns-response-policy/schemas/dns-response-policy-rules.json
  modules/dns-response-policy/variables.tf
Labels: on:FAST, on:modules

#2499 Firewall policy module factory schema
  fast/stages/3-network-security/data/firewall-policy-rules/dev/egress.yaml
  fast/stages/3-network-security/data/firewall-policy-rules/dev/ingress.yaml
  fast/stages/3-network-security/schemas/firewall-policy-rules.schema.json
  modules/net-firewall-policy/README.md
  modules/net-firewall-policy/schemas/firewall-policy-rules.schema.json
  modules/net-vpc-firewall/README.md
  modules/net-vpc-firewall/schemas/firewall-rules.schema.json
Labels: on:FAST, on:modules

#2420 Add name overrides for Internal and External Load Balancers
  modules/net-lb-ext/README.md
  modules/net-lb-ext/health-check.tf
  modules/net-lb-ext/main.tf
  modules/net-lb-ext/variables.tf
  modules/net-lb-int/README.md
  modules/net-lb-int/health-check.tf
  modules/net-lb-int/main.tf
  modules/net-lb-int/variables.tf
  modules/net-vpn-ha/README.md
  modules/net-vpn-ha/main.tf
  modules/net-vpn-ha/variables.tf
Labels: on:modules

#2501 Use the `google_tags_location_tag_binding` Terraform resource to bind tags on KMS key rings
  modules/kms/tags.tf
Labels: on:modules

#2509 Depend network security stage from fast features in FAST resman stage
  fast/stages/1-resman/README.md
  fast/stages/1-resman/branch-networking.tf
  fast/stages/1-resman/branch-nsec.tf
  fast/stages/1-resman/iam.tf
  fast/stages/1-resman/main.tf
  fast/stages/1-resman/outputs.tf
  fast/stages/1-resman/variables.tf
  tests/fast/stages/s1_resman/checklist.yaml
  tests/fast/stages/s1_resman/simple.yaml
Labels: on:FAST

#2508 Add support for disable default snat
  modules/gke-cluster-autopilot/README.md
  modules/gke-cluster-autopilot/main.tf
  modules/gke-cluster-autopilot/variables.tf
  modules/gke-cluster-standard/README.md
  modules/gke-cluster-standard/main.tf
  modules/gke-cluster-standard/variables.tf
Labels: on:modules

#2511 [FAST] Add permissions to nsec-r SA
  fast/stages/0-bootstrap/data/custom-roles/network_firewall_policies_viewer.yaml
  fast/stages/0-bootstrap/data/custom-roles/ngfw_enterprise_viewer.yaml
  fast/stages/0-bootstrap/organization.tf
  fast/stages/1-resman/README.md
  fast/stages/1-resman/branch-networking.tf
  fast/stages/1-resman/iam.tf
  fast/stages/1-resman/variables-fast.tf
  tests/fast/stages/s0_bootstrap/checklist.yaml
  tests/fast/stages/s0_bootstrap/simple.yaml
  tests/fast/stages/s0_bootstrap/simple_projects.yaml
  tests/fast/stages/s1_resman/checklist.tfvars
  tests/fast/stages/s1_resman/simple.tfvars
Labels: on:FAST

#2515 Add ca pool object to certification-authority-service module
  modules/certificate-authority-service/README.md
  modules/certificate-authority-service/outputs.tf
Labels: on:modules

#2516 Key inconsistency in project-factory and fix for null-value
  modules/project-factory/factory-projects.tf
Labels: on:modules

#2517 project-cmek-smallfix
  modules/project/cmek.tf
Labels: on:modules

#2518 Fix CMEK typo in project module. Part 2 :)
  modules/project/cmek.tf
Labels: on:modules

#2520 Add e2e pubusb errors
  tests/examples_e2e/setup_module/main.tf
Labels: on:tools

#2521 net-vpc module add overlap CIDR subnet attribute
  modules/net-vpc/README.md
  modules/net-vpc/subnets.tf
  modules/net-vpc/variables.tf
Labels: on:modules

#2523 feat: Add security_policy to backend service configuration
  modules/net-lb-app-int/README.md
  modules/net-lb-app-int/backend-service.tf
  modules/net-lb-app-int/variables-backend-service.tf
Labels: on:modules

#2528 Support budget restriction read only
  modules/billing-account/README.md
  modules/billing-account/budgets.tf
  modules/billing-account/factory.tf
  modules/billing-account/variables.tf
Labels: on:modules

#2535 Allow customizable prefix in net-vpc module PSA configs
  modules/net-vpc/README.md
  modules/net-vpc/psa.tf
  modules/net-vpc/variables.tf
  tests/modules/net_vpc/examples/psa-prefix.yaml
Labels: on:modules

#2533 Added the possibility of setting the duration of a GCE instance.
  modules/compute-vm/README.md
  modules/compute-vm/main.tf
  modules/compute-vm/variables.tf
Labels: on:modules

#2537 Add send_secondary_ip_range_if_empty=true to google_compute_subnetwork
  modules/net-vpc/subnets.tf
Labels: on:modules

#2539 Exposing aws_v4_authentication configuration in global external alb
  modules/net-lb-app-ext/README.md
  modules/net-lb-app-ext/backend-service.tf
  modules/net-lb-app-ext/variables-backend-service.tf
Labels: on:modules

#2538 Module net-vpc fix for reserved ranges
  modules/net-vpc/README.md
  modules/net-vpc/psa.tf
  tests/modules/net_vpc/examples/psa-prefix-services.yaml
Labels: on:modules

#2484 [FAST] TLS inspection support for NGFW Enterprise
  fast/stage-links.sh
  fast/stages/0-bootstrap/data/custom-roles/ngfw_enterprise_admin.yaml
  fast/stages/0-bootstrap/data/custom-roles/ngfw_enterprise_viewer.yaml
  fast/stages/0-bootstrap/organization.tf
  fast/stages/1-resman/branch-networking.tf
  fast/stages/1-resman/branch-security.tf
  fast/stages/1-resman/iam.tf
  fast/stages/2-security/README.md
  fast/stages/2-security/core-dev.tf
  fast/stages/2-security/core-prod.tf
  fast/stages/2-security/diagram.png
  fast/stages/2-security/main.tf
  fast/stages/2-security/outputs.tf
  fast/stages/2-security/variables-fast.tf
  fast/stages/2-security/variables.tf
  fast/stages/3-network-security/README.md
  fast/stages/3-network-security/data/firewall-policy-rules/dev/egress.yaml
  fast/stages/3-network-security/data/firewall-policy-rules/dev/ingress.yaml
  fast/stages/3-network-security/data/firewall-policy-rules/prod/egress.yaml
  fast/stages/3-network-security/data/firewall-policy-rules/prod/ingress.yaml
  fast/stages/3-network-security/diagram.png
  fast/stages/3-network-security/diagram.svg
  fast/stages/3-network-security/net-dev.tf
  fast/stages/3-network-security/net-prod.tf
  fast/stages/3-network-security/variables-fast.tf
  fast/stages/diagrams.excalidraw.gz
  tests/fast/stages/s0_bootstrap/checklist.yaml
  tests/fast/stages/s0_bootstrap/simple.yaml
  tests/fast/stages/s1_resman/checklist.tfvars
  tests/fast/stages/s1_resman/checklist.yaml
  tests/fast/stages/s1_resman/simple.tfvars
  tests/fast/stages/s1_resman/simple.yaml
  tests/fast/stages/s2_security/simple.tfvars
  tests/fast/stages/s2_security/simple.yaml
  tests/fast/stages/s3_network_security/tftest.yaml
  tests/fast/stages/s3_network_security/tls.tfvars
  tests/fast/stages/s3_network_security/tls.yaml
Labels: on:FAST

#2542 Use generic project name in HA VPN over IC blueprint
  blueprints/networking/ha-vpn-over-interconnect/README.md
Labels: on:blueprints

#2541 Moved blocks and fix to resman for FAST v33-v34 transition
  fast/stages/1-resman/README.md
  fast/stages/1-resman/branch-nsec.tf
  fast/stages/1-resman/branch-project-factory.tf
  fast/stages/1-resman/moved/v33.0.0-v34.0.0.tf
  fast/stages/1-resman/variables-fast.tf
  tests/fast/stages/s1_resman/checklist.tfvars
  tests/fast/stages/s1_resman/simple.tfvars
Labels: on:FAST

#2545 Add documentation instructions for potential issues in cicd-github and bootstrap stages
  fast/extras/0-cicd-github/README.md
  fast/stages/0-bootstrap/README.md
Labels: on:FAST
