Repository GoogleCloudPlatform/cloud-foundation-fabric, pull requests merged in 2024-05, with the labels that each got.

#2251 Fix factory ingress policy services in vpc-sc module
  modules/vpc-sc/README.md
  modules/vpc-sc/factory.tf
  tests/modules/vpc_sc/examples/factory.yaml
Labels: on:modules

#2247 Fix workstation-cluster module for private deployment
  modules/workstation-cluster/README.md
  modules/workstation-cluster/main.tf
Labels: on:modules

#2253 Misc FAST fixes
  fast/stages-multitenant/0-bootstrap-tenant/README.md
  fast/stages-multitenant/0-bootstrap-tenant/variables.tf
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/variables.tf
  fast/stages/1-resman/README.md
  fast/stages/1-resman/outputs.tf
  fast/stages/1-resman/variables.tf
  fast/stages/2-networking-a-peering/data/hierarchical-ingress-rules.yaml
  fast/stages/2-networking-b-vpn/data/hierarchical-ingress-rules.yaml
  fast/stages/2-networking-c-nva/data/hierarchical-ingress-rules.yaml
  fast/stages/2-networking-d-separate-envs/data/hierarchical-ingress-rules.yaml
  fast/stages/2-networking-e-nva-bgp/data/hierarchical-ingress-rules.yaml
  tests/fast/stages/s0_bootstrap/checklist.yaml
  tests/fast/stages/s0_bootstrap/simple.yaml
  tests/fast/stages/s1_resman/checklist.tfvars
  tests/fast/stages/s1_resman/simple.tfvars
  tests/fast/stages/s2_networking_a_peering/simple.tfvars
  tests/fast/stages/s2_networking_b_vpn/simple.tfvars
  tests/fast/stages/s2_networking_c_nva/simple.tfvars
  tests/fast/stages/s2_networking_d_separate_envs/simple.tfvars
  tests/fast/stages/s2_networking_e_nva_bgp/simple.tfvars
  tests/fast/stages/s2_networking_e_nva_bgp/simple.yaml
  tests/fast/stages_multitenant/s0_bootstrap_tenant/simple.tfvars
  tests/fast/stages_multitenant/s1_resman_tenant/simple.tfvars
Labels: on:FAST

#2260 Remove data source from folder module
  fast/stages/0-bootstrap/README.md
  modules/folder/iam.tf
  modules/folder/logging.tf
  modules/folder/main.tf
  modules/folder/organization-policies.tf
  modules/folder/outputs.tf
  modules/folder/tags.tf
  tests/fast/stages/s2_networking_e_nva_bgp/simple.yaml
  tests/fast/stages_multitenant/s0_bootstrap_tenant/simple.yaml
  tests/modules/organization/test_plan_org_policies_modules.py
Labels: on:FAST, on:modules

#2261 Add Hybrid NAT support
  modules/net-cloudnat/README.md
  modules/net-cloudnat/main.tf
  modules/net-cloudnat/variables.tf
  modules/net-vpc/README.md
  modules/net-vpc/outputs.tf
  modules/net-vpc/subnets.tf
  modules/net-vpc/variables.tf
  tests/fast/stages/s2_networking_e_nva_bgp/simple.yaml
  tests/modules/net_cloudnat/examples/hybrid.yaml
Labels: on:modules

#2263 Update docs - gcp-network-admins -> gcp-vpc-network-admins
  fast/stages/0-bootstrap/README.md
Labels: on:FAST

#2264 Fix bug from output typo in new project-factory module
  modules/project-factory/outputs.tf
Labels: on:modules

#2265 Fix failing E2E net-vpc test
  modules/net-vpc/README.md
Labels: on:modules

#2268 Add logging settings to folder module
  modules/folder/README.md
  modules/folder/logging.tf
  modules/folder/variables-logging.tf
  modules/folder/variables.tf
  modules/organization/README.md
  modules/organization/variables-logging.tf
  modules/organization/variables.tf
Labels: on:modules

#2269 Implement the full IAM interface for tags
  modules/kms/README.md
  modules/kms/variables.tf
  modules/organization/README.md
  modules/organization/tags.tf
  modules/organization/variables-tags.tf
  modules/project/README.md
  modules/project/tags.tf
  modules/project/variables-tags.tf
  tests/modules/organization/examples/tags.yaml
Labels: on:modules

#2272 New Bindplane cloud-config-container setup
  modules/cloud-config-container/README.md
  modules/cloud-config-container/bindplane/README.md
  modules/cloud-config-container/bindplane/cloud-config.yaml
  modules/cloud-config-container/bindplane/images/login.png
  modules/cloud-config-container/bindplane/main.tf
  modules/cloud-config-container/bindplane/outputs.tf
  modules/cloud-config-container/bindplane/variables.tf
  modules/cloud-config-container/bindplane/versions.tf
Labels: on:modules

#2270 Cloud function CMEK key support
  modules/cloud-function-v1/README.md
  modules/cloud-function-v1/main.tf
  modules/cloud-function-v1/variables.tf
  modules/cloud-function-v2/README.md
  modules/cloud-function-v2/main.tf
  modules/cloud-function-v2/variables.tf
Labels: on:modules

#2274 Added apigee-x-foundations blueprint
  blueprints/README.md
  blueprints/apigee/README.md
  blueprints/apigee/apigee-x-foundations/README.md
  blueprints/apigee/apigee-x-foundations/apigee.tf
  blueprints/apigee/apigee-x-foundations/diagram1.png
  blueprints/apigee/apigee-x-foundations/diagram2.png
  blueprints/apigee/apigee-x-foundations/diagram3.png
  blueprints/apigee/apigee-x-foundations/diagram4.png
  blueprints/apigee/apigee-x-foundations/diagram5.png
  blueprints/apigee/apigee-x-foundations/dns.tf
  blueprints/apigee/apigee-x-foundations/functions/instance-monitor/index.js
  blueprints/apigee/apigee-x-foundations/functions/instance-monitor/package-lock.json
  blueprints/apigee/apigee-x-foundations/functions/instance-monitor/package.json
  blueprints/apigee/apigee-x-foundations/kms.tf
  blueprints/apigee/apigee-x-foundations/main.tf
  blueprints/apigee/apigee-x-foundations/monitoring.tf
  blueprints/apigee/apigee-x-foundations/northbound.tf
  blueprints/apigee/apigee-x-foundations/outputs.tf
  blueprints/apigee/apigee-x-foundations/variables.tf
  modules/net-lb-app-int-cross-region/README.md
Labels: on:modules, on:blueprints

#2277 Added missing apigee org attributes to apigee x foundations blueprint
  blueprints/apigee/apigee-x-foundations/README.md
  blueprints/apigee/apigee-x-foundations/variables.tf
Labels: on:blueprints

#2287 FAST: Cleanup/harmonization of Simple and NVA net stages
  fast/stages/2-networking-a-simple/README.md
  fast/stages/2-networking-a-simple/data/firewall-rules/landing/default-ingress.yaml
  fast/stages/2-networking-a-simple/data/firewall-rules/landing/rules.yaml
  fast/stages/2-networking-a-simple/data/subnets/dev/dev-default-ew1.yaml
  fast/stages/2-networking-a-simple/data/subnets/landing/landing-default-ew1.yaml
  fast/stages/2-networking-a-simple/data/subnets/prod/prod-default-ew1.yaml
  fast/stages/2-networking-a-simple/net-dev.tf
  fast/stages/2-networking-a-simple/net-landing.tf
  fast/stages/2-networking-a-simple/net-prod.tf
  fast/stages/2-networking-a-simple/outputs.tf
  fast/stages/2-networking-a-simple/test-resources.tf
  fast/stages/2-networking-c-nva/README.md
  fast/stages/2-networking-c-nva/data/firewall-rules/landing/default-ingress.yaml
  fast/stages/2-networking-c-nva/data/subnets/landing/landing-default-ew1.yaml
  fast/stages/2-networking-c-nva/dns-dev.tf
  fast/stages/2-networking-c-nva/dns-landing.tf
  fast/stages/2-networking-c-nva/dns-prod.tf
  fast/stages/2-networking-c-nva/net-dev.tf
  fast/stages/2-networking-c-nva/net-landing.tf
  fast/stages/2-networking-c-nva/net-prod.tf
  fast/stages/2-networking-c-nva/outputs.tf
  fast/stages/2-networking-c-nva/test-resources.tf
  fast/stages/2-networking-c-nva/variables.tf
  tests/fast/stages/s2_networking_a_simple/simple.yaml
  tests/fast/stages/s2_networking_a_simple/vpn.yaml
  tests/fast/stages/s2_networking_c_nva/simple.yaml
Labels: on:FAST, incompatible change

#2286 Switch FAST stages 0-1s to excalidraw diagrams
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/diagram.png
  fast/stages/0-bootstrap/diagram.svg
  fast/stages/1-resman/README.md
  fast/stages/1-resman/diagram.png
  fast/stages/1-resman/diagram.svg
  fast/stages/diagrams.excalidraw.gz
Labels: on:FAST

#2288 Ignore test resource data in new network stage, split out fast variables
  fast/stages/2-networking-a-simple/README.md
  fast/stages/2-networking-a-simple/test-resources.tf
  fast/stages/2-networking-a-simple/variables-fast.tf
  fast/stages/2-networking-a-simple/variables.tf
Labels: on:FAST

#2289 Fix mt diagram and broken link
  fast/README.md
  fast/stages/1-tenant-factory/README.md
  fast/stages/1-tenant-factory/diagram-flow.png
  fast/stages/diagrams.excalidraw.gz
  fast/tenants-stages.png
  fast/tenants-stages.svg
Labels: on:FAST

#2290 Add wif permissions to bootstrap tf SA
  fast/stages/0-bootstrap/organization-iam.tf
  tests/fast/stages/s0_bootstrap/checklist.yaml
  tests/fast/stages/s0_bootstrap/simple.yaml
Labels: on:FAST

#2292 [FAST] fix: tenant-factory logging bucket project
  fast/stages/1-tenant-factory/README.md
  fast/stages/1-tenant-factory/tenant-core.tf
  fast/stages/1-tenant-factory/variables-fast.tf
Labels: on:FAST

#2293 Internet NEG for net-lb-app-int
  modules/net-lb-app-int/README.md
  modules/net-lb-app-int/backend-service.tf
  modules/net-lb-app-int/main.tf
  modules/net-lb-app-int/variables.tf
  tests/modules/net_lb_app_int/examples/internet-neg.yaml
Labels: on:modules

#2291 IPS support for Firewall Policy
  modules/net-firewall-policy/README.md
  modules/net-firewall-policy/factory.tf
  modules/net-firewall-policy/hierarchical.tf
  modules/net-firewall-policy/net-global.tf
  modules/net-firewall-policy/net-regional.tf
  modules/net-firewall-policy/variables.tf
Labels: on:modules

#2298 Adjust list of imported org policies to official docs
  fast/stages/0-bootstrap/organization.tf
Labels: on:FAST

#2294 Avoid unnecessary terraform plans for closed (unmerged) PRs
  fast/assets/templates/workflow-github.yaml
  fast/stages/0-bootstrap/templates/workflow-github.yaml
  fast/stages/1-resman/templates/workflow-github.yaml
  fast/stages/1-tenant-factory/templates/workflow-github.yaml
Labels: on:FAST

#2232 New extra stage for FAST gitlab setup
  fast/extras/0-cicd-gitlab/README.md
  fast/extras/0-cicd-gitlab/cicd-versions.tf
  fast/extras/0-cicd-gitlab/gitlab_token.png
  fast/extras/0-cicd-gitlab/main.tf
  fast/extras/0-cicd-gitlab/outputs.tf
  fast/extras/0-cicd-gitlab/providers.tf
  fast/extras/0-cicd-gitlab/terraform.tfvars.sample
  fast/extras/0-cicd-gitlab/variables.tf
  fast/extras/0-cicd-gitlab/workflows/.gitkeep
  fast/extras/README.md
  fast/stages/0-bootstrap/README.md
Labels: on:FAST

#2285 New alloydb module
  modules/README.md
  modules/alloydb/README.md
  modules/alloydb/main.tf
  modules/alloydb/outputs.tf
  modules/alloydb/variables.tf
  modules/alloydb/versions.tf
  tests/modules/alloydb/examples/cmek.yaml
  tests/modules/alloydb/examples/cross_region_replication.yaml
  tests/modules/alloydb/examples/custom.yaml
  tests/modules/alloydb/examples/simple.yaml
  tests/modules/alloydb_instance/examples/alloydb_instance.tfvars
  tests/modules/alloydb_instance/examples/alloydb_instance.yaml
  tools/check_documentation.py
Labels: on:tools, on:modules

#2300 Add support for shared vpc host to project factory
  modules/project-factory/README.md
  modules/project-factory/factory-projects.tf
  modules/project-factory/main.tf
  tests/modules/project_factory/examples/example.yaml
Labels: on:modules

#2301 Fix permadiff in cloud nat module
  modules/net-cloudnat/README.md
  modules/net-cloudnat/variables.tf
  tests/fast/stages/s2_networking_e_nva_bgp/simple.yaml
  tests/modules/net_cloudnat/examples/hybrid.yaml
Labels: on:modules

#2302 Add AlloyDB service for e2e tests harness
  tests/examples_e2e/setup_module/main.tf
Labels: on:tools

#2303 Remove default location from gcs module
  blueprints/apigee/bigquery-analytics/main.tf
  modules/folder/README.md
  modules/gcs/README.md
  modules/gcs/variables.tf
  modules/organization/README.md
  modules/project/README.md
  modules/pubsub/README.md
  modules/pubsub/variables.tf
  tests/fixtures/gcs.tf
Labels: incompatible change, on:modules, on:blueprints

#2304 Remove default location from container-registry, datacatalog-policy-tag, workstation-cluster
  modules/container-registry/README.md
  modules/container-registry/variables.tf
  modules/data-catalog-policy-tag/README.md
  modules/data-catalog-policy-tag/variables.tf
  modules/workstation-cluster/README.md
  modules/workstation-cluster/variables.tf
Labels: incompatible change, on:modules

#2106 Gitlab Runner blueprint
  blueprints/third-party-solutions/README.md
  blueprints/third-party-solutions/gitlab-runner/README.md
  blueprints/third-party-solutions/gitlab-runner/assets/config/docker_autoscaler_config.toml.tpl
  blueprints/third-party-solutions/gitlab-runner/assets/config/docker_config.toml.tpl
  blueprints/third-party-solutions/gitlab-runner/assets/startup-script.sh.tpl
  blueprints/third-party-solutions/gitlab-runner/images/docker-autoscaler.png
  blueprints/third-party-solutions/gitlab-runner/images/docker.png
  blueprints/third-party-solutions/gitlab-runner/main.tf
  blueprints/third-party-solutions/gitlab-runner/runner.tf
  blueprints/third-party-solutions/gitlab-runner/variables.tf
Labels: on:blueprints, on:documentation

#2314 Explicit YAPF style
  .github/workflows/linting.yml
  .style.yapf
  tools/lint.sh
Labels: on:tools

#2315 FAST: Obsolete assets cleanup
  fast/assets/schemas/firewall_rules.schema.yaml
  fast/assets/schemas/hierarchical_rules.schema.yaml
  fast/assets/schemas/project.schema.yaml
  fast/assets/schemas/project_defaults.schema.yaml
  fast/assets/schemas/subnet.schema.yaml
  fast/stages/COMPANION.md
  fast/stages/IaC_SA.png
  tools/validate_schema.py
Labels: on:FAST, on:tools

#2319 Pbrumblay/clarify org policy tags
  fast/stages/0-bootstrap/README.md
Labels: on:FAST

#2299 Kong Gateway on GKE offloading to Cloud Run
  blueprints/gke/patterns/kong-cloudrun/README.md
  blueprints/gke/patterns/kong-cloudrun/cert.tf
  blueprints/gke/patterns/kong-cloudrun/cloudrun.tf
  blueprints/gke/patterns/kong-cloudrun/dns.tf
  blueprints/gke/patterns/kong-cloudrun/ilb.tf
  blueprints/gke/patterns/kong-cloudrun/kong.tf
  blueprints/gke/patterns/kong-cloudrun/main.tf
  blueprints/gke/patterns/kong-cloudrun/manifest-templates/cert.yaml
  blueprints/gke/patterns/kong-cloudrun/manifest-templates/config-proxy.yaml
  blueprints/gke/patterns/kong-cloudrun/manifest-templates/configure-proxy.yaml
  blueprints/gke/patterns/kong-cloudrun/manifest-templates/license.yaml
  blueprints/gke/patterns/kong-cloudrun/manifest-templates/namespace.yaml
  blueprints/gke/patterns/kong-cloudrun/manifest-templates/values-cp.yaml
  blueprints/gke/patterns/kong-cloudrun/manifest-templates/values-dp.yaml
  blueprints/gke/patterns/kong-cloudrun/providers.tf
  blueprints/gke/patterns/kong-cloudrun/variables.tf
  blueprints/gke/patterns/kong-cloudrun/versions.tf
  blueprints/gke/patterns/kong-cloudrun/versions_override.tf
Labels: on:blueprints

#2312 Fixes for Alloydb E2E tests
  modules/alloydb/README.md
  tests/modules/alloydb/examples/simple.yaml
Labels: on:modules

#2321 Fixed e2e tests for alloydb module
  modules/alloydb/README.md
  modules/alloydb/main.tf
  tests/examples_e2e/setup_module/main.tf
  tests/fixtures/alloydb-kms-iam-grant.tf
  tests/modules/alloydb/examples/cmek.yaml
  tests/modules/alloydb/examples/cross_region_replication.yaml
  tests/modules/alloydb/examples/simple.yaml
Labels: on:modules

#2325 Fix restrictAllowedGenerations org policy example
  fast/stages/0-bootstrap/data/org-policies/serverless.yaml
Labels: on:FAST

#2329 FAST: Enable networkconnectivity when using NCC-RA in 2-b
  fast/stages/2-networking-b-nva/net-landing.tf
  tests/fast/stages/s2_networking_b_nva/ncc-ra.yaml
Labels: on:FAST

#2327 Add outstanding checks from lint.sh to pre-commit
  .pre-commit-config.yaml
  tools/check_links.py
Labels: on:tools

#2330 Update PGA domains
  fast/stages/2-networking-a-simple/data/dns-policy-rules.yaml
  fast/stages/2-networking-b-nva/data/dns-policy-rules.yaml
  fast/stages/2-networking-c-separate-envs/data/dns-policy-rules.yaml
  tests/fast/stages/s2_networking_a_simple/simple.yaml
  tests/fast/stages/s2_networking_a_simple/vpn.yaml
  tests/fast/stages/s2_networking_b_nva/ncc-ra.yaml
  tests/fast/stages/s2_networking_b_nva/simple.yaml
  tests/fast/stages/s2_networking_c_separate_envs/simple.yaml
Labels: on:FAST

#2331 Enable hierarchy in fast project factory
  fast/stages/3-project-factory/dev/README.md
  fast/stages/3-project-factory/dev/variables.tf
Labels: on:FAST

#2332 Fix dns policy
  fast/stages/2-networking-a-simple/data/dns-policy-rules.yaml
Labels: on:FAST

#2333 Fix resman top-level folders variable types
  fast/stages/1-resman/README.md
  fast/stages/1-resman/top-level-folders.tf
  fast/stages/1-resman/variables.tf
Labels: on:FAST

#2334 Support setting IAM for FAST tags in resource management stage
  fast/stages/1-resman/organization.tf
Labels: on:FAST

#2335 Add perimeter ids in vpc-sc module outputs, fix vpc-sc in project factory module
  fast/stages/2-security/README.md
  fast/stages/2-security/outputs.tf
  modules/project-factory/factory-projects.tf
Labels: on:FAST, on:modules
