Repository GoogleCloudPlatform/cloud-foundation-fabric, pull requests merged in 2024-06, with the labels that each got.

#2337 DNS policy fix
  fast/stages/2-networking-b-nva/data/dns-policy-rules.yaml
  fast/stages/2-networking-c-separate-envs/data/dns-policy-rules.yaml
Labels: on:FAST

#2336 Add documentation for load balancer changes
  modules/net-lb-app-ext-regional/README.md
  modules/net-lb-app-ext/README.md
  modules/net-lb-app-ext/main.tf
  modules/net-lb-app-int-cross-region/README.md
  modules/net-lb-app-int/README.md
  modules/net-lb-ext/README.md
  modules/net-lb-int/README.md
  modules/net-lb-proxy-int/README.md
Labels: on:modules

#2343 Change shebang on pre-commit checks
  tools/pre-commit-tfdoc.sh
Labels: on:tools

#2346 use /bin/sh for pre-commit script for portability
  tools/pre-commit-tfdoc.sh
Labels: on:tools

#2344 Fix typos in documentation
  fast/stages/2-networking-a-simple/README.md
  fast/stages/2-networking-b-nva/README.md
  fast/stages/2-networking-c-separate-envs/README.md
Labels: on:FAST

#2350 Add network tags outputs and examples to project module
  modules/organization/README.md
  modules/project/README.md
  modules/project/outputs.tf
  tests/modules/project/examples/tags-network.yaml
  tests/modules/project/examples/tags.yaml
Labels: on:modules

#2351 Added missing validation values for backend services
  modules/net-lb-app-int-cross-region/variables-backend-service.tf
Labels: on:modules

#2352 Remove support for source repositories from FAST CI/CD
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/automation.tf
  fast/stages/0-bootstrap/cicd.tf
  fast/stages/0-bootstrap/variables.tf
  fast/stages/1-resman/README.md
  fast/stages/1-resman/cicd-data-platform.tf
  fast/stages/1-resman/cicd-gcve.tf
  fast/stages/1-resman/cicd-gke.tf
  fast/stages/1-resman/cicd-networking.tf
  fast/stages/1-resman/cicd-project-factory.tf
  fast/stages/1-resman/cicd-security.tf
  fast/stages/1-resman/main.tf
  fast/stages/1-resman/variables.tf
  fast/stages/1-tenant-factory/README.md
  fast/stages/1-tenant-factory/tenant-fast-automation.tf
  fast/stages/1-tenant-factory/tenant-fast-cicd.tf
  tests/fast/stages/s0_bootstrap/checklist.yaml
  tests/fast/stages/s0_bootstrap/simple.yaml
  tests/fast/stages/s1_tenant_factory/simple.yaml
Labels: on:FAST

#2353 Add main project factory service account
  fast/stages/1-resman/README.md
  fast/stages/1-resman/billing.tf
  fast/stages/1-resman/branch-networking.tf
  fast/stages/1-resman/branch-project-factory.tf
  fast/stages/1-resman/cicd-project-factory.tf
  fast/stages/1-resman/iam.tf
  fast/stages/1-resman/main.tf
  fast/stages/1-resman/organization.tf
  fast/stages/1-resman/outputs.tf
  fast/stages/1-resman/variables.tf
  fast/stages/2-networking-a-simple/README.md
  fast/stages/2-networking-a-simple/net-dev.tf
  fast/stages/2-networking-a-simple/net-landing.tf
  fast/stages/2-networking-a-simple/net-prod.tf
  fast/stages/2-networking-a-simple/variables-fast.tf
  fast/stages/2-networking-b-nva/README.md
  fast/stages/2-networking-b-nva/net-dev.tf
  fast/stages/2-networking-b-nva/net-landing.tf
  fast/stages/2-networking-b-nva/net-prod.tf
  fast/stages/2-networking-b-nva/variables-fast.tf
  fast/stages/2-networking-c-separate-envs/README.md
  fast/stages/2-networking-c-separate-envs/net-dev.tf
  fast/stages/2-networking-c-separate-envs/net-prod.tf
  fast/stages/2-networking-c-separate-envs/variables-fast.tf
  fast/stages/2-security/README.md
  fast/stages/2-security/core-dev.tf
  fast/stages/2-security/core-prod.tf
  fast/stages/2-security/variables-fast.tf
  tests/fast/stages/s1_resman/checklist.yaml
  tests/fast/stages/s1_resman/simple.yaml
  tests/fast/stages/s2_networking_a_simple/simple.tfvars
  tests/fast/stages/s2_networking_a_simple/vpn.tfvars
  tests/fast/stages/s2_networking_b_nva/ncc-ra.tfvars
  tests/fast/stages/s2_networking_b_nva/simple.tfvars
  tests/fast/stages/s2_networking_c_separate_envs/simple.tfvars
  tests/fast/stages/s2_security/simple.tfvars
Labels: on:FAST

#2354 Use var.vpc_config.subnetwork in NEGs when var.neg_config.*.subnetwork is not provided
  modules/net-lb-app-int-cross-region/README.md
  modules/net-lb-app-int-cross-region/main.tf
  modules/net-lb-app-int/README.md
  modules/net-lb-app-int/main.tf
  modules/net-lb-proxy-int/README.md
  modules/net-lb-proxy-int/main.tf
  tests/modules/net_lb_app_int/examples/zonal-neg.yaml
  tests/modules/net_lb_app_int_cross_region/examples/zonal-neg.yaml
  tests/modules/net_lb_proxy_int/examples/zonal-neg.yaml
Labels: on:modules

#2356 Add Terraform installation step to meet the versions.tf requirements
  blueprints/gke/patterns/batch/tutorial.md
  blueprints/gke/patterns/kafka/tutorial.md
  blueprints/gke/patterns/mysql/tutorial.md
  blueprints/gke/patterns/redis-cluster/tutorial.md
Labels: on:blueprints

#2347 Add GCVE Logging and Monitoring Blueprint
  blueprints/gcve/monitoring/README.md
  blueprints/gcve/monitoring/dashboards/contention.json
  blueprints/gcve/monitoring/dashboards/overview.json
  blueprints/gcve/monitoring/dashboards/virtual-machine-performance.json
  blueprints/gcve/monitoring/gcve-mon-diagram.png
  blueprints/gcve/monitoring/main.tf
  blueprints/gcve/monitoring/outputs.tf
  blueprints/gcve/monitoring/scripts/installer.sh
  blueprints/gcve/monitoring/variables.tf
Labels: on:blueprints

#2357 Add use_table_schema parameter for PubSub subscription to BigQuery
  modules/pubsub/README.md
  modules/pubsub/main.tf
  modules/pubsub/variables.tf
Labels: on:modules

#2358 Support pre-made bundle archives in cloud function modules
  blueprints/apigee/apigee-x-foundations/monitoring.tf
  blueprints/apigee/bigquery-analytics/main.tf
  blueprints/cloud-operations/asset-inventory-feed-remediation/main.tf
  blueprints/cloud-operations/compute-quota-monitoring/main.tf
  blueprints/cloud-operations/network-quota-monitoring/deploy-cloud-function/main.tf
  blueprints/cloud-operations/scheduled-asset-inventory-export-bq/main.tf
  blueprints/cloud-operations/unmanaged-instances-healthcheck/main.tf
  blueprints/networking/private-cloud-function-from-onprem/main.tf
  modules/cloud-function-v1/README.md
  modules/cloud-function-v1/bundle.tf
  modules/cloud-function-v1/main.tf
  modules/cloud-function-v1/variables.tf
  modules/cloud-function-v2/README.md
  modules/cloud-function-v2/bundle.tf
  modules/cloud-function-v2/main.tf
  modules/cloud-function-v2/variables.tf
Labels: incompatible change, on:modules, on:blueprints

#2359 Don't compute checksum in cloud function modules for static bundles
  modules/cloud-function-v1/README.md
  modules/cloud-function-v1/bundle.tf
  modules/cloud-function-v2/README.md
  modules/cloud-function-v2/bundle.tf
Labels: on:modules

#2360 Validate bundle, use pathexpand in cloud function modules
  modules/cloud-function-v1/README.md
  modules/cloud-function-v1/bundle.tf
  modules/cloud-function-v1/variables.tf
  modules/cloud-function-v2/README.md
  modules/cloud-function-v2/bundle.tf
  modules/cloud-function-v2/variables.tf
Labels: on:modules

#2361 Support GCS objects in cloud function modules bundles
  blueprints/apigee/apigee-x-foundations/monitoring.tf
  blueprints/apigee/bigquery-analytics/main.tf
  blueprints/cloud-operations/asset-inventory-feed-remediation/main.tf
  blueprints/cloud-operations/compute-quota-monitoring/main.tf
  blueprints/cloud-operations/network-quota-monitoring/deploy-cloud-function/main.tf
  blueprints/cloud-operations/scheduled-asset-inventory-export-bq/main.tf
  blueprints/cloud-operations/unmanaged-instances-healthcheck/main.tf
  blueprints/networking/private-cloud-function-from-onprem/main.tf
  modules/cloud-function-v1/README.md
  modules/cloud-function-v1/bundle.tf
  modules/cloud-function-v1/main.tf
  modules/cloud-function-v1/variables.tf
  modules/cloud-function-v2/README.md
  modules/cloud-function-v2/bundle.tf
  modules/cloud-function-v2/main.tf
  modules/cloud-function-v2/variables.tf
  tests/modules/cloud_function_v1/examples/multiple_functions.yaml
  tests/modules/cloud_function_v2/examples/iam.yaml
  tests/modules/cloud_function_v2/examples/multiple_functions.yaml
Labels: incompatible change, on:modules, on:blueprints

#2362 Strip bucket name from bundle URI in cloud function modules
  modules/cloud-function-v1/main.tf
  modules/cloud-function-v2/main.tf
Labels: on:modules

#2364 Relax dataproc master config type
  modules/dataproc/README.md
  modules/dataproc/variables.tf
Labels: on:modules

#2366 Added additional range field to GKE standand and autopilot
  modules/gke-cluster-autopilot/README.md
  modules/gke-cluster-autopilot/main.tf
  modules/gke-cluster-autopilot/variables.tf
  modules/gke-cluster-standard/README.md
  modules/gke-cluster-standard/main.tf
  modules/gke-cluster-standard/variables.tf
Labels: on:modules

#2368 Fix for plan not in sync when creating billing budgets in project factory #2365
  modules/project-factory/factory-budgets.tf
Labels: on:modules

#2369 Add example, tests and fix for Google APIs PSC endpoint
  modules/net-address/README.md
  modules/net-address/psc.tf
  tests/modules/net_address/examples/psc-service-attachment-all-apis.yaml
Labels: on:modules

#2371 Support build service account in cloud function v2 module
  modules/cloud-function-v2/README.md
  modules/cloud-function-v2/main.tf
  modules/cloud-function-v2/variables.tf
Labels: on:modules

#2373 Added expire_time option to the secret-manager module
  modules/secret-manager/README.md
  modules/secret-manager/main.tf
  modules/secret-manager/variables.tf
Labels: on:modules

#2375 Minor fixes in workstations IAM
  modules/workstation-cluster/iam.tf
Labels: on:modules

#2376 Removed advertised_groups ALL_VPC_SUBNETS, ALL_VPC_SUBNETS as they ar…
  modules/net-vpn-ha/README.md
  modules/net-vpn-ha/main.tf
  modules/net-vpn-ha/variables.tf
Labels: on:modules

#2378 Add wording for SCC Enterprise to FAST stage 0
  fast/stages/0-bootstrap/README.md
Labels: on:FAST

#2370 Apigee - Add forward_proxy_uri support on environment resource
  modules/apigee/README.md
  modules/apigee/main.tf
  modules/apigee/variables.tf
Labels: on:modules

#2380 Added private_endpoint_subnetwork parameters to GKE standard and autopilot modules
  modules/gke-cluster-autopilot/README.md
  modules/gke-cluster-autopilot/main.tf
  modules/gke-cluster-autopilot/variables.tf
  modules/gke-cluster-standard/README.md
  modules/gke-cluster-standard/main.tf
  modules/gke-cluster-standard/variables.tf
Labels: on:modules

#2382 Fixes related to Apigee KMS keys
  blueprints/apigee/apigee-x-foundations/README.md
  blueprints/apigee/apigee-x-foundations/apigee.tf
  blueprints/apigee/apigee-x-foundations/kms.tf
  blueprints/apigee/apigee-x-foundations/variables.tf
Labels: on:blueprints

#2374 Added firestore module
  modules/firestore/README.md
  modules/firestore/main.tf
  modules/firestore/outputs.tf
  modules/firestore/variables.tf
  modules/firestore/versions.tf
  tests/modules/firestore/examples/existing-database-with-document.yaml
  tests/modules/firestore/examples/new-database-with-document.yaml
  tests/modules/firestore/examples/new-database-with-field.yaml
  tests/modules/firestore/examples/new-database-with-index.yaml
  tests/modules/firestore/examples/new-database-with-weekly-backup.yaml
  tests/modules/firestore/examples/new-database.yaml
Labels: on:modules

#2388 Added missing links to firestore module is READMEs.
  README.md
  modules/README.md
Labels: on:modules

#2390 Add AssuredWorkload support to the folder module
  modules/folder/README.md
  modules/folder/main.tf
  modules/folder/outputs.tf
  modules/folder/variables.tf
  tests/examples_e2e/setup_module/main.tf
  tests/modules/folder/examples/assured-workload.yaml
Labels: on:modules

#2387 Added certificate-manager module
  README.md
  modules/README.md
  modules/certificate-manager/README.md
  modules/certificate-manager/main.tf
  modules/certificate-manager/outputs.tf
  modules/certificate-manager/variables.tf
  modules/certificate-manager/versions.tf
  tests/modules/certificate_manager/examples/map-with-managed-cert-ca-service.yaml
  tests/modules/certificate_manager/examples/map-with-managed-cert-dns-authz.yaml
  tests/modules/certificate_manager/examples/map-with-managed-cert-lb-authz.yaml
  tests/modules/certificate_manager/examples/map-with-self-managed-cert.yaml
  tests/modules/certificate_manager/examples/self-managed-cert.yaml
Labels: on:modules

#2392 Added forward_proxy_uri to apigee environments in apigee-x-foundation…
  blueprints/apigee/apigee-x-foundations/README.md
  blueprints/apigee/apigee-x-foundations/variables.tf
Labels: on:blueprints

#2393 Add support for SSL policy to net-lb-app-int module
  modules/net-lb-app-int-cross-region/README.md
  modules/net-lb-app-int-cross-region/variables.tf
  modules/net-lb-app-int/README.md
  modules/net-lb-app-int/main.tf
  modules/net-lb-app-int/variables.tf
Labels: on:modules

#2396 Update `modules/artifact-registry` with newly-released features.
  blueprints/data-solutions/data-platform-foundations/03-orchestration.tf
  blueprints/data-solutions/vertex-mlops/ci-cd.tf
  blueprints/gke/autopilot/main.tf
  blueprints/gke/binauthz/main.tf
  blueprints/gke/patterns/autopilot-cluster/main.tf
  modules/artifact-registry/README.md
  modules/artifact-registry/main.tf
  modules/artifact-registry/outputs.tf
  modules/artifact-registry/variables.tf
  tests/modules/artifact_registry/examples/other-formats.yaml
Labels: on:modules, on:blueprints

#2395 Fix tutorial error.
  blueprints/gke/patterns/batch/tutorial.md
  blueprints/gke/patterns/batch/versions_override.tf
Labels: on:blueprints

#2400 Add info about roles for connectors service agent
  modules/project/README.md
  modules/project/service-agents.yaml
Labels: on:modules
