Repository GoogleCloudPlatform/cloud-foundation-fabric, pull requests merged in 2024-02, with the labels that each got.

#2035 Fix dnssec_config issue on state off
  modules/dns/main.tf
Labels: on:modules

#2036 Shielded nodes and custom service account in FAST GKE stage and blueprint (CSPR-related)
  blueprints/gke/multitenant-fleet/README.md
  blueprints/gke/multitenant-fleet/gke-nodepools.tf
  blueprints/gke/multitenant-fleet/main.tf
  blueprints/gke/multitenant-fleet/variables.tf
  fast/stages/3-gke-multitenant/dev/README.md
  fast/stages/3-gke-multitenant/dev/variables.tf
Labels: on:FAST, on:blueprints, cspr

#2038 Make Cloud NAT creation optional in FAST net stages.
  fast/stages/2-networking-a-peering/README.md
  fast/stages/2-networking-a-peering/net-dev.tf
  fast/stages/2-networking-a-peering/net-landing.tf
  fast/stages/2-networking-a-peering/net-prod.tf
  fast/stages/2-networking-a-peering/variables.tf
  fast/stages/2-networking-b-vpn/README.md
  fast/stages/2-networking-b-vpn/net-dev.tf
  fast/stages/2-networking-b-vpn/net-landing.tf
  fast/stages/2-networking-b-vpn/net-prod.tf
  fast/stages/2-networking-b-vpn/variables.tf
  fast/stages/2-networking-c-nva/README.md
  fast/stages/2-networking-c-nva/net-landing.tf
  fast/stages/2-networking-c-nva/variables.tf
  fast/stages/2-networking-d-separate-envs/README.md
  fast/stages/2-networking-d-separate-envs/net-dev.tf
  fast/stages/2-networking-d-separate-envs/net-prod.tf
  fast/stages/2-networking-d-separate-envs/variables.tf
  fast/stages/2-networking-e-nva-bgp/README.md
  fast/stages/2-networking-e-nva-bgp/net-landing.tf
  fast/stages/2-networking-e-nva-bgp/variables.tf
  tests/fast/stages/s2_networking_a_peering/common.tfvars
  tests/fast/stages/s2_networking_b_vpn/common.tfvars
  tests/fast/stages/s2_networking_c_nva/common.tfvars
  tests/fast/stages/s2_networking_d_separate_envs/common.tfvars
  tests/fast/stages/s2_networking_e_nva_bgp/common.tfvars
Labels: on:FAST, cspr

#2041 Leverage net-vpc module for DNS logging in FAST
  fast/stages/2-networking-a-peering/README.md
  fast/stages/2-networking-a-peering/dns-dev.tf
  fast/stages/2-networking-a-peering/dns-landing.tf
  fast/stages/2-networking-a-peering/dns-prod.tf
  fast/stages/2-networking-a-peering/net-dev.tf
  fast/stages/2-networking-a-peering/net-landing.tf
  fast/stages/2-networking-a-peering/net-prod.tf
  fast/stages/2-networking-b-vpn/README.md
  fast/stages/2-networking-b-vpn/dns-dev.tf
  fast/stages/2-networking-b-vpn/dns-landing.tf
  fast/stages/2-networking-b-vpn/dns-prod.tf
  fast/stages/2-networking-b-vpn/net-dev.tf
  fast/stages/2-networking-b-vpn/net-landing.tf
  fast/stages/2-networking-b-vpn/net-prod.tf
  fast/stages/2-networking-c-nva/README.md
  fast/stages/2-networking-c-nva/dns-dev.tf
  fast/stages/2-networking-c-nva/dns-landing.tf
  fast/stages/2-networking-c-nva/dns-prod.tf
  fast/stages/2-networking-c-nva/net-dev.tf
  fast/stages/2-networking-c-nva/net-landing.tf
  fast/stages/2-networking-c-nva/net-prod.tf
  fast/stages/2-networking-d-separate-envs/README.md
  fast/stages/2-networking-d-separate-envs/dns-dev.tf
  fast/stages/2-networking-d-separate-envs/dns-prod.tf
  fast/stages/2-networking-d-separate-envs/net-dev.tf
  fast/stages/2-networking-d-separate-envs/net-prod.tf
  fast/stages/2-networking-e-nva-bgp/README.md
  fast/stages/2-networking-e-nva-bgp/dns-dev.tf
  fast/stages/2-networking-e-nva-bgp/dns-landing.tf
  fast/stages/2-networking-e-nva-bgp/dns-prod.tf
  fast/stages/2-networking-e-nva-bgp/net-dev.tf
  fast/stages/2-networking-e-nva-bgp/net-landing.tf
  fast/stages/2-networking-e-nva-bgp/net-prod.tf
  tests/fast/stages/s2_networking_a_peering/stage.yaml
  tests/fast/stages/s2_networking_b_vpn/stage.yaml
  tests/fast/stages/s2_networking_c_nva/stage.yaml
  tests/fast/stages/s2_networking_e_nva_bgp/stage.yaml
Labels: on:FAST

#2050 Enable additional recommended org policies
  fast/stages/0-bootstrap/data/org-policies/compute.yaml
  fast/stages/0-bootstrap/data/org-policies/storage.yaml
  tests/fast/stages/s0_bootstrap/checklist.yaml
  tests/fast/stages/s0_bootstrap/simple.yaml
Labels: on:FAST

#2051 fix: auto_provisioning_defaults is not really optional
  modules/gke-cluster-standard/README.md
  modules/gke-cluster-standard/variables.tf
Labels: on:modules

#2053 Added destroy_scheduled_duration variable
  modules/kms/README.md
  modules/kms/main.tf
  modules/kms/variables.tf
Labels: on:modules

#2057 Postpone setting essential contacts until provisioning using SA
  fast/stages/0-bootstrap/automation.tf
Labels: on:FAST

#2059 GKE stateful blueprints
  .gitignore
  blueprints/gke/patterns/README.md
  blueprints/gke/patterns/autopilot-cluster/README.md
  blueprints/gke/patterns/autopilot-cluster/cluster.tf
  blueprints/gke/patterns/autopilot-cluster/main.tf
  blueprints/gke/patterns/autopilot-cluster/outputs.tf
  blueprints/gke/patterns/autopilot-cluster/variables.tf
  blueprints/gke/patterns/autopilot-cluster/versions.tf
  blueprints/gke/patterns/batch/README.md
  blueprints/gke/patterns/batch/create_jobs.sh
  blueprints/gke/patterns/batch/job-team-a.yaml
  blueprints/gke/patterns/batch/job-team-b.yaml
  blueprints/gke/patterns/batch/main.tf
  blueprints/gke/patterns/batch/manifest-templates/cluster-resources/cluster-queue.yaml
  blueprints/gke/patterns/batch/manifest-templates/cluster-resources/resource-flavor.yaml
  blueprints/gke/patterns/batch/manifest-templates/kueue.yaml
  blueprints/gke/patterns/batch/manifest-templates/team-resources/job.yaml
  blueprints/gke/patterns/batch/manifest-templates/team-resources/local-queue.yaml
  blueprints/gke/patterns/batch/providers.tf
  blueprints/gke/patterns/batch/tutorial.md
  blueprints/gke/patterns/batch/variables.tf
  blueprints/gke/patterns/batch/versions.tf
  blueprints/gke/patterns/kafka/README.md
  blueprints/gke/patterns/kafka/main.tf
  blueprints/gke/patterns/kafka/manifest-templates/start-cluster.yaml
  blueprints/gke/patterns/kafka/outputs.tf
  blueprints/gke/patterns/kafka/providers.tf
  blueprints/gke/patterns/kafka/tutorial.md
  blueprints/gke/patterns/kafka/variables.tf
  blueprints/gke/patterns/kafka/versions.tf
  blueprints/gke/patterns/kafka/versions_override.tf
  blueprints/gke/patterns/redis-cluster/README.md
  blueprints/gke/patterns/redis-cluster/main.tf
  blueprints/gke/patterns/redis-cluster/manifest-templates/01-configmap-redis-cluster.yaml
  blueprints/gke/patterns/redis-cluster/manifest-templates/02-configmap-redis-cluster-probes.yaml
  blueprints/gke/patterns/redis-cluster/manifest-templates/03-pdb-minavailable.yaml
  blueprints/gke/patterns/redis-cluster/manifest-templates/04-statefulset-redis-cluster.yaml
  blueprints/gke/patterns/redis-cluster/manifest-templates/05-service-redis.yaml
  blueprints/gke/patterns/redis-cluster/manifest-templates/roles.sh
  blueprints/gke/patterns/redis-cluster/manifest-templates/start-cluster.yaml
  blueprints/gke/patterns/redis-cluster/providers.tf
  blueprints/gke/patterns/redis-cluster/tutorial.md
  blueprints/gke/patterns/redis-cluster/variables.tf
  blueprints/gke/patterns/redis-cluster/versions.tf
Labels: on:blueprints, on:documentation

#2062 Add Tags in project output.
  modules/project/README.md
  modules/project/outputs.tf
Labels: on:modules

#2061 HA MySQL cluster deployment on GKE
  blueprints/gke/patterns/mysql/README.md
  blueprints/gke/patterns/mysql/main.tf
  blueprints/gke/patterns/mysql/manifest-templates/01-01-fast-storageclass.yaml
  blueprints/gke/patterns/mysql/manifest-templates/01-02-mysql-secret.yaml
  blueprints/gke/patterns/mysql/manifest-templates/01-07-mysql-router-service.yaml
  blueprints/gke/patterns/mysql/manifest-templates/02-cluster-instance-InnoDBCluster.yaml
  blueprints/gke/patterns/mysql/outputs.tf
  blueprints/gke/patterns/mysql/providers.tf
  blueprints/gke/patterns/mysql/tutorial.md
  blueprints/gke/patterns/mysql/variables.tf
  blueprints/gke/patterns/mysql/versions.tf
  blueprints/gke/patterns/mysql/versions_override.tf
Labels: on:blueprints, on:documentation

#2065 Fix imports of org policies
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/organization.tf
  fast/stages/0-bootstrap/variables.tf
Labels: on:FAST

#2060 Data catalog Tag module
  README.md
  modules/README.md
  modules/data-catalog-tag/README.md
  modules/data-catalog-tag/main.tf
  modules/data-catalog-tag/outputs.tf
  modules/data-catalog-tag/variables.tf
  modules/data-catalog-tag/versions.tf
Labels: on:modules, on:documentation

#2077 Add workforce_identity_federation in 0-bootstrap
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/cicd.tf
  fast/stages/0-bootstrap/identity-providers.tf
  fast/stages/0-bootstrap/organization-iam.tf
  fast/stages/0-bootstrap/outputs.tf
  fast/stages/0-bootstrap/variables.tf
  tests/fast/stages/s0_bootstrap/checklist.yaml
  tests/fast/stages/s0_bootstrap/simple.yaml
Labels: on:FAST

#2079 Format python files in blueprints
  .github/workflows/linting.yml
  blueprints/cloud-operations/adfs/scripts/ad-provisioning/main.py
  blueprints/cloud-operations/asset-inventory-feed-remediation/cf/main.py
  blueprints/cloud-operations/compute-quota-monitoring/tools/descriptors.py
  blueprints/cloud-operations/scheduled-asset-inventory-export-bq/cf/main.py
  blueprints/cloud-operations/scheduled-asset-inventory-export-bq/cffile/main.py
  blueprints/data-solutions/data-platform-foundations/demo/dataflow-csv2bq/src/csv2bq.py
  blueprints/data-solutions/data-platform-foundations/demo/datapipeline.py
  blueprints/data-solutions/data-platform-foundations/demo/datapipeline_dc_tags.py
  blueprints/data-solutions/data-platform-foundations/demo/datapipeline_dc_tags_flex.py
  blueprints/data-solutions/data-platform-foundations/demo/datapipeline_flex.py
  blueprints/data-solutions/data-platform-foundations/demo/delete_table.py
  blueprints/data-solutions/data-platform-minimal/demo/dag_bq_gcs2bq.py
  blueprints/data-solutions/data-platform-minimal/demo/dag_dataflow_gcs2bq.py
  blueprints/data-solutions/data-platform-minimal/demo/dag_dataproc_gcs2bq.py
  blueprints/data-solutions/data-platform-minimal/demo/dag_delete_table.py
  blueprints/data-solutions/data-platform-minimal/demo/dag_orchestrate_pyspark.py
  blueprints/data-solutions/data-platform-minimal/demo/pyspark_gcs2bq.py
  blueprints/data-solutions/data-platform-minimal/demo/pyspark_sort.py
  blueprints/gke/autopilot/bundle/locust/image/locust-files/test.py
  blueprints/networking/decentralized-firewall/validator/validator.py
  blueprints/networking/private-cloud-function-from-onprem/assets/main.py
  blueprints/third-party-solutions/openshift/prepare.py
  tools/lint.sh
Labels: on:tools, on:blueprints

#2082 Fix GKE multitenant blueprint roles
  blueprints/gke/multitenant-fleet/main.tf
Labels: on:blueprints

#2081 VPC-SC module factories
  modules/vpc-sc/README.md
  modules/vpc-sc/access-levels.tf
  modules/vpc-sc/factory.tf
  modules/vpc-sc/service-perimeters-regular.tf
  modules/vpc-sc/variables.tf
  tests/modules/vpc_sc/examples/factory.yaml
Labels: on:modules

#2083 Fix data-catalog tag module
  modules/data-catalog-tag/README.md
  modules/data-catalog-tag/main.tf
Labels: on:modules

#1954 Add support for Cloud Run v2 jobs
  modules/cloud-run-v2/README.md
  modules/cloud-run-v2/job.tf
  modules/cloud-run-v2/main.tf
  modules/cloud-run-v2/outputs.tf
  modules/cloud-run-v2/service.tf
  modules/cloud-run-v2/variables-vpcconnector.tf
  modules/cloud-run-v2/variables.tf
  modules/cloud-run-v2/vpcconnector.tf
  modules/secret-manager/README.md
  modules/secret-manager/outputs.tf
  tests/examples/variables.tf
  tests/examples_e2e/setup_module/e2e_tests.tfvars.tftpl
  tests/examples_e2e/setup_module/main.tf
  tests/fixtures.py
  tests/fixtures/iam-service-account.tf
  tests/fixtures/pubsub.tf
  tests/fixtures/secret-credentials.tf
  tests/fixtures/shared-vpc.tf
  tests/fixtures/vpc-connector.tf
  tests/modules/cloud_run_v2/examples/job-iam-env.yaml
  tests/modules/cloud_run_v2/examples/service-beta-features.yaml
  tests/modules/cloud_run_v2/examples/service-eventarc-auditlogs-external-sa.yaml
  tests/modules/cloud_run_v2/examples/service-eventarc-auditlogs-sa-create.yaml
  tests/modules/cloud_run_v2/examples/service-eventarc-pubsub-sa-create.yaml
  tests/modules/cloud_run_v2/examples/service-eventarc-pubsub.yaml
  tests/modules/cloud_run_v2/examples/service-external-sa.yaml
  tests/modules/cloud_run_v2/examples/service-iam-env.yaml
  tests/modules/cloud_run_v2/examples/service-sa-create.yaml
  tests/modules/cloud_run_v2/examples/service-volume-secretes.yaml
  tests/modules/cloud_run_v2/examples/service-vpc-access-connector-create-sharedvpc.yaml
  tests/modules/cloud_run_v2/examples/service-vpc-access-connector-create.yaml
  tests/modules/cloud_run_v2/examples/service-vpc-access-connector.yaml
  tools/create_e2e_sandbox.sh
Labels: on:tools, on:modules

#2091 Accept email in service account module name
  modules/iam-service-account/main.tf
Labels: on:modules

#2087 add analytics hub module
  modules/analytics-hub/README.md
  modules/analytics-hub/iam.tf
  modules/analytics-hub/main.tf
  modules/analytics-hub/outputs.tf
  modules/analytics-hub/variables-iam.tf
  modules/analytics-hub/variables.tf
  modules/analytics-hub/versions.tf
  tests/modules/analytics_hub/examples/iam_exchange.yaml
  tests/modules/analytics_hub/examples/iam_listing.yaml
Labels: on:modules

#2094 update README to add analytics hub module
  README.md
  modules/README.md
Labels: on:documentation

#2096 Do not convert route rules to set
  modules/net-lb-app-ext/urlmap.tf
Labels: on:modules

#2098 Fix cors policy type in lb app ext modules
  modules/net-lb-app-ext-regional/README.md
  modules/net-lb-app-ext-regional/variables-urlmap.tf
  modules/net-lb-app-ext/README.md
  modules/net-lb-app-ext/variables-urlmap.tf
  modules/net-lb-app-int-cross-region/README.md
  modules/net-lb-app-int-cross-region/variables-urlmap.tf
  modules/net-lb-app-int/README.md
  modules/net-lb-app-int/variables-urlmap.tf
Labels: on:modules

#2101 Make all project_parent_ids fields optional
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/variables.tf
Labels: on:FAST

#2102 Allow projects as destinations for log sinks
  modules/billing-account/logging.tf
  modules/billing-account/variables.tf
  modules/folder/README.md
  modules/folder/logging.tf
  modules/folder/variables.tf
  modules/organization/README.md
  modules/organization/logging.tf
  modules/organization/variables.tf
  modules/project/README.md
  modules/project/logging.tf
  modules/project/variables.tf
  tests/modules/folder/examples/logging.yaml
  tests/modules/organization/examples/logging.yaml
  tests/modules/project/examples/logging.yaml
Labels: on:modules

#2090 add session affinity values: "GENERATED_COOKIE", "HEADER_FIELD", "HTTP_COOKIE" to variables-backend-service.tf
  modules/net-lb-app-int/variables-backend-service.tf
Labels: on:modules

#2104 Fix datacalog type of kubernetes_software_config.component_version and properties
  modules/dataproc/README.md
  modules/dataproc/main.tf
  modules/dataproc/variables.tf
Labels: on:modules

#2105 Enable shielded nodes by default on GKE mt blueprint and FAST stage
  blueprints/gke/multitenant-fleet/README.md
  blueprints/gke/multitenant-fleet/variables.tf
  fast/stages/3-gke-multitenant/dev/README.md
  fast/stages/3-gke-multitenant/dev/variables.tf
Labels: on:FAST, incompatible change, on:blueprints, cspr

#2100 Module Data Catalog Tag - Add support for types
  modules/data-catalog-tag/README.md
  modules/data-catalog-tag/main.tf
  modules/data-catalog-tag/variables.tf
Labels: on:modules

#2107 Time zone support for CloudSQL SQL Server
  modules/cloudsql-instance/README.md
  modules/cloudsql-instance/main.tf
  modules/cloudsql-instance/variables.tf
Labels: on:modules

#2111 Fix pathexpand in firewall policy module
  modules/net-firewall-policy/factory.tf
Labels: on:modules

#2110 Gitlab blueprint
  blueprints/third-party-solutions/README.md
  blueprints/third-party-solutions/gitlab/README.md
  blueprints/third-party-solutions/gitlab/TODO.md
  blueprints/third-party-solutions/gitlab/assets/cloud-config.yaml
  blueprints/third-party-solutions/gitlab/assets/config.rb.tpl
  blueprints/third-party-solutions/gitlab/assets/sshd_config
  blueprints/third-party-solutions/gitlab/diagram.png
  blueprints/third-party-solutions/gitlab/gitlab.tf
  blueprints/third-party-solutions/gitlab/main.tf
  blueprints/third-party-solutions/gitlab/outputs.tf
  blueprints/third-party-solutions/gitlab/services.tf
  blueprints/third-party-solutions/gitlab/ssl.tf
  blueprints/third-party-solutions/gitlab/terraform.tfvars.sample
  blueprints/third-party-solutions/gitlab/variables.tf
Labels: on:blueprints, on:documentation

#2118 Add https security to cloud-functions-v1 module
  modules/cloud-function-v1/README.md
  modules/cloud-function-v1/main.tf
  modules/cloud-function-v1/variables.tf
  tools/tfdoc.py
Labels: on:tools, on:modules

#2120 Implement GKE patterns naming conventions
  blueprints/gke/patterns/batch/tutorial.md
  blueprints/gke/patterns/kafka/tutorial.md
  blueprints/gke/patterns/mysql/tutorial.md
  blueprints/gke/patterns/redis-cluster/tutorial.md
Labels: on:documentation

#2119 Fix phpipam blueprint
  blueprints/third-party-solutions/phpipam/README.md
  blueprints/third-party-solutions/phpipam/cloudsql.tf
  blueprints/third-party-solutions/phpipam/glb.tf
  blueprints/third-party-solutions/phpipam/main.tf
  blueprints/third-party-solutions/phpipam/outputs.tf
Labels: on:blueprints

#2121 enabling dataform service agent upon activating the API
  modules/project/service-agents.yaml
Labels: on:modules
