Repository GoogleCloudPlatform/cloud-foundation-fabric, pull requests merged in 2024-07, with the labels that each got.

#2402 gitlab workflow template fixes #2401
  fast/assets/templates/workflow-gitlab.yaml
  fast/stages/0-bootstrap/templates/workflow-gitlab.yaml
  fast/stages/1-resman/templates/workflow-gitlab.yaml
  fast/stages/1-tenant-factory/templates/workflow-gitlab.yaml
Labels: on:FAST

#2404 Documented new GCVE design options
  fast/stages/3-gcve/README.md
  fast/stages/3-gcve/diagram-0.png
  fast/stages/3-gcve/diagram-1.png
  fast/stages/3-gcve/diagram-2.png
  fast/stages/3-gcve/diagram-3.png
  fast/stages/3-gcve/diagram-4.png
  fast/stages/3-gcve/diagram-5.png
  fast/stages/3-gcve/diagram-6.png
  fast/stages/3-gcve/diagram0.png
  fast/stages/3-gcve/diagram1.png
Labels: on:FAST

#2405 Adding placement_policy for GKE nodepools (ex: GPU compact placement or TPU topology)
  modules/gke-nodepool/README.md
  modules/gke-nodepool/main.tf
  modules/gke-nodepool/variables.tf
Labels: on:modules

#2407 Allow project factory projects to override name
  modules/project-factory/factory-projects.tf
Labels: on:modules

#2399 Test different versions of Terraform
  .github/actions/fabric-tests/action.yml
  .github/workflows/tests.yml
Labels: on:tools

#2409 Adds support for external SPGs to net-firewall-policy
  modules/net-firewall-policy/README.md
  modules/net-firewall-policy/factory.tf
  modules/net-firewall-policy/hierarchical.tf
  modules/net-firewall-policy/net-global.tf
  modules/net-firewall-policy/net-regional.tf
  modules/net-firewall-policy/variables.tf
  tests/modules/net_firewall_policy/examples/factory-spg.yaml
Labels: on:modules

#2411 [FAST] Fix IAM bindings to impersonate resman CICD SAs at bootstrap stage
  fast/stages/0-bootstrap/automation.tf
Labels: bug, on:FAST

#2412 [FAST] Housekeeping in CICD workflow templates and extra stage
  fast/assets/templates/workflow-github.yaml
  fast/assets/templates/workflow-sourcerepo.yaml
  fast/extras/0-cicd-github/main.tf
  fast/stages/0-bootstrap/templates/workflow-github.yaml
  fast/stages/0-bootstrap/templates/workflow-sourcerepo.yaml
  fast/stages/1-resman/templates/workflow-github.yaml
  fast/stages/1-resman/templates/workflow-sourcerepo.yaml
  fast/stages/1-tenant-factory/templates/workflow-github.yaml
  fast/stages/1-tenant-factory/templates/workflow-sourcerepo.yaml
Labels: on:FAST

#2415 Added certificate_manager_certificates to app load balancers
  modules/net-lb-app-ext-regional/README.md
  modules/net-lb-app-ext-regional/main.tf
  modules/net-lb-app-ext-regional/variables.tf
  modules/net-lb-app-ext/README.md
  modules/net-lb-app-ext/main.tf
  modules/net-lb-app-ext/variables.tf
  modules/net-lb-app-int/README.md
  modules/net-lb-app-int/main.tf
  modules/net-lb-app-int/variables.tf
Labels: on:modules

#2406 Adding TPU limits for GKE cluster node auto-provisioning (NAP)
  modules/gke-cluster-standard/README.md
  modules/gke-cluster-standard/main.tf
  modules/gke-cluster-standard/variables.tf
Labels: incompatible change, on:modules

#2418 Adding support for DWS for GKE nodepools
  modules/gke-cluster-standard/README.md
  modules/gke-nodepool/README.md
  modules/gke-nodepool/main.tf
  modules/gke-nodepool/variables.tf
  tests/modules/gke_nodepool/examples/dws.yaml
Labels: enhancement, on:modules

#2421 fix cloudbuild service account email
  modules/project/service-agents.yaml
Labels: on:modules

#2424 E2E tests for ncc-spoke-ra
  modules/ncc-spoke-ra/README.md
  tests/examples/variables.tf
  tests/examples_e2e/setup_module/e2e_tests.tfvars.tftpl
  tests/examples_e2e/setup_module/main.tf
  tests/fixtures/compute-vm-nva.tf
Labels: on:modules

#2433 Reintroduce docker image path output in AR module
  blueprints/gke/patterns/autopilot-cluster/outputs.tf
  modules/artifact-registry/README.md
  modules/artifact-registry/outputs.tf
Labels: on:modules, on:blueprints

#2436 Allow disabling topic creation in GCS module notification
  modules/gcs/README.md
  modules/gcs/main.tf
  modules/gcs/outputs.tf
  modules/gcs/variables.tf
  modules/project/service-agents.yaml
Labels: on:modules

#2437 Add coalesce to factory fw policies to support empty yaml files
  modules/net-firewall-policy/factory.tf
Labels: on:modules

#2439 Remove default values to secondary range names in GKE cluster modules
  modules/gke-cluster-autopilot/README.md
  modules/gke-cluster-autopilot/variables.tf
  modules/gke-cluster-standard/README.md
  modules/gke-cluster-standard/variables.tf
Labels: on:modules

#2440 FAST ng: stage 0 environments and VPC-SC IaC resources
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/automation.tf
  fast/stages/0-bootstrap/cicd.tf
  fast/stages/0-bootstrap/main.tf
  fast/stages/0-bootstrap/organization-iam.tf
  fast/stages/0-bootstrap/organization.tf
  fast/stages/0-bootstrap/outputs.tf
  fast/stages/0-bootstrap/variables.tf
  tests/fast/stages/s0_bootstrap/checklist.yaml
  tests/fast/stages/s0_bootstrap/simple.yaml
Labels: on:FAST, fast-resman-ng

#2443 Project service agents moved block and enabled services
  modules/project/README.md
  modules/project/service-agents.tf
  modules/project/variables.tf
Labels: on:modules

#2444 Add context to net-vpc factory
  fast/stages/2-networking-a-simple/data/subnets/dev/dev-dataplatform.yaml
  fast/stages/2-networking-a-simple/data/subnets/dev/dev-default.yaml
  fast/stages/2-networking-a-simple/data/subnets/dev/dev-gke-nodes.yaml
  fast/stages/2-networking-a-simple/data/subnets/landing/landing-default.yaml
  fast/stages/2-networking-a-simple/data/subnets/prod/prod-default.yaml
  fast/stages/2-networking-a-simple/net-dev.tf
  fast/stages/2-networking-a-simple/net-landing.tf
  fast/stages/2-networking-a-simple/net-prod.tf
  fast/stages/2-networking-b-nva/README.md
  fast/stages/2-networking-b-nva/data/subnets/dev/dev-dataplatform.yaml
  fast/stages/2-networking-b-nva/data/subnets/dev/dev-default-pri.yaml
  fast/stages/2-networking-b-nva/data/subnets/dev/dev-default-sec.yaml
  fast/stages/2-networking-b-nva/data/subnets/dev/dev-gke-nodes.yaml
  fast/stages/2-networking-b-nva/data/subnets/dmz/dmz-default-ew1.yaml
  fast/stages/2-networking-b-nva/data/subnets/dmz/dmz-default-ew4.yaml
  fast/stages/2-networking-b-nva/data/subnets/dmz/dmz-default-pri.yaml
  fast/stages/2-networking-b-nva/data/subnets/dmz/dmz-default-sec.yaml
  fast/stages/2-networking-b-nva/data/subnets/landing/landing-default-ew4.yaml
  fast/stages/2-networking-b-nva/data/subnets/landing/landing-default-pri.yaml
  fast/stages/2-networking-b-nva/data/subnets/landing/landing-default-sec.yaml
  fast/stages/2-networking-b-nva/data/subnets/prod/prod-default-ew1.yaml
  fast/stages/2-networking-b-nva/data/subnets/prod/prod-default-ew4.yaml
  fast/stages/2-networking-b-nva/net-dev.tf
  fast/stages/2-networking-b-nva/net-landing.tf
  fast/stages/2-networking-b-nva/net-prod.tf
  fast/stages/2-networking-c-separate-envs/data/subnets/dev/dev-dataplatform.yaml
  fast/stages/2-networking-c-separate-envs/data/subnets/dev/dev-default.yaml
  fast/stages/2-networking-c-separate-envs/data/subnets/dev/dev-gke-nodes.yaml
  fast/stages/2-networking-c-separate-envs/data/subnets/prod/prod-default.yaml
  fast/stages/2-networking-c-separate-envs/net-dev.tf
  fast/stages/2-networking-c-separate-envs/net-prod.tf
  modules/net-vpc/README.md
  modules/net-vpc/subnets.tf
  modules/net-vpc/variables.tf
Labels: on:FAST, on:modules

#2445 Override primary flag for the storage transfer service agent
  modules/project/service-agents.yaml
  tools/build_service_agents.py
Labels: on:tools, on:modules

#2446 Remove alpha from gcloud storage cp as it moved to GA
  fast/assets/templates/workflow-github.yaml
  fast/assets/templates/workflow-gitlab.yaml
  fast/extras/0-cicd-gitlab/README.md
  fast/stage-links.sh
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/templates/workflow-github.yaml
  fast/stages/0-bootstrap/templates/workflow-gitlab.yaml
  fast/stages/1-resman/README.md
  fast/stages/1-resman/templates/workflow-github.yaml
  fast/stages/1-resman/templates/workflow-gitlab.yaml
  fast/stages/1-tenant-factory/README.md
  fast/stages/1-tenant-factory/templates/workflow-github.yaml
  fast/stages/1-tenant-factory/templates/workflow-gitlab.yaml
  fast/stages/2-networking-a-simple/README.md
  fast/stages/2-networking-b-nva/README.md
  fast/stages/2-networking-c-separate-envs/README.md
  fast/stages/2-security/README.md
  fast/stages/3-data-platform/dev/README.md
  fast/stages/3-gcve/prod/README.md
  fast/stages/3-gke-multitenant/dev/README.md
  fast/stages/3-project-factory/dev/README.md
Labels: on:FAST

#2447 Fix wrong expression in compute-mig module
  modules/compute-mig/autoscaler.tf
Labels: on:modules

#2448 Add generic URL output to modules/artifiact-registry
  blueprints/gke/patterns/autopilot-cluster/outputs.tf
  modules/artifact-registry/README.md
  modules/artifact-registry/outputs.tf
Labels: on:modules, on:blueprints

#2397 NCC in 2-net-a-simple
  fast/stages/2-networking-a-simple/README.md
  fast/stages/2-networking-a-simple/diagram-ncc.png
  fast/stages/2-networking-a-simple/diagram-ncc.svg
  fast/stages/2-networking-a-simple/diagram-peering.svg
  fast/stages/2-networking-a-simple/main.tf
  fast/stages/2-networking-a-simple/monitoring-vpn.tf
  fast/stages/2-networking-a-simple/monitoring.tf
  fast/stages/2-networking-a-simple/net-landing.tf
  fast/stages/2-networking-a-simple/outputs.tf
  fast/stages/2-networking-a-simple/spoke-ncc.tf
  fast/stages/2-networking-a-simple/spoke-peerings.tf
  fast/stages/2-networking-a-simple/spoke-vpns.tf
  fast/stages/2-networking-a-simple/test-resources.tf
  fast/stages/2-networking-a-simple/variables.tf
  fast/stages/2-networking-a-simple/vpn-onprem.tf
  fast/stages/2-networking-c-separate-envs/data/subnets/dev/dev-dataplatform.yaml
  tests/fast/stages/s2_networking_a_simple/ncc.tfvars
  tests/fast/stages/s2_networking_a_simple/ncc.yaml
  tests/fast/stages/s2_networking_a_simple/tftest.yaml
Labels: on:FAST

#2450 Remove "constraints/" from org policy names
  blueprints/data-solutions/shielded-folder/README.md
  fast/docs/0-org-policies.md
  fast/stages/0-bootstrap/data/org-policies/gcp.yaml
  fast/stages/0-bootstrap/data/org-policies/serverless.yaml
Labels: on:FAST, on:blueprints

#2452 Add `--extra-files` option to plan_summary.py cmd
  CONTRIBUTING.md
  tests/fixtures.py
  tools/plan_summary.py
Labels: on:tools

#2456 Manage lifecycle of cloud functions v2 IAM
  modules/cloud-function-v2/main.tf
Labels: on:modules

#2454 Add support for dry-run org policies
  modules/folder/organization-policies.tf
  modules/organization/organization-policies.tf
  modules/project/README.md
  modules/project/organization-policies.tf
  tests/modules/organization/test_plan_org_policies_modules.py
  tests/modules/project/examples/org-policies-dry-run.yaml
Labels: on:modules

#2457 update readme with cross project backend external regional/global LB - review
  modules/net-lb-app-ext-regional/README.md
  modules/net-lb-app-ext/README.md
Labels: on:modules

#2459 Allow user to override peerings names
  modules/net-vpc-peering/README.md
  modules/net-vpc-peering/main.tf
  modules/net-vpc-peering/variables.tf
Labels: on:modules
