Repository GoogleCloudPlatform/cloud-foundation-fabric, pull requests merged in 2024-09, with the labels that each got.

#2553 Added the GKE security_posture configuration
  modules/gke-cluster-standard/README.md
  modules/gke-cluster-standard/main.tf
  modules/gke-cluster-standard/variables.tf
Labels: on:modules

#2559 Fix e2e tests for cloud run
  modules/cloud-run-v2/README.md
  modules/cloud-run/README.md
  tests/fixtures/vpc-connector.tf
Labels: on:modules

#2563 Update list of imported org policies
  fast/stages/0-bootstrap/organization.tf
Labels: on:FAST

#2564 Enables compute.setNewProjectDefaultToZonalDNSOnly and essentialcontacts.allowedContactDomains
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/data/org-policies/compute.yaml
  fast/stages/0-bootstrap/organization.tf
  fast/stages/0-bootstrap/variables.tf
  tests/fast/stages/s0_bootstrap/checklist.yaml
  tests/fast/stages/s0_bootstrap/simple.yaml
Labels: on:FAST

#2558 Update variables.tf
  fast/stages/2-networking-b-nva/README.md
  fast/stages/2-networking-b-nva/variables.tf
Labels: on:FAST

#2568 Update a few references from 3-project-factory to 2-project-factory
  fast/stages/0-bootstrap/README.md
  fast/stages/1-resman/outputs.tf
  fast/stages/CLEANUP.md
Labels: on:FAST

#2579 FAST resman mt fixes
  fast/stages/1-resman/tenant-root.tf
  fast/stages/1-resman/top-level-folders.tf
  fast/stages/1-tenant-factory/README.md
  fast/stages/1-tenant-factory/variables-fast.tf
Labels: on:FAST

#2581 Update FAST stage diagrams
  fast/stages.png
  fast/stages.svg
  fast/stages/diagrams.excalidraw.gz
  fast/tenants-stages.png
  fast/tenants-stages.svg
Labels: on:FAST

#2583 Support secret-level expire time in secret manager module
  modules/secret-manager/README.md
  modules/secret-manager/main.tf
  modules/secret-manager/variables.tf
Labels: incompatible change, on:modules

#2570 Bigquery dataset routines
  modules/bigquery-dataset/README.md
  modules/bigquery-dataset/main.tf
  modules/bigquery-dataset/outputs.tf
  modules/bigquery-dataset/variables.tf
  tests/modules/bigquery_dataset/examples/routines.yaml
Labels: on:modules

#2584 README fixes to FAST docs
  blueprints/gcve/pc-minimal/README.md
  fast/stages/1-resman/README.md
  fast/stages/3-gcve/prod/README.md
  fast/stages/README.md
Labels: on:FAST, on:blueprints

#2586 Add location for each SSM IAM resource
  modules/secure-source-manager-instance/iam.tf
Labels: on:modules

#2565 New looker core module
  modules/looker-core/README.md
  modules/looker-core/main.tf
  modules/looker-core/outputs.tf
  modules/looker-core/variables.tf
  modules/looker-core/versions.tf
  tests/examples_e2e/setup_module/main.tf
  tests/modules/looker_core/examples/full.yaml
  tests/modules/looker_core/examples/psa.yaml
  tests/modules/looker_core/examples/simple.yaml
Labels: on:modules

#2590 Fix permadiff on iap attribute in net-lb-app-int module
  modules/net-lb-int/README.md
  modules/net-lb-int/main.tf
  modules/net-lb-int/outputs.tf
  tests/blueprints/third_party_solutions/f5_bigip/f5_bigip_ha_active/examples/multiple-fw-rules.yaml
Labels: on:modules

#2593 Fix looker README and add custom url for looker instance module
  README.md
  modules/README.md
  modules/looker-core/README.md
  modules/looker-core/main.tf
  modules/looker-core/variables.tf
Labels: on:modules

#2572 Added biglake-catalog module
  README.md
  modules/README.md
  modules/biglake-catalog/README.md
  modules/biglake-catalog/main.tf
  modules/biglake-catalog/outputs.tf
  modules/biglake-catalog/variables.tf
  tests/modules/biglake_catalog/examples/basic.yaml
Labels: on:modules

#2595 Allow manage existing SSM instance
  modules/secure-source-manager-instance/README.md
  modules/secure-source-manager-instance/iam.tf
  modules/secure-source-manager-instance/main.tf
  modules/secure-source-manager-instance/outputs.tf
  modules/secure-source-manager-instance/variables.tf
  tests/modules/secure_source_manager_instance/examples/iam-bindings-additive.yaml
  tests/modules/secure_source_manager_instance/examples/iam-bindings.yaml
  tests/modules/secure_source_manager_instance/examples/iam.yaml
  tests/modules/secure_source_manager_instance/examples/private-instance.yaml
  tests/modules/secure_source_manager_instance/examples/public-instance-with-cmek.yaml
  tests/modules/secure_source_manager_instance/examples/public-instance.yaml
Labels: on:modules
