Repository GoogleCloudPlatform/cloud-foundation-fabric, pull requests merged in 2024-10, with the labels that each got.

#2598 added terraform enterprise/hcp terraform def to wif providers
  fast/stages/0-bootstrap/identity-providers-defs.tf
Labels: on:FAST

#2600 FAST: Adds support for PSC transitivity to 2-a
  fast/stages/2-networking-a-simple/README.md
  fast/stages/2-networking-a-simple/spoke-ncc.tf
  fast/stages/2-networking-a-simple/variables.tf
Labels: on:FAST

#2604 fixed tfe wif definition variables
  fast/stages/0-bootstrap/identity-providers-defs.tf
Labels: on:FAST

#2606 feat: implement the new iam interface in `artifact-registry`
  modules/artifact-registry/README.md
  modules/artifact-registry/iam.tf
  modules/artifact-registry/main.tf
  modules/artifact-registry/outputs.tf
  modules/artifact-registry/variables-iam.tf
  modules/artifact-registry/variables.tf
  tests/modules/artifact_registry/examples/iam.yaml
Labels: on:modules

#2599 Alloydb variables refactor
  modules/alloydb/README.md
  modules/alloydb/main.tf
  modules/alloydb/variables.tf
Labels: on:modules

#2608 Additional job attributes in cloud run v2 module
  modules/cloud-run-v2/README.md
  modules/cloud-run-v2/job.tf
  modules/cloud-run-v2/variables.tf
Labels: on:modules

#2616 Support log exclusions in FAST bootstrap log sinks
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/organization.tf
  fast/stages/0-bootstrap/variables.tf
Labels: on:FAST

#2617 fix(artifact-registry): fix a move issue with tf>1.7
  modules/artifact-registry/iam.tf
Labels: on:modules

#2620 added output for tfvars_globals
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/outputs.tf
Labels: on:FAST

#2611 Add TFE integration for backend and CICD
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/cicd.tf
  fast/stages/0-bootstrap/identity-providers-defs.tf
  fast/stages/0-bootstrap/outputs.tf
  fast/stages/0-bootstrap/templates/providers_gcs.tf.tpl
  fast/stages/0-bootstrap/templates/providers_terraform.tf.tpl
  fast/stages/0-bootstrap/variables.tf
  fast/stages/1-resman/README.md
  fast/stages/1-resman/cicd-data-platform.tf
  fast/stages/1-resman/cicd-gcve.tf
  fast/stages/1-resman/cicd-gke.tf
  fast/stages/1-resman/cicd-netsec.tf
  fast/stages/1-resman/cicd-networking.tf
  fast/stages/1-resman/cicd-project-factory.tf
  fast/stages/1-resman/cicd-security.tf
  fast/stages/1-resman/main.tf
  fast/stages/1-resman/outputs.tf
  fast/stages/1-resman/templates/providers_gcs.tf.tpl
  fast/stages/1-resman/templates/providers_terraform.tf.tpl
  fast/stages/1-resman/variables-fast.tf
  fast/stages/1-resman/variables.tf
  fast/stages/1-tenant-factory/README.md
  fast/stages/1-tenant-factory/identity-providers-defs.tf
  fast/stages/1-tenant-factory/outputs.tf
  fast/stages/1-tenant-factory/templates/providers_gcs.tf.tpl
  fast/stages/1-tenant-factory/templates/providers_terraform.tf.tpl
  fast/stages/1-tenant-factory/tenant-fast-cicd.tf
  fast/stages/1-tenant-factory/variables-fast.tf
  tests/fast/stages/s1_resman/checklist.tfvars
  tests/fast/stages/s1_resman/simple.tfvars
  tests/fast/stages/s1_tenant_factory/simple.tfvars
Labels: on:FAST

#2625 Add Project Factory Logging Data Option
  modules/project-factory/README.md
  modules/project-factory/factory-projects.tf
  modules/project-factory/folders.tf
  modules/project-factory/variables.tf
Labels: on:modules

#2630 [FAST] Fix stage 2 simple NVA wrong location - causing test failures
  fast/stages/2-networking-b-nva/nva-simple.tf
Labels: on:FAST

#2638 Fix ipv6 output in net-vpc module, add support for extra volumes in cloud run v2 module
  modules/cloud-run-v2/README.md
  modules/cloud-run-v2/job.tf
  modules/cloud-run-v2/service.tf
  modules/cloud-run-v2/variables.tf
  modules/net-vpc/outputs.tf
Labels: on:modules

#2639 Add option to attach multiple snapshot schedule to disks
  modules/compute-vm/README.md
  modules/compute-vm/resource-policies.tf
  modules/compute-vm/variables.tf
Labels: on:modules

#2641 Adding DNS for GKE control plane to private google access APIs
  fast/stages/2-networking-a-simple/data/dns-policy-rules.yaml
  fast/stages/2-networking-b-nva/data/dns-policy-rules.yaml
  fast/stages/2-networking-c-separate-envs/data/dns-policy-rules.yaml
  tests/fast/stages/s2_networking_a_simple/ncc.yaml
  tests/fast/stages/s2_networking_a_simple/simple.yaml
  tests/fast/stages/s2_networking_a_simple/vpn.yaml
  tests/fast/stages/s2_networking_b_nva/ncc-ra.yaml
  tests/fast/stages/s2_networking_b_nva/regional.yaml
  tests/fast/stages/s2_networking_b_nva/simple.yaml
  tests/fast/stages/s2_networking_c_separate_envs/simple.yaml
Labels: on:FAST

#2645 feat(modules/secret-manager): add support for version_destroy_ttl
  modules/secret-manager/README.md
  modules/secret-manager/main.tf
  modules/secret-manager/variables.tf
Labels: on:modules

#2646 Extend tests to fast-dev
  .github/workflows/linting.yml
  .github/workflows/tests.yml
Labels: on:tools

#2642 Reorganize ADRs and new versioning ADR
  adrs/20241029-versioning.md
  adrs/20241029-versioning.png
  adrs/fast/0-bootstram-user-iam.md
  adrs/fast/0-cicd-plan-sa.md
  adrs/fast/0-domainless-iam.md
  adrs/fast/0-org-policies.md
  adrs/fast/1-network-ranges.md
  adrs/fast/README.md
  adrs/modules/20230816-iam-refactor.md
  adrs/modules/20231106-factories.md
  adrs/modules/README.md
  modules/billing-account/README.md
Labels: on:modules

#2652 Final fixes for v36.0.0-rc1
  fast/stages/1-resman/README.md
  fast/stages/1-resman/data/top-level-folders/sandbox.yaml
  fast/stages/1-resman/moved/v35.1.0-v36.0.0.tf
  fast/stages/1-resman/schemas/top-level-folder.schema.json
  fast/stages/1-resman/top-level-folders.tf
  fast/stages/1-resman/variables-toplevel-folders.tf
Labels: on:FAST
