Repository GoogleCloudPlatform/cloud-foundation-fabric, pull requests merged in 2024-04, with the labels that each got.

#2190 VPC module - PSA configurable service producer
  modules/net-vpc/README.md
  modules/net-vpc/psa.tf
  modules/net-vpc/variables.tf
Labels: on:modules

#2189 Use explicit UTF-8 encoding in tfdoc.py
  tools/tfdoc.py
Labels: on:tools

#2195 Allow r/o project factory SAs access to folder-level IAM
  fast/stages/1-resman/README.md
  fast/stages/1-resman/branch-teams.tf
  fast/stages/1-resman/variables.tf
  tests/fast/stages/s1_resman/checklist.tfvars
  tests/fast/stages/s1_resman/simple.tfvars
Labels: on:FAST

#2196 Add variable to resman to control top-level folder IAM
  fast/stages/1-resman/README.md
  fast/stages/1-resman/branch-data-platform.tf
  fast/stages/1-resman/branch-gcve.tf
  fast/stages/1-resman/branch-gke.tf
  fast/stages/1-resman/branch-networking.tf
  fast/stages/1-resman/branch-sandbox.tf
  fast/stages/1-resman/branch-security.tf
  fast/stages/1-resman/branch-teams.tf
  fast/stages/1-resman/branch-tenants.tf
  fast/stages/1-resman/variables.tf
  tests/fast/stages/s1_resman/simple.tfvars
  tests/fast/stages/s1_resman/simple.yaml
Labels: on:FAST

#2202 added force_destroy to dns module
  modules/dns/README.md
  modules/dns/main.tf
  modules/dns/variables.tf
Labels: on:modules

#2201 Updating cloud-run-v2 terraform and some typos
  CONTRIBUTING.md
  blueprints/third-party-solutions/f5-bigip/f5-bigip-ha-active/README.md
  blueprints/third-party-solutions/f5-bigip/f5-bigip-ha-active/startup-script.tpl
  modules/__docs/20230816-iam-refactor.md
  modules/dataform-repository/README.md
  modules/dataplex/README.md
  modules/net-lb-int/README.md
  modules/workstation-cluster/README.md
  tests/fixtures.py
Labels: on:modules, on:blueprints

#2204 Align exported tfvars in FAST networking stages, add psc and proxy only subnets
  fast/stages/2-networking-a-peering/README.md
  fast/stages/2-networking-a-peering/outputs.tf
  fast/stages/2-networking-b-vpn/README.md
  fast/stages/2-networking-b-vpn/outputs.tf
  fast/stages/2-networking-c-nva/README.md
  fast/stages/2-networking-c-nva/outputs.tf
  fast/stages/2-networking-d-separate-envs/README.md
  fast/stages/2-networking-d-separate-envs/outputs.tf
  fast/stages/2-networking-e-nva-bgp/README.md
  fast/stages/2-networking-e-nva-bgp/outputs.tf
Labels: on:FAST

#2205 Add validation rule for DNS module health check targets
  modules/dns/README.md
  modules/dns/variables.tf
Labels: on:modules

#2206 Update the description and README for the tags variable
  fast/stages/1-resman/README.md
  fast/stages/1-resman/variables.tf
Labels: on:FAST

#2210 Add support for quotas to project module
  fast/stages/0-bootstrap/automation.tf
  modules/project/README.md
  modules/project/outputs.tf
  modules/project/quotas.tf
  modules/project/variables-quotas.tf
  tests/fast/stages/s0_bootstrap/checklist.yaml
  tests/fast/stages/s0_bootstrap/simple.yaml
Labels: on:FAST, on:modules

#2212 Add support for GCS soft-delete retention period
  modules/gcs/README.md
  modules/gcs/main.tf
  modules/gcs/variables.tf
  tests/modules/gcs/examples/retention-logging.yaml
  tests/modules/gcs/examples/simple.yaml
Labels: on:modules

#2213 Add support for tags to GCS module
  modules/gcs/README.md
  modules/gcs/tags.tf
  modules/gcs/variables.tf
  tests/modules/gcs/examples/tags.yaml
Labels: on:modules

#2214 Net LB App Internal Cross-Region recipe
  modules/net-lb-app-int-cross-region/README.md
  modules/net-lb-app-int-cross-region/recipe-cross-reg-int-app-lb-vm-dns/README.md
  modules/net-lb-app-int-cross-region/recipe-cross-reg-int-app-lb-vm-dns/instances.tf
  modules/net-lb-app-int-cross-region/recipe-cross-reg-int-app-lb-vm-dns/main.tf
  modules/net-lb-app-int-cross-region/recipe-cross-reg-int-app-lb-vm-dns/nginx-cloud-config.yaml
  modules/net-lb-app-int-cross-region/recipe-cross-reg-int-app-lb-vm-dns/outputs.tf
  modules/net-lb-app-int-cross-region/recipe-cross-reg-int-app-lb-vm-dns/region_shortnames.tf
  modules/net-lb-app-int-cross-region/recipe-cross-reg-int-app-lb-vm-dns/variables.tf
  tests/examples/conftest.py
  tests/examples/test_plan.py
  tests/fixtures.py
  tools/tfdoc.py
Labels: on:tools, on:modules

#2215 Add new org policies to FAST
  fast/stages/0-bootstrap/data/org-policies/iam.yaml
  fast/stages/0-bootstrap/data/org-policies/serverless.yaml
  fast/stages/0-bootstrap/data/org-policies/storage.yaml
  tests/fast/stages/s0_bootstrap/checklist.yaml
  tests/fast/stages/s0_bootstrap/simple.yaml
Labels: on:FAST

#2219 Remove unused variables/locals from FAST
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/organization.tf
  fast/stages/0-bootstrap/variables.tf
  fast/stages/1-resman/README.md
  fast/stages/1-resman/variables.tf
  fast/stages/2-networking-d-separate-envs/README.md
  fast/stages/2-networking-d-separate-envs/main.tf
  fast/stages/2-networking-d-separate-envs/variables.tf
Labels: on:FAST

#2218 Allow multiple PSA service providers in net-vpc module
  blueprints/apigee/bigquery-analytics/main.tf
  blueprints/apigee/network-patterns/nb-glb-psc-neg-sb-psc-ilbl7-hybrid-neg/apigee.tf
  blueprints/data-solutions/cloudsql-multiregion/cloudsql.tf
  blueprints/data-solutions/cloudsql-multiregion/main.tf
  blueprints/data-solutions/vertex-mlops/main.tf
  blueprints/third-party-solutions/gitlab/services.tf
  blueprints/third-party-solutions/phpipam/cloudsql.tf
  blueprints/third-party-solutions/phpipam/main.tf
  blueprints/third-party-solutions/wordpress/cloudrun/cloudsql.tf
  fast/stages/2-networking-a-peering/README.md
  fast/stages/2-networking-a-peering/net-dev.tf
  fast/stages/2-networking-a-peering/net-prod.tf
  fast/stages/2-networking-a-peering/variables.tf
  fast/stages/2-networking-b-vpn/README.md
  fast/stages/2-networking-b-vpn/net-dev.tf
  fast/stages/2-networking-b-vpn/net-prod.tf
  fast/stages/2-networking-b-vpn/variables.tf
  fast/stages/2-networking-c-nva/README.md
  fast/stages/2-networking-c-nva/net-dev.tf
  fast/stages/2-networking-c-nva/net-prod.tf
  fast/stages/2-networking-c-nva/variables.tf
  fast/stages/2-networking-d-separate-envs/README.md
  fast/stages/2-networking-d-separate-envs/net-dev.tf
  fast/stages/2-networking-d-separate-envs/net-prod.tf
  fast/stages/2-networking-d-separate-envs/variables.tf
  fast/stages/2-networking-e-nva-bgp/README.md
  fast/stages/2-networking-e-nva-bgp/net-dev.tf
  fast/stages/2-networking-e-nva-bgp/net-prod.tf
  fast/stages/2-networking-e-nva-bgp/variables.tf
  modules/cloudsql-instance/README.md
  modules/net-vpc/README.md
  modules/net-vpc/psa.tf
  modules/net-vpc/variables.tf
  tests/modules/cloudsql_instance/examples/simple.yaml
  tests/modules/net_vpc/examples/psa-multiple-providers.yaml
  tests/modules/net_vpc/examples/psa-routes.yaml
  tests/modules/net_vpc/examples/psa.yaml
  tests/modules/net_vpc/psa_routes_export.tfvars
  tests/modules/net_vpc/psa_routes_export.yaml
  tests/modules/net_vpc/psa_routes_import.tfvars
  tests/modules/net_vpc/psa_routes_import.yaml
  tests/modules/net_vpc/psa_routes_import_export.tfvars
  tests/modules/net_vpc/psa_routes_import_export.yaml
Labels: on:FAST, incompatible change, on:modules, on:blueprints

#2221 Enable TFLint in FAST stages
  .github/workflows/linting.yml
  fast/stages/2-networking-c-nva/README.md
  fast/stages/2-networking-c-nva/variables.tf
  fast/stages/2-networking-e-nva-bgp/README.md
  fast/stages/2-networking-e-nva-bgp/ncc.tf
  fast/stages/2-networking-e-nva-bgp/variables.tf
Labels: on:FAST, on:tools

#2229 Refactor vpc-sc support in project module, add support for dry run
  modules/project-factory/README.md
  modules/project-factory/factory-projects.tf
  modules/project-factory/main.tf
  modules/project-factory/variables.tf
  modules/project/README.md
  modules/project/variables.tf
  modules/project/vpc-sc.tf
  tests/modules/project/examples/vpc-sc-2.yaml
  tests/modules/project/examples/vpc-sc.yaml
Labels: incompatible change, on:modules

#2230 docs: :memo: fix error in phpIPAM terraform config by updating VPC pe…
  blueprints/third-party-solutions/phpipam/README.md
Labels: on:blueprints

#2233 [FAST] Fix permissions for branch network dev - read sa
  fast/stages/1-resman/branch-networking.tf
Labels: on:FAST

#2235 Update FAST logging
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/automation.tf
  fast/stages/0-bootstrap/variables.tf
  tests/fast/stages/s0_bootstrap/checklist.yaml
  tests/fast/stages/s0_bootstrap/simple.yaml
Labels: on:FAST

#2239 Update README.md
  blueprints/data-solutions/data-playground/README.md
Labels: on:blueprints

#2238 fix: allow disabling node autoprovisioning
  modules/gke-cluster-standard/README.md
  modules/gke-cluster-standard/main.tf
  modules/gke-cluster-standard/variables.tf
Labels: on:modules

#2241 Use default labels on pubsub subscription when no override is provided
  modules/pubsub/README.md
  modules/pubsub/main.tf
  tests/modules/pubsub/examples/subscriptions.yaml
Labels: on:modules

#2244 Removed BFD settings from net-vpn-ha module as it is not supported
  modules/net-vpn-ha/README.md
  modules/net-vpn-ha/main.tf
  modules/net-vpn-ha/variables.tf
Labels: incompatible change, on:modules

#2246 Fixed issue with service networking DNS peering
  modules/net-vpc/psa.tf
  tests/modules/net_vpc/examples/psa-routes.yaml
Labels: on:modules

#2248 Added missing identity when connectors API is enabled
  modules/project/service-agents.yaml
Labels: on:modules
