Repository GoogleCloudPlatform/cloud-foundation-fabric, pull requests merged in 2024-01, with the labels that each got.

#1956 Support CMEK encryption on Bigtable instances.
  modules/bigtable-instance/README.md
  modules/bigtable-instance/main.tf
  modules/bigtable-instance/variables.tf
Labels: on:modules

#1959 net-lb-app-ext example fixes
  modules/net-lb-app-ext/README.md
Labels: on:documentation

#1960 Add PNA support to Service Directory module
  modules/service-directory/README.md
  modules/service-directory/main.tf
  modules/service-directory/variables.tf
  tests/modules/service_directory/examples/pna.yaml
Labels: on:modules

#1892 New module for external regional application load balancer
  modules/net-lb-app-ext-regional/README.md
  modules/net-lb-app-ext-regional/backend-service.tf
  modules/net-lb-app-ext-regional/groups.tf
  modules/net-lb-app-ext-regional/health-check.tf
  modules/net-lb-app-ext-regional/main.tf
  modules/net-lb-app-ext-regional/negs.tf
  modules/net-lb-app-ext-regional/outputs.tf
  modules/net-lb-app-ext-regional/urlmap.tf
  modules/net-lb-app-ext-regional/variables-backend-service.tf
  modules/net-lb-app-ext-regional/variables-health-check.tf
  modules/net-lb-app-ext-regional/variables-urlmap.tf
  modules/net-lb-app-ext-regional/variables.tf
  modules/net-lb-app-ext-regional/versions.tf
  tests/fixtures/ssl-certificate.tf
Labels: on:modules

#1819 Serverless networking program
  blueprints/serverless/README.md
  blueprints/serverless/cloud-run-corporate/README.md
  blueprints/serverless/cloud-run-explore/README.md
  blueprints/serverless/cloud-run-microservices/README.md
  blueprints/serverless/cloud-run-microservices/alb.tf
  blueprints/serverless/cloud-run-microservices/cloudrun.tf
  blueprints/serverless/cloud-run-microservices/dns.tf
  blueprints/serverless/cloud-run-microservices/images/use-case-1-test.png
  blueprints/serverless/cloud-run-microservices/images/use-case-1.png
  blueprints/serverless/cloud-run-microservices/images/use-case-2-test.png
  blueprints/serverless/cloud-run-microservices/images/use-case-2.png
  blueprints/serverless/cloud-run-microservices/main.tf
  blueprints/serverless/cloud-run-microservices/outputs.tf
  blueprints/serverless/cloud-run-microservices/psc.tf
  blueprints/serverless/cloud-run-microservices/variables.tf
  blueprints/serverless/cloud-run-microservices/vpc.tf
Labels: on:blueprints, on:documentation

#1958 Create bigtable service identity with project if api is enabled
  modules/project/service-agents.yaml
Labels: on:modules

#1966 Support for ANY_USER_ACCOUNT in module vpc-sc egress rule.
  modules/vpc-sc/variables.tf
Labels: on:modules

#1968 use provided SA for cloud function v2 trigger
  modules/cloud-function-v2/main.tf
Labels: on:modules

#1967 Add locations on terraform.tfvars.sample for bootstrap stage
  fast/stages/0-bootstrap/terraform.tfvars.sample
Labels: on:FAST

#1970 Add support for service_external_ips_config to GKE cluster modules
  modules/gke-cluster-autopilot/README.md
  modules/gke-cluster-autopilot/main.tf
  modules/gke-cluster-autopilot/variables.tf
  modules/gke-cluster-standard/README.md
  modules/gke-cluster-standard/main.tf
  modules/gke-cluster-standard/variables.tf
Labels: on:modules

#1976 Network dashboard - fixing 2 bugs: overriden variable and page token …
  blueprints/cloud-operations/network-quota-monitoring/src/plugins/core-discover-cai-nodes.py
  blueprints/cloud-operations/network-quota-monitoring/src/plugins/utils.py
Labels: on:blueprints

#1978 Fix identity_type
  modules/vpc-sc/variables.tf
Labels: on:modules

#1980 Proper validation of empty string value in identity_type
  modules/vpc-sc/variables.tf
Labels: on:modules

#1981 Added Cross-region internal application load balancer module
  README.md
  modules/README.md
  modules/net-lb-app-int-cross-region/README.md
  modules/net-lb-app-int-cross-region/backend-service.tf
  modules/net-lb-app-int-cross-region/groups.tf
  modules/net-lb-app-int-cross-region/health-check.tf
  modules/net-lb-app-int-cross-region/main.tf
  modules/net-lb-app-int-cross-region/outputs.tf
  modules/net-lb-app-int-cross-region/urlmap.tf
  modules/net-lb-app-int-cross-region/variables-backend-service.tf
  modules/net-lb-app-int-cross-region/variables-health-check.tf
  modules/net-lb-app-int-cross-region/variables-urlmap.tf
  modules/net-lb-app-int-cross-region/variables.tf
  modules/net-lb-app-int-cross-region/versions.tf
  tests/examples/variables.tf
Labels: on:modules, on:documentation

#1979 feat: enable mtls on external application application load balancer
  .gitignore
  modules/net-lb-app-ext/README.md
  modules/net-lb-app-ext/main.tf
  modules/net-lb-app-ext/variables.tf
Labels: on:modules

#1988 Added health checked targets for geo routing policy in dns module
  modules/dns/README.md
  modules/dns/main.tf
  modules/dns/variables.tf
  tests/modules/dns/examples/routing-policies.yaml
Labels: on:modules

#1992 Fix Data platform foundation
  blueprints/data-solutions/data-platform-foundations/01-dropoff.tf
  blueprints/data-solutions/data-platform-foundations/02-load.tf
  blueprints/data-solutions/data-platform-foundations/03-orchestration.tf
  blueprints/data-solutions/data-platform-foundations/04-transformation.tf
  blueprints/data-solutions/data-platform-foundations/05-datawarehouse.tf
  blueprints/data-solutions/data-platform-foundations/06-common.tf
  blueprints/data-solutions/data-platform-foundations/07-exposure.tf
  blueprints/data-solutions/data-platform-foundations/README.md
  blueprints/data-solutions/data-platform-foundations/main.tf
  blueprints/data-solutions/data-platform-foundations/terraform.tfvars.sample
  blueprints/data-solutions/data-platform-foundations/variables.tf
  fast/stages/3-data-platform/dev/README.md
  fast/stages/3-data-platform/dev/main.tf
  fast/stages/3-data-platform/dev/variables.tf
Labels: on:FAST, on:blueprints

#1987 Specify `docker_repository` field for google_cloudfunctions2_function
  modules/cloud-function-v2/README.md
  modules/cloud-function-v2/main.tf
  modules/cloud-function-v2/variables.tf
Labels: on:modules

#1977 Add example to FAST GKE stage, streamline GKE Hub module variables and usage
  blueprints/gke/multi-cluster-mesh-gke-fleet-api/gke.tf
  blueprints/gke/multitenant-fleet/README.md
  blueprints/gke/multitenant-fleet/main.tf
  blueprints/gke/multitenant-fleet/variables.tf
  fast/stages/3-gke-multitenant/dev/README.md
  modules/gke-hub/README.md
  modules/gke-hub/variables.tf
  tests/modules/gke_hub/examples/full.yaml
Labels: on:modules, on:blueprints

#1996 Fix factory default value for rule ports in firewall policy module
  modules/net-firewall-policy/README.md
  modules/net-firewall-policy/factory.tf
  modules/net-firewall-policy/hierarchical.tf
  tests/modules/net_firewall_policy/examples/factory.yaml
Labels: on:modules

#1997 Update checklist parsing for top-level key
  fast/stages/0-bootstrap/checklist.tf
  fast/stages/1-resman/checklist.tf
  tests/fast/stages/s0_bootstrap/checklist.yaml
  tests/fast/stages/s0_bootstrap/data/checklist-data.json
  tests/fast/stages/s0_bootstrap/data/checklist-org-iam.json
  tests/fast/stages/s1_resman/checklist.yaml
Labels: on:FAST

#1999 Added Enabled Kubernetes Beta APIs feature
  modules/gke-cluster-autopilot/README.md
  modules/gke-cluster-autopilot/main.tf
  modules/gke-cluster-autopilot/variables.tf
  modules/gke-cluster-standard/README.md
  modules/gke-cluster-standard/main.tf
  modules/gke-cluster-standard/variables.tf
Labels: on:modules

#2000 Checklist attribution bucket
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/checklist.tf
  tests/fast/stages/s0_bootstrap/checklist.yaml
  tests/fast/stages/s0_bootstrap/data/checklist-data.json
  tests/fast/stages/s0_bootstrap/data/checklist-org-iam.json
  tests/fast/stages/s1_resman/checklist.yaml
Labels: on:FAST

#2005 Fix named ranges behaviour if cidr_tpl_file variable not provided.
  modules/net-vpc-firewall/README.md
  modules/net-vpc-firewall/main.tf
Labels: on:modules

#2001 Marcwo/dataform module
  README.md
  modules/README.md
  modules/dataform-repository/README.md
  modules/dataform-repository/iam.tf
  modules/dataform-repository/main.tf
  modules/dataform-repository/variables.tf
  modules/dataform-repository/versions.tf
Labels: on:modules, on:documentation

#2009 Tighten up security of automation project (CSPR-related)
  fast/stages/0-bootstrap/automation.tf
  modules/project/main.tf
  tests/fast/stages/s0_bootstrap/checklist.yaml
  tests/fast/stages/s0_bootstrap/simple.yaml
Labels: on:FAST, on:modules, cspr

#2010 Add support for essential contacts to FAST (CSPR-related)
  fast/stages/0-bootstrap/automation.tf
  fast/stages/0-bootstrap/billing.tf
  fast/stages/0-bootstrap/log-export.tf
  fast/stages/0-bootstrap/organization-iam.tf
  fast/stages/1-resman/branch-data-platform.tf
  fast/stages/1-resman/branch-teams.tf
  fast/stages/2-networking-a-peering/README.md
  fast/stages/2-networking-a-peering/main.tf
  fast/stages/2-networking-a-peering/variables.tf
  fast/stages/2-networking-b-vpn/README.md
  fast/stages/2-networking-b-vpn/main.tf
  fast/stages/2-networking-b-vpn/variables.tf
  fast/stages/2-networking-c-nva/README.md
  fast/stages/2-networking-c-nva/main.tf
  fast/stages/2-networking-c-nva/variables.tf
  fast/stages/2-networking-d-separate-envs/README.md
  fast/stages/2-networking-d-separate-envs/main.tf
  fast/stages/2-networking-d-separate-envs/variables.tf
  fast/stages/2-networking-e-nva-bgp/README.md
  fast/stages/2-networking-e-nva-bgp/main.tf
  fast/stages/2-networking-e-nva-bgp/variables.tf
  fast/stages/2-security/README.md
  fast/stages/2-security/main.tf
  modules/folder/README.md
  modules/folder/main.tf
  modules/folder/outputs.tf
  modules/organization/main.tf
  modules/project/main.tf
  tests/fast/stages/s0_bootstrap/checklist.yaml
  tests/fast/stages/s0_bootstrap/simple.yaml
  tests/fast/stages/s2_networking_a_peering/common.tfvars
  tests/fast/stages/s2_networking_a_peering/stage.yaml
  tests/fast/stages/s2_networking_b_vpn/common.tfvars
  tests/fast/stages/s2_networking_b_vpn/stage.yaml
  tests/fast/stages/s2_networking_c_nva/common.tfvars
  tests/fast/stages/s2_networking_c_nva/stage.yaml
  tests/fast/stages/s2_networking_d_separate_envs/common.tfvars
  tests/fast/stages/s2_networking_d_separate_envs/stage.yaml
  tests/fast/stages/s2_networking_e_nva_bgp/common.tfvars
  tests/fast/stages/s2_networking_e_nva_bgp/stage.yaml
Labels: on:FAST, on:modules, cspr

#2002 Fixes and additional support for ssl_mode for CloudSQL module
  modules/cloudsql-instance/README.md
  modules/cloudsql-instance/main.tf
  modules/cloudsql-instance/outputs.tf
  modules/cloudsql-instance/variables.tf
Labels: on:modules

#2012 Add support for target_resources to net-firewall-policy module
  modules/net-firewall-policy/README.md
  modules/net-firewall-policy/factory.tf
  modules/net-firewall-policy/hierarchical.tf
  modules/net-firewall-policy/variables.tf
Labels: on:modules

#2014 Enforce trusted image projects constraint in FAST bootstrap (CSPR-related)
  fast/stages/0-bootstrap/data/org-policies/compute.yaml
  tests/fast/stages/s0_bootstrap/checklist.yaml
  tests/fast/stages/s0_bootstrap/simple.yaml
Labels: on:FAST, cspr

#2013 Add Tag Template module
  README.md
  modules/README.md
  modules/data-catalog-tag-template/README.md
  modules/data-catalog-tag-template/iam.tf
  modules/data-catalog-tag-template/main.tf
  modules/data-catalog-tag-template/outputs.tf
  modules/data-catalog-tag-template/variables.tf
  modules/data-catalog-tag-template/versions.tf
Labels: on:modules, on:documentation

#2015 Fix typo in logging sinks implementation
  modules/billing-account/README.md
  modules/billing-account/logging.tf
  modules/billing-account/variables.tf
  modules/folder/README.md
  modules/folder/logging.tf
  modules/folder/variables.tf
  modules/organization/README.md
  modules/organization/logging.tf
  modules/organization/variables.tf
  modules/project/README.md
  modules/project/logging.tf
  modules/project/variables.tf
  tests/modules/folder/examples/logging.yaml
  tests/modules/organization/examples/logging.yaml
  tests/modules/project/examples/logging.yaml
Labels: on:modules

#2019 Fix sourcerepo templates and concat call
  fast/assets/templates/workflow-sourcerepo.yaml
  fast/stages-multitenant/0-bootstrap-tenant/templates/workflow-sourcerepo.yaml
  fast/stages-multitenant/1-resman-tenant/templates/workflow-sourcerepo.yaml
  fast/stages/0-bootstrap/cicd.tf
  fast/stages/0-bootstrap/templates/workflow-sourcerepo.yaml
Labels: on:FAST

#2008 Updated the DataQualitySpec for Dataplex Datascan
  modules/dataplex-datascan/README.md
  modules/dataplex-datascan/main.tf
  modules/dataplex-datascan/variables.tf
Labels: on:modules

#2032 Selectively enable logging in FAST and firewall policy module rules
  fast/stages/2-networking-a-peering/data/hierarchical-ingress-rules.yaml
  fast/stages/2-networking-b-vpn/data/hierarchical-ingress-rules.yaml
  fast/stages/2-networking-c-nva/data/hierarchical-ingress-rules.yaml
  fast/stages/2-networking-d-separate-envs/data/hierarchical-ingress-rules.yaml
  fast/stages/2-networking-e-nva-bgp/data/hierarchical-ingress-rules.yaml
  modules/net-firewall-policy/README.md
  tests/modules/net_firewall_policy/examples/global-net.yaml
  tests/modules/net_firewall_policy/examples/hierarchical.yaml
Labels: on:FAST

#2033 Add DNS query logging to FAST net stages
  fast/stages/2-networking-a-peering/README.md
  fast/stages/2-networking-a-peering/dns-dev.tf
  fast/stages/2-networking-a-peering/dns-landing.tf
  fast/stages/2-networking-a-peering/dns-prod.tf
  fast/stages/2-networking-a-peering/variables.tf
  fast/stages/2-networking-b-vpn/README.md
  fast/stages/2-networking-b-vpn/dns-dev.tf
  fast/stages/2-networking-b-vpn/dns-landing.tf
  fast/stages/2-networking-b-vpn/dns-prod.tf
  fast/stages/2-networking-b-vpn/variables.tf
  fast/stages/2-networking-c-nva/README.md
  fast/stages/2-networking-c-nva/dns-dev.tf
  fast/stages/2-networking-c-nva/dns-landing.tf
  fast/stages/2-networking-c-nva/dns-prod.tf
  fast/stages/2-networking-c-nva/variables.tf
  fast/stages/2-networking-d-separate-envs/README.md
  fast/stages/2-networking-d-separate-envs/dns-dev.tf
  fast/stages/2-networking-d-separate-envs/dns-prod.tf
  fast/stages/2-networking-d-separate-envs/variables.tf
  fast/stages/2-networking-e-nva-bgp/README.md
  fast/stages/2-networking-e-nva-bgp/dns-dev.tf
  fast/stages/2-networking-e-nva-bgp/dns-landing.tf
  fast/stages/2-networking-e-nva-bgp/dns-prod.tf
  fast/stages/2-networking-e-nva-bgp/variables.tf
  tests/fast/stages/s2_networking_a_peering/common.tfvars
  tests/fast/stages/s2_networking_a_peering/stage.yaml
  tests/fast/stages/s2_networking_b_vpn/common.tfvars
  tests/fast/stages/s2_networking_b_vpn/stage.yaml
  tests/fast/stages/s2_networking_c_nva/common.tfvars
  tests/fast/stages/s2_networking_c_nva/stage.yaml
  tests/fast/stages/s2_networking_d_separate_envs/common.tfvars
  tests/fast/stages/s2_networking_d_separate_envs/stage.yaml
  tests/fast/stages/s2_networking_e_nva_bgp/common.tfvars
  tests/fast/stages/s2_networking_e_nva_bgp/stage.yaml
Labels: on:FAST
