Repository GoogleCloudPlatform/cloud-foundation-fabric, pull requests merged in 2024-11, with the labels that each got.

#2653 Add required enabled field introduced in Terraform version 5.41.0
  modules/gke-hub/main.tf
Labels: on:modules

#2656 Fix permadiff in bootstrap IAM
  fast/stages/0-bootstrap/organization.tf
  tests/fast/stages/s0_bootstrap/simple.yaml
Labels: on:FAST

#2514 New SecOps blueprints section and SecOps GKE Forwarder
  blueprints/README.md
  blueprints/secops/README.md
  blueprints/secops/secops-gke-forwarder/OWNERS
  blueprints/secops/secops-gke-forwarder/README.md
  blueprints/secops/secops-gke-forwarder/images/cloud-shell-button.png
  blueprints/secops/secops-gke-forwarder/images/diagram.png
  blueprints/secops/secops-gke-forwarder/main.tf
  blueprints/secops/secops-gke-forwarder/outputs.tf
  blueprints/secops/secops-gke-forwarder/secops-forwarder-deployment/data/default-config.yaml.tpl
  blueprints/secops/secops-gke-forwarder/secops-forwarder-deployment/main.tf
  blueprints/secops/secops-gke-forwarder/secops-forwarder-deployment/manifests/service-attachment.yaml
  blueprints/secops/secops-gke-forwarder/secops-forwarder-deployment/outputs.tf
  blueprints/secops/secops-gke-forwarder/secops-forwarder-deployment/ssl.tf
  blueprints/secops/secops-gke-forwarder/secops-forwarder-deployment/variables.tf
  blueprints/secops/secops-gke-forwarder/secops-forwarder-deployment/versions_override.tf
  blueprints/secops/secops-gke-forwarder/variables.tf
  blueprints/secops/secops-gke-forwarder/versions.tf
Labels: on:blueprints

#2666 Update SWP
  modules/net-swp/README.md
  modules/net-swp/main.tf
  modules/net-swp/variables.tf
  tests/modules/net_swp/examples/tls-no-ip.yaml
Labels: on:modules

#2668 SWP: remove condition from `addresses` variable and make it null by default
  modules/net-swp/README.md
  modules/net-swp/variables.tf
Labels: on:modules

#2669 Additional examples for Cloud Run and Cloud SQL
  modules/cloud-run-v2/README.md
  modules/cloudsql-instance/README.md
  tests/modules/cloud_run_v2/examples/cloudsql.yaml
  tests/modules/cloudsql_instance/examples/custom.yaml
Labels: on:modules

#2670 Fix the location of the GCS and NFS attributes
  modules/cloud-run-v2/job.tf
Labels: on:modules

#2660 Refactor changelog for the new release process
  tools/changelog.py
Labels: on:tools

#2673 bump modules/README github tag reference
  modules/README.md
Labels: on:modules

#2676 Fix "inconsistent conditional result types" error in `modules/vpc-sc`
  modules/vpc-sc/README.md
  modules/vpc-sc/factory.tf
Labels: on:modules

#2680 Swap groups_iam/iam_group for iam_by_principals in bootstrap README
  fast/stages/0-bootstrap/README.md
Labels: on:FAST

#2681 Keeping my contributor status :)
  fast/README.md
Labels: on:FAST

#2683 Add missing roles to project factory ro SA in stage 1
  fast/stages/1-resman/README.md
  fast/stages/1-resman/stage-2-networking.tf
  fast/stages/1-resman/stage-2-security.tf
  fast/stages/1-resman/variables-fast.tf
  tests/fast/stages/s1_resman/simple.yaml
Labels: on:FAST

#2682 Add support for service account in pubsub module bigquery subscriptions
  modules/pubsub/README.md
  modules/pubsub/main.tf
  modules/pubsub/variables.tf
  tests/modules/pubsub/examples/bigquery-subscription-with-service-account.yaml
Labels: on:modules

#2686 Fix gcs & NFS mounts for cloud-run-v2 service
  modules/cloud-run-v2/README.md
  modules/cloud-run-v2/service.tf
  tests/modules/cloud_run_v2/examples/gcs-mount.yaml
Labels: on:modules

#2692 Fix examples for GCS mount
  modules/cloud-run-v2/README.md
  tests/modules/cloud_run_v2/examples/gcs-mount.yaml
  tests/modules/cloud_run_v2/examples/service-beta-features.yaml
Labels: on:modules

#2688 Streamline environments variable across stages
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/outputs.tf
  fast/stages/0-bootstrap/variables.tf
  fast/stages/1-resman/README.md
  fast/stages/1-resman/main.tf
  fast/stages/1-resman/organization.tf
  fast/stages/1-resman/outputs.tf
  fast/stages/1-resman/stage-2-networking.tf
  fast/stages/1-resman/stage-2-security.tf
  fast/stages/1-resman/stage-3.tf
  fast/stages/1-resman/variables-fast.tf
  fast/stages/1-resman/variables.tf
  fast/stages/2-networking-a-simple/README.md
  fast/stages/2-networking-a-simple/main.tf
  fast/stages/2-networking-a-simple/net-dev.tf
  fast/stages/2-networking-a-simple/net-prod.tf
  fast/stages/2-networking-a-simple/variables-fast.tf
  fast/stages/2-networking-b-nva/README.md
  fast/stages/2-networking-b-nva/main.tf
  fast/stages/2-networking-b-nva/net-dev.tf
  fast/stages/2-networking-b-nva/net-prod.tf
  fast/stages/2-networking-b-nva/variables-fast.tf
  fast/stages/2-networking-c-separate-envs/README.md
  fast/stages/2-networking-c-separate-envs/main.tf
  fast/stages/2-networking-c-separate-envs/net-dev.tf
  fast/stages/2-networking-c-separate-envs/net-prod.tf
  fast/stages/2-networking-c-separate-envs/variables-fast.tf
  fast/stages/2-security/README.md
  fast/stages/2-security/core-dev.tf
  fast/stages/2-security/core-prod.tf
  fast/stages/2-security/main.tf
  fast/stages/2-security/variables-fast.tf
  tests/fast/stages/s1_resman/simple.tfvars
  tests/fast/stages/s2_networking_a_simple/ncc.tfvars
  tests/fast/stages/s2_networking_a_simple/simple.tfvars
  tests/fast/stages/s2_networking_a_simple/vpn.tfvars
  tests/fast/stages/s2_networking_b_nva/ncc-ra.tfvars
  tests/fast/stages/s2_networking_b_nva/regional.tfvars
  tests/fast/stages/s2_networking_b_nva/simple.tfvars
  tests/fast/stages/s2_networking_c_separate_envs/simple.tfvars
  tests/fast/stages/s2_security/simple.tfvars
  tools/changelog.py
Labels: on:FAST, on:tools

#2694 Make project iam viewer name consistent with GCP naming
  fast/stages/0-bootstrap/data/custom-roles/project_iam_viewer.yaml
  tests/fast/stages/s0_bootstrap/simple.yaml
  tests/fast/stages/s1_resman/simple.tfvars
Labels: on:FAST

#2693 Unify usage of top level folders short_name
  fast/stages/1-resman/README.md
  fast/stages/1-resman/data/top-level-folders/gcve.yaml
  fast/stages/1-resman/data/top-level-folders/gke.yaml
  fast/stages/1-resman/data/top-level-folders/sandbox.yaml
  fast/stages/1-resman/data/top-level-folders/teams.yaml
  fast/stages/1-resman/schemas/top-level-folder.schema.json
  fast/stages/1-resman/top-level-folders.tf
  fast/stages/1-resman/variables-toplevel-folders.tf
  tests/fast/stages/s1_resman/simple.yaml
Labels: on:FAST

#2699 Fix E2E tests
  modules/cloud-run-v2/README.md
  modules/iam-service-account/README.md
  modules/iam-service-account/outputs.tf
  modules/pubsub/README.md
  tests/modules/pubsub/examples/bigquery-subscription-with-service-account.yaml
Labels: on:modules

#2697 Remove REGIONAL/MULTI_REGIONAL buckets from FAST
  fast/stages/1-resman/main.tf
  fast/stages/1-resman/stage-2-network-security.tf
  fast/stages/1-resman/stage-2-networking.tf
  fast/stages/1-resman/stage-2-project-factory.tf
  fast/stages/1-resman/stage-2-security.tf
  fast/stages/1-resman/stage-3.tf
  tests/fast/stages/s1_resman/simple.yaml
Labels: on:FAST

#2700 Fix non-empty plan after mixing CloudSQL with other mounts
  modules/cloud-run-v2/job.tf
  modules/cloud-run-v2/service.tf
Labels: on:modules

#2702 Move direct vpc out of BETA
  modules/cloud-run-v2/README.md
  tests/modules/cloud_run_v2/examples/service-direct-vpc.yaml
Labels: on:modules

#2701 Allow disabling network security stage
  fast/stages/1-resman/stage-2-networking.tf
  fast/stages/1-tenant-factory/README.md
  fast/stages/1-tenant-factory/variables-fast.tf
  tests/fast/stages/s1_resman/simple.tfvars
  tests/fast/stages/s1_resman/simple.yaml
Labels: on:FAST

#2704 Added outputs to apigee-x-foundations blueprint (instances and lbs)
  blueprints/apigee/apigee-x-foundations/README.md
  blueprints/apigee/apigee-x-foundations/outputs.tf
Labels: on:blueprints

#2640 Add Automation Service Accounts Output
  fast/stages/2-project-factory/README.md
  fast/stages/2-project-factory/outputs.tf
  modules/project-factory/README.md
  modules/project-factory/outputs.tf
Labels: on:FAST, on:modules

#2707 Expose ` factories_config` for resman top level folders
  fast/stages/1-resman/README.md
  fast/stages/1-resman/data/top-level-folders/sandbox.yaml
  fast/stages/1-resman/schemas/top-level-folder.schema.json
  fast/stages/1-resman/top-level-folders.tf
  fast/stages/1-resman/variables-toplevel-folders.tf
  tests/fast/stages/s1_resman/simple.yaml
Labels: on:FAST

#2711 Allow providing network for Direct VPC access
  modules/cloud-run-v2/README.md
  modules/cloud-run-v2/job.tf
  modules/cloud-run-v2/service.tf
  modules/cloud-run-v2/variables.tf
Labels: on:modules

#2714 Remove stale resman validation
  fast/stages/1-resman/variables-stages.tf
Labels: on:FAST

#2715 Allow setting GCS location default/override in project factory
  fast/stages/2-project-factory/README.md
  fast/stages/2-project-factory/main.tf
  fast/stages/2-project-factory/variables-fast.tf
  modules/project-factory/README.md
  modules/project-factory/automation.tf
  modules/project-factory/variables.tf
Labels: on:FAST, on:modules

#2717 Change tfdoc pre-commit hook script to use while read
  tools/pre-commit-tfdoc.sh
Labels: on:tools

#2723 Fix not setting user defined password
  modules/cloudsql-instance/README.md
  modules/cloudsql-instance/main.tf
  modules/cloudsql-instance/variables.tf
Labels: on:modules

#2719 Allow factory files to be empty
  modules/net-vpc-firewall/main.tf
Labels: on:modules

#2706 Added min_instances, max_instances, min_throughput and max_throughtpu…
  blueprints/cloud-operations/unmanaged-instances-healthcheck/main.tf
  modules/cloud-function-v1/README.md
  modules/cloud-function-v1/main.tf
  modules/cloud-function-v1/variables.tf
  modules/cloud-function-v2/README.md
  modules/cloud-function-v2/main.tf
  modules/cloud-function-v2/variables.tf
Labels: on:modules, on:blueprints

#2727 Fix typo on maintenance config
  modules/alloydb/main.tf
Labels: on:modules

#2726 enable_private_path_for_google_cloud_services added to CloudSQL
  modules/cloudsql-instance/README.md
  modules/cloudsql-instance/main.tf
  modules/cloudsql-instance/variables.tf
  tests/modules/cloudsql_instance/examples/simple.yaml
Labels: on:modules

#2730 Run tests and linting when pushing to master or fast-dev
  .github/workflows/linting.yml
  .github/workflows/tests.yml
Labels: on:tools

#2731 Add missing role to FAST stage 0 org-level delegated IAM grants
  fast/stages/0-bootstrap/organization.tf
Labels: on:FAST

#2733 Updating yaml naming in prod subnet folder to match other lifecycles
  fast/stages/2-networking-b-nva/data/subnets/prod/prod-default-pri.yaml
  fast/stages/2-networking-b-nva/data/subnets/prod/prod-default-sec.yaml
Labels: on:FAST, breaks:fast

#2739 Add basename to SWP policy rules factory
  modules/net-swp/policy-rules.tf
Labels: on:modules

#2734 Allow override of GKE Nodepool SA Display Name
  modules/gke-nodepool/README.md
  modules/gke-nodepool/main.tf
  modules/gke-nodepool/variables.tf
Labels: on:modules

#2741 Add support for secret manager config to gke cluster modules
  modules/gke-cluster-autopilot/README.md
  modules/gke-cluster-autopilot/main.tf
  modules/gke-cluster-autopilot/variables.tf
  modules/gke-cluster-standard/README.md
  modules/gke-cluster-standard/main.tf
  modules/gke-cluster-standard/variables.tf
Labels: on:modules
