Repository GoogleCloudPlatform/cloud-foundation-fabric, pull requests merged in 2025-02, with the labels that each got.

#2863 Deprecate composer-2 blueprint
  blueprints/README.md
  blueprints/data-solutions/README.md
  blueprints/data-solutions/composer-2/OWNERS
  blueprints/data-solutions/composer-2/README.md
  blueprints/data-solutions/composer-2/backend.tf.sample
  blueprints/data-solutions/composer-2/composer.tf
  blueprints/data-solutions/composer-2/diagram.png
  blueprints/data-solutions/composer-2/main.tf
  blueprints/data-solutions/composer-2/outputs.tf
  blueprints/data-solutions/composer-2/variables.tf
Labels: on:blueprints

#2864 Workflow fix
  fast/stages/1-resman/outputs-cicd.tf
Labels: on:FAST

#2862 update docs: clarify 0-bootstrap.auto.tfvars creation and outputs_loc…
  fast/stages/0-bootstrap/README.md
Labels: on:FAST

#2867 Disable E2E test for direct VPC Egress
  modules/cloud-run-v2/README.md
Labels: on:modules

#2870 Add dependency for compute-vm schedule
  modules/compute-vm/README.md
Labels: on:modules

#2872 Add bucket IAM policy read
  fast/stages/0-bootstrap/data/custom-roles/organization_admin_viewer.yaml
  fast/stages/1-resman/data/top-level-folders/teams.yaml
  tests/fast/stages/s1_resman/simple.yaml
Labels: on:FAST

#2874 Add note about the use of n-stagename/moved/ files during upgrade
  fast/stages/UPGRADING.md
Labels: on:FAST

#2875 New FAST stages diagram
  fast/stages/diagrams.excalidraw.gz
Labels: on:FAST

#2876 Add context to organization policiy factories
  modules/folder/README.md
  modules/folder/organization-policies.tf
  modules/folder/variables.tf
  modules/organization/README.md
  modules/organization/organization-policies.tf
  modules/organization/variables.tf
  modules/project/README.md
  modules/project/organization-policies.tf
  modules/project/variables.tf
  tests/modules/folder/examples/org-policies.yaml
  tests/modules/organization/test_plan_org_policies_modules.py
  tests/modules/project/examples/org-policies.yaml
Labels: on:modules

#2879 Address outstanding load balancer FRs
  blueprints/apigee/apigee-x-foundations/northbound.tf
  blueprints/serverless/cloud-run-explore/main.tf
  blueprints/serverless/cloud-run-explore/outputs.tf
  blueprints/third-party-solutions/phpipam/glb.tf
  modules/net-lb-app-ext-regional/README.md
  modules/net-lb-app-ext-regional/backend-service.tf
  modules/net-lb-app-ext-regional/main.tf
  modules/net-lb-app-ext-regional/variables.tf
  modules/net-lb-app-ext/README.md
  modules/net-lb-app-ext/main.tf
  modules/net-lb-app-ext/outputs.tf
  modules/net-lb-app-ext/variables.tf
  tests/modules/net_lb_app_ext/examples/classic-vs-non-classic.yaml
  tests/modules/net_lb_app_ext/examples/complex-example.yaml
  tests/modules/net_lb_app_ext/examples/health-check-1.yaml
  tests/modules/net_lb_app_ext/examples/health-check-2.yaml
  tests/modules/net_lb_app_ext/examples/http-backends.yaml
  tests/modules/net_lb_app_ext/examples/http-https-redirect.yaml
  tests/modules/net_lb_app_ext/examples/https-backends.yaml
  tests/modules/net_lb_app_ext/examples/https-sneg.yaml
  tests/modules/net_lb_app_ext/examples/hybrid-neg.yaml
  tests/modules/net_lb_app_ext/examples/instance-groups.yaml
  tests/modules/net_lb_app_ext/examples/internet-neg.yaml
  tests/modules/net_lb_app_ext/examples/managed-instance-groups.yaml
  tests/modules/net_lb_app_ext/examples/minimal-http.yaml
  tests/modules/net_lb_app_ext/examples/network-endpoint-groups.yaml
  tests/modules/net_lb_app_ext/examples/serverless-neg.yaml
  tests/modules/net_lb_app_ext/examples/ssl-certificates.yaml
  tests/modules/net_lb_app_ext/examples/storage.yaml
  tests/modules/net_lb_app_ext/examples/url-map.yaml
  tests/modules/net_lb_app_ext/examples/zonal-neg-creation.yaml
  tests/modules/net_lb_app_ext/test-plan.yaml
Labels: on:modules, on:blueprints

#2888 Add restrictProtocolForwardingCreationForTypes to FAST import policies
  fast/stages/0-bootstrap/organization.tf
Labels: on:FAST

#2892 Add universe support to iam-service-accounts
  modules/iam-service-account/main.tf
  tests/modules/iam_service_account/tftest.yaml
  tests/modules/iam_service_account/universe.tfvars
  tests/modules/iam_service_account/universe.yaml
Labels: on:modules

#2894 Make service agents work in different universes
  blueprints/data-solutions/bq-ml/README.md
  blueprints/data-solutions/data-playground/README.md
  blueprints/data-solutions/vertex-mlops/README.md
  modules/project/README.md
  modules/project/service-agents.tf
  modules/project/service-agents.yaml
  tests/modules/gke_hub/examples/full.yaml
  tests/modules/project/examples/basic.yaml
  tests/modules/project/examples/data.yaml
  tests/modules/project/examples/iam-authoritative.yaml
  tests/modules/project/examples/shared-vpc-auto-grants.yaml
  tests/modules/project/examples/shared-vpc-host-project-iam.yaml
  tests/modules/project/examples/shared-vpc.yaml
  tests/modules/project_factory/examples/example.yaml
  tools/build_service_agents.py
Labels: on:tools, on:modules, on:blueprints, universe

#2794 New SecOps anonymization pipeline
  .github/workflows/tests.yml
  blueprints/secops/README.md
  fast/project-templates/secops-anonymization-pipeline/README.md
  fast/project-templates/secops-anonymization-pipeline/dlp.tf
  fast/project-templates/secops-anonymization-pipeline/images/cloud-shell-button.png
  fast/project-templates/secops-anonymization-pipeline/images/diagram.png
  fast/project-templates/secops-anonymization-pipeline/main.tf
  fast/project-templates/secops-anonymization-pipeline/outputs.tf
  fast/project-templates/secops-anonymization-pipeline/project.yaml
  fast/project-templates/secops-anonymization-pipeline/source/dlp_job_template.json.tpl
  fast/project-templates/secops-anonymization-pipeline/source/main.py
  fast/project-templates/secops-anonymization-pipeline/source/requirements.txt
  fast/project-templates/secops-anonymization-pipeline/source/shared/__init__.py
  fast/project-templates/secops-anonymization-pipeline/source/shared/secops.py
  fast/project-templates/secops-anonymization-pipeline/source/shared/utils.py
  fast/project-templates/secops-anonymization-pipeline/variables.tf
Labels: on:FAST, on:tools, on:blueprints

#2898 Add support for locality policies to net-lb-app-ext module
  modules/net-lb-app-ext/README.md
  modules/net-lb-app-ext/backend-service.tf
  modules/net-lb-app-ext/variables-backend-service.tf
  tests/modules/net_lb_app_ext/test-plan-llp.tfvars
  tests/modules/net_lb_app_ext/test-plan-llp.yaml
  tests/modules/net_lb_app_ext/tftest.yaml
Labels: on:modules

#2901 Add CA chain output to CAS module
  modules/certificate-authority-service/README.md
  modules/certificate-authority-service/outputs.tf
Labels: on:modules

#2902 Allow passing explicit regions in net test addon subnets
  fast/addons/2-networking-test/context.tf
Labels: on:FAST

#2886 Increase the default complexity of Cloud SQL DB passwords
  modules/cloudsql-instance/README.md
  modules/cloudsql-instance/main.tf
  modules/cloudsql-instance/variables.tf
  tests/modules/cloudsql_instance/examples/custom.yaml
Labels: on:modules

#2904 Fix default compute.restrictProtocolForwardingCreationForTypes value
  fast/stages/0-bootstrap/data/org-policies/compute.yaml
  tests/fast/stages/s0_bootstrap/simple_org_policies.yaml
Labels: on:FAST

#2908 Add breaking changes to changelog
  .github/pull_request_template.md
  CHANGELOG.md
  tools/changelog.py
Labels: on:tools

#2910 Add ssl_mode support to cloudsql-instance replicas
  modules/cloudsql-instance/README.md
  modules/cloudsql-instance/main.tf
  modules/cloudsql-instance/variables.tf
Labels: on:modules, breaks:modules

#2913 feat: adding generated_id for backends to net-lb-app-ext
  modules/net-lb-app-ext/README.md
  modules/net-lb-app-ext/outputs.tf
  tests/modules/net_lb_app_ext/test-plan.yaml
Labels: on:modules

#2914 Add provider output files to project factory stage, single automation bucket in module
  fast/project-templates/.gitignore
  fast/stages/2-project-factory/README.md
  fast/stages/2-project-factory/data/projects/dev-ta-0.yaml
  fast/stages/2-project-factory/outputs.tf
  fast/stages/2-project-factory/templates/providers.tf.tpl
  modules/project-factory/README.md
  modules/project-factory/automation.tf
  modules/project-factory/outputs.tf
  modules/project-factory/schemas/project.schema.json
  tests/modules/project_factory/examples/example.yaml
Labels: on:FAST, on:modules, breaks:modules, breaks:fast

#2915 output dns_keys instead of a list
  modules/dns/outputs.tf
Labels: on:modules

#2916 Add support for custom error response policies to net_lb_app_ext module
  modules/net-lb-app-ext/README.md
  modules/net-lb-app-ext/urlmap.tf
  modules/net-lb-app-ext/variables-urlmap.tf
Labels: on:modules

#2917 Add error messages for failing interpolations
  modules/project-factory/main.tf
Labels: on:modules

#2920 Fix KMS service agent when universe is set
  modules/project/service-agents.tf
Labels: on:modules

#2921 Add execution/invocation commands to outputs
  modules/cloud-function-v1/README.md
  modules/cloud-function-v1/outputs.tf
  modules/cloud-function-v2/README.md
  modules/cloud-function-v2/outputs.tf
  modules/cloud-run-v2/README.md
  modules/cloud-run-v2/outputs.tf
  modules/cloud-run/README.md
  modules/cloud-run/outputs.tf
  modules/compute-vm/README.md
  modules/compute-vm/outputs.tf
Labels: on:modules

#2919 Add perimeter factory to `modules/vpc-sc`
  modules/vpc-sc/README.md
  modules/vpc-sc/access-levels.tf
  modules/vpc-sc/factory.tf
  modules/vpc-sc/schemas/perimeters.schema.json
  modules/vpc-sc/service-perimeters-bridge.tf
  modules/vpc-sc/service-perimeters-regular.tf
  modules/vpc-sc/variables.tf
  tests/modules/vpc_sc/examples/bridge.yaml
  tests/modules/vpc_sc/examples/factory.yaml
  tests/modules/vpc_sc/examples/regular.yaml
Labels: on:modules

#2923 Fix CICD SA access
  fast/stages/1-resman/stage-2.tf
Labels: on:FAST

#2925 Fix E2E tests using modules/project project_create
  modules/compute-vm/README.md
  modules/gcs/README.md
  tests/modules/compute_vm/examples/instance-schedule-create.yaml
Labels: on:modules

#2924 Add limits for stage_names and environment
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/variables.tf
  fast/stages/1-resman/README.md
  fast/stages/1-resman/variables-stages.tf
Labels: on:FAST

#2926 Fix project ids in ingress policy resources
  modules/vpc-sc/service-perimeters-regular.tf
Labels: on:modules

#2927 fix(bootstrap): fix custom roles billing viewer duplicate permissions
  fast/stages/0-bootstrap/data/custom-roles/billing_viewer.yaml
Labels: on:FAST

#2929 Expose tags in project factory
  modules/project-factory/README.md
  modules/project-factory/factory-projects.tf
  modules/project-factory/main.tf
  modules/project-factory/schemas/project.schema.json
  modules/project/variables-tags.tf
  tests/modules/project_factory/examples/example.yaml
Labels: on:modules

#2931 Fixed title: from Artifact Registry to Binary Authorization
  modules/binauthz/README.md
Labels: on:modules

#2933 Fix failing E2E test for module/project
  modules/project/README.md
  tests/modules/project/examples/data.yaml
Labels: on:modules
