Repository GoogleCloudPlatform/cloud-foundation-fabric, pull requests merged in 2025-03, with the labels that each got.

#2935 Introduce test isolation and fix missing GCS service account
  modules/cloudsql-instance/README.md
  modules/net-vpc/README.md
  tests/examples_e2e/conftest.py
  tests/examples_e2e/setup_module/main.tf
  tests/examples_e2e/test_plan.py
  tests/fixtures.py
Labels: on:modules

#2936 Fix broken link in GCP Data Services blueprints
  blueprints/data-solutions/README.md
Labels: on:blueprints

#2941 Fast 2-networking-a README update
  fast/stages/2-networking-a-simple/README.md
Labels: on:FAST

#2947 Fix output in VPC-SC FAST stage
  fast/stages/1-vpcsc/outputs.tf
Labels: on:FAST

#2948 Use full type definition in project-factory
  modules/project-factory/factory-projects.tf
Labels: on:modules

#2949 `net-vpc`: fix permadiff in docs
  modules/net-vpc/README.md
  tests/modules/net_vpc/examples/routes.yaml
Labels: on:modules

#2952 feat(artifact-registry): Add possibility to setup Docker common remote repository configuration
  modules/artifact-registry/README.md
  modules/artifact-registry/main.tf
  modules/artifact-registry/variables.tf
Labels: on:modules

#2956 Update GKE addons and features
  modules/gke-cluster-autopilot/README.md
  modules/gke-cluster-autopilot/variables.tf
  modules/gke-cluster-standard/README.md
  modules/gke-cluster-standard/variables.tf
  tests/modules/gke_cluster_standard/examples/access-private.yaml
  tests/modules/gke_cluster_standard/examples/access-public.yaml
  tests/modules/gke_cluster_standard/examples/regional.yaml
  tests/modules/gke_hub/examples/full.yaml
Labels: on:modules

#2958 Fix subnet schema in net-vpc module & hybrid subnets example implementation
  modules/net-vpc/README.md
  modules/net-vpc/schemas/subnet.schema.json
  tests/modules/net_vpc/examples/subnet-options.yaml
Labels: on:modules

#2959 Rationalize project factory context interpolations for automation service accounts
  modules/project-factory/README.md
  modules/project-factory/automation.tf
  modules/project-factory/main.tf
  tests/modules/project_factory/examples/example.yaml
  tests/modules/project_factory/shared_vpc_network_user.yaml
Labels: on:modules

#2961 Update FAST stage diagram
  fast/README.md
  fast/stages.png
  fast/stages.svg
  fast/tenants-stages.png
  fast/tenants-stages.svg
Labels: on:FAST, on:modules

#2962 Adding enterprise_config -> desired_tier feature to GKE autopilot and…
  modules/gke-cluster-autopilot/README.md
  modules/gke-cluster-autopilot/main.tf
  modules/gke-cluster-autopilot/variables.tf
  modules/gke-cluster-standard/README.md
  modules/gke-cluster-standard/main.tf
  modules/gke-cluster-standard/variables.tf
Labels: on:modules

#2967 Allow to specify function egress settings without using a VPC connector
  fast/project-templates/secops-anonymization-pipeline/main.tf
  modules/cloud-function-v2/README.md
  modules/cloud-function-v2/main.tf
  modules/cloud-function-v2/variables.tf
Labels: on:FAST, on:modules

#2968 net-swp: Add example with transparent proxy and E2E test
  modules/net-swp/README.md
  modules/net-swp/main.tf
  modules/net-swp/policy-rules.tf
  tests/examples_e2e/setup_module/main.tf
  tests/modules/net_swp/examples/tls.yaml
  tests/modules/net_swp/examples/transparent-proxy.yaml
Labels: on:modules

#2973 net-lb-app-* support any ports now
  modules/net-lb-app-ext-regional/README.md
  modules/net-lb-app-ext-regional/variables.tf
  modules/net-lb-app-ext/README.md
  modules/net-lb-app-ext/main.tf
  modules/net-lb-app-ext/variables.tf
  modules/net-lb-app-int-cross-region/README.md
  modules/net-lb-app-int-cross-region/variables.tf
  modules/net-lb-app-int/README.md
  modules/net-lb-app-int/variables.tf
Labels: on:modules

#2974 Fix push subscription in pubsub module
  modules/pubsub/README.md
  modules/pubsub/main.tf
  modules/pubsub/variables.tf
Labels: on:modules

#2981 Fix issue 2978
  modules/project/shared-vpc.tf
Labels: on:modules

#2986 Mongodb Atlas cluster project template
  fast/project-templates/.gitignore
  fast/project-templates/data-mongodb/README.md
  fast/project-templates/data-mongodb/main.tf
  fast/project-templates/data-mongodb/outputs.tf
  fast/project-templates/data-mongodb/project.yaml
  fast/project-templates/data-mongodb/providers_override.tf
  fast/project-templates/data-mongodb/variables.tf
  fast/project-templates/os-apt-registries/project.yaml
  modules/net-address/README.md
  modules/net-address/outputs.tf
  modules/net-vpc/README.md
  tools/lockfile/default-versions_override.tf
Labels: on:FAST, on:tools, on:modules

#2988 Improve SecOps Anonymization pipeline
  fast/project-templates/secops-anonymization-pipeline/README.md
  fast/project-templates/secops-anonymization-pipeline/main.tf
  fast/project-templates/secops-anonymization-pipeline/source/main.py
  fast/project-templates/secops-anonymization-pipeline/source/shared/secops.py
  fast/project-templates/secops-anonymization-pipeline/source/shared/utils.py
  fast/project-templates/secops-anonymization-pipeline/variables.tf
Labels: on:FAST

#2987 Project object c14n in separate file
  .github/workflows/linting.yml
  .pre-commit-config.yaml
  modules/project-factory/README.md
  modules/project-factory/factory-projects-object.tf
  modules/project-factory/factory-projects.tf
  tools/duplicate-diff.py
Labels: on:tools, on:modules

#2990 Merge master to fast dev
  .github/workflows/linting.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  modules/project-factory/README.md
  modules/project-factory/factory-projects-object.tf
  modules/project-factory/factory-projects.tf
  tools/duplicate-diff.py
Labels: on:tools, on:modules
