Repository GoogleCloudPlatform/cloud-foundation-fabric, pull requests merged in 2025-06, with the labels that each got.

#3128 Added multi-region API Gateway recipe, that was removed by accident
  modules/api-gateway/README.md
  modules/api-gateway/recipe-multi-region/README.md
  modules/api-gateway/recipe-multi-region/diagram.png
  modules/api-gateway/recipe-multi-region/function/index.js
  modules/api-gateway/recipe-multi-region/function/package-lock.json
  modules/api-gateway/recipe-multi-region/function/package.json
  modules/api-gateway/recipe-multi-region/main.tf
  modules/api-gateway/recipe-multi-region/outputs.tf
  modules/api-gateway/recipe-multi-region/spec.yaml
  modules/api-gateway/recipe-multi-region/variables.tf
Labels: on:modules

#3133 Add explicit errors when VPC-SC perimeters reference undefined directional policies
  modules/vpc-sc/README.md
  modules/vpc-sc/perimeters-additive.tf
  modules/vpc-sc/perimeters.tf
  modules/vpc-sc/variables.tf
Labels: on:modules

#3134 fix additional pod networks config creation in GKE node pool
  fast/stages/3-gke-dev/README.md
  fast/stages/3-gke-dev/variables.tf
  modules/gke-nodepool/README.md
  modules/gke-nodepool/main.tf
  modules/gke-nodepool/variables.tf
Labels: on:FAST, on:modules

#3135 CloudSQL - Create password resource only when needed
  modules/cloudsql-instance/README.md
  modules/cloudsql-instance/main.tf
  modules/cloudsql-instance/outputs.tf
  modules/cloudsql-instance/variables.tf
Labels: on:modules

#3137 Return instance ID not IP address
  modules/cloudsql-instance/outputs.tf
Labels: on:modules

#3129 Cloud Run with IAP recipe
  modules/net-lb-app-ext/README.md
  modules/net-lb-app-ext/recipe-cloud-run-iap/README.md
  modules/net-lb-app-ext/recipe-cloud-run-iap/diagram.png
  modules/net-lb-app-ext/recipe-cloud-run-iap/main.tf
  modules/net-lb-app-ext/recipe-cloud-run-iap/outputs.tf
  modules/net-lb-app-ext/recipe-cloud-run-iap/variables.tf
Labels: on:modules

#3141 Improve SWP transparent gateway example
  modules/net-swp/README.md
  tests/modules/net_swp/examples/transparent-proxy.yaml
Labels: on:modules

#3144 Fix #3142
  modules/project-factory/main.tf
Labels: on:modules

#3139 Added backend preference to global application load balancers
  modules/net-lb-app-ext/README.md
  modules/net-lb-app-ext/backend-service.tf
  modules/net-lb-app-ext/variables-backend-service.tf
Labels: on:modules

#3145 Add KMS keys interpolation to project factory
  fast/stages/2-project-factory/README.md
  fast/stages/2-project-factory/main.tf
  fast/stages/2-project-factory/variables-fast.tf
  fast/stages/2-project-factory/variables.tf
  modules/project-factory/README.md
  modules/project-factory/main.tf
  modules/project-factory/variables.tf
  tests/modules/project_factory/examples/example.yaml
Labels: on:FAST, on:modules

#3151 Added network tier to network interfaces in compute-vm module
  modules/compute-vm/README.md
  modules/compute-vm/main.tf
  modules/compute-vm/variables.tf
Labels: on:modules

#3153 Bring back master ipv4 cidr block
  modules/gke-cluster-autopilot/README.md
  modules/gke-cluster-autopilot/main.tf
  modules/gke-cluster-autopilot/variables.tf
  modules/gke-cluster-standard/README.md
  modules/gke-cluster-standard/main.tf
  modules/gke-cluster-standard/variables.tf
Labels: on:modules

#3157 Fixed problem with backend preference, changed it to boolean. Backend…
  modules/net-lb-app-ext/README.md
  modules/net-lb-app-ext/backend-service.tf
  modules/net-lb-app-ext/variables-backend-service.tf
Labels: on:modules

#3162 Improve and document org policy tags use in FAST resman stage
  fast/stages/0-bootstrap/data/custom-constraints/gke.yaml
  fast/stages/0-bootstrap/data/org-policies-managed/gke.yaml
  fast/stages/0-bootstrap/data/org-policies/gke.yaml
  fast/stages/1-resman/README.md
  fast/stages/1-resman/main.tf
  fast/stages/1-resman/organization-tags.tf
  fast/stages/1-resman/organization.tf
  tests/fast/stages/s0_bootstrap/cicd.yaml
  tests/fast/stages/s0_bootstrap/managed_org_policies.yaml
  tests/fast/stages/s0_bootstrap/simple.yaml
  tests/fast/stages/s0_bootstrap/simple_org_policies.yaml
Labels: on:FAST

#3160 Add notebooks, appengine and appspot to dns policy routing in FAST networking stage
  .pre-commit-config.yaml
  fast/stages/2-networking-a-simple/data/dns-policy-rules.yaml
  fast/stages/2-networking-b-nva/data/dns-policy-rules.yaml
  fast/stages/2-networking-c-separate-envs/data/dns-policy-rules.yaml
  tests/fast/stages/s2_networking_a_simple/ncc.yaml
  tests/fast/stages/s2_networking_a_simple/simple.yaml
  tests/fast/stages/s2_networking_a_simple/vpn.yaml
  tests/fast/stages/s2_networking_b_nva/ncc-ra.yaml
  tests/fast/stages/s2_networking_b_nva/regional.yaml
  tests/fast/stages/s2_networking_b_nva/simple.yaml
  tests/fast/stages/s2_networking_c_separate_envs/simple.yaml
  tools/duplicate-diff.py
Labels: on:FAST, on:tools

#3161 feat: ignores labels added by gh action in unmanaged cloud run service / job
  modules/cloud-run-v2/job.tf
  modules/cloud-run-v2/service.tf
Labels: on:modules

#3149 Add support for DNS zones to Apigee module
  modules/apigee/README.md
  modules/apigee/main.tf
  modules/apigee/variables.tf
Labels: on:modules

#3174 Fixed option to set descriptions for environment tag values
  fast/stages/1-resman/organization.tf
Labels: on:FAST

#3179 Bypass accounts.google.com in FAST DNS policy rules
  fast/stages/2-networking-a-simple/data/dns-policy-rules.yaml
  fast/stages/2-networking-b-nva/data/dns-policy-rules.yaml
  fast/stages/2-networking-c-separate-envs/data/dns-policy-rules.yaml
Labels: on:FAST, on:tools, on:modules

#3183 Revert "Bypass accounts.google.com in FAST DNS policy rules"
  fast/stages/2-networking-a-simple/data/dns-policy-rules.yaml
  fast/stages/2-networking-b-nva/data/dns-policy-rules.yaml
  fast/stages/2-networking-c-separate-envs/data/dns-policy-rules.yaml
Labels: on:FAST

#3184 Rename agentspace module to ai-applications
  README.md
  modules/README.md
  modules/ai-applications/README.md
  modules/ai-applications/engines.tf
  modules/ai-applications/main.tf
  modules/ai-applications/outputs.tf
  modules/ai-applications/variables.tf
  modules/ai-applications/versions.tf
  modules/ai-applications/versions.tofu
Labels: on:modules

#3180 Fixed hard-coded resource management tags (!var.tag_names)
  fast/stages/1-resman/organization.tf
  fast/stages/1-resman/stage-2.tf
  fast/stages/1-resman/stage-3.tf
Labels: on:FAST

#3189 [module/ai-applications] fix module for unexpected updates from APIs
  modules/ai-applications/README.md
  modules/ai-applications/engines.tf
  modules/ai-applications/main.tf
  modules/ai-applications/variables.tf
Labels: on:modules

#3178 Added tag factory option for organization module
  modules/organization/README.md
  modules/organization/tags.tf
  modules/organization/variables.tf
  modules/project/README.md
  modules/project/tags.tf
  modules/project/variables.tf
  tests/modules/organization/examples/tags-factory.yaml
  tests/modules/project/examples/tags-factory.yaml
Labels: enhancement, on:modules

#3190 Added option for tag factory in resman
  fast/stages/1-resman/README.md
  fast/stages/1-resman/organization.tf
  fast/stages/1-resman/variables.tf
Labels: on:FAST

#3193 Only consider active projects to default VPC SC perimeter
  fast/stages/1-vpcsc/main.tf
Labels: on:FAST

#3192 Added option to set force_destroy on pf buckets
  modules/project-factory/automation.tf
  modules/project-factory/factory-projects.tf
  modules/project-factory/main.tf
  modules/project-factory/schemas/project.schema.json
  modules/project-factory/schemas/project.schema.md
Labels: on:modules

#3198 Support user-defined tfvar files in resman CI/CD definitions
  fast/stages/1-resman/README.md
  fast/stages/1-resman/data/stage-2/project-factory.yaml
  fast/stages/1-resman/organization-tags.tf
  fast/stages/1-resman/outputs-cicd.tf
  fast/stages/1-resman/schemas/fast-stage2.schema.json
  fast/stages/1-resman/schemas/fast-stage2.schema.md
  fast/stages/1-resman/schemas/fast-stage3.schema.json
  fast/stages/1-resman/schemas/fast-stage3.schema.md
  fast/stages/1-resman/stage-2.tf
  fast/stages/1-resman/variables-stages.tf
Labels: on:FAST

#3197 Create (or import) subnets with empty description
  modules/net-vpc/subnets.tf
Labels: on:modules

#3199 Rename workflows config variable introduced in #3198
  fast/stages/1-resman/README.md
  fast/stages/1-resman/data/stage-2/project-factory.yaml
  fast/stages/1-resman/outputs-cicd.tf
  fast/stages/1-resman/schemas/fast-stage2.schema.json
  fast/stages/1-resman/schemas/fast-stage2.schema.md
  fast/stages/1-resman/schemas/fast-stage3.schema.json
  fast/stages/1-resman/schemas/fast-stage3.schema.md
  fast/stages/1-resman/stage-2.tf
  fast/stages/1-resman/stage-3.tf
  fast/stages/1-resman/variables-stages.tf
  fast/stages/2-networking-a-simple/schemas/subnet.schema.md
  fast/stages/2-networking-b-nva/schemas/subnet.schema.md
  fast/stages/2-networking-c-separate-envs/schemas/subnet.schema.md
  fast/stages/2-project-factory/schemas/project.schema.md
  modules/cloud-deploy/versions.tf
  modules/cloud-deploy/versions.tofu
  tests/fast/stages/s1_resman/simple.tfvars
  tests/fast/stages/s1_resman/simple.yaml
  tests/fixtures.py
Labels: on:FAST, on:modules

#3202 Fix ai-applications provider_meta
  modules/ai-applications/versions.tf
  modules/ai-applications/versions.tofu
Labels: on:modules

#3201 Update service-agents.yaml
  blueprints/data-solutions/bq-ml/README.md
  blueprints/data-solutions/data-playground/README.md
  blueprints/data-solutions/vertex-mlops/README.md
  modules/project/service-agents.yaml
Labels: on:modules, on:blueprints

#3203 Add PEP 723 dependencies to tfdoc.py, versions.py and build_service_agents.py
  CONTRIBUTING.md
  tools/build_service_agents.py
  tools/tfdoc.py
  tools/versions.py
Labels: on:tools
