Repository GoogleCloudPlatform/cloud-foundation-fabric, pull requests merged in 2025-07, with the labels that each got.

#3207 Update default FAST org policies
  .github/actions/fabric-tests/action.yml
  .github/workflows/tests.yml
  fast/stages/0-bootstrap/data/org-policies-managed/gke.yaml
  fast/stages/0-bootstrap/data/org-policies-managed/iam.yaml
  fast/stages/0-bootstrap/data/org-policies/gke.yaml
  fast/stages/0-bootstrap/data/org-policies/iam.yaml
  tests/fast/stages/s0_bootstrap/cicd.yaml
  tests/fast/stages/s0_bootstrap/simple.yaml
  tests/fast/stages/s0_bootstrap/simple_org_policies.yaml
Labels: on:FAST, on:tools

#3210 Fix for service agent substitutions in project factory additive bindings
  modules/project-factory/main.tf
Labels: on:modules

#3213 Fixed bug in project network tier resource, it was not working if the project was not created
  modules/project/main.tf
Labels: on:modules

#3214 Changed psc address to be optional
  modules/net-address/README.md
  modules/net-address/variables.tf
Labels: on:modules

#3206 Adding Regional Internet NEGs support
  modules/net-lb-app-ext-regional/README.md
  modules/net-lb-app-ext-regional/backend-service.tf
  modules/net-lb-app-ext-regional/negs.tf
  modules/net-lb-app-ext-regional/outputs.tf
  modules/net-lb-app-ext-regional/variables-backend-service.tf
  modules/net-lb-app-ext-regional/variables.tf
Labels: on:modules

#3220 Add `tag_bindings` to Artifact Registry and Secret Manager modules.
  modules/artifact-registry/README.md
  modules/artifact-registry/main.tf
  modules/artifact-registry/variables.tf
  modules/secret-manager/README.md
  modules/secret-manager/main.tf
  modules/secret-manager/variables.tf
Labels: on:modules

#3224 Support regional instance templates in compute-vm module outputs
  modules/compute-vm/README.md
  modules/compute-vm/outputs.tf
  modules/compute-vm/template.tf
Labels: on:modules

#3211 Add Data Product Reference Example to FAST Data Platform Stage
  fast/stages/3-data-platform-dev/data-domains-composer.tf
  fast/stages/3-data-platform-dev/data/data-domains/domain-0/_config.yaml
  fast/stages/3-data-platform-dev/demo/.gitignore
  fast/stages/3-data-platform-dev/demo/README.md
  fast/stages/3-data-platform-dev/demo/composer/DAG-dp0/gcs2bq_elt.py
  fast/stages/3-data-platform-dev/demo/composer/DAG-dp0/gcs2bq_table_create.py
  fast/stages/3-data-platform-dev/demo/composer/variables.tf.tpl
  fast/stages/3-data-platform-dev/demo/data/get_thelook_data.sh
  fast/stages/3-data-platform-dev/demo/data/schemas/curated/customer_purchases.json
  fast/stages/3-data-platform-dev/demo/data/schemas/landing/order_items.json
  fast/stages/3-data-platform-dev/demo/data/schemas/landing/orders.json
  fast/stages/3-data-platform-dev/demo/data/schemas/landing/products.json
  fast/stages/3-data-platform-dev/demo/data/schemas/landing/users.json
  fast/stages/3-data-platform-dev/demo/diagram.png
  fast/stages/3-data-platform-dev/demo/main.tf
  fast/stages/3-data-platform-dev/demo/outputs.tf
  fast/stages/3-data-platform-dev/demo/providers.tf
  fast/stages/3-data-platform-dev/demo/terraform.tfvars.sample
  fast/stages/3-data-platform-dev/demo/variables.tf
  fast/stages/3-data-platform-dev/terraform.tfvars.sample
  fast/stages/diagrams.excalidraw.gz
  tests/fast/stages/s3_data_platform_dev/simple.yaml
Labels: on:FAST

#3237 Fixes force_destroy for project factory buckets
  modules/project-factory/factory-projects.tf
Labels: on:modules

#3223 Allow custom names and descriptions for load balancer components
  modules/net-lb-app-ext-regional/README.md
  modules/net-lb-app-ext-regional/backend-service.tf
  modules/net-lb-app-ext-regional/health-check.tf
  modules/net-lb-app-ext-regional/main.tf
  modules/net-lb-app-ext-regional/urlmap.tf
  modules/net-lb-app-ext-regional/variables-backend-service.tf
  modules/net-lb-app-ext-regional/variables-health-check.tf
  modules/net-lb-app-ext-regional/variables-urlmap.tf
  modules/net-lb-app-ext-regional/variables.tf
  modules/net-lb-app-ext/README.md
  modules/net-lb-app-ext/backend-service.tf
  modules/net-lb-app-ext/health-check.tf
  modules/net-lb-app-ext/main.tf
  modules/net-lb-app-ext/urlmap.tf
  modules/net-lb-app-ext/variables-backend-service.tf
  modules/net-lb-app-ext/variables-health-check.tf
  modules/net-lb-app-ext/variables-urlmap.tf
  modules/net-lb-app-ext/variables.tf
  modules/net-lb-app-int-cross-region/README.md
  modules/net-lb-app-int-cross-region/backend-service.tf
  modules/net-lb-app-int-cross-region/health-check.tf
  modules/net-lb-app-int-cross-region/main.tf
  modules/net-lb-app-int-cross-region/urlmap.tf
  modules/net-lb-app-int-cross-region/variables-backend-service.tf
  modules/net-lb-app-int-cross-region/variables-health-check.tf
  modules/net-lb-app-int-cross-region/variables-urlmap.tf
  modules/net-lb-app-int-cross-region/variables.tf
  modules/net-lb-app-int/README.md
  modules/net-lb-app-int/backend-service.tf
  modules/net-lb-app-int/health-check.tf
  modules/net-lb-app-int/main.tf
  modules/net-lb-app-int/urlmap.tf
  modules/net-lb-app-int/variables-backend-service.tf
  modules/net-lb-app-int/variables-health-check.tf
  modules/net-lb-app-int/variables-urlmap.tf
  modules/net-lb-app-int/variables.tf
  modules/net-lb-ext/README.md
  modules/net-lb-ext/main.tf
  modules/net-lb-ext/variables.tf
  modules/net-lb-int/README.md
  modules/net-lb-int/main.tf
  modules/net-lb-int/variables.tf
  modules/net-lb-proxy-int/README.md
  modules/net-lb-proxy-int/backend-service.tf
  modules/net-lb-proxy-int/health-check.tf
  modules/net-lb-proxy-int/variables.tf
  tests/modules/net_lb_app_ext/examples/http-https-redirect.yaml
Labels: on:modules

#3242 Add support for quotas to project-factory module
  modules/net-vpc-factory/factory-project.tf
  modules/net-vpc-factory/factory-projects-object.tf
  modules/net-vpc-factory/schemas/network-project.schema.json
  modules/project-factory/factory-projects-object.tf
  modules/project-factory/main.tf
  modules/project-factory/schemas/project.schema.json
Labels: on:modules

#3245 Added "client_version" and "client" to ignore_changes in cloud-run-v2…
  modules/cloud-run-v2/service.tf
Labels: on:modules

#3215 Add support for cross project NEGs
  modules/net-lb-app-ext-regional/README.md
  modules/net-lb-app-ext-regional/negs.tf
  modules/net-lb-app-ext-regional/variables.tf
  modules/net-lb-app-ext/README.md
  modules/net-lb-app-ext/negs.tf
  modules/net-lb-app-ext/variables.tf
Labels: on:modules
