Repository GoogleCloudPlatform/cloud-foundation-fabric, pull requests merged in 2025-08, with the labels that each got.

#3258 fixed schema patter for iam_bindings_additive roles
  fast/stages/2-project-factory/schemas/project.schema.md
  modules/project-factory/schemas/project.schema.json
Labels: on:FAST, on:modules

#3257 feat: add GCS bucket trigger support for Cloud Run services
  modules/cloud-run-v2/README.md
  modules/cloud-run-v2/main.tf
  modules/cloud-run-v2/variables.tf
  tests/modules/cloud_run_v2/examples/service-eventarc-storage-sa-create.yaml
  tests/modules/cloud_run_v2/examples/service-eventarc-storage.yaml
Labels: on:modules

#3259 Migrated VPN alerting rules from MQL to PromQL
  fast/stages/2-networking-a-simple/monitoring-vpn.tf
  fast/stages/2-networking-b-nva/monitoring-vpn-onprem.tf
  fast/stages/2-networking-c-separate-envs/monitoring-vpn-onprem.tf
Labels: on:FAST

#3265 fix: Multi-tenant parameters from upstream bootstrap
  fast/addons/1-resman-tenants/README.md
  fast/addons/1-resman-tenants/outputs.tf
  fast/addons/1-resman-tenants/variables-fast.tf
  fast/stages/1-resman/tenant-root.tf
  tests/fast/addons/a1_resman_tenants/simple.tfvars
Labels: on:FAST

#3275 Provide node_pool_auto_config only when node auto provisioning is enabled for GKE standard cluster
  modules/gke-cluster-standard/main.tf
  modules/gke-hub/README.md
Labels: on:modules
