Repository GoogleCloudPlatform/cloud-foundation-fabric, pull requests merged in 2025-01, with the labels that each got.

#2796 Add docker image tag to bindplane config variable
  blueprints/secops/bindplane-gke/README.md
  blueprints/secops/bindplane-gke/config/values.yaml.tpl
  blueprints/secops/bindplane-gke/main.tf
  blueprints/secops/bindplane-gke/variables.tf
Labels: on:blueprints

#2758 Add Alerts, Logging, Channels Factories
  modules/project-factory/README.md
  modules/project-factory/factory-projects.tf
  modules/project-factory/main.tf
  modules/project-factory/variables.tf
  modules/project/README.md
  modules/project/alerts.tf
  modules/project/logging-metrics.tf
  modules/project/main.tf
  modules/project/notification-channels.tf
  modules/project/outputs.tf
  modules/project/schemas/observability.schema.json
  modules/project/variables-observability.tf
  modules/project/variables.tf
Labels: on:modules

#2802 Added BGP priority variable for dedicated interconnect because it was…
  modules/net-vlan-attachment/README.md
  modules/net-vlan-attachment/main.tf
  modules/net-vlan-attachment/variables.tf
Labels: on:modules

#2806 ASN should be optional in router_config variable as it is not necessa…
  modules/net-vpn-ha/README.md
  modules/net-vpn-ha/variables.tf
Labels: on:modules

#2801 Add optional support for fw policies via new vpc_configs variable, refactor factories variable in net stages
  fast/stages/2-networking-a-simple/README.md
  fast/stages/2-networking-a-simple/dns-landing.tf
  fast/stages/2-networking-a-simple/main.tf
  fast/stages/2-networking-a-simple/monitoring.tf
  fast/stages/2-networking-a-simple/net-dev.tf
  fast/stages/2-networking-a-simple/net-landing.tf
  fast/stages/2-networking-a-simple/net-prod.tf
  fast/stages/2-networking-a-simple/variables.tf
  fast/stages/2-networking-b-nva/README.md
  fast/stages/2-networking-b-nva/dns-landing.tf
  fast/stages/2-networking-b-nva/main.tf
  fast/stages/2-networking-b-nva/monitoring.tf
  fast/stages/2-networking-b-nva/net-dev.tf
  fast/stages/2-networking-b-nva/net-landing.tf
  fast/stages/2-networking-b-nva/net-prod.tf
  fast/stages/2-networking-b-nva/net-regional-vpc.tf
  fast/stages/2-networking-b-nva/variables.tf
  fast/stages/2-networking-c-separate-envs/README.md
  fast/stages/2-networking-c-separate-envs/dns-dev.tf
  fast/stages/2-networking-c-separate-envs/dns-prod.tf
  fast/stages/2-networking-c-separate-envs/main.tf
  fast/stages/2-networking-c-separate-envs/monitoring.tf
  fast/stages/2-networking-c-separate-envs/net-dev.tf
  fast/stages/2-networking-c-separate-envs/net-prod.tf
  fast/stages/2-networking-c-separate-envs/variables.tf
  tests/fast/stages/s2_networking_a_simple/ncc.tfvars
  tests/fast/stages/s2_networking_a_simple/simple.tfvars
  tests/fast/stages/s2_networking_a_simple/vpn.tfvars
  tests/fast/stages/s2_networking_b_nva/ncc-ra.tfvars
  tests/fast/stages/s2_networking_b_nva/regional.tfvars
  tests/fast/stages/s2_networking_b_nva/simple.tfvars
  tests/fast/stages/s2_networking_c_separate_envs/simple.tfvars
  tests/fast/stages/s2_networking_c_separate_envs/simple.yaml
  tests/fast/stages/s2_networking_c_separate_envs/tftest.yaml
Labels: on:FAST

#2799 Add intercepting sinks to the organization and folder modules
  modules/folder/README.md
  modules/folder/logging.tf
  modules/folder/variables-logging.tf
  modules/organization/README.md
  modules/organization/logging.tf
  modules/organization/variables-logging.tf
Labels: on:modules

#2810 Small fixes and improvements to FAST netsec/net
  fast/stage-links.sh
  fast/stages/2-networking-a-simple/.fast-stage.env
  fast/stages/2-networking-a-simple/README.md
  fast/stages/2-networking-a-simple/net-dev.tf
  fast/stages/2-networking-a-simple/net-landing.tf
  fast/stages/2-networking-a-simple/net-prod.tf
  fast/stages/2-networking-a-simple/schemas/firewall-policy-rules.schema.json
  fast/stages/2-networking-a-simple/variables-fast.tf
  fast/stages/2-networking-b-nva/.fast-stage.env
  fast/stages/2-networking-b-nva/README.md
  fast/stages/2-networking-b-nva/net-dev.tf
  fast/stages/2-networking-b-nva/net-landing.tf
  fast/stages/2-networking-b-nva/net-prod.tf
  fast/stages/2-networking-b-nva/net-regional-vpc.tf
  fast/stages/2-networking-b-nva/schemas/firewall-policy-rules.schema.json
  fast/stages/2-networking-b-nva/variables-fast.tf
  fast/stages/2-networking-c-separate-envs/.fast-stage.env
  fast/stages/2-networking-c-separate-envs/README.md
  fast/stages/2-networking-c-separate-envs/net-dev.tf
  fast/stages/2-networking-c-separate-envs/net-prod.tf
  fast/stages/2-networking-c-separate-envs/schemas/firewall-policy-rules.schema.json
  fast/stages/2-networking-c-separate-envs/variables-fast.tf
Labels: on:FAST

#2812 Simplify versions tf and update FAST workflows
  fast/assets/templates/workflow-github.yaml
  fast/stages/0-bootstrap/templates/workflow-github.yaml
  fast/stages/1-resman/templates/workflow-github.yaml
  fast/stages/1-tenant-factory/templates/workflow-github.yaml
  tools/versions.py
Labels: on:FAST, on:tools

#2813 feat: restructure how var files are provided to workflow templates
  fast/stages/1-resman/outputs-cicd.tf
Labels: on:FAST

#2815 [FAST] Add missing permission to ngfwEnterprise org
  fast/stages/0-bootstrap/data/custom-roles/ngfw_enterprise_admin.yaml
Labels: on:FAST

#2816 Update `logging_data_access` type
  blueprints/apigee/apigee-x-foundations/README.md
  blueprints/apigee/apigee-x-foundations/variables.tf
  fast/stages/0-bootstrap/automation.tf
  fast/stages/1-resman/README.md
  fast/stages/1-resman/schemas/top-level-folder.schema.json
  fast/stages/1-resman/variables-toplevel-folders.tf
  fast/stages/1-tenant-factory/tenant-fast-automation.tf
  modules/folder/README.md
  modules/folder/logging.tf
  modules/folder/variables-logging.tf
  modules/organization/README.md
  modules/organization/logging.tf
  modules/organization/variables-logging.tf
  modules/project-factory/README.md
  modules/project-factory/factory-projects.tf
  modules/project-factory/variables.tf
  modules/project/README.md
  modules/project/logging.tf
  modules/project/variables-observability.tf
Labels: on:FAST, on:modules, on:blueprints

#2817 Fix permadiff in stage 0 vpc-sc service account, add schemas to hierarchical policy YAML files
  fast/stages/0-bootstrap/automation.tf
  fast/stages/2-networking-a-simple/data/hierarchical-ingress-rules.yaml
  fast/stages/2-networking-b-nva/data/hierarchical-ingress-rules.yaml
  fast/stages/2-networking-c-separate-envs/data/hierarchical-ingress-rules.yaml
  tests/fast/stages/s0_bootstrap/cicd.yaml
  tests/fast/stages/s0_bootstrap/simple.yaml
Labels: on:FAST

#2818 Top level folder factory support for automation SA IAM
  fast/stages/1-resman/data/top-level-folders/sandbox.yaml
  fast/stages/1-resman/schemas/top-level-folder.schema.json
  fast/stages/1-resman/top-level-folders.tf
  tests/fast/stages/s1_resman/simple.yaml
Labels: on:FAST

#2819 modules/compute-vm end-to-end tests and fixes
  modules/compute-vm/README.md
  tests/modules/compute_vm/examples/alias-ips.yaml
  tests/modules/compute_vm/examples/confidential.yaml
  tests/modules/compute_vm/examples/defaults.yaml
  tests/modules/compute_vm/examples/disk-options.yaml
  tests/modules/compute_vm/examples/group.yaml
  tests/modules/compute_vm/examples/gvnic.yaml
  tests/modules/compute_vm/examples/iam.yaml
  tests/modules/compute_vm/examples/independent-boot-disk.yaml
  tests/modules/compute_vm/examples/instance-schedule-create.yaml
  tests/modules/compute_vm/examples/instance-schedule-id.yaml
  tests/modules/compute_vm/examples/ips.yaml
  tests/modules/compute_vm/examples/metadata.yaml
  tests/modules/compute_vm/examples/sa-custom.yaml
  tests/modules/compute_vm/examples/sa-default.yaml
  tests/modules/compute_vm/examples/sa-managed.yaml
  tests/modules/compute_vm/examples/sa-none.yaml
  tests/modules/compute_vm/examples/snapshot-schedule-create.yaml
  tests/modules/compute_vm/examples/sole-tenancy.yaml
  tests/modules/compute_vm/examples/spot.yaml
  tests/modules/compute_vm/examples/tag-bindings.yaml
  tests/modules/compute_vm/examples/template.yaml
Labels: on:modules

#2820 Do not create service agent resources in project module for services not explicitly enabled
  modules/project/service-agents.tf
Labels: on:modules, breaks:modules

#2823 Update service activation in ngfw add-on
  fast/addons/2-networking-ngfw/README.md
  fast/addons/2-networking-ngfw/main.tf
  fast/addons/2-networking-ngfw/tls-inspection.tf
  fast/addons/2-networking-ngfw/variables-fast.tf
  fast/addons/2-networking-ngfw/variables.tf
  fast/addons/2-networking-swp/tls-inspection.tf
Labels: on:FAST

#2825 FAST add-on for networking test resources
  fast/addons/2-networking-swp/README.md
  fast/addons/2-networking-test/.fast-stage.env
  fast/addons/2-networking-test/README.md
  fast/addons/2-networking-test/assets/server-nginx-cloud-config.yaml
  fast/addons/2-networking-test/context.tf
  fast/addons/2-networking-test/data/instances/client-0.yaml
  fast/addons/2-networking-test/data/instances/server-0.yaml
  fast/addons/2-networking-test/data/service-accounts/client-0.yaml
  fast/addons/2-networking-test/data/service-accounts/server-0.yaml
  fast/addons/2-networking-test/factory.tf
  fast/addons/2-networking-test/main.tf
  fast/addons/2-networking-test/outputs.tf
  fast/addons/2-networking-test/schemas/instance.schema.json
  fast/addons/2-networking-test/schemas/service-account.schema.json
  fast/addons/2-networking-test/variables-fast.tf
  fast/addons/2-networking-test/variables.tf
  fast/stages/2-networking-a-simple/README.md
  fast/stages/2-networking-a-simple/outputs.tf
  fast/stages/2-networking-a-simple/test-resources.tf
  fast/stages/2-networking-a-simple/variables.tf
  fast/stages/2-networking-b-nva/README.md
  fast/stages/2-networking-b-nva/outputs.tf
  fast/stages/2-networking-b-nva/test-resources.tf
  fast/stages/2-networking-b-nva/variables.tf
  fast/stages/2-networking-c-separate-envs/README.md
  fast/stages/2-networking-c-separate-envs/test-resources.tf
  tests/fast/addons/a2_networking_test/__init__.py
  tests/fast/addons/a2_networking_test/simple.tfvars
  tests/fast/addons/a2_networking_test/simple.yaml
  tests/fast/addons/a2_networking_test/tftest.yaml
Labels: on:FAST

#2826 Fix stage 1 addons provider outputs
  fast/stages/0-bootstrap/outputs-providers.tf
Labels: on:FAST

#2828 Small fix to net test add-on context expansion
  fast/addons/2-networking-test/README.md
  fast/addons/2-networking-test/context.tf
  fast/addons/2-networking-test/outputs.tf
Labels: on:FAST

#2830 feat(certificate-manager): add dns_authorizations output
  modules/certificate-manager/README.md
  modules/certificate-manager/outputs.tf
Labels: on:modules

#2831 Allow networking stage to be disabled
  fast/stages/1-resman/stage-2-security.tf
Labels: on:FAST

#2833 fix(certificate-manager): reference dns_authz by fully qualified id
  modules/certificate-manager/main.tf
  tests/modules/certificate_manager/examples/map-with-managed-cert-dns-authz.yaml
Labels: on:modules

#2834 Allow multiple stage-2 project factories
  fast/stages/1-resman/README.md
  fast/stages/1-resman/billing.tf
  fast/stages/1-resman/data/top-level-folders/teams.yaml
  fast/stages/1-resman/iam.tf
  fast/stages/1-resman/main.tf
  fast/stages/1-resman/moved/v36.0.1-v37.0.0.tf
  fast/stages/1-resman/organization.tf
  fast/stages/1-resman/outputs-providers.tf
  fast/stages/1-resman/stage-2-networking.tf
  fast/stages/1-resman/stage-2-project-factory.tf
  fast/stages/1-resman/stage-2-security.tf
  fast/stages/1-resman/variables-addons.tf
  fast/stages/1-resman/variables-stages.tf
Labels: on:FAST, breaks:fast

#2836 Interpolate SAs in tag-level iam
  fast/stages/1-resman/organization.tf
Labels: on:FAST

#2839 Revert "Allow multiple stage-2 project factories"
  fast/stages/1-resman/README.md
  fast/stages/1-resman/billing.tf
  fast/stages/1-resman/data/top-level-folders/teams.yaml
  fast/stages/1-resman/iam.tf
  fast/stages/1-resman/main.tf
  fast/stages/1-resman/moved/v36.0.1-v37.0.0.tf
  fast/stages/1-resman/organization.tf
  fast/stages/1-resman/outputs-providers.tf
  fast/stages/1-resman/stage-2-networking.tf
  fast/stages/1-resman/stage-2-project-factory.tf
  fast/stages/1-resman/stage-2-security.tf
  fast/stages/1-resman/variables-addons.tf
  fast/stages/1-resman/variables-stages.tf
Labels: on:FAST

#2842 Refactor data catalog tag template module
  modules/data-catalog-tag-template/README.md
  modules/data-catalog-tag-template/iam.tf
  modules/data-catalog-tag-template/main.tf
  modules/data-catalog-tag-template/outputs.tf
  modules/data-catalog-tag-template/schemas/tag-template.schema.json
  modules/data-catalog-tag-template/variables.tf
Labels: on:modules

#2847 Add principal interpolation to iam_by_principals
  fast/stages/1-resman/data/stage-2/networking.yaml
  fast/stages/1-resman/data/stage-2/security.yaml
  fast/stages/1-resman/data/top-level-folders/sandbox.yaml
  fast/stages/1-resman/data/top-level-folders/teams.yaml
  fast/stages/1-resman/stage-2.tf
  fast/stages/1-resman/top-level-folders.tf
Labels: on:FAST

#2852 Allow universe-bound projects to exclude services
  modules/project/README.md
  modules/project/main.tf
  modules/project/outputs.tf
  modules/project/service-agents.tf
  modules/project/variables.tf
  tests/modules/project/universe.tfvars
  tests/modules/project/universe.yaml
Labels: on:modules

#2851 Support mulitple universes in bootstrap
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/automation.tf
  fast/stages/0-bootstrap/billing.tf
  fast/stages/0-bootstrap/log-export.tf
  fast/stages/0-bootstrap/outputs-providers.tf
  fast/stages/0-bootstrap/outputs.tf
  fast/stages/0-bootstrap/templates/providers.tf.tpl
  fast/stages/0-bootstrap/variables.tf
Labels: on:FAST

#2841 Add cAdvisor Metrics to Autopilot/Standard GKE Cluster
  blueprints/gke/autopilot/cluster.tf
  blueprints/gke/patterns/autopilot-cluster/cluster.tf
  modules/gke-cluster-autopilot/README.md
  modules/gke-cluster-autopilot/main.tf
  modules/gke-cluster-autopilot/variables.tf
  modules/gke-cluster-standard/README.md
  modules/gke-cluster-standard/main.tf
  modules/gke-cluster-standard/variables.tf
  tests/modules/gke_cluster_autopilot/examples/monitoring-config-kube-state.yaml
  tests/modules/gke_cluster_standard/examples/monitoring-config-kube-state.yaml
Labels: on:modules, on:blueprints

#2853 Allow addons to any flex stage 2
  fast/stages/1-resman/variables-addons.tf
Labels: on:FAST

#2854 Expose custom constraint factory in bootstrap
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/data/custom-constraints/gke.yaml
  fast/stages/0-bootstrap/data/org-policies/gke.yaml
  fast/stages/0-bootstrap/organization.tf
  fast/stages/0-bootstrap/schemas/org-policy-custom-constraint.schema.json
  fast/stages/0-bootstrap/variables.tf
  tests/fast/stages/s0_bootstrap/cicd.yaml
  tests/fast/stages/s0_bootstrap/simple.yaml
Labels: on:FAST
