Repository GoogleCloudPlatform/cloud-foundation-fabric, pull requests merged in 2025-05, with the labels that each got.

#3067 fix reference to boot disk in snapshots when using independent disks
  modules/compute-vm/main.tf
  modules/compute-vm/resource-policies.tf
Labels: on:modules

#3069 [cloudsql-instance] Add cloudsql_iam_authentication flag to fix example in readme
  modules/cloudsql-instance/README.md
Labels: on:modules

#3073 Added versions.tf to net-vpc-factory
  modules/net-vpc-factory/versions.tf
  modules/net-vpc-factory/versions.tofu
Labels: on:modules

#3071 [cloud-run-v2] Add ability to deploy OpenTelemetry Collector sidecar
  modules/cloud-run-v2/README.md
  modules/cloud-run-v2/service.tf
  modules/cloud-run-v2/variables.tf
  tests/modules/cloud_run_v2/examples/service-otel-sidecar.yaml
Labels: on:modules

#3075 Fix no VPC composer scenario and roles
  fast/stages/3-data-platform-dev/README.md
  fast/stages/3-data-platform-dev/data-domains-composer.tf
  fast/stages/3-data-platform-dev/data-domains.tf
  fast/stages/3-data-platform-dev/data/data-domains/domain-0/_config.yaml
  fast/stages/3-data-platform-dev/data/data-domains/domain-0/product-0.yaml
  fast/stages/3-data-platform-dev/schemas/data-domain.schema.json
  fast/stages/3-data-platform-dev/terraform.tfvars.sample
  fast/stages/3-data-platform-dev/variables.tf
  tests/fast/stages/s3_data_platform_dev/simple.tfvars
  tests/fast/stages/s3_data_platform_dev/simple.yaml
Labels: on:FAST

#3062 VPC SC module refactor
  blueprints/data-solutions/shielded-folder/main.tf
  blueprints/serverless/cloud-run-corporate/main.tf
  fast/stages/1-vpcsc/README.md
  fast/stages/1-vpcsc/main.tf
  fast/stages/1-vpcsc/outputs.tf
  modules/vpc-sc/README.md
  modules/vpc-sc/factory.tf
  modules/vpc-sc/main.tf
  modules/vpc-sc/outputs.tf
  modules/vpc-sc/perimeters.tf
  modules/vpc-sc/service-perimeters-bridge.tf
  modules/vpc-sc/variables.tf
  tests/modules/vpc_sc/examples/factory.yaml
  tests/modules/vpc_sc/examples/regular.yaml
Labels: on:FAST, on:modules, on:blueprints

#3077 Add ability to optionally update Cloud Run job containers outside Terraform
  modules/cloud-run-v2/job.tf
  modules/cloud-run-v2/main.tf
Labels: on:modules

#3080 Map secops group to security by default
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/variables.tf
  fast/stages/1-resman/README.md
  fast/stages/1-resman/variables-fast.tf
  tests/fast/stages/s0_bootstrap/simple.yaml
Labels: on:FAST

#3089 Fix permadiff in FAST bootstrap IAM
  fast/stages/0-bootstrap/organization-iam.tf
  modules/cloud-run-v2/job.tf
  modules/cloud-run-v2/main.tf
  modules/gke-hub/README.md
  modules/gke-hub/variables.tf
  tests/fast/stages/s0_bootstrap/cicd.yaml
  tests/fast/stages/s0_bootstrap/simple.yaml
Labels: on:FAST, on:modules

#3090 Relax WIF org policy in IaC project
  fast/stages/0-bootstrap/data/org-policies-iac/iam.yaml
  fast/stages/0-bootstrap/data/org-policies-managed/gcp.yaml
  fast/stages/0-bootstrap/data/org-policies/gcp.yaml
  tests/fast/stages/s0_bootstrap/cicd.yaml
  tests/fast/stages/s0_bootstrap/simple.yaml
Labels: on:FAST

#2944 fix: remove file starting by 1 and 2 to avoid copying 1-resman-provid…
  fast/extras/0-cicd-gitlab/main.tf
Labels: on:FAST

#3088 Add GitLab SaaS support in fast/extras/0-cicd-gitlab
  fast/extras/0-cicd-gitlab/README.md
  fast/extras/0-cicd-gitlab/main.tf
  fast/extras/0-cicd-gitlab/outputs.tf
  fast/extras/0-cicd-gitlab/terraform.tfvars.sample
  fast/extras/0-cicd-gitlab/variables.tf
Labels: on:FAST

#3092 feat(gke): add kubelet_readonly_port_enabled
  modules/gke-cluster-autopilot/README.md
  modules/gke-cluster-autopilot/main.tf
  modules/gke-cluster-autopilot/variables.tf
  modules/gke-cluster-standard/README.md
  modules/gke-cluster-standard/main.tf
  modules/gke-cluster-standard/variables.tf
Labels: on:modules

#3094 Enable context replacements for IAM principals in project factory module
  modules/project-factory/README.md
  modules/project-factory/folders.tf
  modules/project-factory/main.tf
  tests/modules/project_factory/examples/example.yaml
Labels: on:modules

#3096 Enable multi-network GKE
  modules/gke-cluster-autopilot/README.md
  modules/gke-cluster-autopilot/main.tf
  modules/gke-cluster-autopilot/variables.tf
  modules/gke-cluster-standard/README.md
  modules/gke-cluster-standard/main.tf
  modules/gke-cluster-standard/variables.tf
Labels: on:modules

#3091 Make automation project in project factory module optional
  modules/project-factory/automation.tf
  modules/project-factory/schemas/project.schema.json
Labels: on:modules

#3099 Fix net vpc firewall module schema
  modules/net-vpc-firewall/main.tf
  modules/net-vpc-firewall/schemas/firewall-rules.schema.json
Labels: on:modules

#3101 Backup enablement for CloudSQL instance should be only based on user provided settings
  modules/cloudsql-instance/main.tf
Labels: on:modules

#3100 Project Factory: fix reference to automation SAs in IAM block for service accounts
  modules/project-factory/README.md
  modules/project-factory/main.tf
  tests/modules/project_factory/examples/example.yaml
Labels: on:modules

#3102 feat: enables blue-green upgrades
  modules/gke-nodepool/README.md
  modules/gke-nodepool/main.tf
  modules/gke-nodepool/variables.tf
Labels: on:modules

#3103 Added auto-provisioning-locations to gke-cluster-standard module
  modules/gke-cluster-standard/README.md
  modules/gke-cluster-standard/main.tf
  modules/gke-cluster-standard/variables.tf
Labels: on:modules

#3074 Improves fast/data-platform-ng README for clarity
  fast/stages/3-data-platform-dev/README.md
  fast/stages/3-data-platform-dev/data/data-domains/domain-0/_config.yaml
  fast/stages/3-data-platform-dev/data/data-domains/domain-0/product-0.yaml
  fast/stages/3-data-platform-dev/diagram-data-platform.png
  fast/stages/3-data-platform-dev/diagram-folders.png
  fast/stages/3-data-platform-dev/main.tf
  fast/stages/3-data-platform-dev/terraform.tfvars.sample
  fast/stages/3-data-platform-dev/variables.tf
  fast/stages/diagrams.excalidraw.gz
  tests/fast/stages/s3_data_platform_dev/simple.tfvars
  tests/fast/stages/s3_data_platform_dev/simple.yaml
Labels: on:FAST

#3106 Revert "Make automation project in project factory module optional"
  modules/project-factory/automation.tf
  modules/project-factory/schemas/project.schema.json
Labels: on:modules

#3105 Add option to specify any port on https protocol
  modules/net-lb-app-int/main.tf
Labels: on:modules

#3112 Add support for service agent expansion to project factory IAM
  fast/stages/2-project-factory/README.md
  fast/stages/2-project-factory/outputs.tf
  modules/project-factory/README.md
  modules/project-factory/main.tf
  modules/project-factory/outputs.tf
  tests/modules/project_factory/examples/example.yaml
Labels: on:FAST, on:modules

#3113 Allow creating disks with no name in compute-vm
  modules/compute-vm/README.md
  modules/compute-vm/main.tf
  modules/compute-vm/variables.tf
  tests/modules/compute_vm/examples/template.yaml
Labels: on:modules

#3114 Allow creation of regional templates in compute-vm module
  blueprints/apigee/network-patterns/nb-glb-psc-neg-sb-psc-ilbl7-hybrid-neg/onprem.tf
  blueprints/gcve/monitoring/main.tf
  blueprints/networking/glb-and-armor/main.tf
  blueprints/networking/glb-hybrid-neg-internal/nva.tf
  blueprints/networking/glb-hybrid-neg-internal/spoke.tf
  blueprints/third-party-solutions/gitlab-runner/runner.tf
  fast/stages/2-networking-b-nva/nva-regional-vpc.tf
  fast/stages/2-networking-b-nva/nva-simple.tf
  modules/compute-mig/README.md
  modules/compute-vm/README.md
  modules/compute-vm/main.tf
  modules/compute-vm/resource-policies.tf
  modules/compute-vm/tags.tf
  modules/compute-vm/template.tf
  modules/compute-vm/variables.tf
  modules/net-lb-app-ext-regional/README.md
  modules/net-lb-app-ext/README.md
  modules/net-lb-int/README.md
  tests/fixtures/compute-mig.tf
  tests/modules/compute_vm/examples/template-regional.yaml
Labels: on:FAST, on:modules, on:blueprints

#3116 Add support for binary authorization policy to cloud function v2 module
  modules/cloud-function-v2/README.md
  modules/cloud-function-v2/main.tf
  modules/cloud-function-v2/variables.tf
Labels: on:modules

#3083 Remove default values for access_config.ip_config for gke cluster modules
  modules/gke-cluster-autopilot/README.md
  modules/gke-cluster-autopilot/main.tf
  modules/gke-cluster-autopilot/variables.tf
  modules/gke-cluster-standard/README.md
  modules/gke-cluster-standard/main.tf
  modules/gke-cluster-standard/variables.tf
  tests/modules/gke_cluster_autopilot/examples/access-google.yaml
  tests/modules/gke_cluster_autopilot/examples/basic.yaml
  tests/modules/gke_cluster_standard/examples/access-google.yaml
  tests/modules/gke_cluster_standard/examples/access-private.yaml
  tests/modules/gke_cluster_standard/examples/access-public.yaml
  tests/modules/gke_cluster_standard/examples/regional.yaml
  tests/modules/gke_hub/examples/full.yaml
Labels: on:modules

#3124 Allow explicit definition of automation prefix in project factory
  modules/project-factory/README.md
  modules/project-factory/automation.tf
  modules/project-factory/schemas/project.schema.json
  modules/project-factory/schemas/project.schema.md
Labels: on:modules

#3125 Document x-referencing HCs in net-lb-int
  modules/net-lb-int/README.md
  modules/net-lb-int/variables.tf
Labels: on:modules

#3126 Allow multiple types in JSON schema docs tool
  fast/addons/2-networking-test/schemas/instance.schema.md
  fast/addons/2-networking-test/schemas/service-account.schema.md
  fast/stages/0-bootstrap/schemas/custom-role.schema.md
  fast/stages/0-bootstrap/schemas/org-policies.schema.md
  fast/stages/0-bootstrap/schemas/org-policy-custom-constraint.schema.md
  fast/stages/1-resman/schemas/fast-stage2.schema.md
  fast/stages/1-resman/schemas/fast-stage3.schema.md
  fast/stages/1-resman/schemas/org-policies.schema.md
  fast/stages/1-resman/schemas/top-level-folder.schema.md
  fast/stages/1-vpcsc/schemas/access-level.schema.md
  fast/stages/1-vpcsc/schemas/egress-policy.schema.md
  fast/stages/1-vpcsc/schemas/ingress-policy.schema.md
  fast/stages/1-vpcsc/schemas/perimeter.schema.md
  fast/stages/2-networking-a-simple/schemas/firewall-policy-rules.schema.md
  fast/stages/2-networking-a-simple/schemas/firewall-rules.schema.md
  fast/stages/2-networking-a-simple/schemas/subnet.schema.md
  fast/stages/2-networking-b-nva/schemas/firewall-policy-rules.schema.md
  fast/stages/2-networking-b-nva/schemas/firewall-rules.schema.md
  fast/stages/2-networking-b-nva/schemas/subnet.schema.md
  fast/stages/2-networking-c-separate-envs/schemas/firewall-policy-rules.schema.md
  fast/stages/2-networking-c-separate-envs/schemas/firewall-rules.schema.md
  fast/stages/2-networking-c-separate-envs/schemas/subnet.schema.md
  fast/stages/2-project-factory/schemas/budget.schema.md
  fast/stages/2-project-factory/schemas/folder.schema.md
  fast/stages/2-project-factory/schemas/project.schema.md
  fast/stages/3-data-platform-dev/schemas/aspect-type.schema.md
  fast/stages/3-data-platform-dev/schemas/data-domain.schema.md
  fast/stages/3-data-platform-dev/schemas/data-product.schema.md
  modules/billing-account/schemas/budget.schema.md
  modules/data-catalog-tag-template/schemas/tag-template.schema.md
  modules/dataplex-aspect-types/schemas/aspect-type.schema.md
  modules/folder/schemas/org-policies.schema.md
  modules/net-firewall-policy/schemas/firewall-policy-rules.schema.md
  modules/net-swp/schemas/policy-rule.schema.md
  modules/net-swp/schemas/url-list.schema.md
  modules/net-vpc-factory/schemas/network-project.schema.md
  modules/net-vpc-firewall/schemas/firewall-rules.schema.md
  modules/net-vpc/schemas/subnet.schema.md
  modules/organization/schemas/custom-role.schema.md
  modules/organization/schemas/org-policies.schema.md
  modules/organization/schemas/org-policy-custom-constraint.schema.md
  modules/project-factory/schemas/budget.schema.md
  modules/project-factory/schemas/folder.schema.md
  modules/project-factory/schemas/project.schema.md
  modules/project/schemas/custom-role.schema.md
  modules/project/schemas/observability.schema.md
  modules/project/schemas/org-policies.schema.md
  modules/project/schemas/quotas.schema.md
  modules/vpc-sc/schemas/access-level.schema.md
  modules/vpc-sc/schemas/egress-policy.schema.md
  modules/vpc-sc/schemas/ingress-policy.schema.md
  modules/vpc-sc/schemas/perimeters.schema.md
  tools/schema_docs.py
Labels: on:FAST, on:tools, on:modules
