Repository GoogleCloudPlatform/cloud-foundation-fabric, pull requests merged in 2025-04, with the labels that each got.

#2993 feat: add gcp_public_cidrs_access_enabled to gke modules
  modules/gke-cluster-autopilot/README.md
  modules/gke-cluster-autopilot/main.tf
  modules/gke-cluster-autopilot/variables.tf
  modules/gke-cluster-standard/README.md
  modules/gke-cluster-standard/main.tf
  modules/gke-cluster-standard/variables.tf
  tests/modules/gke_cluster_autopilot/examples/access-google.yaml
  tests/modules/gke_cluster_standard/examples/access-google.yaml
Labels: on:modules

#2996 Improve failure message for tests
  tests/examples/test_plan.py
Labels: on:tools

#2994 Fr/timhiatt/invoker iam disable
  modules/cloud-run-v2/README.md
  modules/cloud-run-v2/service.tf
  modules/cloud-run-v2/variables.tf
  tests/modules/cloud_run_v2/examples/service-invoker-iam-disable.yaml
Labels: on:modules

#2989 Fix Cloud SQL deployment and use local remote docker hub for pulling gitlab docker image
  blueprints/third-party-solutions/gitlab/README.md
  blueprints/third-party-solutions/gitlab/assets/cloud-config.yaml
  blueprints/third-party-solutions/gitlab/gitlab.tf
  blueprints/third-party-solutions/gitlab/services.tf
  blueprints/third-party-solutions/gitlab/variables.tf
Labels: on:blueprints

#3000 Add roles support to VPC-SC
  fast/stages/1-vpcsc/README.md
  fast/stages/1-vpcsc/variables.tf
  modules/vpc-sc/README.md
  modules/vpc-sc/factory.tf
  modules/vpc-sc/schemas/egress-policy.schema.json
  modules/vpc-sc/schemas/ingress-policy.schema.json
  modules/vpc-sc/service-perimeters-regular.tf
  modules/vpc-sc/variables.tf
  tests/modules/vpc_sc/examples/regular.yaml
Labels: on:FAST, on:modules

#3003 Cross-project serverless neg example for internal app load balancer
  modules/net-lb-app-int/README.md
Labels: on:modules

#3004 Add support for non-destructive tag bindings to compute-vm module
  modules/compute-vm/README.md
  modules/compute-vm/main.tf
  modules/compute-vm/tags.tf
  modules/compute-vm/variables.tf
Labels: on:modules

#3006 Better lifecycle management description in VPC-SC module
  modules/vpc-sc/README.md
Labels: on:modules

#3007 Implement support for VPC-SC perimeter membership from project factory
  fast/stages/0-bootstrap/organization.tf
  fast/stages/1-resman/data/stage-2/project-factory.yaml
  fast/stages/1-vpcsc/outputs.tf
  fast/stages/2-project-factory/.fast-stage.env
  fast/stages/2-project-factory/README.md
  fast/stages/2-project-factory/main.tf
  fast/stages/2-project-factory/variables-fast.tf
  modules/project-factory/README.md
  modules/project-factory/factory-projects.tf
  modules/project-factory/main.tf
  modules/project-factory/schemas/project.schema.json
  modules/project-factory/variables.tf
Labels: on:FAST, on:modules

#3009 Allow configuring base set of restricted services in vpc-sc stage
  fast/stages/1-vpcsc/README.md
  fast/stages/1-vpcsc/main.tf
  fast/stages/1-vpcsc/variables.tf
Labels: on:FAST

#3008 Add support to attach tags to service accounts
  blueprints/README.md
  blueprints/cloud-operations/README.md
  blueprints/cloud-operations/onprem-sa-key-management/OWNERS
  blueprints/cloud-operations/onprem-sa-key-management/README.md
  blueprints/cloud-operations/onprem-sa-key-management/backend.tf.sample
  blueprints/cloud-operations/onprem-sa-key-management/cloud-shell-readme.txt
  blueprints/cloud-operations/onprem-sa-key-management/main.tf
  blueprints/cloud-operations/onprem-sa-key-management/outputs.tf
  blueprints/cloud-operations/onprem-sa-key-management/public-keys/data-uploader/public_key.pem
  blueprints/cloud-operations/onprem-sa-key-management/public-keys/prisma-security/public_key.pem
  blueprints/cloud-operations/onprem-sa-key-management/variables.tf
  modules/iam-service-account/README.md
  modules/iam-service-account/main.tf
  modules/iam-service-account/outputs.tf
  modules/iam-service-account/variables.tf
  tests/modules/iam_service_account/examples/tags.yaml
Labels: on:modules, on:blueprints

#3010 Add trusted images projects
  fast/stages/0-bootstrap/data/org-policies/compute.yaml
  tests/fast/stages/s0_bootstrap/simple_org_policies.yaml
Labels: on:FAST

#3014 Properly support org policy tags in resman/project factory
  fast/stages/1-resman/README.md
  fast/stages/1-resman/organization.tf
  fast/stages/1-resman/variables-fast.tf
  fast/stages/1-resman/variables.tf
  fast/stages/2-project-factory/README.md
  fast/stages/2-project-factory/main.tf
  fast/stages/2-project-factory/variables-fast.tf
  modules/project-factory/README.md
Labels: on:FAST, on:modules

#3015 feat: Add Okta identity provider definition
  fast/stages/0-bootstrap/identity-providers-defs.tf
Labels: on:FAST

#3017 Restrict HMAC keys in FAST
  fast/stages/0-bootstrap/data/org-policies-managed/storage.yaml
  fast/stages/0-bootstrap/data/org-policies/storage.yaml
  tests/fast/stages/s0_bootstrap/cicd.yaml
  tests/fast/stages/s0_bootstrap/simple.yaml
Labels: on:FAST

#3020 [FAST] Remove object creator permission from storage viewer custom role
  fast/stages/0-bootstrap/data/custom-roles/storage_viewer.yaml
Labels: on:FAST

#3021 Allow configuring dns zone names in FAST networking stages
  fast/stages/2-networking-a-simple/README.md
  fast/stages/2-networking-a-simple/dns-dev.tf
  fast/stages/2-networking-a-simple/dns-landing.tf
  fast/stages/2-networking-a-simple/dns-prod.tf
  fast/stages/2-networking-a-simple/variables.tf
  fast/stages/2-networking-b-nva/README.md
  fast/stages/2-networking-b-nva/dns-dev.tf
  fast/stages/2-networking-b-nva/dns-landing.tf
  fast/stages/2-networking-b-nva/dns-prod.tf
  fast/stages/2-networking-b-nva/variables.tf
  fast/stages/2-networking-c-separate-envs/README.md
  fast/stages/2-networking-c-separate-envs/dns-dev.tf
  fast/stages/2-networking-c-separate-envs/dns-prod.tf
  fast/stages/2-networking-c-separate-envs/variables.tf
Labels: on:FAST

#2982 Module: net-vpc-factory
  README.md
  blueprints/factories/README.md
  modules/README.md
  modules/net-vpc-factory/README.md
  modules/net-vpc-factory/data/firewall/dev-spoke/default-ingress.yaml
  modules/net-vpc-factory/data/firewall/hub/default-ingress.yaml
  modules/net-vpc-factory/data/firewall/prod-spoke/default-ingress.yaml
  modules/net-vpc-factory/data/subnets/dev-spoke/dev-default.yaml
  modules/net-vpc-factory/data/subnets/hub/hub-default.yaml
  modules/net-vpc-factory/data/subnets/prod-spoke/prod-default.yaml
  modules/net-vpc-factory/factory-dns.tf
  modules/net-vpc-factory/factory-nat.tf
  modules/net-vpc-factory/factory-ncc.tf
  modules/net-vpc-factory/factory-peering.tf
  modules/net-vpc-factory/factory-project.tf
  modules/net-vpc-factory/factory-vpc.tf
  modules/net-vpc-factory/factory-vpn.tf
  modules/net-vpc-factory/main.tf
  modules/net-vpc-factory/outputs.tf
  modules/net-vpc-factory/recipes/hub-and-spoke-ncc/net-dev-01.yaml
  modules/net-vpc-factory/recipes/hub-and-spoke-ncc/net-land-01.yaml
  modules/net-vpc-factory/recipes/hub-and-spoke-ncc/net-prod-01.yaml
  modules/net-vpc-factory/recipes/hub-and-spoke-peering/net-dev-01.yaml
  modules/net-vpc-factory/recipes/hub-and-spoke-peering/net-land-01.yaml
  modules/net-vpc-factory/recipes/hub-and-spoke-peering/net-prod-01.yaml
  modules/net-vpc-factory/recipes/hub-and-spoke-vpn/net-dev-01.yaml
  modules/net-vpc-factory/recipes/hub-and-spoke-vpn/net-land-01.yaml
  modules/net-vpc-factory/recipes/hub-and-spoke-vpn/net-prod-01.yaml
  modules/net-vpc-factory/recipes/only-projects/net-dev-01.yaml
  modules/net-vpc-factory/recipes/only-projects/net-land-01.yaml
  modules/net-vpc-factory/recipes/only-projects/net-prod-01.yaml
  modules/net-vpc-factory/recipes/separate-envs/net-dev-01.yaml
  modules/net-vpc-factory/recipes/separate-envs/net-land-01.yaml
  modules/net-vpc-factory/recipes/separate-envs/net-prod-01.yaml
  modules/net-vpc-factory/schemas/network-project.schema.json
  modules/net-vpc-factory/variables.tf
  tests/modules/net_vpc_factory/common.tfvars
  tests/modules/net_vpc_factory/ncc.tfvars
  tests/modules/net_vpc_factory/ncc.yaml
  tests/modules/net_vpc_factory/only_projects.tfvars
  tests/modules/net_vpc_factory/only_projects.yaml
  tests/modules/net_vpc_factory/peering.tfvars
  tests/modules/net_vpc_factory/peering.yaml
  tests/modules/net_vpc_factory/separate_envs.tfvars
  tests/modules/net_vpc_factory/separate_envs.yaml
  tests/modules/net_vpc_factory/tftest.yaml
  tests/modules/net_vpc_factory/vpn.tfvars
  tests/modules/net_vpc_factory/vpn.yaml
Labels: on:modules, on:blueprints

#3024 Use factory-projects-object to normalize inputs for project module in net-vpc-factory
  modules/net-vpc-factory/factory-project.tf
  modules/net-vpc-factory/factory-projects-object.tf
  tools/duplicate-diff.py
Labels: on:tools, on:modules

#3013 SecOps Anonymization improvements
  fast/project-templates/secops-anonymization-pipeline/README.md
  fast/project-templates/secops-anonymization-pipeline/main.tf
  fast/project-templates/secops-anonymization-pipeline/source/main.py
  fast/project-templates/secops-anonymization-pipeline/source/requirements.txt
  fast/project-templates/secops-anonymization-pipeline/source/shared/secops.py
  fast/project-templates/secops-anonymization-pipeline/source/shared/utils.py
  fast/project-templates/secops-anonymization-pipeline/variables.tf
Labels: on:FAST

#3023 secops-rules module
  modules/secops-rules/README.md
  modules/secops-rules/main.tf
  modules/secops-rules/variables.tf
  modules/secops-rules/versions.tf
  modules/secops-rules/versions.tofu
  tests/examples/variables.tf
  tests/modules/secops_rules/examples/basic.yaml
  tests/modules/secops_rules/examples/factory.yaml
Labels: on:modules

#3027 Apply recent changes to factory-projects-object.tf to vpc-factory
  modules/net-vpc-factory/factory-projects-object.tf
Labels: on:modules

#3026 Add FAST to Python linting check
  .github/workflows/linting.yml
  fast/project-templates/secops-anonymization-pipeline/source/shared/secops.py
Labels: on:FAST, on:tools

#3028 add tag binding for stage folder config
  fast/stages/1-resman/README.md
  fast/stages/1-resman/schemas/fast-stage2.schema.json
  fast/stages/1-resman/stage-2.tf
  fast/stages/1-resman/variables-stages.tf
Labels: on:FAST

#3031 Use path as keys in project factory
  modules/net-vpc-factory/factory-projects-object.tf
  modules/project-factory/factory-projects-object.tf
  modules/project-factory/factory-projects.tf
  modules/project-factory/main.tf
  tests/modules/project_factory/bucket_iam.yaml
Labels: on:modules

#3032 Update CICD section of 0-bootstrap. Fixes #2930
  fast/stages/0-bootstrap/README.md
Labels: on:FAST

#3036 PF SA fix for budget alert
  fast/stages/1-resman/data/stage-2/project-factory.yaml
Labels: on:FAST

#3034 Added recipe HA VPN between AWS and GCP
  modules/net-vpn-ha/README.md
  modules/net-vpn-ha/recipe-vpn-aws-gcp/README.md
  modules/net-vpn-ha/recipe-vpn-aws-gcp/aws.tf
  modules/net-vpn-ha/recipe-vpn-aws-gcp/diagram.png
  modules/net-vpn-ha/recipe-vpn-aws-gcp/gcp.tf
  modules/net-vpn-ha/recipe-vpn-aws-gcp/outputs.tf
  modules/net-vpn-ha/recipe-vpn-aws-gcp/providers.tf
  modules/net-vpn-ha/recipe-vpn-aws-gcp/variables.tf
  tools/lockfile/main.tf
Labels: on:tools, on:modules

#3042 Rename stage_config output/variables to stage_configs
  fast/stages/1-resman/outputs.tf
  fast/stages/2-security/README.md
  fast/stages/2-security/main.tf
  fast/stages/2-security/variables-fast.tf
Labels: on:FAST

#3033 Pathexpand all factory data paths
  fast/addons/2-networking-test/factory.tf
  fast/stages/2-networking-a-simple/monitoring.tf
  fast/stages/2-networking-b-nva/monitoring.tf
  fast/stages/2-networking-c-separate-envs/monitoring.tf
  modules/analytics-hub/main.tf
  modules/data-catalog-tag/main.tf
  modules/organization/iam.tf
  modules/organization/org-policy-custom-constraints.tf
  modules/project/iam.tf
  modules/project/main.tf
  modules/project/quotas.tf
  modules/secops-rules/main.tf
Labels: on:FAST, on:modules

#3046 Fix automation object names in project factory
  modules/net-vpc-factory/factory-projects-object.tf
  modules/project-factory/automation.tf
  modules/project-factory/factory-projects-object.tf
  modules/project-factory/factory-projects.tf
  tools/duplicate-diff.py
Labels: on:FAST, on:tools, on:modules, on:blueprints

#3038 2-secops stage
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/identity-providers-wfif-defs.tf
  fast/stages/0-bootstrap/identity-providers-wfif.tf
  fast/stages/0-bootstrap/identity-providers-wlif-defs.tf
  fast/stages/0-bootstrap/identity-providers-wlif.tf
  fast/stages/0-bootstrap/organization.tf
  fast/stages/0-bootstrap/variables.tf
  fast/stages/1-resman/README.md
  fast/stages/1-resman/data/stage-2/secops.yaml
  fast/stages/1-resman/data/stage-3/secops-dev.yaml
  fast/stages/1-resman/stage-3.tf
  fast/stages/1-resman/variables-fast.tf
  fast/stages/2-secops/.fast-stage.env
  fast/stages/2-secops/README.md
  fast/stages/2-secops/diagram.png
  fast/stages/2-secops/identity-providers-defs.tf
  fast/stages/2-secops/identity-providers.tf
  fast/stages/2-secops/main.tf
  fast/stages/2-secops/moved/.gitkeep
  fast/stages/2-secops/outputs.tf
  fast/stages/2-secops/variables-fast.tf
  fast/stages/2-secops/variables.tf
  fast/stages/3-secops-dev/.fast-stage.env
  fast/stages/3-secops-dev/README.md
  fast/stages/3-secops-dev/data/reference_lists/private_ip_addresses.txt
  fast/stages/3-secops-dev/data/rules/network_traffic_to_specific_country.yaral
  fast/stages/3-secops-dev/data/secops_reference_lists.yaml
  fast/stages/3-secops-dev/data/secops_rules.yaml
  fast/stages/3-secops-dev/diagram.png
  fast/stages/3-secops-dev/main.tf
  fast/stages/3-secops-dev/outputs.tf
  fast/stages/3-secops-dev/secops-providers.tf
  fast/stages/3-secops-dev/secops.tf
  fast/stages/3-secops-dev/secrets.tf
  fast/stages/3-secops-dev/variables-fast.tf
  fast/stages/3-secops-dev/variables.tf
  fast/stages/3-secops-dev/versions.tf
  fast/stages/3-secops-dev/workspace.tf
  fast/stages/diagrams.excalidraw.gz
  tests/fast/stages/s0_bootstrap/simple.yaml
  tests/fast/stages/s1_resman/simple.yaml
  tests/fast/stages/s2_secops/simple.tfvars
  tests/fast/stages/s2_secops/simple.yaml
  tests/fast/stages/s2_secops/tftest.yaml
  tests/fast/stages/s3_secops_dev/simple.tfvars
  tests/fast/stages/s3_secops_dev/simple.yaml
  tests/fast/stages/s3_secops_dev/tftest.yaml
  tools/duplicate-diff.py
Labels: on:FAST, on:tools

#3050 New Dataplex Aspect Types module
  README.md
  fast/stages/3-secops-dev/README.md
  fast/stages/3-secops-dev/providers-override.tf
  modules/README.md
  modules/dataplex-aspects/README.md
  modules/dataplex-aspects/iam.tf
  modules/dataplex-aspects/main.tf
  modules/dataplex-aspects/outputs.tf
  modules/dataplex-aspects/schemas/aspect-type.schema.json
  modules/dataplex-aspects/variables.tf
  modules/dataplex/README.md
Labels: on:FAST, on:modules

#3049 [#3048] Fix serverless NEG example in net-lb-app-ext
  modules/net-lb-app-ext/README.md
  tests/modules/net_lb_app_ext/examples/serverless-neg.yaml
Labels: on:modules

#3051 Add ability to reuse existing projects in project factory
  modules/net-vpc-factory/README.md
  modules/net-vpc-factory/factory-project.tf
  modules/net-vpc-factory/factory-projects-object.tf
  modules/net-vpc-factory/schemas/network-project.schema.json
  modules/net-vpc-factory/variables.tf
  modules/project-factory/README.md
  modules/project-factory/factory-projects-object.tf
  modules/project-factory/main.tf
  modules/project-factory/schemas/project.schema.json
  modules/project-factory/variables.tf
Labels: on:modules

#3054 New Managed Kafka module
  modules/dataplex-aspect-types/versions.tf
  modules/dataplex-aspect-types/versions.tofu
  modules/managed-kafka/README.md
  modules/managed-kafka/main.tf
  modules/managed-kafka/outputs.tf
  modules/managed-kafka/variables.tf
  modules/managed-kafka/versions.tf
  modules/managed-kafka/versions.tofu
  tests/examples/variables.tf
  tests/modules/managed_kafka/examples/connect.yaml
  tests/modules/managed_kafka/examples/simple.yaml
  tests/modules/managed_kafka/examples/topics.yaml
Labels: on:modules

#3056 Default vulnerability scanning to null in ar module
  modules/artifact-registry/README.md
  modules/artifact-registry/main.tf
  modules/artifact-registry/variables.tf
Labels: on:modules

#3057 [cloud-run-v2] Add ability to control code deployments outside Terraform
  modules/cloud-run-v2/README.md
  modules/cloud-run-v2/job.tf
  modules/cloud-run-v2/main.tf
  modules/cloud-run-v2/outputs.tf
  modules/cloud-run-v2/service.tf
  modules/cloud-run-v2/tags.tf
  modules/cloud-run-v2/variables-vpcconnector.tf
  modules/cloud-run-v2/variables.tf
  modules/cloud-run-v2/vpcconnector.tf
Labels: on:modules

#3059 Better cert manager module examples
  modules/certificate-manager/README.md
  modules/certificate-manager/variables.tf
  tests/modules/certificate_manager/examples/map-with-managed-cert-ca-service.yaml
Labels: on:modules

#3060 Add deletion_policy to project-factory module
  modules/net-vpc-factory/factory-projects-object.tf
  modules/project-factory/README.md
  modules/project-factory/factory-projects-object.tf
  modules/project-factory/main.tf
  modules/project-factory/schemas/project.schema.json
  modules/project-factory/variables.tf
  tests/modules/alloydb/examples/psc.yaml
Labels: on:modules
