Repository GoogleCloudPlatform/cloud-foundation-fabric, pull requests merged in 2025-09, with the labels that each got.

#3292 Fix boot disk source/params incompatibility in compute vm module
  modules/compute-vm/README.md
  modules/compute-vm/main.tf
  modules/compute-vm/variables.tf
Labels: on:modules

#3290 Enable ADMIN_READ audit log for sts.googleapis.com in automation (iac) project
  fast/stages/0-bootstrap/automation.tf
  tests/fast/stages/s0_bootstrap/cicd.yaml
  tests/fast/stages/s0_bootstrap/simple.yaml
Labels: on:FAST

#3301 Add missing outputs to new project factory module, improve context README section
  fast/stages/0-org-setup/output-files.tf
  modules/project-factory/README.md
  modules/project-factory/outputs.tf
Labels: on:FAST, on:modules

#3303 New project factory improvements
  modules/project-factory/README.md
  modules/project-factory/automation.tf
  modules/project-factory/outputs.tf
  modules/project-factory/projects-service-accounts.tf
  modules/project-factory/sample-data-1/projects/app-0/dev-app0-be-0.yaml
  tests/modules/project_factory/examples/example.yaml
Labels: on:modules

#3316 Add support for upgrade notification filters to GKE cluster modules
  modules/gke-cluster-autopilot/README.md
  modules/gke-cluster-autopilot/main.tf
  modules/gke-cluster-autopilot/variables.tf
  modules/gke-cluster-standard/README.md
  modules/gke-cluster-standard/main.tf
  modules/gke-cluster-standard/variables.tf
  tests/modules/gke_cluster_standard/examples/notifications.yaml
Labels: on:modules

#3321 Add instance access logging support to apigee module
  modules/apigee/README.md
  modules/apigee/main.tf
  modules/apigee/variables.tf
  tests/modules/apigee/examples/access-logging.yaml
Labels: on:modules

#3330 Fix alert variable notification prompts type in project module
  modules/project/README.md
  modules/project/variables-observability.tf
Labels: on:modules

#3331 Add support for permissive mode to GKE cluster modules backup plans
  modules/gke-cluster-autopilot/README.md
  modules/gke-cluster-autopilot/main.tf
  modules/gke-cluster-autopilot/variables.tf
  modules/gke-cluster-standard/README.md
  modules/gke-cluster-standard/main.tf
  modules/gke-cluster-standard/variables.tf
Labels: on:modules

#3336 Allow setting resource policies in compute-vm module
  modules/compute-vm/README.md
  modules/compute-vm/main.tf
  modules/compute-vm/resource-policies.tf
  modules/compute-vm/template.tf
  modules/compute-vm/variables.tf
Labels: on:modules

#3338 Add conditional grants on security to pf service account in FAST stage 0
  fast/stages/0-org-setup/data/folders/security/.config.yaml
  tests/fast/stages/s0_org_setup/not-simple.yaml
Labels: on:FAST

#3335 docs(blueprints): add deprecation notice
  blueprints/README.md
Labels: on:blueprints

#3342 Cleanup 0-org-setup cloud build org-policies
  fast/stages/0-org-setup/data/organization/org-policies/cloudbuild.yaml
Labels: on:FAST

#3344 Add default values for environments in stage 2, moved to variables.tf
  fast/stages/2-networking-b-nva/README.md
  fast/stages/2-networking-b-nva/variables-fast.tf
  fast/stages/2-networking-b-nva/variables.tf
  fast/stages/2-networking-c-separate-envs/README.md
  fast/stages/2-networking-c-separate-envs/variables-fast.tf
  fast/stages/2-networking-c-separate-envs/variables.tf
  fast/stages/2-security/README.md
  fast/stages/2-security/variables-fast.tf
  fast/stages/2-security/variables.tf
Labels: on:FAST

#3345 Rationalize prefix handling for project factory automation resources
  fast/stages/0-org-setup/schemas/project.schema.json
  modules/project-factory/README.md
  modules/project-factory/automation.tf
  modules/project-factory/outputs.tf
  modules/project-factory/projects-buckets.tf
  modules/project-factory/schemas/project.schema.json
  tests/modules/project_factory/examples/example.yaml
Labels: on:FAST, on:modules

#3353 Add custom error response policy for route rules to external application load balancer module.
  modules/net-lb-app-ext/README.md
  modules/net-lb-app-ext/urlmap.tf
  modules/net-lb-app-ext/variables-urlmap.tf
Labels: on:modules
