Repository GoogleCloudPlatform/cloud-foundation-fabric, pull requests merged in 2025-10, with the labels that each got.

#3347 Add support for billing export in 0-org-setup
  fast/stages/0-org-setup/README.md
  fast/stages/0-org-setup/data/defaults.yaml
  fast/stages/0-org-setup/data/projects/core/billing-0.yaml
  fast/stages/0-org-setup/schemas/defaults.schema.json
  fast/stages/0-org-setup/schemas/defaults.schema.md
  fast/stages/0-org-setup/schemas/project.schema.json
  fast/stages/0-org-setup/schemas/project.schema.md
  modules/project-factory/README.md
  modules/project-factory/projects-bigquery.tf
  modules/project-factory/projects-defaults.tf
  modules/project-factory/schemas/project.schema.json
  modules/project-factory/schemas/project.schema.md
  modules/project-factory/variables.tf
  tests/fast/stages/s0_org_setup/data-simple/defaults.yaml
  tests/fast/stages/s0_org_setup/not-simple.yaml
Labels: on:FAST, on:modules

#3369 Make project id optional in GCS module
  modules/gcs/README.md
  modules/gcs/main.tf
  modules/gcs/variables.tf
  tests/modules/gcs/examples/managed-folders.yaml
Labels: on:modules

#3372 feat: add support for SCC Custom Security Health Analytics module in …
  modules/folder/README.md
  modules/folder/outputs.tf
  modules/folder/scc-sha-custom-modules.tf
  modules/folder/schemas/scc-sha-custom-modules.schema.json
  modules/folder/schemas/scc-sha-custom-modules.schema.md
  modules/folder/variables-scc.tf
  modules/folder/variables.tf
  modules/organization/README.md
  modules/organization/outputs.tf
  modules/organization/scc-sha-custom-modules.tf
  modules/organization/schemas/scc-sha-custom-modules.schema.json
  modules/organization/schemas/scc-sha-custom-modules.schema.md
  modules/organization/variables-scc.tf
  modules/organization/variables.tf
  modules/project/README.md
  modules/project/alerts.tf
  modules/project/logging-metrics.tf
  modules/project/outputs.tf
  modules/project/scc-sha-custom-modules.tf
  modules/project/schemas/scc-sha-custom-modules.schema.json
  modules/project/schemas/scc-sha-custom-modules.schema.md
  modules/project/variables-scc.tf
  modules/project/variables.tf
  tests/modules/folder/examples/custom-modules-sha.yaml
  tests/modules/organization/examples/custom-modules-sha.yaml
  tests/modules/project/examples/custom-modules-sha.yaml
Labels: on:modules

#3373 Add support for output files to FAST project factory stage
  fast/stages/2-project-factory/README.md
  fast/stages/2-project-factory/assets/providers.tf.tpl
  fast/stages/2-project-factory/main.tf
  fast/stages/2-project-factory/output-files-storage.tf
  fast/stages/2-project-factory/output-files.tf
  fast/stages/2-project-factory/schemas/defaults.schema.json
Labels: on:FAST

#3378 Allow forcing jit service agents generation for universe in project and project factory modules
  fast/stages/0-org-setup/schemas/defaults.schema.json
  fast/stages/0-org-setup/schemas/project.schema.json
  modules/project-factory/README.md
  modules/project-factory/schemas/project.schema.json
  modules/project-factory/variables.tf
  modules/project/README.md
  modules/project/service-agents.tf
  modules/project/variables.tf
Labels: on:FAST, on:modules

#3379 Allow FAST stage 0 provider template to work with universe
  fast/stages/0-org-setup/assets/providers.tf.tpl
  fast/stages/0-org-setup/output-files.tf
  fast/stages/0-org-setup/schemas/defaults.schema.json
  tests/fast/stages/s0_org_setup/not-simple.yaml
Labels: on:FAST

#3381 Fix typo in fast stage 0 provider template
  fast/stages/0-org-setup/assets/providers.tf.tpl
Labels: on:FAST

#3383 Support universe in fast security stage
  fast/stages/2-security/README.md
  fast/stages/2-security/factory-projects.tf
  fast/stages/2-security/variables-fast.tf
Labels: on:FAST

#3377 feat(bigquery-dataset): add optional schema support for views
  modules/bigquery-dataset/README.md
  modules/bigquery-dataset/main.tf
  modules/bigquery-dataset/variables.tf
  tests/modules/bigquery_dataset/examples/views.yaml
Labels: on:modules

#3386 Document log_buckets namespace
  fast/stages/0-org-setup/README.md
  modules/project-factory/README.md
Labels: on:FAST, on:modules

#3387 Support iam_by_principals_additive in 0-org-setup
  fast/stages/0-org-setup/README.md
  fast/stages/0-org-setup/organization.tf
  fast/stages/0-org-setup/schemas/organization.schema.json
  modules/organization/README.md
  modules/project-factory/projects.tf
  modules/project-factory/schemas/project.schema.json
  modules/project/README.md
Labels: on:FAST, on:modules

#3392 Rationalize location defaults across project factory module and FAST stages
  fast/stages/0-org-setup/README.md
  fast/stages/0-org-setup/data/defaults.yaml
  fast/stages/0-org-setup/data/organization/.config.yaml
  fast/stages/0-org-setup/data/projects/core/billing-0.yaml
  fast/stages/0-org-setup/main.tf
  fast/stages/0-org-setup/organization.tf
  fast/stages/0-org-setup/output-files.tf
  fast/stages/0-org-setup/outputs.tf
  fast/stages/0-org-setup/schemas/defaults.schema.json
  fast/stages/2-project-factory/README.md
  fast/stages/2-project-factory/data/defaults.yaml
  fast/stages/2-project-factory/main.tf
  fast/stages/2-project-factory/schemas/defaults.schema.json
  fast/stages/2-project-factory/variables-fast.tf
  fast/stages/2-project-factory/variables-projects.tf
  fast/stages/2-security/data/defaults.yaml
  fast/stages/2-security/main.tf
  fast/stages/2-security/schemas/defaults.schema.json
  modules/logging-bucket/main.tf
  modules/project-factory/README.md
  modules/project-factory/automation.tf
  modules/project-factory/main.tf
  modules/project-factory/projects-bigquery.tf
  modules/project-factory/projects-buckets.tf
  modules/project-factory/projects-defaults.tf
  modules/project-factory/projects-log-buckets.tf
  modules/project-factory/schemas/project.schema.json
  modules/project-factory/variables-projects.tf
  modules/project-factory/variables.tf
  tests/fast/stages/s0_org_setup/data-simple/cicd.yaml
  tests/fast/stages/s0_org_setup/data-simple/defaults.yaml
  tests/fast/stages/s0_org_setup/not-simple.yaml
  tests/fast/stages/s2_project_factory/simple.tfvars
  tests/fast/stages/s2_security/data-simple/defaults.yaml
Labels: on:FAST, on:modules
